Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Remove thrust wrapped namespace and tests
  include/rmm/detail/thrust_namespace.h
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

copyright
  include/rmm/device_vector.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Fix test_python matrix
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Only install CUDA 12 for testing
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Update comment
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

resolve dependency-file-generator warning, remove unnecessary rapids-build-backend configuration
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Revert "copyright"
  include/rmm/device_vector.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Revert "Remove thrust wrapped namespace and tests"
  include/rmm/detail/thrust_namespace.h
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Remove NAMESPACE_TESTs.
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Copyright :)
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Work around CCCL regression in test
  tests/prefetch_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Improve documentation of device parameter. Coauthored by @leofang
  python/rmm/docs/conf.py
  python/rmm/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Avoid `--find-links`.
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Update ci/test_wheel.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Avoid `--find-links`. (#1583)
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

resolve dependency-file-generator warning, remove unnecessary rapids-build-backend configuration (#1582)
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Fix test_python matrix (#1579)
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Update rapids_config.cmake
  rapids_config.cmake
Owners: none

Add rmm::prefetch() and DeviceBuffer.prefetch() (#1573)
  include/rmm/cuda_device.hpp
  include/rmm/device_scalar.hpp
  include/rmm/prefetch.hpp
  python/rmm/docs/conf.py
  python/rmm/docs/guide.md
  python/rmm/rmm/_lib/device_buffer.pxd
  python/rmm/rmm/_lib/device_buffer.pyx
  python/rmm/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/prefetch_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners

Remove THRUST_WRAPPED_NAMESPACE and tests (#1578)
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

initial implementation
  include/rmm/mr/device/system_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/system_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

test passthrough
  tests/CMakeLists.txt
  tests/mr/device/system_mr_tests.cu
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

check is supported
  include/rmm/mr/device/system_memory_resource.hpp
  tests/mr/device/system_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

revert async mr test
  tests/mr/device/cuda_async_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

more tests and docs
  include/rmm/mr/device/system_memory_resource.hpp
  tests/mr/device/system_mr_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

separate out headroom adaptor
  include/rmm/mr/device/sam_headroom_resource_adaptor.hpp
  include/rmm/mr/device/system_memory_resource.hpp
  tests/mr/device/system_mr_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

address review comments
  include/rmm/mr/device/sam_headroom_resource_adaptor.hpp
  include/rmm/mr/device/system_memory_resource.hpp
  tests/mr/device/system_mr_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

fix tests
  tests/mr/device/system_mr_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

clarify docs
  include/rmm/mr/device/sam_headroom_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

fix docs
  include/rmm/mr/device/sam_headroom_resource_adaptor.hpp
  include/rmm/mr/device/system_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Avoid --find-links in wheel jobs
  .github/workflows/pr.yaml
  ci/build_wheel_python.sh
  python/librmm/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

workflow dependencies
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

use constraints to enforce use of librmm produced in this CI run
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

--constraint not --constraints
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

get more logs
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

Apply suggestions from code review
  include/rmm/mr/device/sam_headroom_resource_adaptor.hpp
  include/rmm/mr/device/system_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

have to use the environment variable
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

test with reqs that are satisfiable individually but not together
  python/librmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners

revert testing-only changes
  .github/workflows/pr.yaml
  python/librmm/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

update comment
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
