Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Fix wrong attribute names leading to DEBUG log build issues
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix wrong attribute names leading to DEBUG log build issues(#653)
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix casting of CuPy stream to cudaStream_t
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Support CuPy stream in rmm_cupy_allocator
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add test for CuPy async stream
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add RMM pool with CuPy streams tests
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Fix casting of Numba stream to cudaStream_t
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Handle Numba's default stream
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Add RMM pool with Numba streams tests
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add note that `managed_memory_resource` doesn't work with vGPU.
  README.md
Owners: none

Add note that `managed_memory_resource` doesn't work with vGPU. (#656)
  README.md
Owners: none

Fix comparison to None
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Remove unnecessary commented out code
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add built-in support for ccache
  CMakeLists.txt
  cmake/Modules/ccache.cmake
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

format
  cmake/Modules/ccache.cmake
Owners: @rapidsai/rmm-cmake-codeowners

upgrade spdlog to 1.8.2
  cmake/Modules/RMM_thirdparty.cmake
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Sync DeviceBuffer constructor on pointer and default stream
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Fix copy_device_to_ptr docstring
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Remove DeviceBuffer synchronization on default stream(#650)
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Simplify handling of Numba streams
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Store reference to stream in DeviceBuffer
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Fix test for DeviceBuffer.__sizeof__
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add CuPy stream lifetime test
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add cuda_stream_pool and tests
  conda/recipes/librmm/meta.yaml
  include/rmm/cuda_stream_pool.hpp
  tests/CMakeLists.txt
  tests/cuda_stream_pool_tests.cpp
  tests/cuda_stream_tests.cpp
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Style
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

style
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Remove FEFF hidden character
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

add copyright
  cmake/Modules/ccache.cmake
Owners: @rapidsai/rmm-cmake-codeowners

format
  cmake/Modules/ccache.cmake
Owners: @rapidsai/rmm-cmake-codeowners

using config
  cmake/Modules/ccache.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Adding references to DeviceBuffer to ensure necessary MR and Stream lifetime
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update include/rmm/cuda_stream_pool.hpp
  include/rmm/cuda_stream_pool.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Adding new MRs side-by-side
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  python/rmm/mr.py
Owners: @rapidsai/rmm-python-codeowners

review feedback
  README.md
  cmake/Modules/ccache.cmake
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

newline
  cmake/Modules/ccache.cmake
Owners: @rapidsai/rmm-cmake-codeowners

format
  cmake/Modules/ccache.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Removing old style using wrappers.
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  python/rmm/mr.py
Owners: @rapidsai/rmm-python-codeowners

Removing extra comment
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Constification, improve docs
  include/rmm/cuda_stream_pool.hpp
Owners: @rapidsai/rmm-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
