Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Debug
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Revert "Use numba to get the driver version?"
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Delete all tests but 1
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

rm nightly test trigger stage from branch workflow
  .github/workflows/branch.yaml
Owners: @rapidsai/ops-codeowners

switch nightly.yaml to use workflow_call
  .github/workflows/nightly.yaml
Owners: @rapidsai/ops-codeowners

rename branch & nightly workflows to build & test
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Check if IPC handle types are supported.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update python/rmm/tests/test_rmm.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Check error code returned by cudaDeviceGetAttribute.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

[skip ci] revert branch changes back to `main`
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Update GH Action Workflows (#1123)
  .github/workflows/branch-workflow.yaml
  .github/workflows/build.yaml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

GH Actions - Enforce `checks` before builds run
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

GH Actions - Enforce `checks` before builds run (#1125)
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Check value for IPC support, not only the CUDA error output.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Use enum value explicitly.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Format gdb script.
  scripts/gdb-pretty-printers.py
Owners: none

Use common function for determining IPC support.
  python/rmm/_cuda/gpu.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Fix typo.
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Revert "Delete all tests but 1"
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Revert test matrix changes.
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

add DeviceBuffer.copy
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Bump build tag.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Fix style.
  python/setup.py
  scripts/gdb-pretty-printers.py
Owners: @rapidsai/rmm-python-codeowners

Bump build tag again.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Add concurrency rules so that prior runs are canceled.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Rename to is_async_export_handle_supported.
  python/rmm/_cuda/gpu.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Format gdb script. (#1127)
  scripts/gdb-pretty-printers.py
Owners: none

Fix style.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

update changelog
  CHANGELOG.md
Owners: none

REL v22.10.00 release
  python/docs/conf.py
Owners: @rapidsai/rmm-python-codeowners

address first pass of reviews
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

add __deep_copy__
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Reverse test logic.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add debug info.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Centralized logic in used workflow.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Use project-wide settings, bump build tag
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Use our own bindings
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_cuda/custom_cuda_bindings.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Restore custom bindings
  python/rmm/_cuda/custom_cuda_bindings.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add explicit failure for testing in CI.
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
