Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Correct build failures
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Require CUDA driver 11.5+ for the async mr
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add cuda-python dependency to pyproject.toml
  python/pyproject.toml
Owners: @rapidsai/rmm-python-codeowners

update doc for allocation failure
  include/rmm/mr/device/logging_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

also check device attribute
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add cuda-python dependency to pyproject.toml (#994)
  python/pyproject.toml
Owners: @rapidsai/rmm-python-codeowners

Fix free-before-alloc in multithreaded test
  tests/mr/device/mr_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

verify RMM_SYNC_ALLOC_WRAPPER signature in static code path
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

disable reuse for driver < 11.5
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Log allocation failures (#988)
  benchmarks/replay/replay.cpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/logger_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Apply suggestions from code review
  tests/mr/device/mr_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Rename RMM_SYNC_ALLOC_WRAPPER to RMM_CUDART_API_WRAPPER
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

fix function_sig typo
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Ensure we call cudaMemPoolDestroy via async_alloc
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

dynamic_load_runtime now returns std::optional<function_ptr>
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

dynamic_load_runtime now returns std::optional<function_ptr>
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Correct style issues found by CI
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

return empty optional instead of optional(nullptr)
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix free-before-alloc in multithreaded test (#992)
  tests/mr/device/mr_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Correct std::optional issues found by review
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Correct style issues found by ci
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Revert "Update `librmm` `conda` outputs (#983)"
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

fix copyright dates
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

move dependency versions to conda_build_config.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

update cuda versions for host/runtime requirements
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Disable opportunistic reuse in async mr when cuda driver < 11.5 (#993)
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

opportunistic reuse bug now updated to use `rmm::detail::async_alloc`
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

DOC
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/CMakeLists.txt
  python/docs/conf.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Use static_assert to validate function arguments are valid
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

remove indirect function call when building statically
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update `librmm` `conda` recipe (#997)
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Remove `no_cma`/`has_cma` variants
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

rm remaing async references
  benchmarks/CMakeLists.txt
  build.sh
  python/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Use CUDA 11.2+ features via dlopen (#990)
  CMakeLists.txt
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Rename `librmm_tests` to `librmm-tests`
  ci/gpu/build.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners
