Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Fix doxygen formatting.
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Fix doxygen formatting for set_stream. (#1153)
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add workflow_call to invoke wheel build externally
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Specify repo and branch explicitly
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Update requirements.
  README.md
Owners: none

Align more with conda build.yaml
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Use build-type not build_type
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Update CI environment variables
  ci/build_cpp.sh
  ci/build_python.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

add CMAKE_GENERATOR back
  ci/build_cpp.sh
  ci/build_python.sh
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

add `ninja` as `build` dependency
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

update `dependencies.yaml`
  dependencies.yaml
Owners: none

update generated dependency files
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Remove redundant license file.
  python/LICENSE
Owners: @rapidsai/rmm-python-codeowners

Add back license as symlink.
  python/LICENSE
Owners: @rapidsai/rmm-python-codeowners

Revert "Remove conda workflows."
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Revert "Temporarily remove unnecessary workflows."
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Add `ninja` & Update CI environment variables (#1155)
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Switch to default branch for workflow.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Specify main branch.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Remove CUDA 11.0 from dependencies.yaml. (#1152)
  README.md
  dependencies.yaml
Owners: none

DOC
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/CMakeLists.txt
  python/docs/conf.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Address PR comments.
  .github/workflows/wheels.yml
  python/CMakeLists.txt
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Remove unnecessary strings.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Temporarily put back push.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Fix indentation.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
