Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

revert temp clang version check
  scripts/run-clang-format.py
Owners: none

renaming
  tests/mr/device/failure_callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

docs
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

cmake: renaming
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

using std:function
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

review feedback
  include/rmm/detail/error.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

remove clang tidy hints
  include/rmm/detail/error.hpp
Owners: @rapidsai/rmm-cpp-codeowners

more review feedback
  include/rmm/detail/error.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix variables names in logging macros
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Throw `rmm::out_of_memory` when we know for sure (#894)
  include/rmm/detail/error.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Docs
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  python/rmm/_lib/__init__.py
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

copyright
  python/rmm/mr.py
Owners: @rapidsai/rmm-python-codeowners

Avoid the cb_arg struct
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  tests/mr/device/failure_callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Out-of-memory callback resource adaptor (#892)
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  python/rmm/_lib/__init__.pxd
  python/rmm/_lib/__init__.py
  python/rmm/_lib/device_uvector.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/mr/device/failure_callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners

Make the exception type a parameter of failure_callback_resource_adaptor
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  tests/mr/device/failure_callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Pass exception to failure hander callback
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  tests/mr/device/failure_callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Make out_of_memory the default exception type and clean up docs.
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix do_is_equal after latest cuda/memory_resource upstream changes
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove exception argument from callback interface
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  tests/mr/device/failure_callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix variable names in logging macro calls (#897)
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Convert MRs with upstreams back to taking template parameters.
  benchmarks/device_uvector/device_uvector_bench.cu
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/logger_tests.cpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/failure_callback_mr_tests.cpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Provide ./build.sh flag to control CUDA async malloc support
  benchmarks/CMakeLists.txt
  build.sh
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/setup.py
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Replace `to_device()` in docs with `DeviceBuffer.to_device()`
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

[skip-ci] Update
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

Replace `to_device()` in docs with `DeviceBuffer.to_device()` (#902)
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

Apply suggestions from code review
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Style after github-committed fixes
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

update conda recipe
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

update conda recipe build.sh script
  conda/recipes/librmm/build.sh
Owners: @rapidsai/ops-codeowners

trim whitespace
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

make gpu/build.sh install correct `librmm`
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Update to remove double negative
  benchmarks/CMakeLists.txt
  build.sh
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Update setup.py to new disable cuda malloc sync define
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

fix `librmm` variants
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

fix style checks
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  cmake/thirdparty/get_gbench.cmake
  cmake/thirdparty/get_thrust.cmake
  python/setup.py
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

fix cmake style issues
  CMakeLists.txt
  cmake/thirdparty/get_gbench.cmake
  cmake/thirdparty/get_thrust.cmake
Owners: @rapidsai/rmm-cmake-codeowners

update gpu/build.sh conditional logic
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Provide ./build.sh flag to control CUDA async malloc support (#901)
  benchmarks/CMakeLists.txt
  build.sh
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/setup.py
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Add coverage options to cmake
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Add gcovr.cfg and add gcovr to conda
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  gcovr.cfg
Owners: @rapidsai/ops-codeowners
