Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

cmake style
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Add test of log_outstanding_allocations()
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

stack_trace expects non-null strings. Fixes uncovered branch.
  include/rmm/detail/stack_trace.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove unneeded flush.
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

shorten lines to improve coverage.
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Clean up logger construction to improve coverage
  include/rmm/mr/device/logging_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Improve arena.hpp coverage by splitting out lambda.
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Draft of callback_memory_resource
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

building...
  include/rmm/mr/device/callback_memory_resource.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Remove `setup.py` from `update-release.sh` script
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Use CTAD on std::array.
  include/rmm/logger.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove `setup.py` from `update-release.sh` script (#926)
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

clean instead of defragment individual arenas
  include/rmm/mr/device/arena_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

lower superblock size to 1MB
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Improve C++ Test Coverage (#920)
  gcovr.cfg
  include/rmm/detail/error.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/logger_tests.cpp
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/binning_mr_tests.cpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Some fixes
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
Owners: @rapidsai/rmm-python-codeowners

Don't look for tracking log if logging level is above DEBUG
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix endif location
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Replace use of custom CUDA bindings with CUDA-Python
  python/rmm/_cuda/10.1/gpu.pxi
  python/rmm/_cuda/10.2/gpu.pxi
  python/rmm/_cuda/11.x/gpu.pxi
  python/rmm/_cuda/gpu.py
  python/rmm/_cuda/stream.pxd
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

REL v21.12.00 release
  python/docs/conf.py
Owners: @rapidsai/rmm-python-codeowners

align to size classes
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Undo deletion
  python/rmm/_lib/memory_resource.pxd
Owners: @rapidsai/rmm-python-codeowners

Update python/rmm/_cuda/gpu.py
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Add cuda-python to recipe, envs and setup.py
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/rmm/meta.yaml
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Fix failing tracking test (#929)
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

keep track of large allocations in superblocks
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

log max free in superblock
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Small fixes
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

log fragmentation percentage
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Update conda/environments/rmm_dev_cuda11.0.yml
  conda/environments/rmm_dev_cuda11.0.yml
Owners: @rapidsai/ops-codeowners

minor fix
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

clang format
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Update .clang-format
  .clang-format
Owners: none

address review comments
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add debug-only death test for synchronize_no_throw.
  tests/cuda_stream_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Update to latest name changes in cuda::pmr
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/resource_view_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Make `device_memory_resource` inherit from a device-accessible `stream_ordered_resource`
  include/rmm/mr/device/device_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove `IncludeCategories` from `.clang-format` (#933)
  .clang-format
Owners: none

Fix failing stream test with a debug-only death test (#934)
  tests/cuda_stream_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
