Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

use cuda allocation alignment as default
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Invoke script directly.
  .pre-commit-config.yaml
Owners: none

Avoid assertion in debug mode and add test of operator<<
  tests/cuda_stream_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

more tests
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Test coverage of e.what()
  tests/mr/device/mr_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

add tests for arena
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

remove alignment changes
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

small fixes
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

switch back to set, fix tests
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Improve arena_mr tests
  gcovr.cfg
  include/rmm/mr/device/arena_memory_resource.hpp
  tests/CMakeLists.txt
  tests/logger_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Test device_buffer::is_empty()
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Add generic adaptor tests
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  rmm_adaptor_test_log.txt
  tests/CMakeLists.txt
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/thread_safe_adaptor_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Delete accidentally added logfile
  rmm_adaptor_test_log.txt
Owners: none

upgrade clang to 11.1.0
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  scripts/run-clang-format.py
Owners: @rapidsai/ops-codeowners

stream synchronize before releasing superblock
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

"out_of_memory" in rmm::out_of_memory.what()
  include/rmm/detail/error.hpp
  tests/mr/device/mr_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Test owning_wrapper in adaptor_tests
  tests/mr/device/adaptor_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Test upstream failure in limiting_mr
  tests/mr/device/limiting_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

cmake style
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

update docs
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Improve test coverage of fixed-size MR and pool MR
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

use byte literals in tests
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

upgrade clang to 11.1.0 (#921)
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  scripts/run-clang-format.py
Owners: @rapidsai/ops-codeowners

fix overflow bug
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Simplify CMake linting with cmake-format (#913)
  .pre-commit-config.yaml
  scripts/run-cmake-format.sh
Owners: none

update changelog
  CHANGELOG.md
Owners: none

Disable debugging code
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add explicit instantiations to improve coverage (force instantiation of all functions)
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Improve thrust_allocator test coverage
  tests/mr/device/thrust_allocator_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Improve device_scalar test coverage
  tests/device_scalar_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

more fixes
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Comment out debug helper print, and use get_upstream() instead of accessing directly.
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

simpler
  tests/device_scalar_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Improve device_uvector coverage
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Cover NE adaptor comparison
  tests/mr/device/adaptor_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Improve binning_mr coverage
  tests/CMakeLists.txt
  tests/mr/device/binning_mr_tests.cpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Move list debugging code behind a macro, and remove whitebox tests.
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Explicitly test stream_view dtor
  tests/cuda_stream_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Explanatory Comment
  tests/cuda_stream_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Improve logger coverage.
  include/rmm/logger.hpp
Owners: @rapidsai/rmm-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
