Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

building...
  include/rmm/mr/device/callback_memory_resource.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Use fmt instead
  tests/mr/device/callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add first cpp test
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Some fixes
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
Owners: @rapidsai/rmm-python-codeowners

Draft of callback_memory_resource
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

C++ docs
  include/rmm/mr/device/callback_memory_resource.hpp
  tests/mr/device/callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

iterate
  ci/Jenkinsfile
  ci/build_cpp.sh
Owners: @rapidsai/ops-codeowners

Add python test
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Remove files
  include/rmm/mr/device/callback_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

update python stage
  ci/Jenkinsfile
  ci/build_py.sh
Owners: @rapidsai/ops-codeowners

update s3 bucket prefix
  ci/build_cpp.sh
  ci/build_py.sh
Owners: @rapidsai/ops-codeowners

Remove reference to cudf::logic_error
  include/rmm/detail/error.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Documentation Fix: Replace `cudf::logic_error` with `rmm::logic_error` (#1021)
  include/rmm/detail/error.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update CMake pinning to just avoid 3.23.0.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

update env vars
  ci/Jenkinsfile
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

clean workspace
  ci/Jenkinsfile
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

Doc update
  include/rmm/mr/device/callback_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update tests/mr/device/callback_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add note about performance hit
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

More doc
  include/rmm/mr/device/callback_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Doc update
  include/rmm/mr/device/callback_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Correctly pass base_mr using ctx
  tests/mr/device/callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Address various review comments
  include/rmm/mr/device/callback_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  tests/mr/device/callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Update CMake pinning to just avoid 3.23.0. (#1023)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Update include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Default to nullptr
  include/rmm/mr/device/callback_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Move docs
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Use mock class in test
  include/rmm/mr/device/callback_memory_resource.hpp
  tests/mock_resource.hpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Use `lib` (not `lib64`) for libraries
  conda/recipes/rmm/build.sh
Owners: @rapidsai/ops-codeowners

rmm conda recipe needs to ensure all CMake files go to `lib`
  conda/recipes/rmm/build.sh
Owners: @rapidsai/ops-codeowners

Use `lib` (not `lib64`) for libraries (#1024)
  conda/recipes/rmm/build.sh
Owners: @rapidsai/ops-codeowners

Use `lib` (not `lib64`) for libraries
  conda/recipes/rmm/build.sh
Owners: @rapidsai/ops-codeowners

Change BUILD_DIR to BUILD_DIRS so that clean works correctly.
  build.sh
Owners: none

Add CMake args to python builds.
  build.sh
Owners: none

clean up comments
  ci/Jenkinsfile
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
