Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

tidy aligned_mr_tests
  tests/mr/device/aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy device MR tests
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/stream_allocator_adaptor_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy host mr tests
  tests/mr/host/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

copyright
  tests/cuda_stream_pool_tests.cpp
  tests/device_uvector_tests.cpp
  tests/logger_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy benchmarks and more
  benchmarks/cuda_stream_pool/cuda_stream_pool_bench.cpp
  benchmarks/device_uvector/device_uvector_bench.cu
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  benchmarks/synchronization/synchronization.cpp
  benchmarks/synchronization/synchronization.hpp
  benchmarks/utilities/log_parser.hpp
  benchmarks/utilities/simulated_memory_resource.hpp
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/host/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

p->ptr
  benchmarks/replay/replay.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Revert threshold size type
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

serialize defragmentation
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Disable readability-named-parameter
  .clang-tidy
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Use C++17 for all of Cython
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Avoid bounds check exception in `stack_trace`
  include/rmm/detail/stack_trace.hpp
Owners: @rapidsai/rmm-cpp-codeowners

variable name
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Owners: @rapidsai/rmm-cpp-codeowners

Revert magic numbers
  benchmarks/device_uvector/device_uvector_bench.cu
Owners: @rapidsai/rmm-cpp-codeowners

review feedback
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update to use rapids-cmake 21.10 pre-configured packages (#854)
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
Owners: @rapidsai/rmm-cmake-codeowners

RMM shouldn't install thrust
  cmake/thirdparty/get_thrust.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Correct CMake style issues found by CI
  cmake/thirdparty/get_thrust.cmake
Owners: @rapidsai/rmm-cmake-codeowners

tweak the arena mr to reduce fragmentation (#845)
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Install the right cudatoolkit in the conda env in gpu/build.sh (#864)
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

fix race condition in limiting resource adapter
  include/rmm/mr/device/limiting_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

review feedback
  include/rmm/mr/device/limiting_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix merge problems
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

More tidy warnings found on command line
  .clang-tidy
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

fix race condition in limiting resource adapter (#869)
  include/rmm/mr/device/limiting_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix potential leak and exception warnings
  benchmarks/replay/replay.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix uninitialized member clang-tidy warning
  include/rmm/mr/device/detail/free_list.hpp
Owners: @rapidsai/rmm-cpp-codeowners

nodiscard
  include/rmm/device_uvector.hpp
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

tidying
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Owners: @rapidsai/rmm-cpp-codeowners

nodiscard
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
Owners: @rapidsai/rmm-cpp-codeowners

nolints
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

nodiscard
  include/rmm/device_scalar.hpp
Owners: @rapidsai/rmm-cpp-codeowners

nodiscard and nolint
  include/rmm/mr/device/logging_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

cmake style
  cmake/thirdparty/get_gtest.cmake
Owners: @rapidsai/rmm-cmake-codeowners

cmake docstring
  cmake/thirdparty/get_gtest.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Added cuda_event type.
  include/rmm/cuda_event.hpp
  include/rmm/cuda_stream.hpp
  tests/CMakeLists.txt
  tests/cuda_event_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Add a macro for cudaEventRecordWithFlags non-existing before CUDA 11.1
  include/rmm/cuda_event.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix device_uvector::set_element_async for non-fundamental types.
  include/rmm/device_uvector.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Refactored code according to the review
  include/rmm/cuda_event.hpp
  include/rmm/cuda_event_view.hpp
  include/rmm/cuda_stream.hpp
  include/rmm/cuda_stream_view.hpp
  tests/cuda_event_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

typo
  include/rmm/cuda_event.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add cuda_stream_view::is_implicitly_synchronized
  include/rmm/cuda_stream.hpp
  include/rmm/cuda_stream_view.hpp
Owners: @rapidsai/rmm-cpp-codeowners
