Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

changelog #
  CHANGELOG.md
Owners: none

changelog formatting
  CHANGELOG.md
Owners: none

fix release script version updater based on cmake reformatting(#639)
  CHANGELOG.md
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

fix cmake formatting
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

fix adding languages after version number in cmake in release script
  CHANGELOG.md
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

changelog
  CHANGELOG.md
Owners: none

fix adding languages after version number in cmake in release script(#641)
  CHANGELOG.md
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Gpuciscripts clean and update(#627)
  CHANGELOG.md
  build.sh
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/local/README.md
Owners: @rapidsai/ops-codeowners

Add polymorphic_allocator and stream_allocator_adaptor(#609)
  CHANGELOG.md
  README.md
  include/rmm/mr/device/polymorphic_allocator.hpp
  tests/CMakeLists.txt
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/mr/device/stream_allocator_adaptor_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Doc typo
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Release GIL when possible
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Force local install of librmm(#631)
  CHANGELOG.md
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Change _ptr to a cudaStream_t
  python/rmm/_cuda/stream.pxd
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Fix obj type handling
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Make value() nogil
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Rename _ptr -> _cuda_stream
  python/rmm/_cuda/stream.pxd
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Make CudaStream final
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
Owners: @rapidsai/rmm-python-codeowners

More docstring
  python/rmm/_lib/cuda_stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Use 0, not cudaStreamDefault
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Unused import
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

isort
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Adding a reference to the MR used for allocation in device_buffer
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Order arena MR before cuda MR in random allocations bench
  benchmarks/random_allocations/random_allocations.cpp
Owners: @rapidsai/rmm-cpp-codeowners

New thrust_rmm header with improved `exec_policy`
  include/rmm/thrust_rmm.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Formatting
  include/rmm/thrust_rmm_allocator.h
Owners: @rapidsai/rmm-cpp-codeowners

Fix includes
  benchmarks/replay/replay.cpp
Owners: @rapidsai/rmm-cpp-codeowners

readme cleanup
  README.md
Owners: none

Refactoring thrust support.
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/thrust_rmm_allocator.h
Owners: @rapidsai/rmm-cpp-codeowners

Use RMM versions of default/legacy/PT stream instead
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/lib.pxd
Owners: @rapidsai/rmm-python-codeowners

Changelog
  CHANGELOG.md
Owners: none

Add a Stream class that wraps CuPy/Numba/CudaStream(#636)
  CHANGELOG.md
  python/rmm/_cuda/stream.pxd
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/_lib/cuda_stream_view.pyx
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Reorder stream, mr
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update readme
  README.md
Owners: none

Add optional MR parameter to exec_policy
  include/rmm/exec_policy.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Changelog for #647
  CHANGELOG.md
Owners: none

Remove DeviceBuffer synchronization on default stream
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Simplify `rmm::exec_policy` and refactor Thrust support(#647)
  CHANGELOG.md
  README.md
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
Owners: @rapidsai/rmm-cpp-codeowners

Synchronize default stream on copy_ptr_to_host
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Remove outdated notes on default stream synchronization
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Synchronize default stream on copy_host_to_ptr
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
