Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Update meta.yaml
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Update meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

remove unused "-c defaults" from install commands
  README.md
Owners: none

fix librmm recipe
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

test spdlog 1.8.5
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

removed cmake from rmm recipe
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

fix conda remove
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Ensure destruction of CUDA pool handle in cuda_async_resource destructor (#757)
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

remove unused "-c defaults" from install commands (#764)
  README.md
Owners: none

Update docs
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Pin to cmake 3.18+ (#758)
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Expose initial_pool_size and release_threshold parameters for cuda_async_memory_resource in Cython (#753)
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

do not include spdlog if the target already exists
  cmake/Modules/RMM_thirdparty.cmake
Owners: @rapidsai/rmm-cmake-codeowners

typo fix
  cmake/Modules/RMM_thirdparty.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Style
  cmake/Modules/RMM_thirdparty.cmake
Owners: @rapidsai/rmm-cmake-codeowners

add a resource adapter to align on block size
  include/rmm/mr/device/block_aligned_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/block_aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

rename to aligned_resource_adapter
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

clang format
  tests/mr/device/aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

ENH Remove 'rapidsai-nightly' conda channel when building main branch
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

ENH Remove 'rapidsai-nightly' conda channel when building main branch (#769)
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

ENH Remove progress output on conda packages upload
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

CMake spdlog target, check for existing (#767)
  cmake/Modules/RMM_thirdparty.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Remove progress output on conda packages upload (#770)
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

Document synchronization requirements on device_buffer copy ctors
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Make streams explicit in device_buffer
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

ENH Update release script
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Update python/rmm/tests/test_rmm.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Moving the dl library link to the `rmm::rmm` main interface.
  CMakeLists.txt
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

make base pointer naturally aligned
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Pass compiler environment variables to conda python build
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Pass compiler environment variables to conda python build (#773)
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

keep track of aligned pointers in a hash map
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  tests/mr/device/aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

clang format
  tests/mr/device/aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Upgrade to Thrust 1.12
  cmake/Modules/RMM_thirdparty.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Upgrade to Thrust 1.12 (#774)
  cmake/Modules/RMM_thirdparty.cmake
Owners: @rapidsai/rmm-cmake-codeowners

DOC Update to v21.06.00
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
  python/setup.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

address review comments
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  tests/mr/device/aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Delete device_buffer copy constructor and copy assignment operator
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove copy assignment tests
  include/rmm/device_buffer.hpp
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

extract constant for cuda alignment size of 256
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners
