Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Add section to README.
  README.md
Owners: none

Style Cleanup
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Removing no_gc from DeviceBuffer
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Style cleanup and additional test
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Running isort
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
Owners: @rapidsai/rmm-python-codeowners

Running isort
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Add more info to UpstreamResourceAdaptor
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Removing reset() and push/pop from the tracking manager
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Apply suggestions from code review
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Changing ssize_t to int64_t per review from harrism
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Style cleanup.
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Add pytest fixture to auto reinitialize after every test.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add a stream pool benchmark
  benchmarks/CMakeLists.txt
  benchmarks/cuda_stream_pool/cuda_stream_pool_bench.cpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

cmake style
  benchmarks/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

pin version
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Add a CUDA stream pool(#659)
  README.md
  benchmarks/CMakeLists.txt
  benchmarks/cuda_stream_pool/cuda_stream_pool_bench.cpp
  conda/recipes/librmm/meta.yaml
  include/rmm/cuda_stream_pool.hpp
  tests/CMakeLists.txt
  tests/cuda_stream_pool_tests.cpp
  tests/cuda_stream_tests.cpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners, @rapidsai/ops-codeowners

Update `sizeof` assert in `test_rmm_device_buffer`
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Improve docs for `DeviceBuffer`'s `stream` kwarg
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Fix flake8 errors
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

update VERSION in CMakeLists.txt
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Expose the version string in C++ and Python
  CMakeLists.txt
  cmake/Modules/Version.cmake
  cmake/version_config.hpp.in
  python/rmm/__init__.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Fix style check
  CMakeLists.txt
  cmake/Modules/Version.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Fix style check in Python
  python/rmm/__init__.py
Owners: @rapidsai/rmm-python-codeowners

Don't abbreviate VERSION
  cmake/version_config.hpp.in
Owners: @rapidsai/rmm-cmake-codeowners

Create labeler.yml
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

Create labeler.yml
  .github/workflows/labeler.yml
Owners: @rapidsai/ops-codeowners

update globs to minimatch globs
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

Update CMakeLists.txt VERSION to 0.18.0(#665)
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

install spdlog 1.8.2 in ci/gpu build script
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

fix conda call
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Update RMM_PER_THREAD_DEFAULT_STREAM usage
  python/rmm/_cuda/stream.pyx
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Revert unnecessary change to setup.py
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

use conda-forge for spdlog
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

reinstall spdlog from conda-forge
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

maybe this will work
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

FIX Remove duplicate conda build command
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

Remove duplicate conda build command(#670)
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

quote file pattern globs
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

Remove the RapidsAI prefix from the macro
  cmake/version_config.hpp.in
Owners: @rapidsai/rmm-cmake-codeowners

add generated tag to doxyfile
  doxygen/Doxyfile
Owners: none
