Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add Python PrefetchResourceAdaptor.
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/mr.py
  python/rmm/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add C++ tests.
  tests/CMakeLists.txt
  tests/mr/device/prefetch_resource_adaptor_tests.cpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

README: Fix spelling
  README.md
Owners: none

Use oldest test dependencies from dependencies.yaml in wheel tests
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Advertise NumPy 2 support
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  python/rmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Revert "Remove HTML builds of librmm (#1415)" (#1604)
  ci/build_docs.sh
  doxygen/Doxyfile
Owners: @rapidsai/ci-codeowners

Update shared-workflows branch.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

Use earliest dependencies in conda tests.
  ci/test_python.sh
  dependencies.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Rename earliest to oldest
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Use oldest test dependencies from dependencies.yaml in wheel tests
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Install rapids-dependency-file-generator (for now)
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

add rapids-build-backend to docs
  README.md
Owners: none

Build and test with CUDA 12.5.1 (#1607)
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners

add rapids-build-backend to docs (#1614)
  README.md
Owners: none

Rename `.devcontainer`s for CUDA 12.5
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
Owners: @rapidsai/packaging-codeowners

Rename `.devcontainer`s for CUDA 12.5 (#1615)
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
Owners: @rapidsai/packaging-codeowners

Address PR feedback
  include/rmm/mr/device/prefetch_resource_adaptor.hpp
  tests/mr/device/prefetch_resource_adaptor_tests.cpp
  tests/prefetch_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

Use workflow branch 24.08 again (#1617)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

Add doc
  include/rmm/mr/device/prefetch_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

DOC v24.10 Updates [skip ci]
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  VERSION
  dependencies.yaml
  python/rmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners

Prefetch resource adaptor (#1608)
  include/rmm/mr/device/prefetch_resource_adaptor.hpp
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/mr.py
  python/rmm/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/mr/device/prefetch_resource_adaptor_tests.cpp
  tests/prefetch_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners

Add RMM_USE_NVTX cmake option to provide localized control of NVTX for RMM (#1602)
  CMakeLists.txt
  include/rmm/detail/nvtx/ranges.hpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Update README.md
  README.md
Owners: none

Add documentation for CPM usage (#1600)
  README.md
Owners: none

Instruct to create associated issue in PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @rapidsai/ci-codeowners

hard code system mr in sam headroom adaptor
  python/rmm/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Remove prefetch factory.
  include/rmm/mr/device/prefetch_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Deprecate adaptor factories.
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

split up CUDA-suffixed dependencies in dependencies.yaml
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Also deprecate logging adaptor factory.
  include/rmm/mr/device/logging_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

revert change to reinitialize
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/rmm.py
  python/rmm/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Instruct to create associated issue in PR template. (#1624)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @rapidsai/ci-codeowners

fix pre commit errors
  python/rmm/rmm/rmm.py
  python/rmm/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

consolidate cuda_suffixed=false blocks
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

reformat fallback matrix
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

change sam headroom adaptor to mr
  include/rmm/mr/device/sam_headroom_memory_resource.hpp
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/mr.py
  python/rmm/rmm/tests/test_rmm.py
  tests/mr/device/system_mr_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

better formatting
  include/rmm/mr/device/sam_headroom_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

split up CUDA-suffixed dependencies in dependencies.yaml (#1627)
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners

separate out sam headroom mr in python
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/mr.py
  python/rmm/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
