Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Force rebuild
  .github/workflows/pr-wheels.yml
Owners: @rapidsai/ops-codeowners

DOC
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/CMakeLists.txt
  python/docs/conf.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Add cuda suffix env var in local workflow
  .github/workflows/pr-wheels.yml
Owners: @rapidsai/ops-codeowners

use common code
  doxygen/Doxyfile
  doxygen/footer.html
Owners: none

upgrade doxygen
  doxygen/Doxyfile
Owners: none

use templated header
  doxygen/Doxyfile
  doxygen/footer.html
  doxygen/header.html
Owners: none

Centralize common css & js code in docs (#1075)
  doxygen/Doxyfile
  doxygen/header.html
Owners: none

add device_uvector::reserve
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

add device_uvector::reserve to rmm-python
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/device_uvector.pxd
Owners: @rapidsai/rmm-python-codeowners

implement device_buffer::reserve via swap
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @rapidsai/ops-codeowners

move instead of swap
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

documentation fixes
  include/rmm/device_uvector.hpp
Owners: @rapidsai/rmm-cpp-codeowners

formatting
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Simplify PR template. (#1080)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @rapidsai/ops-codeowners

switch to common js file and defer load it
  python/docs/conf.py
Owners: @rapidsai/rmm-python-codeowners

switch to common js file and defer load it (#1081)
  python/docs/conf.py
Owners: @rapidsai/rmm-python-codeowners

Add device_uvector::reserve and device_buffer::reserve (#1079)
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/device_uvector.pxd
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Use rapids-cmake 22.10 best practice for RAPIDS.cmake location
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Use current binary dir
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Avoid unused parameter warnings in do_get_mem_info
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Use rapids-cmake 22.10 best practice for RAPIDS.cmake location (#1083)
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Add resources section to README.
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Add link to RMM developer blog.
  README.md
Owners: none

Add link to stream-ordered memory allocation blog.
  README.md
Owners: none

Add resources section to README. (#1085)
  README.md
Owners: none

Improve docs formatting and update links.
  README.md
  python/docs/basics.md
  python/rmm/_lib/memory_resource.pyx
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Fix style.
  python/rmm/_lib/memory_resource.pyx
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Fix link anchor.
  README.md
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

Improve docs formatting and update links. (#1086)
  README.md
  python/docs/basics.md
  python/rmm/_lib/memory_resource.pyx
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

add pretty-printers
  scripts/gdb-pretty-printers.py
Owners: none

wip
  scripts/gdb-pretty-printers.py
Owners: none

update changelog
  CHANGELOG.md
Owners: none

REL v22.08.00 release
  python/docs/conf.py
Owners: @rapidsai/rmm-python-codeowners

pull in thrust pretty-printer sources
  CMakeLists.txt
  scripts/gdb-pretty-printers.py
Owners: @rapidsai/rmm-cmake-codeowners

provide script to load pretty-printers
  CMakeLists.txt
  scripts/gdb-pretty-printers.py
  scripts/load-pretty-printers.in
Owners: @rapidsai/rmm-cmake-codeowners

review updates
  scripts/gdb-pretty-printers.py
Owners: none

modernize python code
  scripts/gdb-pretty-printers.py
Owners: none

consistent quotes
  scripts/gdb-pretty-printers.py
Owners: none
