Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Skip async mr tests when cuda runtime/driver < 11.2
  tests/mr/device/cuda_async_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

patch to correctly execute all of the tests
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

skip other async tests
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/skip_async.hpp
Owners: @rapidsai/rmm-cpp-codeowners

add is_supported() to async mr
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/skip_async.hpp
Owners: @rapidsai/rmm-cpp-codeowners

return nullptr if async is not supported
  tests/mr/device/mr_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

use cudaDeviceGetAttribute
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

explicit nullptr
  tests/mr/device/mr_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

fix tests for older cuda driver
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix formatting
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Skip async mr tests when cuda runtime/driver < 11.2 (#986)
  ci/gpu/build.sh
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cpp-codeowners

Log allocation failures
  benchmarks/utilities/log_parser.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

add test
  benchmarks/replay/replay.cpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/logger_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

scaffold pipeline
  ci/pr.Jenkinsfile
Owners: @rapidsai/ops-codeowners

added shared lib
  ci/pr.Jenkinsfile
Owners: @rapidsai/ops-codeowners

review
  ci/pr.Jenkinsfile
Owners: @rapidsai/ops-codeowners

Ensure that every package has a different package_data list to avoid referencing the same list when updating.
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

adjusted labels
  ci/pr.Jenkinsfile
Owners: @rapidsai/ops-codeowners

Remove debugging cruft.
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Clean up TODOs.
  python/CMakeLists.txt
  python/setup.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Make cmake-lint happy.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Make cmake-format happy.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

add getArcImg fn
  ci/pr.Jenkinsfile
Owners: @rapidsai/ops-codeowners

CUDA 11.2+ features are used via dlopen
  CMakeLists.txt
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Remove cuda_async_memory_resource::is_supported
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Give the typedef used by `function` a better name
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Consistently use 'auto *'
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Refactor 'open_cuda_runtime' to be thread safe
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove an unneeded check from dynamic_load_runtime
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Correct style issues found by CI
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Address PR comments.
  build.sh
  ci/release/update-version.sh
  python/CMakeLists.txt
  python/cmake/CMakeLists.txt
  python/cmake/rmm_python_helpers.cmake
  python/cmake/skbuild_patches.cmake
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cmake-codeowners

Refactor 'open_cuda_runtime' to 'get_cuda_runtime_handle'
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Address PR review.
  build.sh
  python/dev_requirements.txt
Owners: @rapidsai/rmm-python-codeowners

Add contributing documentation.
  CONTRIBUTING.md
Owners: none

Add the prefix path.
  build.sh
Owners: none

Apply suggestions from code review
  CONTRIBUTING.md
  build.sh
Owners: none

Use scikit-build for the build process (#976)
  .gitignore
  CONTRIBUTING.md
  build.sh
  ci/release/update-version.sh
  cmake/config.json
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/CMakeLists.txt
  python/cmake/CMakeLists.txt
  python/cmake/rmm_python_helpers.cmake
  python/cmake/skbuild_patches.cmake
  python/dev_requirements.txt
  python/pyproject.toml
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

add `ops-bot` config file
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

update comment
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Ensure we call the correct cudart functions
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add `.github/ops-bot.yaml` config file (#991)
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
