Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Use the new RAPIDS.cmake to fetch rapids-cmake
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Correct CMake style issues found by CI
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Use the new RAPIDS.cmake to fetch rapids-cmake (#838)
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

FIX Use mamba for artifact install
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

ENH Replace gpuci_conda_retry with gpuci_mamba_retry (#823)
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Basic mr tests passing
  include/rmm/mr/libcudacxx/device/device_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/managed_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/owning_wrapper.hpp
  include/rmm/mr/libcudacxx/device/per_device_resource.hpp
  tests/CMakeLists.txt
  tests/mr/libcudacxx/device/mr_test.hpp
  tests/mr/libcudacxx/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

update changelog
  CHANGELOG.md
Owners: none

Switch to stream_ordered_memory_resource as base.
  include/rmm/cuda_stream_view.hpp
  include/rmm/mr/libcudacxx/device/cuda_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/device_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/managed_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/per_device_resource.hpp
  tests/mr/libcudacxx/device/mr_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

REL v21.08.01 release
  CMakeLists.txt
  python/docs/conf.py
  python/setup.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

add multi stream allocations benchmark.
  benchmarks/CMakeLists.txt
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Update CMakeLists.txt
  benchmarks/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

benchmark all MRs
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Owners: @rapidsai/rmm-cpp-codeowners

RMM Tests and Benchmark CMake code uses a more modern style
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

add profiling options
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Owners: @rapidsai/rmm-cpp-codeowners

fix cmake style
  benchmarks/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Enforce alignment <= 256B
  include/rmm/mr/libcudacxx/device/cuda_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/managed_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

pool_memory_resource working with cuda::memory_resource interface
  include/rmm/mr/libcudacxx/device/detail/coalescing_free_list.hpp
  include/rmm/mr/libcudacxx/device/detail/free_list.hpp
  include/rmm/mr/libcudacxx/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/owning_wrapper.hpp
  include/rmm/mr/libcudacxx/device/pool_memory_resource.hpp
  tests/mr/libcudacxx/device/mr_test.hpp
  tests/mr/libcudacxx/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Refactor cmake style (#842)
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Upstreams passed as views, so MRs with upstreams no longer need to be template classes.
  include/rmm/mr/libcudacxx/device/owning_wrapper.hpp
  include/rmm/mr/libcudacxx/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

add prewarm option to profile
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Owners: @rapidsai/rmm-cpp-codeowners

update benchmark cmake file style
  benchmarks/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Fix transitive include in cuda_device header
  include/rmm/cuda_device.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Execution policy class (#816)
  include/rmm/exec_policy.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Rename do_allocate / do_deallocate to avoid warnigns in NVCC about hiding virtual function.
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Interface rework.
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add constants with memory kind and allocation order to the interfaces.
  include/rmm/mr/memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove ambiguity between enum and static field names: memory_kind and allocation_order
  include/rmm/mr/memory_resource.hpp
  tests/mr/host/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix base class for pinned_memory_resource.
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/mr/host/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

* Update interfaces to match latest proposal for libcu++. * Remove padding expectation from device memory resource test in logger_tests.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/mr/memory_resource.hpp
  tests/logger_tests.cpp
  tests/mr/host/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove spdlog from memory_resource.hpp in non-debug builds.
  include/rmm/cuda_stream.hpp
  include/rmm/detail/error.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/cuda_stream_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Adjustments after rebase.
  README.md
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/polymorphic_allocator_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Adjust ALIGNED_TEST.
  tests/mr/device/aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix transitive include in cuda_device header (#843)
  include/rmm/cuda_device.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Now supporting varying memory_kind! Test factories refactored, managed_memory_resource is a different type from cuda_memory_resource, etc.
  include/rmm/mr/libcudacxx/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/managed_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/pool_memory_resource.hpp
  tests/mr/libcudacxx/device/mr_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Eliminate `device_memory_resource and `device_resource_view`
  include/rmm/mr/libcudacxx/device/cuda_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/device_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/managed_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/owning_wrapper.hpp
  include/rmm/mr/libcudacxx/device/per_device_resource.hpp
  include/rmm/mr/libcudacxx/device/pool_memory_resource.hpp
  tests/mr/libcudacxx/device/mr_test.hpp
  tests/mr/libcudacxx/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

tweak the arena mr to reduce fragmentation
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

fix cmake styles
  benchmarks/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Apply suggestions from code review
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

add multi stream allocations benchmark. (#841)
  benchmarks/CMakeLists.txt
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

review feedback
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners
