Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

debug
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Revert "debug"
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

debug
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Sort `install_requires`
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Add `cuda-python` to `setup.cfg`
  python/setup.cfg
Owners: @rapidsai/rmm-python-codeowners

Add `numpy` to `setup.py`
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Require `cuda-python` version `11.5.0+`
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Require `numpy` version `1.19+`
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Require `numba` version `0.49.0+`
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

debug
  ci/Jenkinsfile
  ci/check_size.sh
  ci/check_style.sh
Owners: @rapidsai/ops-codeowners

add shared script
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

debug
  ci/Jenkinsfile
  ci/checks/style.sh
Owners: @rapidsai/ops-codeowners

DOC
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/CMakeLists.txt
  python/docs/conf.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

make checks parallel
  ci/Jenkinsfile
  ci/check_size.sh
Owners: @rapidsai/ops-codeowners

consolidate style n size checks
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

better inline doxy style and move ifdef inside ctor
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Apply suggestions from code review
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Clarifies Python requirements and version constraints (#1037)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Build conda packages using mambabuild
  ci/cpu/build.sh
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

enable external_contributors feature for ops-bot
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

test
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

test2
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

random
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

another push
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

another pr
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

dummy
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Revert "random"
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

testing branch run again
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

testing again 2
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

testing 1
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

pushing while pr test is running
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Revert "testing 1"
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Use conda compilers (#977)
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix conda recipes for conda compilers
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix conda recipes for conda compilers (#1043)
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Build conda packages using mambabuild (#900)
  ci/cpu/build.sh
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Apply suggestions from code review
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Document allocation_handle_type
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

clang-format
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
