Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Improve DeviceBuffer docs.
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Branch 22.10 merge 22.08 (#1089)
  CHANGELOG.md
Owners: none

Improve DeviceBuffer docs. (#1090)
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Define public API in __all__.
  python/rmm/__init__.py
Owners: @rapidsai/rmm-python-codeowners

Try using pycon for Python console highlighting.
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

Deduplicate project info in conf.py.
  python/docs/conf.py
Owners: @rapidsai/rmm-python-codeowners

Add docstrings to properties.
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Make Cython attribute bin_mrs private, add public property with docstring.
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Add sphinx_rtd_theme to environment requirements.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Revert "Try using pycon for Python console highlighting."
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

Fix language.
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

Move module API to the top, remove rmm.rmm API.
  python/docs/api.rst
Owners: @rapidsai/rmm-python-codeowners

Remove napoleon extension, which was messing up the docstrings.
  python/docs/conf.py
Owners: @rapidsai/rmm-python-codeowners

Update Python target.
  python/pyproject.toml
Owners: @rapidsai/rmm-python-codeowners

Update python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pxd
Owners: @rapidsai/rmm-python-codeowners

review updates
  scripts/gdb-pretty-printers.py
Owners: none

Remove _numba_memory_manager from user APIs in __all__.
  python/rmm/__init__.py
Owners: @rapidsai/rmm-python-codeowners

Fix docs for module-level API (#1091)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  python/docs/api.rst
  python/docs/basics.md
  python/docs/conf.py
  python/pyproject.toml
  python/rmm/__init__.py
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

remove unnecessary error message
  scripts/gdb-pretty-printers.py
Owners: none

rm existing dependency files
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

parameterize config file values
  .github/workflows/conda-envs.yml
Owners: @rapidsai/ops-codeowners

TEST - break things with shared workflow
  conda/environments/envs.yaml
Owners: @rapidsai/ops-codeowners

add envs.yaml file
  conda/environments/envs.yaml
Owners: @rapidsai/ops-codeowners

TEST - rename `full` env
  conda/environments/envs.yaml
  conda/environments/fulls_cuda-11.5_arch-x86_64.yaml
  conda/environments/fulls_cuda-11.6_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

update dependencies.yaml file format
  dependencies.yaml
Owners: none

Revert "TEST - delete generated file"
  conda/environments/full_cuda-11.6_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

utilize shared workflow
  .github/workflows/conda-envs.yml
Owners: @rapidsai/ops-codeowners

TEST - delete generated file
  conda/environments/full_cuda-11.6_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

update to reflect latest rapids-dependency-file-generator changes
  .github/workflows/conda-envs.yml
  .github/workflows/dependency-files.yml
  conda/environments/all_cuda-11.5_arch-x86_64.yaml
  conda/environments/all_cuda-11.6_arch-x86_64.yaml
  conda/environments/envs.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Revert "TEST - rename `full` env"
  conda/environments/envs.yaml
  conda/environments/full_cuda-11.5_arch-x86_64.yaml
  conda/environments/full_cuda-11.6_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

rename "full" to "all" based on latest changes
  README.md
Owners: none

Revert "TEST - break things with shared workflow"
  conda/environments/envs.yaml
Owners: @rapidsai/ops-codeowners

add GH Action
  .github/workflows/conda-envs.yml
Owners: @rapidsai/ops-codeowners

update README.md to reflect new filename
  README.md
Owners: none

add generated environment files
  conda/environments/full_cuda-11.5_arch-x86_64.yaml
  conda/environments/full_cuda-11.6_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

re-generate dependency files
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

add dependencies.yaml header
  dependencies.yaml
Owners: none

update README.md to reflect new filename
  README.md
Owners: none

bifurcate miscellaneous dependency list
  dependencies.yaml
Owners: none

re-generate dependency lists
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners
