Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Add RMM Python docs
  .gitignore
  python/docs/Makefile
  python/docs/api.rst
  python/docs/basics.md
  python/docs/conf.py
  python/docs/index.rst
  python/docs/make.bat
Owners: @rapidsai/rmm-python-codeowners

Add example of creating pool of managed memory
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

Update update-version.sh and release tags in conf.py
  ci/release/update-version.sh
  python/docs/conf.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Remove make.bat
  python/docs/make.bat
Owners: @rapidsai/rmm-python-codeowners

Changelog
  CHANGELOG.md
Owners: none

CMake target cleanup, formatting, linting (#604)
  .pre-commit-config.yaml
  CHANGELOG.md
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  ci/checks/style.sh
  ci/gpu/build.sh
  cmake/Modules/CPM.cmake
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/RMM_thirdparty.cmake
  cmake/Modules/SetGPUArchs.cmake
  cmake/RMM_thirdparty.cmake
  cmake/config.json
  cmake/install/FindThrust.cmake
  cmake/rmm-config.cmake.in
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Support enabling PTDS via CUDA_PTDS environment variable
  python/rmm/_lib/cuda_stream_view.pyx
Owners: @rapidsai/rmm-python-codeowners

Add intro/install
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

Expose cudaStreamLegacy/cudaStreamPerThread in Python
  python/rmm/_lib/cuda_stream_view.pyx
  python/rmm/_lib/lib.pxd
Owners: @rapidsai/rmm-python-codeowners

Rename PTDS environment variable to RMM_PER_THREAD_DEFAULT_STREAM
  python/rmm/_lib/cuda_stream_view.pyx
Owners: @rapidsai/rmm-python-codeowners

FIX Conda uploads
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Switch Python stream types to cudaStream enum
  python/rmm/_lib/cuda_stream_view.pyx
  python/rmm/_lib/lib.pxd
Owners: @rapidsai/rmm-python-codeowners

Fix Conda uploads(#634)
  CHANGELOG.md
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

merge.
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Add intro note about performance
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

Add RMM Python docs(#632)
  .gitignore
  CHANGELOG.md
  ci/release/update-version.sh
  python/docs/Makefile
  python/docs/api.rst
  python/docs/basics.md
  python/docs/conf.py
  python/docs/index.rst
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

ENH Add python docs build
  ci/docs/build.sh
Owners: @rapidsai/ops-codeowners

DOC v0.18 Updates
  CHANGELOG.md
  doxygen/Doxyfile
  python/docs/conf.py
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

DOC Update changelog
  CHANGELOG.md
Owners: none

Add Python stream wrappers
  python/rmm/_cuda/stream.pxd
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
Owners: @rapidsai/rmm-python-codeowners

DOC Update documentation
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

FIX Revert changes, fix html filepath
  ci/docs/build.sh
  python/docs/basics.md
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

DOC Fix missing newline
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

ENH Add python docs build(#635)
  CHANGELOG.md
  ci/docs/build.sh
Owners: @rapidsai/ops-codeowners

Removed the reset() method, added ability to push/pull
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Style cleanup
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Replace use of CudaStreamView with Stream
  python/rmm/_cuda/stream.pxd
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/cuda_stream_view.pyx
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Add docs
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Don't use magic numbers
  python/rmm/_cuda/stream.pxd
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/lib.pxd
Owners: @rapidsai/rmm-python-codeowners

remove pyproject.toml to fix pip build, fix install paths in cmake
  python/pyproject.toml
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/rmm/tests/CMakeLists.txt
Owners: @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners

Fix owner
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Type the stream argument
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Default stream was initialized to legacy
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Changelog
  CHANGELOG.md
Owners: none

isort
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Updated changelog
  CHANGELOG.md
Owners: none

add back pyproject.toml
  python/pyproject.toml
Owners: @rapidsai/rmm-python-codeowners

remove pyproject.toml again
  python/pyproject.toml
Owners: @rapidsai/rmm-python-codeowners

fix release script version updater based on cmake reformatting
  CHANGELOG.md
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
