Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

clang format
  tests/mr/device/aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Document synchronization requirements on device_buffer copy ctors (#772)
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

A bit more consistency and a move example
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Improve comment
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix Cython
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/tests/test_device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

remove NIGHTLY_VERSION var
  ci/docs/build.sh
Owners: @rapidsai/ops-codeowners

Update docs build script (#776)
  ci/docs/build.sh
Owners: @rapidsai/ops-codeowners

add a resource adapter to align on a specified size (#768)
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

DOC v21.08 Updates
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
  python/setup.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Python style
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/tests/test_device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

update changelog
  CHANGELOG.md
Owners: none

update changelog (#777)
  CHANGELOG.md
Owners: none

update changelog
  CHANGELOG.md
Owners: none

update 0.20 references
  CHANGELOG.md
Owners: none

Update `CHANGELOG.md` links for calver (#781)
  CHANGELOG.md
Owners: none

test added delay to rrr tool
  CHANGELOG.md
Owners: none

revert test change
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

FindThrust now guards against multiple inclusion by different consumers
  cmake/install/FindThrust.cmake
Owners: @rapidsai/rmm-cmake-codeowners

update cuda var
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

correct formatting
  cmake/install/FindThrust.cmake
Owners: @rapidsai/rmm-cmake-codeowners

FindThrust now guards against multiple inclusion by different consumers (#784)
  cmake/install/FindThrust.cmake
Owners: @rapidsai/rmm-cmake-codeowners

upgrade spdlog to 1.8.5 (#658)
  ci/gpu/build.sh
  cmake/Modules/RMM_thirdparty.cmake
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cmake-codeowners

Update environment variable used to determine `cuda_version` (#785)
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Refactor device_scalar in terms of device_uvector
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_scalar_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Compile Cython with C++17.
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

make it easier to include rmm in other projects
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

reverse if clauses
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Add device_uvector::set_element_to_zero_async and device_scalar::set_value_to_zero_async
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add details about compute sanitizer memcheck support
  README.md
Owners: none

Include `arena_memory_resource` and `cuda_memory_resource` in docs about memcheck.
  README.md
Owners: none

Support multiple output sinks in rmm::logging_resource_adaptor
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/logger_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Compile Cython with C++17. (#787)
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

make it easier to include rmm in other projects (#788)
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Explicit streams in device_buffer (#775)
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/tests/test_device_buffer.pyx
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Support multiple output sinks in logging_resource_adaptor (#791)
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/logger_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Separated the statistics portion from the tracking_resource_adaptor into a new adaptor statistics_resource_adapter
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  tests/CMakeLists.txt
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners

Getting tests to pass
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Style cleanup
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pyx
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Remove unused param names and define value_type and friends in terms of uvector
  include/rmm/device_scalar.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove unused param names in deleted func
  include/rmm/device_uvector.hpp
Owners: @rapidsai/rmm-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
