Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

tidy cuda_stream.hpp
  include/rmm/cuda_stream.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove incorrect fix for warning
  include/rmm/detail/error.hpp
Owners: @rapidsai/rmm-cpp-codeowners

include order
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

tidying
  include/rmm/cuda_device.hpp
  tests/mr/device/aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Use temporary fork of gtest
  cmake/thirdparty/get_gtest.cmake
Owners: @rapidsai/rmm-cmake-codeowners

function-cognitive-complexity.IgnoreMacros=1
  .clang-tidy
Owners: none

Tidy cuda_async_mr_tests
  tests/mr/device/cuda_async_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Factor out byte_literals for reuse
  tests/byte_literals.hpp
  tests/mr/device/mr_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy limiting_mr_tests
  tests/mr/device/limiting_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy logger_tests
  tests/logger_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy mr_tests
  include/rmm/detail/aligned.hpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix device_scalar_test hang
  include/rmm/device_scalar.hpp
  tests/device_scalar_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix arena.hpp debug build
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy device_scalar
  include/rmm/device_scalar.hpp
Owners: @rapidsai/rmm-cpp-codeowners

suppress pointer arith warnings
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy device_buffer
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Suppress owning-memory warnings
  include/rmm/cuda_stream.hpp
  include/rmm/thrust_rmm_allocator.h
Owners: @rapidsai/rmm-cpp-codeowners

NOLINT macro parentheses
  include/rmm/detail/error.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy free lists
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy stream_ordered_memory_resource and free_lists
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Install the right cudatoolkit in the conda env in gpu/build.sh
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

tidy device_memory_resource and aligned_resource_adaptor
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/device_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix nodiscard compilation error
  tests/mr/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

tidying more MRs
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove `alignment_type` and ignore swappable parameters when one is called `alignment`.
  .clang-tidy
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy arena_memory_resource
  include/rmm/mr/device/arena_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy binning_memory_resource
  include/rmm/mr/device/binning_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy fixed_size_mr
  include/rmm/mr/device/fixed_size_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy limiting_resource_adaptor
  include/rmm/mr/device/limiting_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

clean arenas when running out of memory
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy logging_resource_adaptr
  include/rmm/mr/device/logging_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy managed_mr
  include/rmm/mr/device/managed_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy owning_wrapper and per_device_resource
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/per_device_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy polymorphic_allocator
  include/rmm/mr/device/polymorphic_allocator.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy pool_mr
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy statistics_resource_adaptor
  include/rmm/mr/device/statistics_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy thread_safe_resource_adaptor
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy thrust_allocator_adaptor
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy tracking_resource_adaptor
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

tidy host_mrs
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
