Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Fix for DeviceBuffer
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Update doc
  python/rmm/_lib/device_buffer.pxd
Owners: @rapidsai/rmm-python-codeowners

clang format
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix CUDA Python version in meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix imports tests syntax
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix imports tests syntax (#935)
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Missed a meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Review requests
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Adding test
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update doc
  python/rmm/_lib/device_buffer.pxd
Owners: @rapidsai/rmm-python-codeowners

Modify imports
  python/rmm/_lib/device_buffer.pxd
Owners: @rapidsai/rmm-python-codeowners

Use no_gc_clear decorator
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

update changelog
  CHANGELOG.md
Owners: none

Addition to RMM test doc
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Headers that use `std::thread` now include <thread>
  include/rmm/mr/device/arena_memory_resource.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add 11.5 and 11.6 dev yml files
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

No cudatoolkit 11.6
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Headers that use `std::thread` now include <thread> (#938)
  include/rmm/mr/device/arena_memory_resource.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix for `DeviceBuffer` (#931)
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

review feedback
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

clang format
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

increase test coverage
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

clang format
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Improve the Arena allocator to reduce memory fragmentation (#916)
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add build.sh option to build benchmarks
  build.sh
Owners: none

Build tests and benchmarks in CI for pull requests
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Temporarily disable warnings for unknown pragmas
  benchmarks/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

CMake style
  benchmarks/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Name cuda_async_view_memory_resource. Remove constructor which takes ownership. Update tests
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add params to docstring and move to ensureCMakeRan
  build.sh
Owners: none

Temporarily disable warnings for unknown pragmas (#942)
  benchmarks/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Formatting
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix type of arg
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Check status after calls to cudaGetErrorName/String
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

DOC
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Enable tests build for Project Flash
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Add tests and benchmarks options to VALIDARGS
  build.sh
Owners: none

Enable benchmarks build for Project Flash
  conda/recipes/librmm/build.sh
Owners: @rapidsai/ops-codeowners

Update python/rmm/_cuda/gpu.py
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Update python/rmm/_cuda/gpu.py
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners
