Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Revert "test wsl2 impl. - temp change"
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

test wsl2 impl. - temp change
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Revert "test wsl2 impl. - temp change"
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Add a missed `except *` (#1057)
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

rm separate wsl stage
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Specify `language` as `'en'` instead of `None`
  python/docs/conf.py
Owners: @rapidsai/rmm-python-codeowners

Update python/docs/conf.py
  python/docs/conf.py
Owners: @rapidsai/rmm-python-codeowners

Specify `language` as `'en'` instead of `None` (#1059)
  python/docs/conf.py
Owners: @rapidsai/rmm-python-codeowners

Force install cuda-python from conda-forge channel
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

pin to 11.7
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Pin max version of `cuda-python` to `11.7` (#1062)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Pin max version of `cuda-python` to `11.7` (#1062)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Pin max version of `cuda-python` to `11.7` (#1062) (#1063)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

REL v22.06.01 release
  CMakeLists.txt
  python/CMakeLists.txt
  python/docs/conf.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Use numba's driver.get_version?
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Revert "Use numba's driver.get_version?"
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Forward merge 22.06 into 22.08 (#1066)
  CHANGELOG.md
Owners: none

Update isort.
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Update isort to 5.10.1 (#1069)
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Add reinitialization hooks
  python/rmm/__init__.py
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Better docs
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Use list, not dict
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

More testing for reinit hooks
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Fix test
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add a note about when hooks are used
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Use a list rather than captured stdout
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

hook->func
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Address review feedback
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update python/rmm/rmm.py
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update python/rmm/rmm.py
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update docstring
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Address @bdice's comments
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add the ability to register and unregister reinitialization hooks (#1072)
  python/rmm/__init__.py
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add first RMM wheel workflow on GHA
  .github/workflows/pr-wheels.yml
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Use new combined pyver workflow
  .github/workflows/pr-wheels.yml
Owners: @rapidsai/ops-codeowners

Disable GPU tests
  .github/workflows/pr-wheels.yml
Owners: @rapidsai/ops-codeowners

Trigger rebuild
  .github/workflows/pr-wheels.yml
Owners: @rapidsai/ops-codeowners

Force rebuild
  .github/workflows/pr-wheels.yml
Owners: @rapidsai/ops-codeowners

Test new syntax for cibw workflow
  .github/workflows/pr-wheels.yml
Owners: @rapidsai/ops-codeowners

Removed problematic pip global option
  .github/workflows/pr-wheels.yml
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
