Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Modify recipe.
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Install new version of generator.
  ci/check_style.sh
Owners: @rapidsai/ops-codeowners

Temporarily disable checks.
  .github/workflows/pr.yaml
  ci/check_style.sh
Owners: @rapidsai/ops-codeowners

Use an absolute path.
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Revert "Upgrade to spdlog 1.10 (#1173)"
  .pre-commit-config.yaml
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Keep flake8 changes.
  .pre-commit-config.yaml
Owners: none

Keep using conda_build_config.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Don't require spdlog in rmm meta.yaml.
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Revert "Upgrade to spdlog 1.10 (#1173)" (#1176)
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Update pre-commit hooks.
  .gitattributes
  .pre-commit-config.yaml
  python/.flake8
  python/.flake8.cython
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
