Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

east const
  include/rmm/logger.hpp
Owners: @rapidsai/rmm-cpp-codeowners

remove -g from cython compile lines
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

fix lint
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

remove debug flags in build_ext and bdist_wheel
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

fix lint
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

include cpack
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

remove unnecessary command
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

fix test_cython.py when compiled binary no longer has debug symbols
  python/rmm/tests/test_cython.py
Owners: @rapidsai/rmm-python-codeowners

fix lint
  python/rmm/tests/test_cython.py
Owners: @rapidsai/rmm-python-codeowners

Return unused portion of a block to owning stream's free list immediately.
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Docs and std::size_t and headers
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

const
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

std::size_t
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Clean up: use std::size_t, include cstddef and aligned.hpp where missing
  include/rmm/cuda_stream_pool.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

cmake-format
  CMakeLists.txt
  cmake/thirdparty/RMM_GetLibcudacxx.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Fix get_libcudacxx.cmake
  CMakeLists.txt
  cmake/thirdparty/get_libcudacxx.cmake
Owners: @rapidsai/rmm-cmake-codeowners

cmake-format
  cmake/thirdparty/get_libcudacxx.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Remove -g from cython compile commands (#847)
  CMakeLists.txt
  python/rmm/tests/test_cython.py
  python/setup.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Fix copyright.
  include/rmm/cuda_stream_pool.hpp
Owners: @rapidsai/rmm-cpp-codeowners

cmake doc
  cmake/thirdparty/get_libcudacxx.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Update to use rapids-cmake 21.10 pre-configured packages
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Fix `test_cython.py`
  python/rmm/tests/test_cython.py
Owners: @rapidsai/rmm-python-codeowners

Change memory_kind from an enum/value to a namespace/type.
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/memory_resource.hpp
  tests/mr/host/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

add binding=True so we can enumerate the contents of cython modules, add dynamic export back into test_cython.py
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/tests/test_cython.py
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Fix `test_cython.py` (#855)
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/tests/test_cython.py
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Improve concurrency of stream_ordered_memory_resource by stealing less (#851)
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

More missed std::size_t
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

doc
  include/rmm/mr/device/device_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Clean up: use std::size_t, include cstddef and aligned.hpp where missing (#852)
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/cuda_stream_pool.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

.clang-tidy and initial fixes
  .clang-tidy
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/detail/aligned.hpp
  include/rmm/detail/cuda_util.hpp
  include/rmm/detail/error.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/device_uvector.hpp
  include/rmm/logger.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Suppress cppcoreguidelines-macro-usage
  .clang-tidy
Owners: none

parameter name
  include/rmm/detail/aligned.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Delete cuda_async_memory_resource copy/move ctors/operators
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Delete cuda_async_memory_resource copy/move ctors/operators (#860)
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add test that concurrent allocations have different pointers
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

free_lists are not copyable
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

free_lists cannot be moved.
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Disable copy/move ctors and operator= from free_list classes (#862)
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

tidying
  .clang-tidy
  include/rmm/detail/error.hpp
  include/rmm/detail/stack_trace.hpp
  tests/cuda_stream_pool_tests.cpp
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

tidy some tests
  tests/cuda_stream_pool_tests.cpp
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/logger_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners
