Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Fix return value docs for supports_get_mem_info (#884)
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add simple resource_view test
  tests/CMakeLists.txt
  tests/resource_view_tests.cpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Convert RMM containers to use `stream_ordered_resource_view`
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

cmake style
  cmake/thirdparty/get_libcudacxx.cmake
Owners: @rapidsai/rmm-cmake-codeowners

cmake formatting
  cmake/thirdparty/get_libcudacxx.cmake
Owners: @rapidsai/rmm-cmake-codeowners

documentation
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
Owners: @rapidsai/rmm-cpp-codeowners

add tests
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Implement oom_callback_resource_adaptor
  include/rmm/mr/device/oom_callback_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

style: clang-format
  include/rmm/mr/device/oom_callback_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

style: flake8 & isort
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
Owners: @rapidsai/rmm-python-codeowners

doc and renaming closure => callback_arg
  include/rmm/mr/device/oom_callback_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Added c++ test
  tests/CMakeLists.txt
  tests/mr/device/oom_callback_mr_tests.cpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

more rename
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

update build string & version specs
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

throw `rmm::out_of_memory` when we know for sure
  include/rmm/detail/error.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

clang format
  include/rmm/detail/error.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

cmake: set LIBCUDACXX_INCLUDE_DIR
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Use views in multi_stream_allocations_bench
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Owners: @rapidsai/rmm-cpp-codeowners

cuda_pool_wrapper
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_pool_wrapper.hpp
  tests/mr/device/cuda_pool_wrapper_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Mark optional cuda runtime functions as weak symbols
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

fix style issues found by CI
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

correct typo
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

fix style issues found by CI
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Guard the weak markup to only happen on newer cudart versions
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Convert polymorphic_allocator and fix do_is_equal in all MRs
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/resource_view_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Make sure Cython can include `cuda/memory_resource`
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

cmake style
  CMakeLists.txt
  cmake/thirdparty/get_libcudacxx.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Use a macro instead of `__attribute__((weak))`
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Validate the cuda runtime also support cudaMemPool
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Correct style issues found by ci
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Don't clobber existing value for RMM_WEAK_ATTRIBUTE
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Eliminate Upstream pointers
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/device_buffer_tests.cu
  tests/logger_tests.cpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
  tests/resource_view_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add missing stream argument
  tests/mr/device/mr_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Switch device_scalar_tests to use resource_view
  tests/device_scalar_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Doc and renaming
  include/rmm/mr/device/oom_callback_resource_adaptor.hpp
  tests/mr/device/oom_callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

more renaming
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pyx
  scripts/run-clang-format.py
  tests/CMakeLists.txt
  tests/mr/device/failure_callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners

style
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Copyright
  python/rmm/_lib/__init__.pxd
  python/rmm/_lib/__init__.py
  python/rmm/_lib/device_uvector.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

even more renaming
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

copyright
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
