Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Add `gdb` pretty-printers for rmm types (#1088)
  CMakeLists.txt
  scripts/gdb-pretty-printers.py
  scripts/load-pretty-printers.in
Owners: @rapidsai/rmm-cmake-codeowners

rm $(arch)
  README.md
Owners: none

rm extraneous comments from `dependencies.yaml`
  dependencies.yaml
Owners: none

re-generate files w/ new header
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

rename job
  .github/workflows/dependency-files.yml
Owners: @rapidsai/ops-codeowners

Bifurcate Dependency Lists (#1073)
  .github/workflows/dependency-files.yml
  README.md
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Move clang dependency to develop packages.
  dependencies.yaml
Owners: none

Fix style issues found by CI
  include/rmm/detail/thrust_namespace.h
Owners: @rapidsai/rmm-cpp-codeowners

Fix style issues found by CI
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
Owners: @rapidsai/rmm-cpp-codeowners

Fix style issues found by ci
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
Owners: @rapidsai/rmm-cpp-codeowners

Support thrust_namespace.h being included before thrust headers
  include/rmm/detail/thrust_namespace.h
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
Owners: @rapidsai/rmm-cpp-codeowners

Refactor THRUST_WRAPPED_NAMESPACE logic to a shared header
  include/rmm/detail/thrust_namespace.h
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
Owners: @rapidsai/rmm-cpp-codeowners

another approach to the namespaces
  include/rmm/detail/thrust_namespace.h
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

rmm now supports being used with THRUST_WRAPPED_NAMESPACE
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Correct style issues found by CI
  include/rmm/detail/thrust_namespace.h
Owners: @rapidsai/rmm-cpp-codeowners

Correct style issues found by CI
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Move clang dependency to conda develop packages. (#1092)
  dependencies.yaml
Owners: none

build.sh: accept --help
  build.sh
Owners: none

`build.sh`: accept `--help` (#1093)
  build.sh
Owners: none

Formatting
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add initial cibuildwheel workflow
  .github/workflows/wheels-amd64.yml
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Build and test ARM64 wheels for RMM
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Add nvidia-smi to debug smoketest
  .github/workflows/wheels-amd64.yml
Owners: @rapidsai/ops-codeowners

Ignore wheelhouse dir
  .gitignore
Owners: none

Run on new manylinux container
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Add unit tests
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Remove debug calls to nvidia-smi
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Use combined build
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

statically link CUDA runtime if building wheels
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Switch from -cuda11 to -cu11 suffix
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Use new cibuildwheel branch
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Try building it in manylinux_2_27 container
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

set include_package_data=True for scikit-build
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Test rmm in ubuntu 18.04
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Split rmm into arch-specific wheels for manylinux2014
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Back to manylinux_2_31
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Switch to unified workflow for both arches
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Use single publish runner
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Switch to updated syntax with more bolts exposed
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

CallbackMemoryResource: handle exceptions
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners
