Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Change find_package name to lowercase rmm.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Fix case of rmm_FOUND.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

update-version.sh needs to also update the rapids-cmake download.
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Add newline for readability.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Fix regex.
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Only enable CUDA conditionally when building the CPP library.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

cmake-format.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Build python using conda in GPU jobs (#1017)
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Replace `to_device` with `DeviceBuffer.to_device`
  README.md
Owners: none

Use conda compilers
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

disable concurrnt builds
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Replace `to_device` with `DeviceBuffer.to_device` (#1033)
  README.md
Owners: none

Use new rapids-cython component of rapids-cmake to simplify builds (#1031)
  ci/release/update-version.sh
  python/CMakeLists.txt
  python/cmake/CMakeLists.txt
  python/cmake/rmm_python_helpers.cmake
  python/cmake/skbuild_patches.cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Clarify using RMM with other Python libraries
  README.md
Owners: none

mv withCredentials to shared lib
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

utilise shared fns
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

tmp cpu label for upload anac.
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Use our own declaration for cudaMemAllocationHandleType
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Revert "tmp cpu label for upload anac."
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Apply suggestions from code review
  README.md
Owners: none

Fix inverted logic and add parameter docs.
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Add `join` method to `DeviceBuffer`
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Fix optional syntax
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Update README.md
  README.md
Owners: none

Fix pre-CUDA 11.2 build.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Default enable_ipc to False
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Try something hacky...
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Update README.md
  README.md
Owners: none

tmp exit 1
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Revert "tmp exit 1"
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

cleanup
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/check_environment.sh
  ci/gpu_test.sh
  ci/upload_to_anaconda.sh
Owners: @rapidsai/ops-codeowners

add conda tokens
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

test building in non-rapids environment
  ci/check_environment.sh
Owners: @rapidsai/ops-codeowners

Revert "test building in non-rapids environment"
  ci/check_environment.sh
Owners: @rapidsai/ops-codeowners

Clarify using RMM with other Python libraries (#1034)
  README.md
Owners: none

Add our own allocation_handle_type enum so we don't leak a CUDA version dependency. Cython is not working -- not sure how to do it.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Move allocation_handle_type declaration under different namespace
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Remove unused Cython duplicate cudaMemAllocationHandleType
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

add style and size checks
  ci/Jenkinsfile
  ci/check_size.sh
  ci/check_style.sh
Owners: @rapidsai/ops-codeowners

syntax err
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners
