Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Avoid recursion in CUDADriverError and CUDARuntimeError
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Just don't worry about it.
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Replace use of custom CUDA bindings with CUDA-Python (#930)
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/recipes/rmm/meta.yaml
  python/rmm/_cuda/10.1/gpu.pxi
  python/rmm/_cuda/10.2/gpu.pxi
  python/rmm/_cuda/11.x/gpu.pxi
  python/rmm/_cuda/gpu.py
  python/rmm/_cuda/stream.pxd
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/memory_resource.pyx
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Use numba to get CUDA runtime version.
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Update python/rmm/_cuda/gpu.py
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Fix style.
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Use numba to get CUDA runtime version. (#946)
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Build benchmarks in RMM CI (#941)
  build.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Prepare upload scripts for Python 3.7 removal
  ci/cpu/prebuild.sh
Owners: @rapidsai/ops-codeowners

Correctly manage the lifetime of MR
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Prepare upload scripts for Python 3.7 removal (#952)
  ci/cpu/prebuild.sh
Owners: @rapidsai/ops-codeowners

Apply suggestions from code review
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

clang format
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

ALways upload librmm
  ci/cpu/prebuild.sh
Owners: @rapidsai/ops-codeowners

Always upload librmm (#960)
  ci/cpu/prebuild.sh
Owners: @rapidsai/ops-codeowners

Make `pool_memory_resource::pool_size()` public
  include/rmm/mr/device/pool_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Replace `ccache` with `sccache`
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

use consistent build paths
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

fix project flash
  ci/cpu/build.sh
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Try to clean up a bit
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Make `pool_memory_resource::pool_size()` public (#962)
  include/rmm/mr/device/pool_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Adding yml file for cudatoolkit version 11.6
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

show sccache stats
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

rm zero stats
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

Added yml file for cudatoolkit version 11.6 (#964)
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Add test and fix for comparison of async MRs with different underlying pools.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

copyright
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add device_buffer::ssize() and device_uvector::ssize()
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

copyrights
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix build when RMM_CUDA_MALLOC_ASYNC_SUPPORT is false.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

update changelog
  CHANGELOG.md
Owners: none

Replace `ccache` with `sccache` (#963)
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

docs
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix comparison of async MRs with different underlying pools. (#965)
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add device_buffer::ssize() and device_uvector::ssize() (#966)
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add CMake `install` rules for tests
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

add install DESTINATION
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

update RPATH to account for new DESTINATION
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Fix signed/unsigned comparison warning
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix signed/unsigned comparison warning (#970)
  include/rmm/device_buffer.hpp
Owners: @rapidsai/rmm-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
