Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Add CMake `install` rules for tests (#969)
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

initial work on scikit-build
  .gitignore
  ci/release/update-version.sh
  cmake/cmake
  python/CMakeLists.txt
  python/cmake
  python/pyproject.toml
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/rmm/tests/CMakeLists.txt
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Remove unnecessary cmake symlinks.
  cmake/cmake
  python/cmake
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Apply linters.
  cmake/config.json
  python/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Fix install paths in cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/rmm/tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Minimal changes to get rmm to compile.
  ci/release/update-version.sh
  python/CMakeLists.txt
  python/pyproject.toml
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/rmm/tests/CMakeLists.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Fix install destination.
  python/cmake/rmm-python-helpers.cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Move cython module adding logic to a function.
  python/CMakeLists.txt
  python/cmake/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Add TODOs documenting various issues discovered.
  python/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Some degree of further simplification.
  python/CMakeLists.txt
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Add missing copyrights.
  python/cmake/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
Owners: @rapidsai/rmm-cmake-codeowners

add jenkinsfile
  ci/pr.Jenkinsfile
Owners: @rapidsai/ops-codeowners

try regular Docker plugin
  ci/pr.Jenkinsfile
Owners: @rapidsai/ops-codeowners

test GPU docker
  ci/pr.Jenkinsfile
Owners: @rapidsai/ops-codeowners

update changelog
  CHANGELOG.md
Owners: none

ls inside container
  ci/pr.Jenkinsfile
Owners: @rapidsai/ops-codeowners

update librmm recipe to include multiple outputs
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Cleanup CI
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/docs/build.sh
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

update pipeline to do conda build
  ci/pr.Jenkinsfile
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix `conda` uploads
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

Fix `conda` uploads (#974)
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

update croot
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

update croot (#975)
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

Some basic cleanup.
  python/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
Owners: @rapidsai/rmm-cmake-codeowners

test pipeline structure
  ci/pr.Jenkinsfile
Owners: @rapidsai/ops-codeowners

Use cmake_path to compute install destination.
  python/cmake/rmm-python-helpers.cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Add an option to look for existing rmm installations rather than pulling from the source directory.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Run formatters.
  python/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Remove unnecessary includes and add some comments.
  python/cmake/rmm-python-helpers.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Remove unnecessary CUDAToolkit.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Fix formatting.
  python/cmake/rmm-python-helpers.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Fix warning/error in assertion in debug build
  include/rmm/device_uvector.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add new benchmarks comparing concurrent throughput of device_vector and device_uvector
  benchmarks/device_uvector/device_uvector_bench.cu
Owners: @rapidsai/rmm-cpp-codeowners

update librmm recipe to include multiple outputs
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

rm variables that exist in CI container
  ci/cpu/build.sh
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

update upload script to account for multiple librmm pkgs
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

update ci/gpu/build.sh to use librmm_tests pkg
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

debug conda error
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Revert "debug conda error"
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Bump Python requirements in setup.cfg
  python/setup.cfg
Owners: @rapidsai/rmm-python-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
