Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Use `lib` (not `lib64`) for libraries (backport from 22.06 to 22.04) (#1026)
  build.sh
  conda/recipes/rmm/build.sh
Owners: @rapidsai/ops-codeowners

REL v22.04.01 release
  CMakeLists.txt
  python/CMakeLists.txt
  python/docs/conf.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

upload distinct py packages
  ci/build_py.sh
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

cleanup
  ci/Jenkinsfile
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

misc. file clean-up
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

Add a test for allocate/deallocate
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add header
  tests/mock_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add example
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Copyright
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Copyright
  tests/mr/device/aligned_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Callback memory resource (#980)
  include/rmm/mr/device/callback_memory_resource.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/mock_resource.hpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners

enable librmm debug build
  conda/recipes/librmm/build.sh
Owners: @rapidsai/ops-codeowners

add -p flag to mkdir
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

add debug cmds to gpu_test.sh
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

update coredump location
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

add cleanWs back
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Update cmake-format version for pre-commit and environments.
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Change all cmake-format requirements to cmakelang.
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Build python using conda in GPU jobs
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

pr reviews
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

Update cmake-format version for pre-commit and environments. (#995)
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Add rmm::exec_policy_nosync (#1009)
  include/rmm/exec_policy.hpp
Owners: @rapidsai/rmm-cpp-codeowners

correct paths
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

rm redundant step
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

add comments to Jenkinsfile
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

rm uneeded lines
  ci/Jenkinsfile
  ci/gpu_test.sh
  conda/recipes/librmm/build.sh
Owners: @rapidsai/ops-codeowners

add timeout to stages
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

opt-in to IPC handle export type
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Attempt at updating Cython for handle type parameter
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

style
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

style
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Switch build to use rapids-cython.
  python/CMakeLists.txt
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Remove now obsolete cmake directory.
  python/cmake/CMakeLists.txt
  python/cmake/rmm_python_helpers.cmake
  python/cmake/skbuild_patches.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Remove inaccurate TODO, discovery is configurable using standard CMake variables.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

More Cython struggles
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Update RAPIDS.cmake link.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

cimport
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Fix style.
  python/CMakeLists.txt
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Remove cython from install_requires.
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Apply cmake-format.
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
