Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Update include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

update env vars during builds
  ci/build_cpp.sh
  ci/build_py.sh
Owners: @rapidsai/ops-codeowners

update ops-bot.yaml config
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

update stage string
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

add failFast option
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

set correct nightly stage
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Check for CUDA error when testing handle type support.
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Change default `enable_ipc` back to True
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

trigger test
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

add ghtk to checks
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

add failfast to parallel stages
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Default enable_ipc to false, raise error if not supported, and test for error.
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Revert "Make IPC handle export optional in cuda_async_memory_resource"
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Revert "Revert "Make IPC handle export optional in cuda_async_memory_resource""
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Revert "Revert "Make IPC handle export optional in cuda_async_memory_resource"" (#1051)
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

update ops-bot config
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

test failFast
  ci/Jenkinsfile
  ci/build_cpp.sh
Owners: @rapidsai/ops-codeowners

rm failFast
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

rm Failfn
  ci/build_cpp.sh
Owners: @rapidsai/ops-codeowners

update img, install & build commands
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

use gpuci_mamba_retry
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

Change build.sh to find C++ library by default.
  build.sh
Owners: none

Add quotes.
  build.sh
Owners: none

Don't throw on cudaErrorInvalidValue in is_export_handle_type_supported
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

clang-format
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

create new environment for tests
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

Revert "create new environment for tests"
  ci/gpu_test.sh
Owners: @rapidsai/ops-codeowners

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

clang-format
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Avoid shadowing CMAKE_ARGS variable in build.sh for conda-forge compatibility.
  build.sh
Owners: none

Change build.sh to find C++ library by default and avoid shadowing CMAKE_ARGS (#1053)
  build.sh
Owners: none

Properly handle cudaMemHandleTypeNone and cudaErrorInvalidValue in is_export_handle_type_supported (#1055)
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

update changelog
  CHANGELOG.md
Owners: none

REL v22.06.00 release
  python/docs/conf.py
Owners: @rapidsai/rmm-python-codeowners

add wsl2 nightly stage
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

rm redundant UPLOAD_PKGS
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

arrange stgs
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

correct wsl2 stage impl
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

test wsl2 impl. - temp change
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Add a noexcept
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
