Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

fix compile
  include/rmm/mr/device/sam_headroom_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

review comments
  include/rmm/mr/device/sam_headroom_resource_adaptor.hpp
  include/rmm/mr/device/system_memory_resource.hpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
  tests/mr/device/system_mr_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Avoid --find-links in wheel jobs (#1586)
  ci/build_wheel_python.sh
Owners: @rapidsai/ci-codeowners

fix copyright
  tests/mr/device/mr_ref_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

fix formatting
  tests/mr/device/mr_ref_test.hpp
Owners: @rapidsai/rmm-cpp-codeowners

fix doc on cuda::mr::host_accessible
  include/rmm/mr/device/system_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

align system allocated memory with cuda alignment
  include/rmm/mr/device/system_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

fix tests on grace hopper
  include/rmm/mr/device/system_memory_resource.hpp
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
  tests/mr/device/system_mr_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

fix copyright in mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Check if stack is empty before accessing top
  include/rmm/mr/device/statistics_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

whitespace
  include/rmm/mr/device/statistics_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Refactor mr_ref_tests to not depend on MR base classes
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/host/mr_ref_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

simplify and document counter stack invariant
  include/rmm/mr/device/statistics_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

sam is device accessible
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
  tests/mr/device/test_utils.hpp
Owners: @rapidsai/rmm-cpp-codeowners

incorporate bad_alloc message
  include/rmm/mr/device/system_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update link in README.md
  README.md
Owners: none

Update Thrust CMake Guide link in README.md (#1593)
  README.md
Owners: none

Avoid accessing statistics_resource_adaptor stack top if it is empty (#1588)
  include/rmm/mr/device/statistics_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add system memory resource (#1581)
  include/rmm/mr/device/sam_headroom_resource_adaptor.hpp
  include/rmm/mr/device/system_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
  tests/mr/device/system_mr_tests.cu
  tests/mr/device/test_utils.hpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Refactor mr_ref_tests to not depend on MR base classes (#1589)
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/host/mr_ref_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Use verify-alpha-spec hook
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Use verify-alpha-spec hook (#1601)
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Use resource_ref for get/set_per_device_resource and many related changes.
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/rmm/_lib/_torch_allocator.cpp
  tests/CMakeLists.txt
  tests/container_multidevice_tests.cu
  tests/cuda_stream_tests.cpp
  tests/device_check_resource_adaptor.hpp
  tests/mock_resource.hpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
  tests/mr/host/mr_ref_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners

Add documentation for CPM usage
  README.md
Owners: none

Add RMM_USE_NVTX cmake option to provide localized control of NVTX for RMM
  CMakeLists.txt
  include/rmm/detail/nvtx/ranges.hpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

skip CMake 3.30.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/conda_build_config.yaml
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners

skip CMake 3.30.0 (#1603)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/conda_build_config.yaml
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Remove USE_NVTX and change to a disable compile flag
  CMakeLists.txt
  include/rmm/detail/nvtx/ranges.hpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Revert "Remove HTML builds of librmm (#1415)"
  ci/build_docs.sh
  doxygen/Doxyfile
Owners: @rapidsai/ci-codeowners

add python support for system mr
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

managed and system are mutually exclusive
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/rmm.py
  python/rmm/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

add tests for system mr
  python/rmm/rmm/mr.py
  python/rmm/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

fix lint errors
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/mr.py
  python/rmm/rmm/rmm.py
  python/rmm/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

reformat
  python/rmm/rmm/rmm.py
  python/rmm/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Disable RMM NVTX ranges by default
  CMakeLists.txt
  include/rmm/detail/nvtx/ranges.hpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Update shared-workflows branch.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

Use earliest dependencies in conda tests.
  ci/test_python.sh
  dependencies.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Build and test with CUDA 12.5.1
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners

Change option from RMM_USE_NVTX to RMM_NVTX
  CMakeLists.txt
  include/rmm/detail/nvtx/ranges.hpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Add prefetch resource adaptor.
  include/rmm/mr/device/prefetch_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners
