Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Workaround for cuda event deadlocking issues in device mr tests
  tests/mr/device/mr_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

remove unneded cv notify
  tests/mr/device/mr_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Address style issues brought up in code review
  tests/mr/device/mr_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove testing code
  tests/mr/device/mr_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Typo
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

FailureCallbackResourceAdaptor: support Python exceptions
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Address style issues brought up in code review
  tests/mr/device/mr_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Document that minimum required CMake version is now 3.23.1
  CMakeLists.txt
  README.md
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/CMakeLists.txt
  python/pyproject.toml
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Add GitHub Actions workflows
  .github/workflows/branch-workflow.yaml
  .github/workflows/dependency-files.yml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr-workflow.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/upload_to_anaconda.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Add GitHub Actions workflows
  .github/workflows/branch-workflow.yaml
  .github/workflows/dependency-files.yml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr-workflow.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/upload_to_anaconda.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

DOC
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/CMakeLists.txt
  python/docs/conf.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Sync the default stream in c_from_unique_ptr
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Sync stream in c_from_unique_ptr
  python/rmm/_lib/device_buffer.pxd
Owners: @rapidsai/rmm-python-codeowners

Remove unneeded unlock as destructor does it
  tests/mr/device/mr_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Ensure consistent spdlog dependency target no matter the source
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Correct style issues found by CI
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Keep ref to mr/stream
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Document that minimum required CMake version is now 3.23.1 (#1098)
  CMakeLists.txt
  README.md
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/CMakeLists.txt
  python/pyproject.toml
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Support using THRUST_WRAPPED_NAMESPACE (#1077)
  include/rmm/detail/thrust_namespace.h
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
  tests/CMakeLists.txt
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

translate_python_except_to_cpp: BaseException is default
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Use main branch for shared workflows
  .github/workflows/branch-workflow.yaml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr-workflow.yaml
Owners: @rapidsai/ops-codeowners

Cleanup scripts
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Use rapids-mamba-retry in checks and tests
  ci/check_style.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Remove cuda event deadlocking issues in device mr tests (#1097)
  tests/mr/device/mr_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add GitHub Actions workflows
  .github/workflows/branch-workflow.yaml
  .github/workflows/dependency-files.yml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr-workflow.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/upload_to_anaconda.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Force creation of conda envs in checks and tests
  ci/check_style.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Propagate exceptions raised in Python callback functions (#1096)
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add initial cibuildwheel workflow
  .github/workflows/wheels-amd64.yml
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Remove debug calls to nvidia-smi
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Run on new manylinux container
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Add unit tests
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Add nvidia-smi to debug smoketest
  .github/workflows/wheels-amd64.yml
Owners: @rapidsai/ops-codeowners

Ignore wheelhouse dir
  .gitignore
Owners: none

Use combined build
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Build and test ARM64 wheels for RMM
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Split rmm into arch-specific wheels for manylinux2014
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Switch to unified workflow for both arches
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Use new cibuildwheel branch
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Back to manylinux_2_31
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

statically link CUDA runtime if building wheels
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
