Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Test rmm in ubuntu 18.04
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

set include_package_data=True for scikit-build
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Try building it in manylinux_2_27 container
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Switch from -cuda11 to -cu11 suffix
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Use single publish runner
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Switch to updated syntax with more bolts exposed
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Override versioneer style to pep440-pre
  python/setup.cfg
Owners: @rapidsai/rmm-python-codeowners

Versioneer isn't that cool
  .github/workflows/wheels.yml
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Ensure consistent spdlog dependency target no matter the source (#1101)
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

style
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add test reports
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

enable recently_updated check
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Buf -> stream
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Avoid unused parameter warnings in do_get_mem_info (#1084)
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Testing build-tag incrementer
  .github/workflows/wheels.yml
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Improve versioneer override
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

switch pkg uploads to use GH Actions
  .github/workflows/nightly-workflow.yaml
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

switch py.test to pytest
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

revert sccache prefix change
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Add GitHub Actions workflows (#1104)
  .github/workflows/branch-workflow.yaml
  .github/workflows/dependency-files.yml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr-workflow.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/cpu/build.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/upload_to_anaconda.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

retrigger GH Actions after shared workflow changes
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Add empty build tag
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

update GitHub Actions
  .github/workflows/branch-workflow.yaml
  .github/workflows/nightly-workflow.yaml
  ci/upload_to_anaconda.sh
Owners: @rapidsai/ops-codeowners

Verify test-checkout-src default behavior
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Add LICENSE file for wheel
  python/LICENSE
Owners: @rapidsai/rmm-python-codeowners

Bump build tag for LICENSE
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

add nightly-test workflow
  .github/workflows/nightly-test-workflow.yaml
Owners: @rapidsai/ops-codeowners

Remove `rmm` installation from `librmm` tests`
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Remove `rmm` installation from `librmm` tests` (#1117)
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Add `cudatoolkit` versions to `dependencies.yaml`
  dependencies.yaml
Owners: none

bifurcate test env into test_cpp & test_python
  ci/test_cpp.sh
  ci/test_python.sh
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

add fix for Jenkins
  ci/cpu/build.sh
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Add `cudatoolkit` versions to `dependencies.yaml` (#1119)
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/test_cpp.sh
  ci/test_python.sh
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

use branch w/ temporary test matrix
  .github/workflows/pr-workflow.yaml
Owners: @rapidsai/ops-codeowners

Use numba to get the driver version?
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

update nightly workflow
  .github/workflows/nightly.yaml
Owners: @rapidsai/ops-codeowners

update shared-action-branches
  .github/workflows/branch-workflow.yaml
  .github/workflows/pr-workflow.yaml
Owners: @rapidsai/ops-codeowners

add `date` input
  .github/workflows/branch-workflow.yaml
Owners: @rapidsai/ops-codeowners

WIP [skip ci] tweak nightly workflows
  .github/workflows/branch-workflow.yaml
  .github/workflows/nightly-workflow.yaml
Owners: @rapidsai/ops-codeowners

rename workflows & use shared workflow for triggering nightly tests
  .github/workflows/branch.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners
