Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Add explicit template instantiations to tests as needed
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/mr/device/thread_safe_adaptor_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Update `conda` recipes for Enhanced Compatibility effort (#893)
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Use spdlog/fmt/ostr.h as it supports external fmt library
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

DOC v22.02 Updates
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Use spdlog/fmt/ostr.h as it supports external fmt library (#907)
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

[DO NOT MERGE] Dummy PR to Test CuPy Fixes
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Fix `librmm` uploads [skip-ci]
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

Fix `librmm` uploads (#909)
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

update upload script
  ci/cpu/upload.sh
Owners: @rapidsai/ops-codeowners

build 2 variants of rmm & 1 of librmm
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

mv BUILD_FLAGS to build.sh script
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

add {has,no}_cma variants back to `librmm`
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

make superblocks persistent between different arenas
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Revert "add {has,no}_cma variants back to `librmm`"
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Replace use of KEEP_DIR and fix formatting
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Revert changes to improve code coverage.
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/mr/device/thread_safe_adaptor_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Remove thread_safe_adaptor tests
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Parameterize exception type caught by failure_callback_resource_adaptor (#898)
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  tests/mr/device/failure_callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

C++ code coverage support (#905)
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  gcovr.cfg
  tests/CMakeLists.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cmake-codeowners

Update recipes for Enhanced Compatibility (#910)
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Backport #886 to `branch-21.10`
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Backport #886 to `branch-21.10` (#911)
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

fix segfault
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

add back memory dump
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

suppress spurious clang-tidy warnings in debug macros
  include/rmm/detail/error.hpp
Owners: @rapidsai/rmm-cpp-codeowners

switch to map for superblocks
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add functions to query the stream of device_uvector and device_scalar (#887)
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

suppress spurious clang-tidy warnings in debug macros (#914)
  include/rmm/detail/error.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add thread_safe_adaptor tests
  tests/CMakeLists.txt
  tests/mr/device/thread_safe_adaptor_tests.cpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Improve cuda_stream test coverage
  tests/cuda_stream_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Switch RMM_ROOT to RMM_BUILD_DIR.
  scripts/run-cmake-format.sh
Owners: none

Update pre-commit configuration to use new linting script.
  .pre-commit-config.yaml
Owners: none

Add cmake formatting script.
  scripts/run-cmake-format.sh
Owners: none

Remove trailing comma.
  scripts/run-cmake-format.sh
Owners: none

add some tests
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

add more tests
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

fix clang tidy warnings in test
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

add some logging asserts
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

more tests for global arena
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

add back defrag
  include/rmm/mr/device/arena_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners
