Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Update `librmm` recipe to output `librmm_tests` package (#978)
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Other 3.7 references
  README.md
  conda/environments/rmm_dev_cuda11.5.yml
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Remove upper bound from setup.cfg
  python/setup.cfg
Owners: @rapidsai/rmm-python-codeowners

Avoid repeated nullptr check
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.5.yml
Owners: @rapidsai/ops-codeowners

Update 11.6 dev yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Cleanup / suggested changes from review
  benchmarks/device_uvector/device_uvector_bench.cu
Owners: @rapidsai/rmm-cpp-codeowners

Update README.md
  README.md
Owners: none

Prevent scikit-build from marking all symbols as local, which clobbers the visibility attribute ensuring that per device resources are consistent across all objects in a shared library.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Silence CMake warnings about an unused variable.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Run cmake-format.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

integer type consistency
  benchmarks/device_uvector/device_uvector_bench.cu
Owners: @rapidsai/rmm-cpp-codeowners

Address PR comments.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

New benchmark compares concurrent throughput of device_vector and device_uvector (#981)
  benchmarks/device_uvector/device_uvector_bench.cu
Owners: @rapidsai/rmm-cpp-codeowners

Stop on first test failure.
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Actually stop on first test failure.
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Add scikit-build to all conda environment and recipes as well as the dev requirements file.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/dev_requirements.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Disable cudaMallocAsync using CMake directly now that we have access from setup.py builds using scikit-build.
  build.sh
Owners: none

Pass CMake variable correctly.
  build.sh
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Remove unnecessary endifs.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Move scikit-build override to separate helper file and add license.
  python/CMakeLists.txt
  python/cmake/set_python_visibility.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Run cmake-format.
  python/cmake/set_python_visibility.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Revert "Run cmake-format."
  python/cmake/set_python_visibility.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Revert "Move scikit-build override to separate helper file and add license."
  python/CMakeLists.txt
  python/cmake/set_python_visibility.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Update CMake requirement in pyproject.toml.
  python/pyproject.toml
Owners: @rapidsai/rmm-python-codeowners

Add cmake to meta.yaml and make scikit-build version explicit in pyproject.toml.
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Disable async support.
  build.sh
Owners: none

Use add_compile_definitions correctly.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Request verbose output from ninja and make sure to tell the install step to build without async support as well just in case.
  build.sh
Owners: none

Selectively disable async APIs and remove unnecessary verbosity.
  build.sh
Owners: none

Clear _skbuild dir to avoid pulling builds from other executors.
  build.sh
Owners: none

Stop failing on the first test and print some information about where the rmm module is being imported from.
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

update recipe
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

mv bash quotes to enable shell expansion
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

fix mamba install command
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

skip ASYNC tests on older, unsupported CUDA versions
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Update `librmm` `conda` outputs (#983)
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix warning/error in debug assertion in device_uvector.hpp (#979)
  include/rmm/device_uvector.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Go back to failing on first error to avoid segfault.
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Print info before failure.
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
