Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Fix error message
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

TST Test commit to trigger CI
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Python bindings for `cuda_async_memory_resource` (#718)
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_cuda/11.x/gpu.pxi
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  python/setup.py
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Add support for streams in CuPy allocator (#654)
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/device_buffer.pyx
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add Cython definitions for device_uvector
  python/rmm/_lib/device_uvector.pxd
Owners: @rapidsai/rmm-python-codeowners

Copyright
  python/rmm/_lib/device_uvector.pxd
Owners: @rapidsai/rmm-python-codeowners

Add Cython definitions for device_uvector (#720)
  python/rmm/_lib/device_uvector.pxd
Owners: @rapidsai/rmm-python-codeowners

Clarify log file name behaviour
  python/rmm/_lib/memory_resource.pyx
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Make it invalid to pass a literal value to `rmm::device_uvector::set_value_async`
  include/rmm/device_uvector.hpp
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Make it invalid to pass a literal value to `rmm::device_scalar::set_value` and add `set_value_zero`
  include/rmm/device_scalar.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update Changelog Link
  CHANGELOG.md
Owners: none

Update Changelog Link (#723)
  CHANGELOG.md
Owners: none

Add a get_log_filenames API to get the filename per-device. More doc
  python/rmm/__init__.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Return a mapping in get_log_filenames instead
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Add optimized set_value for bools, and `set_value_zero`
  include/rmm/device_scalar.hpp
Owners: @rapidsai/rmm-cpp-codeowners

CMAKE_CUDA_ARCHITECTURES doesn't change when build-system invokes cmake
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

CMAKE_CUDA_ARCHITECTURES doesn't change when build-system invokes cmake (#726)
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Type->ValueError
  python/rmm/_lib/memory_resource.pyx
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

call enable_language(CUDA) after any potential rewrites of CMAKE_CUDA_ARCHITECTURES
  CMakeLists.txt
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Fix auto-detecting GPU architectures (#727)
  CMakeLists.txt
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Fix host_memory_resource signature typo
  README.md
Owners: none

set CMAKE_CUDA_ARCHITECTURES to OFF instead of undefined
  cmake/Modules/EvalGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

set CMAKE_CUDA_ARCHITECTURES to OFF instead of undefined (#729)
  cmake/Modules/EvalGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Simplify boolean logic and fix doc error.
  include/rmm/device_scalar.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Expand device_scalar tests to bool and floating point types
  tests/device_scalar_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix host_memory_resource signature typo (#728)
  README.md
Owners: none

TST DOC Change
  README.md
Owners: none

remove reference to CMAKE_CURRENT_BINARY_DIR in rmm's target_include_directories
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

fix lint
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

actually fix lint
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Remove CMAKE_CURRENT_BINARY_DIR path in rmm's target_include_directories (#731)
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

make allocation tracking optional in arena
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

arena_memory_resource optimization: disable tracking allocated blocks by default (#732)
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Owners: @rapidsai/rmm-cpp-codeowners

fix rmm build
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Fix setup.py to work in a non-conda environment setup (#733)
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Use abspath
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Add example
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Fix example
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Change ashwin->user
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

device_uvector can be used within thrust::optional
  conda/recipes/librmm/meta.yaml
  include/rmm/detail/exec_check_disable.hpp
  include/rmm/device_uvector.hpp
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cpp-codeowners
