Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

rm old build scripts
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/local/README.md
  ci/local/build.sh
Owners: @rapidsai/ops-codeowners

update any gpuCI references
  .github/labeler.yml
  CONTRIBUTING.md
  README.md
Owners: @rapidsai/ops-codeowners

Use `ninja` in GitHub Actions (#1142)
  ci/build_cpp.sh
  ci/build_python.sh
Owners: @rapidsai/ops-codeowners

Remove Jenkins scripts (#1143)
  .github/labeler.yml
  CONTRIBUTING.md
  README.md
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/local/README.md
  ci/local/build.sh
Owners: @rapidsai/ops-codeowners

Enable sccache for python build
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Enable sccache for python build (#1145)
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Added required Python deps to build RMM
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update dependencies schema.
  dependencies.yaml
Owners: none

Document required Python dependencies to build from source (#1146)
  README.md
Owners: none

Don't disable CUDA_STATIC_RUNTIME just because we're not building wheels.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Properly set options in wheels.yml for static cudart.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Fix comment.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Temporarily remove unnecessary workflows.
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

rmm doesn't actually need cuda to compile.
  .github/workflows/wheels.yml
  python/CMakeLists.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cmake-codeowners

Change command from py.test to pytest.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Update cuda-python requirement and standardize location.
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

DOC Update versions to 22.10.01
  CMakeLists.txt
  python/CMakeLists.txt
  python/docs/conf.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Iterate on new wheel-ci-actions-3 branch
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Remove conda workflows.
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Try new per-arch cibuildwheel
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Update dependencies schema. (#1147)
  dependencies.yaml
Owners: none

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Remove CUDA 11.0.
  dependencies.yaml
Owners: none

Test auto version guessing
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Bump
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners
