Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Remove `no_cma`/`has_cma` variants (#996)
  benchmarks/CMakeLists.txt
  build.sh
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Rename `librmm_tests` to `librmm-tests` (#1000)
  ci/gpu/build.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

add PR and nightly tests specs
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

delete old jenkinsfile
  ci/Jenkinsfile
  ci/pr.Jenkinsfile
Owners: @rapidsai/ops-codeowners

Bump Python requirements in `setup.cfg` and `rmm_dev.yml` (#982)
  README.md
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

update to use parallels instead of matrix
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

update rmm numba mem manager to handle new bindings
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add cudart api wrapper for cudaDeviceGetDefaultMemPool
  include/rmm/detail/dynamic_load_runtime.hpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

update `ops-bot` config file
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

update `ops-bot` config file (#1005)
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Allow construction of cuda_async_memory_resource from existing pool (#889)
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add rmm::exec_policy_nosync
  include/rmm/exec_policy.hpp
Owners: @rapidsai/rmm-cpp-codeowners

update get_ipc_handle
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update black version.
  .pre-commit-config.yaml
  ci/checks/style.sh
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Update conda environments.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Clean up includes to support Thrust 1.16.
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/mr/device/thrust_allocator_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Remove thrust:: calls mentioned in comments.
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Clean up Thrust includes. (#1011)
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/mr/device/thrust_allocator_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Pin click version to last support by black<22.3.0.
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Fix formatting.
  .pre-commit-config.yaml
Owners: none

Pin CMake to last working version.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Owners: @rapidsai/ops-codeowners

Update meta.yaml files and pyproject.toml.
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Remove pip requirements file.
  python/dev_requirements.txt
Owners: @rapidsai/rmm-python-codeowners

Update dev_requirements.
  python/dev_requirements.txt
Owners: @rapidsai/rmm-python-codeowners

Remove pip requirements file. (#1015)
  python/dev_requirements.txt
Owners: @rapidsai/rmm-python-codeowners

Pin CMake to last working version. (#1014)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Update black version (#1010)
  .pre-commit-config.yaml
  ci/checks/style.sh
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

updated style stage
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

added check size steps
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

Formatting
  include/rmm/exec_policy.hpp
Owners: @rapidsai/rmm-cpp-codeowners

cuda job stage
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

temporarily skip size and style stages
  ci/Jenkinsfile
Owners: @rapidsai/ops-codeowners

update changelog
  CHANGELOG.md
Owners: none

Properly enable Cython docstrings.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Remove unnecessary space.
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Properly enable Cython docstrings. (#1020)
  python/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

style
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update `RMMNumbaManager` to handle `NUMBA_CUDA_USE_NVIDIA_BINDING=1` (#1004)
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Expose `allocate()` and `deallocate()`
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Add another test
  tests/mr/device/callback_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
