Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Compatibility with CUDA < 11.1
  include/rmm/cuda_event_view.hpp
Owners: @rapidsai/rmm-cpp-codeowners

typo
  include/rmm/cuda_stream_view.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Use is_default() to check if the stream is legacy default
  include/rmm/cuda_stream_view.hpp
Owners: @rapidsai/rmm-cpp-codeowners

python cuda version updates
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

REL v21.08.02 release
  CMakeLists.txt
  python/docs/conf.py
  python/setup.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

correct namespaces
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

DOC v21.12 Updates
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
  python/setup.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Disallow zero-size stream pool
  include/rmm/cuda_stream_pool.hpp
  tests/cuda_stream_pool_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Disallow zero-size stream pools (#873)
  include/rmm/cuda_stream_pool.hpp
  tests/cuda_stream_pool_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Correct namespace usage in host memory resources (#872)
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix parameter name in assert.
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix parameter name in asserts (#875)
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Make sure we keep the rapids-cmake and rmm cal version in sync
  CMakeLists.txt
  ci/release/update-version.sh
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Keep rapids cmake version in sync (#876)
  CMakeLists.txt
  ci/release/update-version.sh
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Add templates to allow enforcing cuda_event_flags safety
  include/rmm/cuda_event.hpp
  include/rmm/cuda_event_view.hpp
  include/rmm/cuda_stream.hpp
  include/rmm/cuda_stream_view.hpp
  tests/cuda_event_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Make libcudacxx available for cuda::memory_resource
  CMakeLists.txt
  cmake/thirdparty/get_libcudacxx.cmake
Owners: @rapidsai/rmm-cmake-codeowners

REL v21.10.00 release
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Add bindings for cuPointerGetAttribute
  python/rmm/_cuda/10.1/gpu.pxi
  python/rmm/_cuda/10.2/gpu.pxi
  python/rmm/_cuda/11.x/gpu.pxi
  python/rmm/_cuda/gpu.pyx
Owners: @rapidsai/rmm-python-codeowners

re-enable warnings as errors for .cu compilation units.
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Make thrust_allocator_tests actually use the different MRs.
  tests/mr/device/thrust_allocator_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Add missing header
  tests/mr/device/mr_multithreaded_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Make `device_memory_resource` inherit `cuda::stream_ordered_memory_resource<cuda::memory_kind::device>`
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix return value docs for supports_get_mem_info
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
Owners: @rapidsai/rmm-cpp-codeowners

cmake style
  CMakeLists.txt
  cmake/thirdparty/get_libcudacxx.cmake
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

cmake style iter 2
  CMakeLists.txt
  cmake/thirdparty/get_libcudacxx.cmake
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Update cmake/thirdparty/get_libcudacxx.cmake
  cmake/thirdparty/get_libcudacxx.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Update cmake/thirdparty/get_libcudacxx.cmake
  cmake/thirdparty/get_libcudacxx.cmake
Owners: @rapidsai/rmm-cmake-codeowners

add spdlog to install export set
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

fix lint
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

only install spdlog
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

add some tests for arena mr
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/CMakeLists.txt
  tests/mr/device/arena_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

Add member functions to query the active stream of device_uvector and device_scalar
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
Owners: @rapidsai/rmm-cpp-codeowners

remove unnecessary call to rapids_export_package
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

ENH Allow arbitrary CMake config options in build.sh
  build.sh
Owners: none

Add spdlog to install export set (#886)
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Allow construction of cuda_async_memory_resource from existing memory pool
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add set_stream() to device_uvector and device_scalar
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
Owners: @rapidsai/rmm-cpp-codeowners

ci/gpu/build.sh now specifies CMAKE_INSTALL_LIBDIR to enforce conda layout
  conda/recipes/librmm/build.sh
Owners: @rapidsai/ops-codeowners

ENH Allow arbitrary CMake config options in build.sh (#888)
  build.sh
  conda/recipes/librmm/build.sh
Owners: @rapidsai/ops-codeowners

REL v21.10.01 release
  CMakeLists.txt
  python/docs/conf.py
  python/setup.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners
