Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Document compute sanitizer memcheck support (#790)
  README.md
Owners: none

Improving method comment.
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Style cleanup.
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove leading zeros in version_config.hpp
  cmake/Modules/Version.cmake
  cmake/version_config.hpp.in
Owners: @rapidsai/rmm-cmake-codeowners

Fix predicate for testing cudaMallocAsync APIs
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Fix predicate for testing APIs requiring CUDAMallocAsync
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Fix predicate for testing APIs requiring CUDAMallocAsync (#795)
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Remove leading zeros in version_config.hpp (#793)
  cmake/Modules/Version.cmake
  cmake/version_config.hpp.in
Owners: @rapidsai/rmm-cmake-codeowners

Update build instruction in README
  README.md
Owners: none

Refactor `rmm::device_scalar` in terms of `rmm::device_uvector` (#789)
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add Statistics Resource Adaptor and cython bindings to `tracking_resource_adaptor` and `statistics_resource_adaptor` (#626)
  CMakeLists.txt
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

RMM now leverages rapids-cmake to reduce CMake boilerplate
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  cmake/Modules/CPM.cmake
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/RMM_thirdparty.cmake
  cmake/Modules/SetGPUArchs.cmake
  cmake/Modules/Version.cmake
  cmake/install/FindThrust.cmake
  cmake/rmm-config.cmake.in
  cmake/thirdparty/get_gbench.cmake
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
  cmake/version_config.hpp.in
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

FIX update-version.sh for CalVer
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

FIX update-version.sh for CalVer (#798)
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

update changelog
  CHANGELOG.md
Owners: none

RMM cmake-format checks are now aware of rapids_cmake commands
  ci/checks/style.sh
Owners: @rapidsai/ops-codeowners

Update CMake code to pass format and lint checks
  CMakeLists.txt
  cmake/rapids-cmake.json
  cmake/thirdparty/get_gbench.cmake
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Update CMake minimum required in conda recipes
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
Owners: @rapidsai/ops-codeowners

Update CMake minimum required in conda recipes
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Update README with new minimum required CMake version
  README.md
Owners: none

Correct install rules to not attempt to change the 'include' directory permissions
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

More style updates required by cmake-lint
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

fix changelog
  CHANGELOG.md
Owners: none

fix changelog (#801)
  CHANGELOG.md
Owners: none

Update README.md
  README.md
Owners: none

Bump isort, enable Cython package resorting
  .pre-commit-config.yaml
  ci/checks/style.sh
Owners: @rapidsai/ops-codeowners

Add settings path arg to gpuCI check
  ci/checks/style.sh
Owners: @rapidsai/ops-codeowners

Fix incorrect href in README.md (#804)
  README.md
Owners: none

remove unneeded rapids-cmake.json file
  cmake/rapids-cmake.json
Owners: @rapidsai/rmm-cmake-codeowners

Remove incorrect `upstream=` parameter in docs
  README.md
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

Fix PoolMemoryResource Python doc examples (#807)
  README.md
  python/docs/basics.md
Owners: @rapidsai/rmm-python-codeowners

Fix building on CUDA 11.3
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Fix building on CUDA 11.3 (#809)
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Initial cuda::memory_resource based resource and tests
  CMakeLists.txt
  cmake/thirdparty/RMM_GetLibcudacxx.cmake
  include/rmm/mr/libcudacxx/device/cuda_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/device_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/owning_wrapper.hpp
  include/rmm/mr/libcudacxx/device/per_device_resource.hpp
  tests/CMakeLists.txt
  tests/mr/libcudacxx/device/mr_test.hpp
  tests/mr/libcudacxx/device/mr_tests.cpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

RMM now leverages rapids-cmake to reduce CMake boilerplate (#800)
  CMakeLists.txt
  README.md
  benchmarks/CMakeLists.txt
  ci/checks/style.sh
  cmake/Modules/CPM.cmake
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/RMM_thirdparty.cmake
  cmake/Modules/SetGPUArchs.cmake
  cmake/install/FindThrust.cmake
  cmake/rmm-config.cmake.in
  cmake/thirdparty/get_gbench.cmake
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
  cmake/version_config.hpp.in
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

export and install spdlog in rmm exports set if found
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

find_package(RMM) can now be called multiple times safely
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Add spdlog to `rmm-exports` if found by CPM (#810)
  cmake/thirdparty/get_spdlog.cmake
Owners: @rapidsai/rmm-cmake-codeowners

find_package(RMM) can now be called multiple times safely (#811)
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Bump isort, enable Cython package resorting (#806)
  .pre-commit-config.yaml
  ci/checks/style.sh
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
