Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

temporarily bump build stack to 9.3.0 for testing
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

add -Wall flag
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

fix warnings/errors surfaced by -Wall
  benchmarks/cuda_stream_pool/cuda_stream_pool_bench.cpp
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/synchronization/synchronization.cpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

fix lint
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Build RMM tests/benchmarks with -Wall flag (#674)
  benchmarks/CMakeLists.txt
  benchmarks/cuda_stream_pool/cuda_stream_pool_bench.cpp
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/synchronization/synchronization.cpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Enable tag generation for doxygen (#672)
  doxygen/Doxyfile
Owners: none

Add cuda_async_memory_resource
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

header order
  tests/mr/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Compile time and run time checks for support of cudaMallocAsync
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update copyright dates of modified files.
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Unify exception.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix typo in RMM_FAIL macro (never exercised!)
  include/rmm/detail/error.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Make cudaMallocAsync non-support a runtime failure.
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix headers
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Add a test for exception when cudaMallocAsync support not compiled.
  tests/CMakeLists.txt
  tests/mr/device/cuda_async_mr_tests.cpp
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-cpp-codeowners

Remove blank line
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Create labeler.yml (#669)
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: @rapidsai/ops-codeowners

Scope macro.
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Don't trim default pool.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Disable get_mem_info
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

cudaStream_t -> cuda_stream_view
  include/rmm/mr/device/fixed_size_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Disable tracking allocated blocks by default (optimization)
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add APIs for enable/disable logging
  python/rmm/__init__.py
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Docs
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Remove unneeded encode
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Add reinitialize() after last raising test
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Enabling/disabling logging after initialization (#678)
  python/rmm/__init__.py
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Create labeler.yaml
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

updating pr-labeler configuration
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

update pr-labeler configuration
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

Fix copyright header
  CMakeLists.txt
  cmake/Modules/Version.cmake
  cmake/version_config.hpp.in
  python/rmm/__init__.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Expose the version string in C++ and Python (#666)
  CMakeLists.txt
  cmake/Modules/Version.cmake
  cmake/version_config.hpp.in
  python/rmm/__init__.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Fix stream cast for logging.
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove commented-out code
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update current pool size when freeing upstream block.
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

`cuda_async_memory_resource` built on `cudaMallocAsync` (#676)
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/detail/error.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-cmake-codeowners

DOC v0.19 Updates
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
  python/setup.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Update .github/labeler.yml
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

added cpp to pr-labeler config
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

updated cpp in rmm-pr-labeler config
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
