Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Use custom bindings
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_cuda/custom_cuda_bindings.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Style
  include/rmm/detail/dynamic_load_runtime.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix typo.
  python/rmm/_cuda/gpu.py
Owners: @rapidsai/rmm-python-codeowners

Rewrite test to accept more error cases.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Remove Python side error check.
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Catch correct error type.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add TODO.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update string assertion.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Relax test for async memory pool IPC handle support (#1130)
  python/rmm/_cuda/gpu.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Use stable version 22.10.00 override
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

python-versions also dropped
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

address reviews
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Update python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Update python/rmm/tests/test_rmm.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add a public `copy` API to `DeviceBuffer` (#1128)
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Use `device_buffer` constructors w/memory resource
  python/rmm/_lib/device_buffer.pxd
Owners: @rapidsai/rmm-python-codeowners

Use memory resource in `DeviceBuffer` construtor
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Accept memory resource (and stream) in `copy`
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Add memory resource argument through `to_device`
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Experiment
  ci/build_cpp.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

More condarc
  ci/build_cpp.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Update dependencies
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

Missed one
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Spaces
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

use ==
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Also modify the condarc for gpuci
  ci/cpu/build.sh
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Remove root_dir/output_folder
  ci/cpu/build.sh
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Anti-test -- this should fail CI
  ci/build_cpp.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Update cuda-python dep
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Don't change setup.py
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Remove stale issue labeler workflow
  .github/workflows/stale.yaml
Owners: @rapidsai/ops-codeowners

Remove stale labeler (#1137)
  .github/workflows/stale.yaml
Owners: @rapidsai/ops-codeowners

Update `dependencies.yaml` schema
  dependencies.yaml
Owners: none

update flags
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Switch to using rapids-cmake for gbench.
  CMakeLists.txt
  cmake/thirdparty/get_gbench.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Relax test for async memory pool IPC handle support
  python/rmm/_cuda/gpu.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update README channels.
  README.md
Owners: none

Switch to using rapids-cmake for gbench. (#1139)
  CMakeLists.txt
  cmake/thirdparty/get_gbench.cmake
Owners: @rapidsai/rmm-cmake-codeowners

HOTFIX: Update cuda-python dependency to 11.7.1 (#1136)
  README.md
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
  python/rmm/_cuda/gpu.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Use `ninja` in GitHub Actions
  ci/build_cpp.sh
  ci/build_python.sh
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
