Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Confirmed yaml is valid, remove push again.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Try specifying github.repository.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Put back builds to see if it cancels other repo builds.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Update test_cpp.sh
  ci/test_cpp.sh
Owners: @rapidsai/ops-codeowners

Update test_python.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Revert "Put back builds to see if it cancels other repo builds."
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Hardcode concurrency name.
  .github/workflows/wheels.yml
Owners: @rapidsai/ops-codeowners

Add wheel builds to rmm (#1148)
  .github/workflows/wheels.yml
  .gitignore
  python/CMakeLists.txt
  python/LICENSE
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: none

Use rapidsai CODE_OF_CONDUCT.md (#1159)
  CODE_OF_CONDUCT.md
Owners: none

Align __version__ with wheel version
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Adjust setup.py to pass flake8 + black
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Don't use CMake 3.25.0 as it has a FindCUDAToolkit show stopping bug
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Only override the version once
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Update the librmm recipe
  conda/recipes/librmm/conda_build_config.yaml
Owners: @rapidsai/ops-codeowners

Complain if RAPIDS_PY_WHEEL_VERSIONEER_OVERRIDE is set but empty
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Align __version__ with wheel version (#1161)
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Don't use CMake 3.25.0 as it has a show stopping FindCUDAToolkit bug (#1162)
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Add wheel build to PR.
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Remove duplicate secrets line.
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Add RMM PyTorch allocator
  python/rmm/_lib/CMakeLists.txt
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/torch_allocator.pyx
  python/rmm/rmm.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Add `with gil` to enable calling Python code in allocate/deallocate
  python/rmm/_lib/torch_allocator.pyx
Owners: @rapidsai/rmm-python-codeowners

Don't set pytorch allocator by default
  python/rmm/__init__.py
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Ensure `UpstreamResourceAdaptor` is not cleared by the Python GC
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

use `RAPIDS_TESTS_DIR` and `RAPIDS_COVERAGE_DIR`
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

use `codecov-test` workflow branch
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Update ci/test_python.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Add tests
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

use `tee` instead of `>` for `env.yaml`
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Styles
  python/rmm/_lib/torch_allocator.pyx
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

Revert "use `codecov-test` workflow branch"
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Enable `codecov` (#1171)
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

upgrade to spdlog 1.10
  .pre-commit-config.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

update dependencies.yaml and regenerate
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Update PR Workflow
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Update PR Workflow (#1174)
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Upgrade to spdlog 1.10 (#1173)
  .pre-commit-config.yaml
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Update python/rmm/tests/test_rmm.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Fix comment
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add new files to test quoting.
  conda/recipes/librmm/librmm_build.yaml
  conda/recipes/librmm/librmm_host.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners
