Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Build only `compute` for the newest arch in CMAKE_CUDA_ARCHITECTURES (#706)
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

FIX Remove unnecessary compiler vars, export generator in build.sh
  build.sh
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

Only include SetGPUArchs in the top-level CMakeLists.txt
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  cmake/Modules/SetGPUArchs.cmake
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Fix cmake style check
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

one more
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Only include SetGPUArchs in the top-level CMakeLists.txt (#713)
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  cmake/Modules/SetGPUArchs.cmake
  tests/CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

ENH Build with Ninja & Pass ccache variables to conda recipe (#705)
  ci/cpu/build.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Refactor CMAKE_CUDA_ARCHITECTURES handling
  CMakeLists.txt
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Fixing `__sizeof__` comparison on failing test.
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Incorporating feedback from code review
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Style cleanup with isort
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

SetGPUArchs only build for `sm` when using EvalGPUArchs
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

update changelog
  CHANGELOG.md
Owners: none

Simplify cmake cuda architectures handling (#709)
  CMakeLists.txt
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Improve Cython Lifetime Management by Adding References in `DeviceBuffer` (#661)
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Fix unknown CMake command "CPMFindPackage" (#699)
  cmake/Modules/CPM.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Ship memory_resource_wrappers.hpp as package_data
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Ship memory_resource_wrappers.hpp as package_data (#715)
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

prepare changelog
  CHANGELOG.md
Owners: none

prepare changelog (#717)
  CHANGELOG.md
Owners: none

Add 11.2 CUDA bindings
  python/rmm/_cuda/11.2/gpu.pxi
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Remove C++ Wrappers in `memory_resource_adaptors.hpp` Needed by Cython (#662)
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Fix merge
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Add bindings for CudaAsyncMemoryResource
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

update tests based on autouse fixture
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Update python/rmm/_cuda/11.2/gpu.pxi
  python/rmm/_cuda/11.2/gpu.pxi
Owners: @rapidsai/rmm-python-codeowners

test using non-default stream
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Add skipif
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Move to a class docstring and remove __init__
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Maintain a single pxi for 11.0/11.1/11.2
  python/rmm/_cuda/11.0/gpu.pxi
  python/rmm/_cuda/11.2/gpu.pxi
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Use runtime, not driver version to skip test
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

breakpoint
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Redundant join
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Better error message?
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

clang-format
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Rename dir
  python/rmm/_cuda/11.x/gpu.pxi
Owners: @rapidsai/rmm-python-codeowners

Rename dir
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Only copyfile if we need to
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Check both driver and runtime versions
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners
