Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Remove the C++17 new/delete.
  include/rmm/mr/host/new_delete_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Move cuda_device_id to it's own header.
  include/rmm/cuda_device.hpp
  include/rmm/mr/device/per_device_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Move available_device_memory function to util header.
  include/rmm/detail/cuda_util.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Use explicit pool in cuda async resource.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Format.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Error check CUDA apis.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

format.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Disable construction of cuda_stream_view from literal zero or nullptr (#740)
  benchmarks/synchronization/synchronization.cpp
  benchmarks/synchronization/synchronization.hpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/thrust_rmm_allocator.h
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Replace std::optional with thrust::optional.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add tests for explicit pool and release threshold.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Use a plain defaultdict
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

Expose optional arguments to cuda_async_memory_resources in Cython
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Format.
  tests/mr/device/cuda_async_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Guard cudaMemPool_t based on 11.2.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Ignore unused variable to silence compiler warning.
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Update to CPM with fix for FETCHCONTENT_BASE_DIR
  cmake/Modules/CPM.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Update to CPM with fix for `FETCHCONTENT_BASE_DIR` (#754)
  cmake/Modules/CPM.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Fix unused variable warning.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

update to 1.8.5
  ci/gpu/build.sh
  cmake/Modules/RMM_thirdparty.cmake
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cmake-codeowners

fix log timestamp format to use a decimal point
  include/rmm/mr/device/logging_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update cuda_async_memory_resource to use explicit pool (#752)
  include/rmm/cuda_device.hpp
  include/rmm/detail/cuda_util.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

include rmm/detail/error.hpp for the RMM_CUDA_TRY macro
  include/rmm/cuda_device.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Change initial pool size to default to half available memory.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Destroy the pool handle in the destructor.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update docs for default pool size.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Change initial pool size to default to half available memory.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Destroy the pool handle in the destructor.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update docs for default pool size.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Pin to cmake 3.18+
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix docs
  python/rmm/_lib/memory_resource.pyx
Owners: @rapidsai/rmm-python-codeowners

fix log timestamp format to use a decimal point (#755)
  include/rmm/mr/device/logging_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

REL Changelog update
  CHANGELOG.md
Owners: none

Include rmm/detail/error.hpp to get the `RMM_CUDA_TRY` macro (#756)
  include/rmm/cuda_device.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Small fix to parameter name in README.md
  README.md
Owners: none

Small fix to parameter name in README.md (#760)
  README.md
Owners: none

Deprecate old rmm::exec_policy
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/thrust_rmm_allocator.h
  tests/mr/device/thrust_allocator_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Deprecate old rmm::exec_policy (#761)
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/thrust_rmm_allocator.h
  tests/mr/device/thrust_allocator_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Add missing include for thrust::cuda::par
  include/rmm/exec_policy.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add missing include for thrust::cuda::par (#763)
  include/rmm/exec_policy.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Remove void cast for now used free parameter.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners
