Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Run updated isort hook on pxd files
  python/rmm/_cuda/stream.pxd
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/device_uvector.pxd
  python/rmm/_lib/lib.pxd
Owners: @rapidsai/rmm-python-codeowners

Run updated isort hook on pxd files (#812)
  python/rmm/_cuda/stream.pxd
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/device_uvector.pxd
  python/rmm/_lib/lib.pxd
Owners: @rapidsai/rmm-python-codeowners

Update conda env files
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
Owners: @rapidsai/ops-codeowners

Update python script
  scripts/run-clang-format.py
Owners: none

Update .clang-format
  .clang-format
Owners: none

Formatting changes
  include/rmm/detail/aligned.hpp
  include/rmm/detail/error.hpp
  include/rmm/device_scalar.hpp
  include/rmm/logger.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/thrust_rmm_allocator.h
  tests/device_buffer_tests.cu
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Fix for CI
  ci/checks/style.sh
Owners: @rapidsai/ops-codeowners

Remove duplicate line
  .clang-format
Owners: none

Remove temporary CI fix
  ci/checks/style.sh
Owners: @rapidsai/ops-codeowners

Add execution policy class
  include/rmm/exec_policy.hpp
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Renaming back exec_policy function + creating class with conversion operator
  include/rmm/exec_policy.hpp
  tests/device_buffer_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners

Updating Clang Version to 11.0.0 (#814)
  .clang-format
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  include/rmm/detail/aligned.hpp
  include/rmm/detail/error.hpp
  include/rmm/device_scalar.hpp
  include/rmm/logger.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/thrust_rmm_allocator.h
  scripts/run-clang-format.py
  tests/device_buffer_tests.cu
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cpp-codeowners

Fix building on cuda 11.4
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Code formatting
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Fix building on cuda 11.4 (#817)
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Remove function
  include/rmm/exec_policy.hpp
Owners: @rapidsai/rmm-cpp-codeowners

stream pool pxd
  python/rmm/_lib/cuda_stream_pool.pxd
Owners: @rapidsai/rmm-python-codeowners

making stream view to cudaStream_t operator implicit
  include/rmm/cuda_stream_view.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update brief
  include/rmm/cuda_stream_view.hpp
Owners: @rapidsai/rmm-cpp-codeowners

fix align_up namespace
  include/rmm/mr/device/aligned_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

DOC v21.10 Updates
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
  python/setup.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

fix align_up namespace in aligned_resource_adaptor.hpp (#820)
  include/rmm/mr/device/aligned_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

update isort to 5.6.4, remove references to nvstrings
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  python/setup.cfg
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

update isort in dev_requirements.txt
  python/dev_requirements.txt
Owners: @rapidsai/rmm-python-codeowners

ENH Replace gpuci_conda_retry with gpuci_mamba_retry
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

ENH Fix artifact install
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

update isort to 5.6.4 (#822)
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  python/dev_requirements.txt
  python/setup.cfg
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

Cython extension for rmm::cuda_stream_pool (#818)
  include/rmm/cuda_stream_view.hpp
  python/rmm/_lib/cuda_stream_pool.pxd
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Address reviewer's feedback
  README.md
Owners: none

Fix isort
  python/rmm/_lib/cuda_stream_pool.pxd
Owners: @rapidsai/rmm-python-codeowners

Fix isort in cuda_stream_view.pxd (#827)
  python/rmm/_lib/cuda_stream_pool.pxd
Owners: @rapidsai/rmm-python-codeowners

Update build instruction in README (#797)
  README.md
Owners: none

Pinning spdlog because recent updates are causing compile issues.
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Pinning spdlog because recent updates are causing compile issues. (#831)
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Enforce default visibility for `get_map`.
  include/rmm/detail/export.hpp
  include/rmm/mr/device/per_device_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Clang format.
  include/rmm/detail/export.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Clang format.
  include/rmm/mr/device/per_device_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

pin spdlog in dev conda envs
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
Owners: @rapidsai/ops-codeowners

Pin spdlog in dev conda envs (#835)
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
Owners: @rapidsai/ops-codeowners

Enforce default visibility for `get_map`. (#833)
  include/rmm/detail/export.hpp
  include/rmm/mr/device/per_device_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners
