Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Update CONTRIBUTING.md with correct project name
  CONTRIBUTING.md
Owners: none

Update required CMake version in README.md
  README.md
Owners: none

Consistent usage of `enviornment variable` in README.md
  README.md
Owners: none

Build.sh use cmake --build to drive build system invocation
  build.sh
Owners: none

Build.sh use cmake --build to drive build system invocation (#686)
  build.sh
Owners: none

Correct inconsistencies in README and CONTRIBUTING docs (#682)
  CONTRIBUTING.md
  README.md
Owners: none

prepare changelog
  CHANGELOG.md
Owners: none

enabled linear accessor features
  include/rmm/cuda_stream_pool.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Prepare Changelog for Automation (#688)
  CHANGELOG.md
Owners: none

added tests
  include/rmm/cuda_stream_pool.hpp
  tests/cuda_stream_pool_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Auto-label PRs based on their content (#691)
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

SetGPUArchs updated to work around a CMake FindCUDAToolkit issue
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Update cuda_stream_pool_tests.cpp
  tests/cuda_stream_pool_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

STY Correct cmake format check errors
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

addressed review comments
  include/rmm/cuda_stream_pool.hpp
  tests/cuda_stream_pool_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/cuda_stream_pool.hpp
  include/rmm/cuda_stream_pool.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Update include/rmm/cuda_stream_pool.hpp
  include/rmm/cuda_stream_pool.hpp
Owners: @rapidsai/rmm-cpp-codeowners

simplified test
  tests/cuda_stream_pool_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

clang style
  include/rmm/cuda_stream_pool.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Adds a linear accessor to RMM cuda stream pool (#696)
  include/rmm/cuda_stream_pool.hpp
  tests/cuda_stream_pool_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

SetGPUArchs updated to work around a CMake FindCUDAToolkit issue (#695)
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Upstream freeing with coalescing. Performance problems (upstream thrashing?).
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

FindThrust better matches CMake best practices
  cmake/install/FindThrust.cmake
Owners: @rapidsai/rmm-cmake-codeowners

find_package(RMM) usable with build directory
  CMakeLists.txt
  cmake/rmm-config.cmake.in
Owners: @rapidsai/rmm-cmake-codeowners

Add GHA to mark issues/prs as stale/rotten
  .github/workflows/stale.yaml
Owners: @rapidsai/ops-codeowners

Allow the build directory of rmm to be used for `find_package(rmm)` (#698)
  CMakeLists.txt
  cmake/install/FindThrust.cmake
  cmake/rmm-config.cmake.in
Owners: @rapidsai/rmm-cmake-codeowners

[FIX] Unknown CMake command "CPMFindPackage"
  cmake/Modules/CPM.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Tracking allocated blocks in pool disabled by default
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add GHA to mark issues/prs as stale/rotten (#700)
  .github/workflows/stale.yaml
Owners: @rapidsai/ops-codeowners

ENH Build with Ninja & Pass ccache variables to conda recipe
  build.sh
  conda/recipes/librmm/meta.yaml
Owners: @rapidsai/ops-codeowners

FIX Fix indentation
  build.sh
Owners: none

TST List ccache dir
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

TST Fix testt
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

TST Revert testing changes
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

pool_memory_resource optimization: disable tracking allocated blocks by default (#702)
  include/rmm/mr/device/pool_memory_resource.hpp
Owners: @rapidsai/rmm-cpp-codeowners

FIX Update stale GHA with exemptions & new labels
  .github/workflows/stale.yaml
Owners: @rapidsai/ops-codeowners

Update stale GHA with exemptions & new labels (#707)
  .github/workflows/stale.yaml
Owners: @rapidsai/ops-codeowners

Build only compute_ for the newest arch in CMAKE_CUDA_ARCHITECTURES
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Add event, stream.waiton, record bindings
  python/rmm/_cuda/event.pxd
  python/rmm/_cuda/stream.pyx
Owners: @rapidsai/rmm-python-codeowners

Add empty Event class
  python/rmm/_cuda/event.pyx
Owners: @rapidsai/rmm-python-codeowners
