Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Remove prefetch factory. (#1625)
  include/rmm/mr/device/prefetch_resource_adaptor.hpp
Owners: @rapidsai/rmm-cpp-codeowners

Add python wrapper for system memory resource (#1605)
  include/rmm/mr/device/sam_headroom_memory_resource.hpp
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/mr.py
  python/rmm/rmm/tests/test_rmm.py
  tests/mr/device/system_mr_tests.cu
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Install headers into ${CMAKE_INSTALL_INCLUDEDIR}
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Formatting
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Install headers into `${CMAKE_INSTALL_INCLUDEDIR}` (#1633)
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Playing with resource_ref in Cython (not compiling)
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/resource_ref.pxd
Owners: @rapidsai/rmm-python-codeowners

Fix docs cross reference in DeviceBuffer.prefetch
  python/rmm/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Use :py:attr:
  python/rmm/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Fix docs cross reference in DeviceBuffer.prefetch (#1636)
  python/rmm/rmm/_lib/device_buffer.pyx
Owners: @rapidsai/rmm-python-codeowners

Address feedback.
  README.md
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/logger_tests.cpp
  tests/mr/device/stream_allocator_adaptor_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

Use tool.scikit-build.cmake.version
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners

test from 'henryiii/fix/minversionlogic' branch
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners

fix formatting
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Revert "fix formatting"
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Revert "test from 'henryiii/fix/minversionlogic' branch"
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update Changelog [skip ci]
  CHANGELOG.md
Owners: none
