Repository rapidsai/rmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners, @rapidsai/ops-codeowners

Clarify log file name behaviour in docs (#722)
  python/rmm/__init__.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/rmm.py
Owners: @rapidsai/rmm-python-codeowners

device_uvector can be used within thrust::optional (#734)
  conda/recipes/librmm/meta.yaml
  include/rmm/detail/exec_check_disable.hpp
  include/rmm/device_uvector.hpp
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-cpp-codeowners

Avoid potential race conditions in device_scalar/device_uvector setters (#725)
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

RMM doesn't require the CUDA language to be enabled by consumers
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

RMM doesn't require the CUDA language to be enabled by consumers (#737)
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

DOC v0.20 Updates
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
  python/setup.py
Owners: @rapidsai/rmm-cmake-codeowners, @rapidsai/rmm-python-codeowners

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

ENH Update rmm conda pinning for librmm
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Update `rmm` conda recipe pinning of `librmm` (#738)
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

add requirements for rmm
  python/dev_requirements.txt
  python/pyproject.toml
  python/rmm/tests/__init__.py
  python/setup.cfg
  python/setup.py
  python/test_requirements.txt
Owners: @rapidsai/rmm-python-codeowners

copyright
  python/dev_requirements.txt
Owners: @rapidsai/rmm-python-codeowners

remove root level pyproject.toml
  pyproject.toml
  python/pyproject.toml
  python/setup.cfg
Owners: @rapidsai/rmm-python-codeowners

newline
  python/pyproject.toml
Owners: @rapidsai/rmm-python-codeowners

Disable construction of cuda_stream_view from literal zero or nullptr
  benchmarks/synchronization/synchronization.cpp
  benchmarks/synchronization/synchronization.hpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/thrust_rmm_allocator.h
  tests/mr/device/pool_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners

add extra_requires
  python/setup.cfg
  python/setup.py
  python/test_requirements.txt
Owners: @rapidsai/rmm-python-codeowners

fix extras_require
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

address reviews
  python/pyproject.toml
  python/setup.cfg
Owners: @rapidsai/rmm-python-codeowners

Revert "Update `rmm` conda recipe pinning of `librmm` (#738)"
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

correct the python pinnings
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

dev
  python/dev_requirements.txt
Owners: @rapidsai/rmm-python-codeowners

Add requirements for rmm (#739)
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  python/dev_requirements.txt
  python/pyproject.toml
  python/rmm/tests/__init__.py
  python/setup.cfg
  python/setup.py
Owners: @rapidsai/ops-codeowners, @rapidsai/rmm-python-codeowners

fix typo
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Update conda/recipes/rmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Revert "Update `rmm` conda recipe pinning of `librmm`" (#743)
  conda/recipes/rmm/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix typo in setup.py (#746)
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Update documented minimum gcc version supported
  README.md
Owners: none

Remove CMake logic for unsupported CUDA Toolkit versions
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

RMM README updated to express 0.20 requirements of CUDA 11.X
  README.md
Owners: none

Update rmm minimum C++ and CUDA language level to 17.
  CMakeLists.txt
Owners: @rapidsai/rmm-cmake-codeowners

Update rmm to use the latest version of CPM ( 0.32.0 )
  CMakeLists.txt
  cmake/Modules/CPM.cmake
  cmake/Modules/RMM_thirdparty.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Update rmm to use the latest version of CPM ( 0.32.0 ) (#745)
  CMakeLists.txt
  cmake/Modules/CPM.cmake
  cmake/Modules/RMM_thirdparty.cmake
Owners: @rapidsai/rmm-cmake-codeowners

Update build system and docs to state cuda 11 required (#741)
  CMakeLists.txt
  README.md
  cmake/Modules/SetGPUArchs.cmake
Owners: @rapidsai/rmm-cmake-codeowners

separate the cython files to be imported into another module
  python/rmm/_test_cython/__init__.py
  python/rmm/_test_cython/test_device_buffer.cpp
  python/rmm/_test_cython/test_device_buffer.pyx
  python/rmm/tests/test_cython.py
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

remove cpp
  python/rmm/_test_cython/test_device_buffer.cpp
Owners: @rapidsai/rmm-python-codeowners

move cython tests to _lib.tests
  python/rmm/_lib/tests/__init__.py
  python/rmm/_lib/tests/test_device_buffer.pyx
  python/rmm/tests/test_cython.py
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Fix cython tests (#749)
  python/rmm/_lib/tests/__init__.py
  python/rmm/_lib/tests/test_device_buffer.pyx
  python/rmm/tests/test_cython.py
  python/setup.py
Owners: @rapidsai/rmm-python-codeowners

Incorporating feedback from code review. Simplifying counter struct.
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  python/setup.py
  tests/CMakeLists.txt
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cmake-codeowners

Style cleanup.
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-cpp-codeowners, @rapidsai/rmm-python-codeowners

Style cleanup for `black` which was missed in the logs
  python/rmm/tests/test_rmm.py
Owners: @rapidsai/rmm-python-codeowners

Cleaning up code to reduce number of changes with 0.20
  CHANGELOG.md
  python/rmm/_lib/memory_resource.pxd
  python/setup.py
  tests/mr/device/tracking_mr_tests.cpp
Owners: @rapidsai/rmm-python-codeowners, @rapidsai/rmm-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
include/           @rapidsai/rmm-cpp-codeowners
tests/             @rapidsai/rmm-cpp-codeowners
benchmarks/        @rapidsai/rmm-cpp-codeowners

#python code owners
python/            @rapidsai/rmm-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/rmm-cmake-codeowners
**/cmake/          @rapidsai/rmm-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
