Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Support using THRUST_WRAPPED_NAMESPACE (#1077)
  include/rmm/detail/thrust_namespace.h
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
  tests/CMakeLists.txt
  tests/device_buffer_tests.cu
Labels: CMake, cpp

translate_python_except_to_cpp: BaseException is default
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Use main branch for shared workflows
  .github/workflows/branch-workflow.yaml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr-workflow.yaml
Labels: none

Cleanup scripts
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: gpuCI

Use rapids-mamba-retry in checks and tests
  ci/check_style.sh
  ci/test_python.sh
Labels: gpuCI

Remove cuda event deadlocking issues in device mr tests (#1097)
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: cpp

Add GitHub Actions workflows
  .github/workflows/branch-workflow.yaml
  .github/workflows/dependency-files.yml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr-workflow.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/upload_to_anaconda.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Labels: conda, gpuCI

Force creation of conda envs in checks and tests
  ci/check_style.sh
  ci/test_python.sh
Labels: gpuCI

Propagate exceptions raised in Python callback functions (#1096)
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Add initial cibuildwheel workflow
  .github/workflows/wheels-amd64.yml
  python/setup.py
Labels: Python

Remove debug calls to nvidia-smi
  .github/workflows/wheels.yml
Labels: none

Run on new manylinux container
  .github/workflows/wheels.yml
Labels: none

Add unit tests
  .github/workflows/wheels.yml
Labels: none

Add nvidia-smi to debug smoketest
  .github/workflows/wheels-amd64.yml
Labels: none

Ignore wheelhouse dir
  .gitignore
Labels: none

Use combined build
  .github/workflows/wheels.yml
Labels: none

Build and test ARM64 wheels for RMM
  .github/workflows/wheels.yml
Labels: none

Split rmm into arch-specific wheels for manylinux2014
  .github/workflows/wheels.yml
Labels: none

Switch to unified workflow for both arches
  .github/workflows/wheels.yml
Labels: none

Use new cibuildwheel branch
  .github/workflows/wheels.yml
Labels: none

Back to manylinux_2_31
  .github/workflows/wheels.yml
Labels: none

statically link CUDA runtime if building wheels
  python/CMakeLists.txt
Labels: Python, CMake

Test rmm in ubuntu 18.04
  .github/workflows/wheels.yml
Labels: none

set include_package_data=True for scikit-build
  python/setup.py
Labels: Python

Try building it in manylinux_2_27 container
  .github/workflows/wheels.yml
Labels: none

Switch from -cuda11 to -cu11 suffix
  .github/workflows/wheels.yml
Labels: none

Use single publish runner
  .github/workflows/wheels.yml
Labels: none

Switch to updated syntax with more bolts exposed
  .github/workflows/wheels.yml
Labels: none

Override versioneer style to pep440-pre
  python/setup.cfg
Labels: Python

Versioneer isn't that cool
  .github/workflows/wheels.yml
  python/setup.cfg
  python/setup.py
Labels: Python

Ensure consistent spdlog dependency target no matter the source (#1101)
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

style
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Labels: cpp

Add test reports
  ci/test_python.sh
Labels: gpuCI

enable recently_updated check
  .github/ops-bot.yaml
Labels: none

Buf -> stream
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Avoid unused parameter warnings in do_get_mem_info (#1084)
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Labels: cpp

Testing build-tag incrementer
  .github/workflows/wheels.yml
  python/setup.py
Labels: Python

Improve versioneer override
  .github/workflows/wheels.yml
Labels: none

switch pkg uploads to use GH Actions
  .github/workflows/nightly-workflow.yaml
  ci/cpu/build.sh
Labels: gpuCI

switch py.test to pytest
  ci/test_python.sh
Labels: gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
