Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

ENH Remove 'rapidsai-nightly' conda channel when building main branch
  ci/cpu/build.sh
Labels: gpuCI

ENH Remove 'rapidsai-nightly' conda channel when building main branch (#769)
  ci/cpu/build.sh
Labels: gpuCI

ENH Remove progress output on conda packages upload
  ci/cpu/upload.sh
Labels: gpuCI

CMake spdlog target, check for existing (#767)
  cmake/Modules/RMM_thirdparty.cmake
Labels: CMake

Remove progress output on conda packages upload (#770)
  ci/cpu/upload.sh
Labels: gpuCI

Document synchronization requirements on device_buffer copy ctors
  include/rmm/device_buffer.hpp
Labels: cpp

Make streams explicit in device_buffer
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
Labels: cpp

ENH Update release script
  ci/release/update-version.sh
Labels: gpuCI

Update python/rmm/tests/test_rmm.py
  python/rmm/tests/test_rmm.py
Labels: Python

Moving the dl library link to the `rmm::rmm` main interface.
  CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake, cpp

make base pointer naturally aligned
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/aligned_mr_tests.cpp
Labels: CMake, cpp

Pass compiler environment variables to conda python build
  conda/recipes/rmm/meta.yaml
Labels: conda

Pass compiler environment variables to conda python build (#773)
  conda/recipes/rmm/meta.yaml
Labels: conda

keep track of aligned pointers in a hash map
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  tests/mr/device/aligned_mr_tests.cpp
Labels: cpp

clang format
  tests/mr/device/aligned_mr_tests.cpp
Labels: cpp

Upgrade to Thrust 1.12
  cmake/Modules/RMM_thirdparty.cmake
Labels: CMake

Upgrade to Thrust 1.12 (#774)
  cmake/Modules/RMM_thirdparty.cmake
Labels: CMake

DOC Update to v21.06.00
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
  python/setup.py
Labels: Python, CMake, cpp

address review comments
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  tests/mr/device/aligned_mr_tests.cpp
Labels: cpp

Delete device_buffer copy constructor and copy assignment operator
  include/rmm/device_buffer.hpp
Labels: cpp

Remove copy assignment tests
  include/rmm/device_buffer.hpp
  tests/device_buffer_tests.cu
Labels: cpp

extract constant for cuda alignment size of 256
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: cpp

clang format
  tests/mr/device/aligned_mr_tests.cpp
Labels: cpp

Document synchronization requirements on device_buffer copy ctors (#772)
  include/rmm/device_buffer.hpp
Labels: cpp

A bit more consistency and a move example
  include/rmm/device_buffer.hpp
Labels: cpp

Improve comment
  include/rmm/device_buffer.hpp
Labels: cpp

Fix Cython
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/tests/test_device_buffer.pyx
Labels: Python

remove NIGHTLY_VERSION var
  ci/docs/build.sh
Labels: gpuCI

Update docs build script (#776)
  ci/docs/build.sh
Labels: gpuCI

add a resource adapter to align on a specified size (#768)
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: CMake, cpp

DOC v21.08 Updates
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
  python/setup.py
Labels: Python, CMake, cpp

Python style
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/tests/test_device_buffer.pyx
Labels: Python

update changelog
  CHANGELOG.md
Labels: none

update changelog (#777)
  CHANGELOG.md
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update 0.20 references
  CHANGELOG.md
Labels: none

Update `CHANGELOG.md` links for calver (#781)
  CHANGELOG.md
Labels: none

test added delay to rrr tool
  CHANGELOG.md
Labels: none

revert test change
  ci/gpu/build.sh
Labels: gpuCI

FindThrust now guards against multiple inclusion by different consumers
  cmake/install/FindThrust.cmake
Labels: CMake

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
