Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

rm Failfn
  ci/build_cpp.sh
Labels: gpuCI

update img, install & build commands
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Labels: gpuCI

use gpuci_mamba_retry
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Labels: gpuCI

Change build.sh to find C++ library by default.
  build.sh
Labels: none

Add quotes.
  build.sh
Labels: none

Don't throw on cudaErrorInvalidValue in is_export_handle_type_supported
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

clang-format
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

create new environment for tests
  ci/gpu_test.sh
Labels: gpuCI

Revert "create new environment for tests"
  ci/gpu_test.sh
Labels: gpuCI

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

clang-format
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Avoid shadowing CMAKE_ARGS variable in build.sh for conda-forge compatibility.
  build.sh
Labels: none

Change build.sh to find C++ library by default and avoid shadowing CMAKE_ARGS (#1053)
  build.sh
Labels: none

Properly handle cudaMemHandleTypeNone and cudaErrorInvalidValue in is_export_handle_type_supported (#1055)
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

update changelog
  CHANGELOG.md
Labels: none

REL v22.06.00 release
  python/docs/conf.py
Labels: Python

add wsl2 nightly stage
  ci/Jenkinsfile
Labels: gpuCI

rm redundant UPLOAD_PKGS
  ci/Jenkinsfile
Labels: gpuCI

arrange stgs
  ci/Jenkinsfile
Labels: gpuCI

correct wsl2 stage impl
  ci/Jenkinsfile
Labels: gpuCI

test wsl2 impl. - temp change
  ci/Jenkinsfile
Labels: gpuCI

Add a noexcept
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Revert "test wsl2 impl. - temp change"
  ci/Jenkinsfile
Labels: gpuCI

test wsl2 impl. - temp change
  ci/Jenkinsfile
Labels: gpuCI

Revert "test wsl2 impl. - temp change"
  ci/Jenkinsfile
Labels: gpuCI

Add a missed `except *` (#1057)
  python/rmm/_lib/device_buffer.pyx
Labels: Python

rm separate wsl stage
  ci/Jenkinsfile
Labels: gpuCI

Specify `language` as `'en'` instead of `None`
  python/docs/conf.py
Labels: Python

Update python/docs/conf.py
  python/docs/conf.py
Labels: Python

Specify `language` as `'en'` instead of `None` (#1059)
  python/docs/conf.py
Labels: Python

Force install cuda-python from conda-forge channel
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
Labels: conda

pin to 11.7
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Labels: Python, conda

Pin max version of `cuda-python` to `11.7` (#1062)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Labels: Python, conda

Pin max version of `cuda-python` to `11.7` (#1062)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Labels: Python, conda

Pin max version of `cuda-python` to `11.7` (#1062) (#1063)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Labels: Python, conda

REL v22.06.01 release
  CMakeLists.txt
  python/CMakeLists.txt
  python/docs/conf.py
Labels: Python, CMake

Use numba's driver.get_version?
  python/rmm/_cuda/gpu.py
Labels: Python

Revert "Use numba's driver.get_version?"
  python/rmm/_cuda/gpu.py
Labels: Python

Forward merge 22.06 into 22.08 (#1066)
  CHANGELOG.md
Labels: none

Update isort.
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda
