Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Use rapids-cmake 22.10 best practice for RAPIDS.cmake location
  CMakeLists.txt
Labels: CMake

Use current binary dir
  CMakeLists.txt
Labels: CMake

Avoid unused parameter warnings in do_get_mem_info
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Labels: cpp

Use rapids-cmake 22.10 best practice for RAPIDS.cmake location (#1083)
  CMakeLists.txt
Labels: CMake

Add resources section to README.
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Add link to RMM developer blog.
  README.md
Labels: none

Add link to stream-ordered memory allocation blog.
  README.md
Labels: none

Add resources section to README. (#1085)
  README.md
Labels: none

Improve docs formatting and update links.
  README.md
  python/docs/basics.md
  python/rmm/_lib/memory_resource.pyx
  python/rmm/rmm.py
Labels: Python

Fix style.
  python/rmm/_lib/memory_resource.pyx
  python/rmm/rmm.py
Labels: Python

Fix link anchor.
  README.md
  python/docs/basics.md
Labels: Python

Improve docs formatting and update links. (#1086)
  README.md
  python/docs/basics.md
  python/rmm/_lib/memory_resource.pyx
  python/rmm/rmm.py
Labels: Python

add pretty-printers
  scripts/gdb-pretty-printers.py
Labels: none

wip
  scripts/gdb-pretty-printers.py
Labels: none

update changelog
  CHANGELOG.md
Labels: none

REL v22.08.00 release
  python/docs/conf.py
Labels: Python

pull in thrust pretty-printer sources
  CMakeLists.txt
  scripts/gdb-pretty-printers.py
Labels: CMake

provide script to load pretty-printers
  CMakeLists.txt
  scripts/gdb-pretty-printers.py
  scripts/load-pretty-printers.in
Labels: CMake

review updates
  scripts/gdb-pretty-printers.py
Labels: none

modernize python code
  scripts/gdb-pretty-printers.py
Labels: none

consistent quotes
  scripts/gdb-pretty-printers.py
Labels: none

Improve DeviceBuffer docs.
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Branch 22.10 merge 22.08 (#1089)
  CHANGELOG.md
Labels: none

Improve DeviceBuffer docs. (#1090)
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Define public API in __all__.
  python/rmm/__init__.py
Labels: Python

Try using pycon for Python console highlighting.
  python/docs/basics.md
Labels: Python

Deduplicate project info in conf.py.
  python/docs/conf.py
Labels: Python

Add docstrings to properties.
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Make Cython attribute bin_mrs private, add public property with docstring.
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Add sphinx_rtd_theme to environment requirements.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

Revert "Try using pycon for Python console highlighting."
  python/docs/basics.md
Labels: Python

Fix language.
  python/docs/basics.md
Labels: Python

Move module API to the top, remove rmm.rmm API.
  python/docs/api.rst
Labels: Python

Remove napoleon extension, which was messing up the docstrings.
  python/docs/conf.py
Labels: Python

Update Python target.
  python/pyproject.toml
Labels: Python

Update python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pxd
Labels: Python

review updates
  scripts/gdb-pretty-printers.py
Labels: none

Remove _numba_memory_manager from user APIs in __all__.
  python/rmm/__init__.py
Labels: Python

Fix docs for module-level API (#1091)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  python/docs/api.rst
  python/docs/basics.md
  python/docs/conf.py
  python/pyproject.toml
  python/rmm/__init__.py
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Labels: Python, conda

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
