Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

Clean up TODOs.
  python/CMakeLists.txt
  python/setup.py
Labels: Python, CMake

Make cmake-lint happy.
  python/CMakeLists.txt
Labels: Python, CMake

Make cmake-format happy.
  python/CMakeLists.txt
Labels: Python, CMake

add getArcImg fn
  ci/pr.Jenkinsfile
Labels: gpuCI

CUDA 11.2+ features are used via dlopen
  CMakeLists.txt
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: CMake, cpp

Remove cuda_async_memory_resource::is_supported
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
Labels: cpp

Give the typedef used by `function` a better name
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Consistently use 'auto *'
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Refactor 'open_cuda_runtime' to be thread safe
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Remove an unneeded check from dynamic_load_runtime
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Correct style issues found by CI
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Address PR comments.
  build.sh
  ci/release/update-version.sh
  python/CMakeLists.txt
  python/cmake/CMakeLists.txt
  python/cmake/rmm_python_helpers.cmake
  python/cmake/skbuild_patches.cmake
Labels: Python, CMake, gpuCI

Refactor 'open_cuda_runtime' to 'get_cuda_runtime_handle'
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Address PR review.
  build.sh
  python/dev_requirements.txt
Labels: Python

Add contributing documentation.
  CONTRIBUTING.md
Labels: none

Add the prefix path.
  build.sh
Labels: none

Apply suggestions from code review
  CONTRIBUTING.md
  build.sh
Labels: none

Use scikit-build for the build process (#976)
  .gitignore
  CONTRIBUTING.md
  build.sh
  ci/release/update-version.sh
  cmake/config.json
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/CMakeLists.txt
  python/cmake/CMakeLists.txt
  python/cmake/rmm_python_helpers.cmake
  python/cmake/skbuild_patches.cmake
  python/dev_requirements.txt
  python/pyproject.toml
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/setup.py
Labels: Python, CMake, conda, gpuCI

add `ops-bot` config file
  .github/ops-bot.yaml
Labels: none

update comment
  .github/ops-bot.yaml
Labels: none

Ensure we call the correct cudart functions
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Add `.github/ops-bot.yaml` config file (#991)
  .github/ops-bot.yaml
Labels: none

Correct build failures
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Require CUDA driver 11.5+ for the async mr
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Add cuda-python dependency to pyproject.toml
  python/pyproject.toml
Labels: Python

update doc for allocation failure
  include/rmm/mr/device/logging_resource_adaptor.hpp
Labels: cpp

also check device attribute
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Add cuda-python dependency to pyproject.toml (#994)
  python/pyproject.toml
Labels: Python

Fix free-before-alloc in multithreaded test
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: cpp

verify RMM_SYNC_ALLOC_WRAPPER signature in static code path
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

disable reuse for driver < 11.5
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Log allocation failures (#988)
  benchmarks/replay/replay.cpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/logger_tests.cpp
Labels: cpp

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Update include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Apply suggestions from code review
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: cpp

Rename RMM_SYNC_ALLOC_WRAPPER to RMM_CUDART_API_WRAPPER
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

fix function_sig typo
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp
