Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

tidy free lists
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
Labels: cpp

tidy stream_ordered_memory_resource and free_lists
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Labels: cpp

Install the right cudatoolkit in the conda env in gpu/build.sh
  ci/gpu/build.sh
Labels: gpuCI

tidy device_memory_resource and aligned_resource_adaptor
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/device_memory_resource.hpp
Labels: cpp

Fix nodiscard compilation error
  tests/mr/device/mr_tests.cpp
Labels: cpp

tidying more MRs
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
Labels: cpp

Remove `alignment_type` and ignore swappable parameters when one is called `alignment`.
  .clang-tidy
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
Labels: cpp

tidy arena_memory_resource
  include/rmm/mr/device/arena_memory_resource.hpp
Labels: cpp

tidy binning_memory_resource
  include/rmm/mr/device/binning_memory_resource.hpp
Labels: cpp

tidy fixed_size_mr
  include/rmm/mr/device/fixed_size_memory_resource.hpp
Labels: cpp

tidy limiting_resource_adaptor
  include/rmm/mr/device/limiting_resource_adaptor.hpp
Labels: cpp

clean arenas when running out of memory
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

tidy logging_resource_adaptr
  include/rmm/mr/device/logging_resource_adaptor.hpp
Labels: cpp

tidy managed_mr
  include/rmm/mr/device/managed_memory_resource.hpp
Labels: cpp

tidy owning_wrapper and per_device_resource
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/per_device_resource.hpp
Labels: cpp

tidy polymorphic_allocator
  include/rmm/mr/device/polymorphic_allocator.hpp
Labels: cpp

tidy pool_mr
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: cpp

tidy statistics_resource_adaptor
  include/rmm/mr/device/statistics_resource_adaptor.hpp
Labels: cpp

tidy thread_safe_resource_adaptor
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
Labels: cpp

tidy thrust_allocator_adaptor
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
Labels: cpp

tidy tracking_resource_adaptor
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Labels: cpp

tidy host_mrs
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Labels: cpp

tidy aligned_mr_tests
  tests/mr/device/aligned_mr_tests.cpp
Labels: cpp

tidy device MR tests
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/stream_allocator_adaptor_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/device/tracking_mr_tests.cpp
Labels: cpp

tidy host mr tests
  tests/mr/host/mr_tests.cpp
Labels: cpp

copyright
  tests/cuda_stream_pool_tests.cpp
  tests/device_uvector_tests.cpp
  tests/logger_tests.cpp
Labels: cpp

tidy benchmarks and more
  benchmarks/cuda_stream_pool/cuda_stream_pool_bench.cpp
  benchmarks/device_uvector/device_uvector_bench.cu
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  benchmarks/synchronization/synchronization.cpp
  benchmarks/synchronization/synchronization.hpp
  benchmarks/utilities/log_parser.hpp
  benchmarks/utilities/simulated_memory_resource.hpp
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/host/mr_tests.cpp
Labels: cpp

p->ptr
  benchmarks/replay/replay.cpp
Labels: none

Revert threshold size type
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
Labels: cpp

serialize defragmentation
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

Disable readability-named-parameter
  .clang-tidy
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
Labels: cpp

Use C++17 for all of Cython
  python/setup.py
Labels: Python

Avoid bounds check exception in `stack_trace`
  include/rmm/detail/stack_trace.hpp
Labels: cpp

variable name
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Labels: none

Revert magic numbers
  benchmarks/device_uvector/device_uvector_bench.cu
Labels: none

review feedback
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

Update to use rapids-cmake 21.10 pre-configured packages (#854)
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
Labels: CMake

RMM shouldn't install thrust
  cmake/thirdparty/get_thrust.cmake
Labels: CMake

Correct CMake style issues found by CI
  cmake/thirdparty/get_thrust.cmake
Labels: CMake

tweak the arena mr to reduce fragmentation (#845)
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp
