Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

Update brief
  include/rmm/cuda_stream_view.hpp
Labels: cpp

fix align_up namespace
  include/rmm/mr/device/aligned_resource_adaptor.hpp
Labels: cpp

DOC v21.10 Updates
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
  python/setup.py
Labels: Python, CMake, cpp

fix align_up namespace in aligned_resource_adaptor.hpp (#820)
  include/rmm/mr/device/aligned_resource_adaptor.hpp
Labels: cpp

update isort to 5.6.4, remove references to nvstrings
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  python/setup.cfg
Labels: Python, conda

update isort in dev_requirements.txt
  python/dev_requirements.txt
Labels: Python

ENH Replace gpuci_conda_retry with gpuci_mamba_retry
  ci/gpu/build.sh
Labels: gpuCI

ENH Fix artifact install
  ci/gpu/build.sh
Labels: gpuCI

update isort to 5.6.4 (#822)
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  python/dev_requirements.txt
  python/setup.cfg
Labels: Python, conda

Cython extension for rmm::cuda_stream_pool (#818)
  include/rmm/cuda_stream_view.hpp
  python/rmm/_lib/cuda_stream_pool.pxd
Labels: Python, cpp

Address reviewer's feedback
  README.md
Labels: none

Fix isort
  python/rmm/_lib/cuda_stream_pool.pxd
Labels: Python

Fix isort in cuda_stream_view.pxd (#827)
  python/rmm/_lib/cuda_stream_pool.pxd
Labels: Python

Update build instruction in README (#797)
  README.md
Labels: none

Pinning spdlog because recent updates are causing compile issues.
  conda/recipes/librmm/meta.yaml
Labels: conda

Pinning spdlog because recent updates are causing compile issues. (#831)
  conda/recipes/librmm/meta.yaml
Labels: conda

Enforce default visibility for `get_map`.
  include/rmm/detail/export.hpp
  include/rmm/mr/device/per_device_resource.hpp
Labels: cpp

Clang format.
  include/rmm/detail/export.hpp
Labels: cpp

Clang format.
  include/rmm/mr/device/per_device_resource.hpp
Labels: cpp

pin spdlog in dev conda envs
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
Labels: conda

Pin spdlog in dev conda envs (#835)
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
Labels: conda

Enforce default visibility for `get_map`. (#833)
  include/rmm/detail/export.hpp
  include/rmm/mr/device/per_device_resource.hpp
Labels: cpp

Use the new RAPIDS.cmake to fetch rapids-cmake
  CMakeLists.txt
Labels: CMake

Correct CMake style issues found by CI
  CMakeLists.txt
Labels: CMake

Use the new RAPIDS.cmake to fetch rapids-cmake (#838)
  CMakeLists.txt
Labels: CMake

FIX Use mamba for artifact install
  ci/gpu/build.sh
Labels: gpuCI

ENH Replace gpuci_conda_retry with gpuci_mamba_retry (#823)
  ci/gpu/build.sh
Labels: gpuCI

Basic mr tests passing
  include/rmm/mr/libcudacxx/device/device_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/managed_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/owning_wrapper.hpp
  include/rmm/mr/libcudacxx/device/per_device_resource.hpp
  tests/CMakeLists.txt
  tests/mr/libcudacxx/device/mr_test.hpp
  tests/mr/libcudacxx/device/mr_tests.cpp
Labels: CMake, cpp

update changelog
  CHANGELOG.md
Labels: none

Switch to stream_ordered_memory_resource as base.
  include/rmm/cuda_stream_view.hpp
  include/rmm/mr/libcudacxx/device/cuda_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/device_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/managed_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/per_device_resource.hpp
  tests/mr/libcudacxx/device/mr_test.hpp
Labels: cpp

REL v21.08.01 release
  CMakeLists.txt
  python/docs/conf.py
  python/setup.py
Labels: Python, CMake

add multi stream allocations benchmark.
  benchmarks/CMakeLists.txt
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Labels: CMake

Update CMakeLists.txt
  benchmarks/CMakeLists.txt
Labels: CMake

benchmark all MRs
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Labels: none

RMM Tests and Benchmark CMake code uses a more modern style
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake, cpp

add profiling options
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Labels: none

fix cmake style
  benchmarks/CMakeLists.txt
Labels: CMake

Enforce alignment <= 256B
  include/rmm/mr/libcudacxx/device/cuda_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/managed_memory_resource.hpp
Labels: cpp

pool_memory_resource working with cuda::memory_resource interface
  include/rmm/mr/libcudacxx/device/detail/coalescing_free_list.hpp
  include/rmm/mr/libcudacxx/device/detail/free_list.hpp
  include/rmm/mr/libcudacxx/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/owning_wrapper.hpp
  include/rmm/mr/libcudacxx/device/pool_memory_resource.hpp
  tests/mr/libcudacxx/device/mr_test.hpp
  tests/mr/libcudacxx/device/mr_tests.cpp
Labels: cpp

Refactor cmake style (#842)
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake, cpp
