Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

fix project flash
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: gpuCI

Try to clean up a bit
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Make `pool_memory_resource::pool_size()` public (#962)
  include/rmm/mr/device/pool_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
Labels: Python, cpp

Adding yml file for cudatoolkit version 11.6
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

show sccache stats
  ci/cpu/build.sh
Labels: gpuCI

rm zero stats
  ci/cpu/build.sh
Labels: gpuCI

Added yml file for cudatoolkit version 11.6 (#964)
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

Add test and fix for comparison of async MRs with different underlying pools.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
Labels: cpp

copyright
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Add device_buffer::ssize() and device_uvector::ssize()
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Labels: cpp

copyrights
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Labels: cpp

Fix build when RMM_CUDA_MALLOC_ASYNC_SUPPORT is false.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

update changelog
  CHANGELOG.md
Labels: none

Replace `ccache` with `sccache` (#963)
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/librmm/meta.yaml
Labels: conda, gpuCI

docs
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
Labels: cpp

Fix comparison of async MRs with different underlying pools. (#965)
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
Labels: cpp

Add device_buffer::ssize() and device_uvector::ssize() (#966)
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Labels: cpp

Add CMake `install` rules for tests
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake, cpp

add install DESTINATION
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake, cpp

update RPATH to account for new DESTINATION
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake, cpp

Fix signed/unsigned comparison warning
  include/rmm/device_buffer.hpp
Labels: cpp

Fix signed/unsigned comparison warning (#970)
  include/rmm/device_buffer.hpp
Labels: cpp

Add CMake `install` rules for tests (#969)
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake, cpp

initial work on scikit-build
  .gitignore
  ci/release/update-version.sh
  cmake/cmake
  python/CMakeLists.txt
  python/cmake
  python/pyproject.toml
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/rmm/tests/CMakeLists.txt
  python/setup.py
Labels: Python, CMake, gpuCI

Remove unnecessary cmake symlinks.
  cmake/cmake
  python/cmake
Labels: Python, CMake

Apply linters.
  cmake/config.json
  python/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Labels: Python, CMake

Fix install paths in cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/rmm/tests/CMakeLists.txt
Labels: Python, CMake

Minimal changes to get rmm to compile.
  ci/release/update-version.sh
  python/CMakeLists.txt
  python/pyproject.toml
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/rmm/tests/CMakeLists.txt
Labels: Python, CMake, gpuCI

Fix install destination.
  python/cmake/rmm-python-helpers.cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Labels: Python, CMake

Move cython module adding logic to a function.
  python/CMakeLists.txt
  python/cmake/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Labels: Python, CMake

Add TODOs documenting various issues discovered.
  python/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
Labels: Python, CMake

Some degree of further simplification.
  python/CMakeLists.txt
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Labels: Python, CMake

Add missing copyrights.
  python/cmake/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
Labels: Python, CMake

add jenkinsfile
  ci/pr.Jenkinsfile
Labels: gpuCI

try regular Docker plugin
  ci/pr.Jenkinsfile
Labels: gpuCI

test GPU docker
  ci/pr.Jenkinsfile
Labels: gpuCI

update changelog
  CHANGELOG.md
Labels: none

ls inside container
  ci/pr.Jenkinsfile
Labels: gpuCI

update librmm recipe to include multiple outputs
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Labels: conda

Cleanup CI
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/docs/build.sh
  ci/gpu/build.sh
Labels: gpuCI
