Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

Ensure we call cudaMemPoolDestroy via async_alloc
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

dynamic_load_runtime now returns std::optional<function_ptr>
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

dynamic_load_runtime now returns std::optional<function_ptr>
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Correct style issues found by CI
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

return empty optional instead of optional(nullptr)
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Fix free-before-alloc in multithreaded test (#992)
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: cpp

Correct std::optional issues found by review
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Correct style issues found by ci
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Revert "Update `librmm` `conda` outputs (#983)"
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Labels: conda

fix copyright dates
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
Labels: conda

move dependency versions to conda_build_config.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Labels: conda

update cuda versions for host/runtime requirements
  conda/recipes/librmm/meta.yaml
Labels: conda

Disable opportunistic reuse in async mr when cuda driver < 11.5 (#993)
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

opportunistic reuse bug now updated to use `rmm::detail::async_alloc`
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

DOC
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/CMakeLists.txt
  python/docs/conf.py
Labels: Python, CMake, cpp

Use static_assert to validate function arguments are valid
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

remove indirect function call when building statically
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Update `librmm` `conda` recipe (#997)
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Labels: conda

Remove `no_cma`/`has_cma` variants
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

rm remaing async references
  benchmarks/CMakeLists.txt
  build.sh
  python/CMakeLists.txt
  tests/CMakeLists.txt
Labels: Python, CMake, cpp

Use CUDA 11.2+ features via dlopen (#990)
  CMakeLists.txt
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
Labels: CMake, cpp

Rename `librmm_tests` to `librmm-tests`
  ci/gpu/build.sh
  conda/recipes/librmm/meta.yaml
Labels: conda, gpuCI

Remove `no_cma`/`has_cma` variants (#996)
  benchmarks/CMakeLists.txt
  build.sh
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/CMakeLists.txt
  tests/CMakeLists.txt
Labels: Python, CMake, conda, cpp

Rename `librmm_tests` to `librmm-tests` (#1000)
  ci/gpu/build.sh
  conda/recipes/librmm/meta.yaml
Labels: conda, gpuCI

add PR and nightly tests specs
  ci/Jenkinsfile
Labels: gpuCI

delete old jenkinsfile
  ci/Jenkinsfile
  ci/pr.Jenkinsfile
Labels: gpuCI

Bump Python requirements in `setup.cfg` and `rmm_dev.yml` (#982)
  README.md
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  python/setup.cfg
  python/setup.py
Labels: Python, conda

update to use parallels instead of matrix
  ci/Jenkinsfile
Labels: gpuCI

update rmm numba mem manager to handle new bindings
  python/rmm/rmm.py
Labels: Python

Add cudart api wrapper for cudaDeviceGetDefaultMemPool
  include/rmm/detail/dynamic_load_runtime.hpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
Labels: cpp

update `ops-bot` config file
  .github/ops-bot.yaml
Labels: none

update `ops-bot` config file (#1005)
  .github/ops-bot.yaml
Labels: none

Allow construction of cuda_async_memory_resource from existing pool (#889)
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
Labels: cpp

Add rmm::exec_policy_nosync
  include/rmm/exec_policy.hpp
Labels: cpp

update get_ipc_handle
  python/rmm/rmm.py
Labels: Python

Update black version.
  .pre-commit-config.yaml
  ci/checks/style.sh
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: Python, gpuCI

Update conda environments.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

Clean up includes to support Thrust 1.16.
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: cpp

Remove thrust:: calls mentioned in comments.
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
Labels: cpp

Clean up Thrust includes. (#1011)
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: cpp
