Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Fix endif location
  tests/mr/device/tracking_mr_tests.cpp
Labels: cpp

Replace use of custom CUDA bindings with CUDA-Python
  python/rmm/_cuda/10.1/gpu.pxi
  python/rmm/_cuda/10.2/gpu.pxi
  python/rmm/_cuda/11.x/gpu.pxi
  python/rmm/_cuda/gpu.py
  python/rmm/_cuda/stream.pxd
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/setup.py
Labels: Python

REL v21.12.00 release
  python/docs/conf.py
Labels: Python

align to size classes
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Undo deletion
  python/rmm/_lib/memory_resource.pxd
Labels: Python

Update python/rmm/_cuda/gpu.py
  python/rmm/_cuda/gpu.py
Labels: Python

Add cuda-python to recipe, envs and setup.py
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/rmm/meta.yaml
  python/setup.py
Labels: Python, conda

Fix failing tracking test (#929)
  tests/mr/device/tracking_mr_tests.cpp
Labels: cpp

keep track of large allocations in superblocks
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

log max free in superblock
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

Small fixes
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/recipes/rmm/meta.yaml
Labels: conda

log fragmentation percentage
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Update conda/environments/rmm_dev_cuda11.0.yml
  conda/environments/rmm_dev_cuda11.0.yml
Labels: conda

minor fix
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

clang format
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Update .clang-format
  .clang-format
Labels: none

address review comments
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Add debug-only death test for synchronize_no_throw.
  tests/cuda_stream_tests.cpp
Labels: cpp

Update to latest name changes in cuda::pmr
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/resource_view_tests.cpp
Labels: cpp

Make `device_memory_resource` inherit from a device-accessible `stream_ordered_resource`
  include/rmm/mr/device/device_memory_resource.hpp
Labels: cpp

Remove `IncludeCategories` from `.clang-format` (#933)
  .clang-format
Labels: none

Fix failing stream test with a debug-only death test (#934)
  tests/cuda_stream_tests.cpp
Labels: cpp

Fix for DeviceBuffer
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Update doc
  python/rmm/_lib/device_buffer.pxd
Labels: Python

clang format
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Fix CUDA Python version in meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

Fix imports tests syntax
  conda/recipes/rmm/meta.yaml
Labels: conda

Fix imports tests syntax (#935)
  conda/recipes/rmm/meta.yaml
Labels: conda

Missed a meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

Review requests
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Adding test
  python/rmm/tests/test_rmm.py
Labels: Python

Update doc
  python/rmm/_lib/device_buffer.pxd
Labels: Python

Modify imports
  python/rmm/_lib/device_buffer.pxd
Labels: Python

Use no_gc_clear decorator
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
Labels: Python

update changelog
  CHANGELOG.md
Labels: none

Addition to RMM test doc
  python/rmm/tests/test_rmm.py
Labels: Python

Headers that use `std::thread` now include <thread>
  include/rmm/mr/device/arena_memory_resource.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Add 11.5 and 11.6 dev yml files
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

No cudatoolkit 11.6
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

Headers that use `std::thread` now include <thread> (#938)
  include/rmm/mr/device/arena_memory_resource.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
