Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

Add note about performance hit
  python/rmm/_lib/memory_resource.pyx
Labels: Python

More doc
  include/rmm/mr/device/callback_memory_resource.hpp
Labels: cpp

Doc update
  include/rmm/mr/device/callback_memory_resource.hpp
Labels: cpp

Update include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
Labels: cpp

Update include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
Labels: cpp

Correctly pass base_mr using ctx
  tests/mr/device/callback_mr_tests.cpp
Labels: cpp

Update include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
Labels: cpp

Address various review comments
  include/rmm/mr/device/callback_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  tests/mr/device/callback_mr_tests.cpp
Labels: Python, cpp

Update CMake pinning to just avoid 3.23.0. (#1023)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Labels: Python, conda

Update include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
Labels: cpp

Update include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
Labels: cpp

Update python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Default to nullptr
  include/rmm/mr/device/callback_memory_resource.hpp
Labels: cpp

Move docs
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Use mock class in test
  include/rmm/mr/device/callback_memory_resource.hpp
  tests/mock_resource.hpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
Labels: cpp

Use `lib` (not `lib64`) for libraries
  conda/recipes/rmm/build.sh
Labels: conda

rmm conda recipe needs to ensure all CMake files go to `lib`
  conda/recipes/rmm/build.sh
Labels: conda

Use `lib` (not `lib64`) for libraries (#1024)
  conda/recipes/rmm/build.sh
Labels: conda

Use `lib` (not `lib64`) for libraries
  conda/recipes/rmm/build.sh
Labels: conda

Change BUILD_DIR to BUILD_DIRS so that clean works correctly.
  build.sh
Labels: none

Add CMake args to python builds.
  build.sh
Labels: none

clean up comments
  ci/Jenkinsfile
  ci/gpu_test.sh
Labels: gpuCI

Use `lib` (not `lib64`) for libraries (backport from 22.06 to 22.04) (#1026)
  build.sh
  conda/recipes/rmm/build.sh
Labels: conda

REL v22.04.01 release
  CMakeLists.txt
  python/CMakeLists.txt
  python/docs/conf.py
Labels: Python, CMake

upload distinct py packages
  ci/build_py.sh
  ci/gpu_test.sh
Labels: gpuCI

cleanup
  ci/Jenkinsfile
  ci/gpu_test.sh
Labels: gpuCI

misc. file clean-up
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Labels: gpuCI

Add a test for allocate/deallocate
  python/rmm/tests/test_rmm.py
Labels: Python

Add header
  tests/mock_resource.hpp
Labels: cpp

Add example
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Copyright
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Copyright
  tests/mr/device/aligned_mr_tests.cpp
Labels: cpp

Callback memory resource (#980)
  include/rmm/mr/device/callback_memory_resource.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/mock_resource.hpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
Labels: Python, CMake, cpp

enable librmm debug build
  conda/recipes/librmm/build.sh
Labels: conda

add -p flag to mkdir
  ci/gpu_test.sh
Labels: gpuCI

add debug cmds to gpu_test.sh
  ci/gpu_test.sh
Labels: gpuCI

update coredump location
  ci/gpu_test.sh
Labels: gpuCI

add cleanWs back
  ci/Jenkinsfile
Labels: gpuCI

Update cmake-format version for pre-commit and environments.
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

Change all cmake-format requirements to cmakelang.
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda
