Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

Revert "Delete all tests but 1"
  python/rmm/tests/test_rmm.py
Labels: Python

Revert test matrix changes.
  .github/workflows/pr.yaml
Labels: none

add DeviceBuffer.copy
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Bump build tag.
  .github/workflows/wheels.yml
Labels: none

Fix style.
  python/setup.py
  scripts/gdb-pretty-printers.py
Labels: Python

Bump build tag again.
  .github/workflows/wheels.yml
Labels: none

Add concurrency rules so that prior runs are canceled.
  .github/workflows/wheels.yml
Labels: none

Rename to is_async_export_handle_supported.
  python/rmm/_cuda/gpu.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Format gdb script. (#1127)
  scripts/gdb-pretty-printers.py
Labels: none

Fix style.
  python/rmm/tests/test_rmm.py
Labels: Python

update changelog
  CHANGELOG.md
Labels: none

REL v22.10.00 release
  python/docs/conf.py
Labels: Python

address first pass of reviews
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

add __deep_copy__
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Update python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Reverse test logic.
  python/rmm/tests/test_rmm.py
Labels: Python

Add debug info.
  python/rmm/tests/test_rmm.py
Labels: Python

Centralized logic in used workflow.
  .github/workflows/wheels.yml
Labels: none

Use project-wide settings, bump build tag
  .github/workflows/wheels.yml
Labels: none

Use our own bindings
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_cuda/custom_cuda_bindings.pyx
  python/rmm/tests/test_rmm.py
Labels: Python, CMake

Restore custom bindings
  python/rmm/_cuda/custom_cuda_bindings.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Add explicit failure for testing in CI.
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Use custom bindings
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_cuda/custom_cuda_bindings.pyx
  python/rmm/tests/test_rmm.py
Labels: Python, CMake

Style
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Fix typo.
  python/rmm/_cuda/gpu.py
Labels: Python

Rewrite test to accept more error cases.
  python/rmm/tests/test_rmm.py
Labels: Python

Remove Python side error check.
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Catch correct error type.
  python/rmm/tests/test_rmm.py
Labels: Python

Add TODO.
  python/rmm/tests/test_rmm.py
Labels: Python

Update string assertion.
  python/rmm/tests/test_rmm.py
Labels: Python

Relax test for async memory pool IPC handle support (#1130)
  python/rmm/_cuda/gpu.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Use stable version 22.10.00 override
  .github/workflows/wheels.yml
Labels: none

python-versions also dropped
  .github/workflows/wheels.yml
Labels: none

address reviews
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Update python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Update python/rmm/tests/test_rmm.py
  python/rmm/tests/test_rmm.py
Labels: Python

Add a public `copy` API to `DeviceBuffer` (#1128)
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Use `device_buffer` constructors w/memory resource
  python/rmm/_lib/device_buffer.pxd
Labels: Python

Use memory resource in `DeviceBuffer` construtor
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Accept memory resource (and stream) in `copy`
  python/rmm/_lib/device_buffer.pyx
Labels: Python
