Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

Update isort to 5.10.1 (#1069)
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

Add reinitialization hooks
  python/rmm/__init__.py
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: Python

Better docs
  python/rmm/rmm.py
Labels: Python

Use list, not dict
  python/rmm/rmm.py
Labels: Python

More testing for reinit hooks
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: Python

Fix test
  python/rmm/tests/test_rmm.py
Labels: Python

Add a note about when hooks are used
  python/rmm/rmm.py
Labels: Python

Use a list rather than captured stdout
  python/rmm/tests/test_rmm.py
Labels: Python

hook->func
  python/rmm/rmm.py
Labels: Python

Address review feedback
  python/rmm/rmm.py
Labels: Python

Update python/rmm/rmm.py
  python/rmm/rmm.py
Labels: Python

Update python/rmm/rmm.py
  python/rmm/rmm.py
Labels: Python

Update docstring
  python/rmm/rmm.py
Labels: Python

Address @bdice's comments
  python/rmm/rmm.py
Labels: Python

Add the ability to register and unregister reinitialization hooks (#1072)
  python/rmm/__init__.py
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: Python

Add first RMM wheel workflow on GHA
  .github/workflows/pr-wheels.yml
  python/setup.py
Labels: Python

Use new combined pyver workflow
  .github/workflows/pr-wheels.yml
Labels: none

Disable GPU tests
  .github/workflows/pr-wheels.yml
Labels: none

Trigger rebuild
  .github/workflows/pr-wheels.yml
Labels: none

Force rebuild
  .github/workflows/pr-wheels.yml
Labels: none

Test new syntax for cibw workflow
  .github/workflows/pr-wheels.yml
Labels: none

Removed problematic pip global option
  .github/workflows/pr-wheels.yml
Labels: none

Force rebuild
  .github/workflows/pr-wheels.yml
Labels: none

DOC
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/CMakeLists.txt
  python/docs/conf.py
Labels: Python, CMake, cpp

Add cuda suffix env var in local workflow
  .github/workflows/pr-wheels.yml
Labels: none

use common code
  doxygen/Doxyfile
  doxygen/footer.html
Labels: cpp

upgrade doxygen
  doxygen/Doxyfile
Labels: cpp

use templated header
  doxygen/Doxyfile
  doxygen/footer.html
  doxygen/header.html
Labels: cpp

Centralize common css & js code in docs (#1075)
  doxygen/Doxyfile
  doxygen/header.html
Labels: cpp

add device_uvector::reserve
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Labels: cpp

add device_uvector::reserve to rmm-python
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/device_uvector.pxd
Labels: Python

implement device_buffer::reserve via swap
  include/rmm/device_buffer.hpp
Labels: cpp

Update PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

move instead of swap
  include/rmm/device_buffer.hpp
Labels: cpp

documentation fixes
  include/rmm/device_uvector.hpp
Labels: cpp

formatting
  include/rmm/device_buffer.hpp
Labels: cpp

Simplify PR template. (#1080)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

switch to common js file and defer load it
  python/docs/conf.py
Labels: Python

switch to common js file and defer load it (#1081)
  python/docs/conf.py
Labels: Python

Add device_uvector::reserve and device_buffer::reserve (#1079)
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/device_uvector.pxd
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Labels: Python, cpp
