Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, ci

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - changed-files:
      any-glob-to-any-file:
        - 'python/**'
CMake:
  - changed-files:
      any-glob-to-any-file:
        - '**/CMakeLists.txt'
        - '**/cmake/**'
conda:
  - changed-files:
      any-glob-to-any-file:
        - 'conda/**'
cpp:
  - changed-files:
      any-glob-to-any-file:
        - 'include/**'
        - 'tests/**'
        - 'doxygen/**'
ci:
  - changed-files:
      any-glob-to-any-file:
        - 'ci/**'

Simplify cuda_async_view_memory_resource constructor (#2055)
  cpp/include/rmm/mr/device/cuda_async_view_memory_resource.hpp
Labels: none

Fix parameter docstrings (#2062)
  cpp/include/rmm/mr/device/detail/arena.hpp
  cpp/include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Labels: none

Update to rapids-logger 0.2.
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  conda/recipes/librmm/recipe.yaml
  dependencies.yaml
  python/librmm/pyproject.toml
Labels: Python, conda

Update to rapids-logger 0.2 (#2072)
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  conda/recipes/librmm/recipe.yaml
  dependencies.yaml
  python/librmm/pyproject.toml
Labels: Python, conda

Test throwing during do_allocate
  cpp/tests/CMakeLists.txt
  cpp/tests/mr/host/throw_during_allocate_tests.cpp
Labels: CMake

Add noexcept
  cpp/include/rmm/mr/device/device_memory_resource.hpp
  cpp/tests/mr/host/throw_during_allocate_tests.cpp
Labels: none

Deallocation should be noexcept
  cpp/benchmarks/utilities/simulated_memory_resource.hpp
  cpp/include/rmm/mr/device/aligned_resource_adaptor.hpp
  cpp/include/rmm/mr/device/arena_memory_resource.hpp
  cpp/include/rmm/mr/device/binning_memory_resource.hpp
  cpp/include/rmm/mr/device/callback_memory_resource.hpp
  cpp/include/rmm/mr/device/cuda_async_memory_resource.hpp
  cpp/include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  cpp/include/rmm/mr/device/cuda_memory_resource.hpp
  cpp/include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  cpp/include/rmm/mr/device/device_memory_resource.hpp
  cpp/include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  cpp/include/rmm/mr/device/limiting_resource_adaptor.hpp
  cpp/include/rmm/mr/device/logging_resource_adaptor.hpp
  cpp/include/rmm/mr/device/managed_memory_resource.hpp
  cpp/include/rmm/mr/device/owning_wrapper.hpp
  cpp/include/rmm/mr/device/prefetch_resource_adaptor.hpp
  cpp/include/rmm/mr/device/sam_headroom_memory_resource.hpp
  cpp/include/rmm/mr/device/statistics_resource_adaptor.hpp
  cpp/include/rmm/mr/device/system_memory_resource.hpp
  cpp/include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  cpp/include/rmm/mr/device/tracking_resource_adaptor.hpp
  cpp/include/rmm/mr/host/host_memory_resource.hpp
  cpp/include/rmm/mr/host/new_delete_resource.hpp
  cpp/include/rmm/mr/host/pinned_memory_resource.hpp
  cpp/tests/device_check_resource_adaptor.hpp
  cpp/tests/mock_resource.hpp
  cpp/tests/mr/device/failure_callback_mr_tests.cpp
Labels: none

Update more deallocation functions to noexcept
  README.md
  cpp/include/rmm/detail/cccl_adaptors.hpp
  cpp/include/rmm/mr/device/cuda_async_memory_resource.hpp
  cpp/include/rmm/mr/device/device_memory_resource.hpp
  cpp/include/rmm/mr/device/polymorphic_allocator.hpp
  cpp/include/rmm/mr/device/thrust_allocator_adaptor.hpp
  cpp/include/rmm/mr/host/host_memory_resource.hpp
  cpp/include/rmm/mr/host/pinned_memory_resource.hpp
  cpp/include/rmm/mr/pinned_host_memory_resource.hpp
  cpp/tests/mr/device/arena_mr_tests.cpp
  cpp/tests/mr/device/pool_mr_tests.cpp
  python/rmm/rmm/librmm/memory_resource.pxd
Labels: Python

Add Python bindings
  python/rmm/rmm/librmm/memory_resource.pxd
  python/rmm/rmm/mr.py
  python/rmm/rmm/pylibrmm/memory_resource.pxd
  python/rmm/rmm/pylibrmm/memory_resource.pyx
  python/rmm/rmm/tests/test_rmm.py
Labels: Python

Use experimental namespace for Python
  python/rmm/rmm/mr/__init__.py
  python/rmm/rmm/mr/experimental.py
  python/rmm/rmm/tests/test_rmm.py
Labels: Python

Restructure Cython to allow experimental namespace in Cython, too
  python/rmm/rmm/pylibrmm/__init__.py
  python/rmm/rmm/pylibrmm/memory_resource/CMakeLists.txt
  python/rmm/rmm/pylibrmm/memory_resource/__init__.pxd
  python/rmm/rmm/pylibrmm/memory_resource/__init__.py
  python/rmm/rmm/pylibrmm/memory_resource/_memory_resource.pxd
  python/rmm/rmm/pylibrmm/memory_resource/_memory_resource.pyx
  python/rmm/rmm/pylibrmm/memory_resource/experimental.pxd
  python/rmm/rmm/pylibrmm/memory_resource/experimental.pyx
Labels: Python, CMake

Add docs
  docs/python_api.rst
Labels: none

Update docs
  python/rmm/rmm/pylibrmm/memory_resource/experimental.pyx
Labels: Python

Revert clang-format changes
  .pre-commit-config.yaml
Labels: none

Fix ruff
  python/rmm/rmm/allocators/numba.py
Labels: Python

Use ruff check
  .pre-commit-config.yaml
Labels: none

Check runtime instead of driver version
  cpp/include/rmm/detail/runtime_capabilities.hpp
Labels: none

Disable tests on CUDA < 13.0
  python/rmm/rmm/tests/test_rmm.py
Labels: Python

Cleanup
  cpp/include/rmm/detail/runtime_capabilities.hpp
  cpp/include/rmm/mr/device/cuda_async_managed_memory_resource.hpp
Labels: none

Simplify allocation.
  cpp/include/rmm/mr/device/cuda_async_managed_memory_resource.hpp
Labels: none

Lower requirements for CUDA_ASYNC_MANAGED_MR_TEST
  cpp/tests/CMakeLists.txt
Labels: CMake
