Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Fix for `DeviceBuffer` (#931)
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

review feedback
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

clang format
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

increase test coverage
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

clang format
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Improve the Arena allocator to reduce memory fragmentation (#916)
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Add build.sh option to build benchmarks
  build.sh
Labels: none

Build tests and benchmarks in CI for pull requests
  ci/gpu/build.sh
Labels: gpuCI

Temporarily disable warnings for unknown pragmas
  benchmarks/CMakeLists.txt
Labels: CMake

CMake style
  benchmarks/CMakeLists.txt
Labels: CMake

Name cuda_async_view_memory_resource. Remove constructor which takes ownership. Update tests
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
Labels: cpp

Add params to docstring and move to ensureCMakeRan
  build.sh
Labels: none

Temporarily disable warnings for unknown pragmas (#942)
  benchmarks/CMakeLists.txt
Labels: CMake

Formatting
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
Labels: cpp

Fix type of arg
  python/rmm/_cuda/gpu.py
Labels: Python

Check status after calls to cudaGetErrorName/String
  python/rmm/_cuda/gpu.py
Labels: Python

DOC
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
Labels: Python, CMake, cpp

Enable tests build for Project Flash
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
Labels: conda

Add tests and benchmarks options to VALIDARGS
  build.sh
Labels: none

Enable benchmarks build for Project Flash
  conda/recipes/librmm/build.sh
Labels: conda

Update python/rmm/_cuda/gpu.py
  python/rmm/_cuda/gpu.py
Labels: Python

Update python/rmm/_cuda/gpu.py
  python/rmm/_cuda/gpu.py
Labels: Python

Avoid recursion in CUDADriverError and CUDARuntimeError
  python/rmm/_cuda/gpu.py
Labels: Python

Just don't worry about it.
  python/rmm/_cuda/gpu.py
Labels: Python

Replace use of custom CUDA bindings with CUDA-Python (#930)
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/recipes/rmm/meta.yaml
  python/rmm/_cuda/10.1/gpu.pxi
  python/rmm/_cuda/10.2/gpu.pxi
  python/rmm/_cuda/11.x/gpu.pxi
  python/rmm/_cuda/gpu.py
  python/rmm/_cuda/stream.pxd
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/memory_resource.pyx
  python/setup.py
Labels: Python, conda

Use numba to get CUDA runtime version.
  python/rmm/_cuda/gpu.py
Labels: Python

Update python/rmm/_cuda/gpu.py
  python/rmm/_cuda/gpu.py
Labels: Python

Fix style.
  python/rmm/_cuda/gpu.py
Labels: Python

Use numba to get CUDA runtime version. (#946)
  python/rmm/_cuda/gpu.py
Labels: Python

Build benchmarks in RMM CI (#941)
  build.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
Labels: conda, gpuCI

Prepare upload scripts for Python 3.7 removal
  ci/cpu/prebuild.sh
Labels: gpuCI

Correctly manage the lifetime of MR
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Prepare upload scripts for Python 3.7 removal (#952)
  ci/cpu/prebuild.sh
Labels: gpuCI

Apply suggestions from code review
  python/rmm/_lib/device_buffer.pyx
Labels: Python

clang format
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: cpp

ALways upload librmm
  ci/cpu/prebuild.sh
Labels: gpuCI

Always upload librmm (#960)
  ci/cpu/prebuild.sh
Labels: gpuCI

Make `pool_memory_resource::pool_size()` public
  include/rmm/mr/device/pool_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
Labels: Python, cpp

Replace `ccache` with `sccache`
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/librmm/meta.yaml
Labels: conda, gpuCI

use consistent build paths
  ci/cpu/build.sh
Labels: gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
