Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

update to 1.8.5
  ci/gpu/build.sh
  cmake/Modules/RMM_thirdparty.cmake
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/rmm/meta.yaml
Labels: CMake, conda, gpuCI

fix log timestamp format to use a decimal point
  include/rmm/mr/device/logging_resource_adaptor.hpp
Labels: cpp

Update cuda_async_memory_resource to use explicit pool (#752)
  include/rmm/cuda_device.hpp
  include/rmm/detail/cuda_util.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: cpp

include rmm/detail/error.hpp for the RMM_CUDA_TRY macro
  include/rmm/cuda_device.hpp
Labels: cpp

Change initial pool size to default to half available memory.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Destroy the pool handle in the destructor.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Update docs for default pool size.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Change initial pool size to default to half available memory.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Destroy the pool handle in the destructor.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Update docs for default pool size.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Pin to cmake 3.18+
  conda/recipes/rmm/meta.yaml
Labels: conda

Fix docs
  python/rmm/_lib/memory_resource.pyx
Labels: Python

fix log timestamp format to use a decimal point (#755)
  include/rmm/mr/device/logging_resource_adaptor.hpp
Labels: cpp

REL Changelog update
  CHANGELOG.md
Labels: none

Include rmm/detail/error.hpp to get the `RMM_CUDA_TRY` macro (#756)
  include/rmm/cuda_device.hpp
Labels: cpp

Small fix to parameter name in README.md
  README.md
Labels: none

Small fix to parameter name in README.md (#760)
  README.md
Labels: none

Deprecate old rmm::exec_policy
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/thrust_rmm_allocator.h
  tests/mr/device/thrust_allocator_tests.cu
Labels: cpp

Deprecate old rmm::exec_policy (#761)
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/thrust_rmm_allocator.h
  tests/mr/device/thrust_allocator_tests.cu
Labels: cpp

Add missing include for thrust::cuda::par
  include/rmm/exec_policy.hpp
Labels: cpp

Add missing include for thrust::cuda::par (#763)
  include/rmm/exec_policy.hpp
Labels: cpp

Remove void cast for now used free parameter.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Update meta.yaml
  conda/recipes/librmm/meta.yaml
Labels: conda

Update meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

remove unused "-c defaults" from install commands
  README.md
Labels: none

fix librmm recipe
  conda/recipes/librmm/meta.yaml
Labels: conda

test spdlog 1.8.5
  ci/gpu/build.sh
Labels: gpuCI

removed cmake from rmm recipe
  conda/recipes/rmm/meta.yaml
Labels: conda

fix conda remove
  ci/gpu/build.sh
Labels: gpuCI

Ensure destruction of CUDA pool handle in cuda_async_resource destructor (#757)
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

remove unused "-c defaults" from install commands (#764)
  README.md
Labels: none

Update docs
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Pin to cmake 3.18+ (#758)
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

Expose initial_pool_size and release_threshold parameters for cuda_async_memory_resource in Cython (#753)
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

do not include spdlog if the target already exists
  cmake/Modules/RMM_thirdparty.cmake
Labels: CMake

typo fix
  cmake/Modules/RMM_thirdparty.cmake
Labels: CMake

Style
  cmake/Modules/RMM_thirdparty.cmake
Labels: CMake

add a resource adapter to align on block size
  include/rmm/mr/device/block_aligned_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/block_aligned_mr_tests.cpp
Labels: CMake, cpp

rename to aligned_resource_adapter
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/aligned_mr_tests.cpp
Labels: CMake, cpp

clang format
  tests/mr/device/aligned_mr_tests.cpp
Labels: cpp
