Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

update cuda var
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

correct formatting
  cmake/install/FindThrust.cmake
Labels: CMake

FindThrust now guards against multiple inclusion by different consumers (#784)
  cmake/install/FindThrust.cmake
Labels: CMake

upgrade spdlog to 1.8.5 (#658)
  ci/gpu/build.sh
  cmake/Modules/RMM_thirdparty.cmake
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: CMake, conda, gpuCI

Update environment variable used to determine `cuda_version` (#785)
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

Refactor device_scalar in terms of device_uvector
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_scalar_tests.cpp
Labels: cpp

Compile Cython with C++17.
  python/setup.py
Labels: Python

make it easier to include rmm in other projects
  CMakeLists.txt
Labels: CMake

reverse if clauses
  CMakeLists.txt
Labels: CMake

Add device_uvector::set_element_to_zero_async and device_scalar::set_value_to_zero_async
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Labels: cpp

Add details about compute sanitizer memcheck support
  README.md
Labels: none

Include `arena_memory_resource` and `cuda_memory_resource` in docs about memcheck.
  README.md
Labels: none

Support multiple output sinks in rmm::logging_resource_adaptor
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/logger_tests.cpp
Labels: cpp

Compile Cython with C++17. (#787)
  python/setup.py
Labels: Python

make it easier to include rmm in other projects (#788)
  CMakeLists.txt
Labels: CMake

Explicit streams in device_buffer (#775)
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/tests/test_device_buffer.pyx
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
Labels: Python, cpp

Support multiple output sinks in logging_resource_adaptor (#791)
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/logger_tests.cpp
Labels: cpp

Separated the statistics portion from the tracking_resource_adaptor into a new adaptor statistics_resource_adapter
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  tests/CMakeLists.txt
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: Python, CMake, cpp

Getting tests to pass
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: Python, cpp

Style cleanup
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pyx
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: Python, cpp

Remove unused param names and define value_type and friends in terms of uvector
  include/rmm/device_scalar.hpp
Labels: cpp

Remove unused param names in deleted func
  include/rmm/device_uvector.hpp
Labels: cpp

Document compute sanitizer memcheck support (#790)
  README.md
Labels: none

Improving method comment.
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Labels: cpp

Style cleanup.
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Labels: cpp

Remove leading zeros in version_config.hpp
  cmake/Modules/Version.cmake
  cmake/version_config.hpp.in
Labels: CMake

Fix predicate for testing cudaMallocAsync APIs
  python/rmm/tests/test_rmm.py
Labels: Python

Fix predicate for testing APIs requiring CUDAMallocAsync
  python/rmm/tests/test_rmm.py
Labels: Python

Fix predicate for testing APIs requiring CUDAMallocAsync (#795)
  python/rmm/tests/test_rmm.py
Labels: Python

Remove leading zeros in version_config.hpp (#793)
  cmake/Modules/Version.cmake
  cmake/version_config.hpp.in
Labels: CMake

Update build instruction in README
  README.md
Labels: none

Refactor `rmm::device_scalar` in terms of `rmm::device_uvector` (#789)
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Labels: cpp

Add Statistics Resource Adaptor and cython bindings to `tracking_resource_adaptor` and `statistics_resource_adaptor` (#626)
  CMakeLists.txt
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: Python, CMake, cpp

RMM now leverages rapids-cmake to reduce CMake boilerplate
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  cmake/Modules/CPM.cmake
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/RMM_thirdparty.cmake
  cmake/Modules/SetGPUArchs.cmake
  cmake/Modules/Version.cmake
  cmake/install/FindThrust.cmake
  cmake/rmm-config.cmake.in
  cmake/thirdparty/get_gbench.cmake
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
  cmake/version_config.hpp.in
  tests/CMakeLists.txt
Labels: CMake, cpp

FIX update-version.sh for CalVer
  ci/release/update-version.sh
Labels: gpuCI

FIX update-version.sh for CalVer (#798)
  ci/release/update-version.sh
Labels: gpuCI

update changelog
  CHANGELOG.md
Labels: none

RMM cmake-format checks are now aware of rapids_cmake commands
  ci/checks/style.sh
Labels: gpuCI

Update CMake code to pass format and lint checks
  CMakeLists.txt
  cmake/rapids-cmake.json
  cmake/thirdparty/get_gbench.cmake
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
Labels: CMake

Update CMake minimum required in conda recipes
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
Labels: conda

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
