Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, librmm, CMake, Java, Ops

Remove the RapidsAI prefix from the macro
  cmake/version_config.hpp.in
Labels: CMake

add generated tag to doxyfile
  doxygen/Doxyfile
Labels: none

temporarily bump build stack to 9.3.0 for testing
  ci/gpu/build.sh
Labels: Ops

add -Wall flag
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake

fix warnings/errors surfaced by -Wall
  benchmarks/cuda_stream_pool/cuda_stream_pool_bench.cpp
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/synchronization/synchronization.cpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Labels: none

fix lint
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake

Build RMM tests/benchmarks with -Wall flag (#674)
  benchmarks/CMakeLists.txt
  benchmarks/cuda_stream_pool/cuda_stream_pool_bench.cpp
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/synchronization/synchronization.cpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Labels: CMake

Enable tag generation for doxygen (#672)
  doxygen/Doxyfile
Labels: none

Add cuda_async_memory_resource
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Labels: none

header order
  tests/mr/device/mr_tests.cpp
Labels: none

Compile time and run time checks for support of cudaMallocAsync
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: none

Update copyright dates of modified files.
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Labels: none

Unify exception.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: none

Fix typo in RMM_FAIL macro (never exercised!)
  include/rmm/detail/error.hpp
Labels: none

Make cudaMallocAsync non-support a runtime failure.
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/mr_tests.cpp
Labels: none

Fix headers
  tests/mr/device/pool_mr_tests.cpp
Labels: none

Add a test for exception when cudaMallocAsync support not compiled.
  tests/CMakeLists.txt
  tests/mr/device/cuda_async_mr_tests.cpp
Labels: CMake

Remove blank line
  tests/CMakeLists.txt
Labels: CMake

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'
  - 'notebooks/**'
  
librmm:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  
Java:
  - 'java/**'
  
Ops:
  - '.github/**'
  - 'ci/**'
  - 'conda/**'
  - '**/Dockerfile'
  - '**/.dockerignore'
  - 'docker/**'
