Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

`build.sh`: accept `--help` (#1093)
  build.sh
Labels: none

Formatting
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Labels: cpp

Add initial cibuildwheel workflow
  .github/workflows/wheels-amd64.yml
  python/setup.py
Labels: Python

Build and test ARM64 wheels for RMM
  .github/workflows/wheels.yml
Labels: none

Add nvidia-smi to debug smoketest
  .github/workflows/wheels-amd64.yml
Labels: none

Ignore wheelhouse dir
  .gitignore
Labels: none

Run on new manylinux container
  .github/workflows/wheels.yml
Labels: none

Add unit tests
  .github/workflows/wheels.yml
Labels: none

Remove debug calls to nvidia-smi
  .github/workflows/wheels.yml
Labels: none

Use combined build
  .github/workflows/wheels.yml
Labels: none

statically link CUDA runtime if building wheels
  python/CMakeLists.txt
Labels: Python, CMake

Switch from -cuda11 to -cu11 suffix
  .github/workflows/wheels.yml
Labels: none

Use new cibuildwheel branch
  .github/workflows/wheels.yml
Labels: none

Try building it in manylinux_2_27 container
  .github/workflows/wheels.yml
Labels: none

set include_package_data=True for scikit-build
  python/setup.py
Labels: Python

Test rmm in ubuntu 18.04
  .github/workflows/wheels.yml
Labels: none

Split rmm into arch-specific wheels for manylinux2014
  .github/workflows/wheels.yml
Labels: none

Back to manylinux_2_31
  .github/workflows/wheels.yml
Labels: none

Switch to unified workflow for both arches
  .github/workflows/wheels.yml
Labels: none

Use single publish runner
  .github/workflows/wheels.yml
Labels: none

Switch to updated syntax with more bolts exposed
  .github/workflows/wheels.yml
Labels: none

CallbackMemoryResource: handle exceptions
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Workaround for cuda event deadlocking issues in device mr tests
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: cpp

remove unneded cv notify
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: cpp

Address style issues brought up in code review
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: cpp

Remove testing code
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: cpp

Typo
  python/rmm/_lib/memory_resource.pyx
Labels: Python

FailureCallbackResourceAdaptor: support Python exceptions
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Address style issues brought up in code review
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: cpp

Document that minimum required CMake version is now 3.23.1
  CMakeLists.txt
  README.md
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/CMakeLists.txt
  python/pyproject.toml
Labels: Python, CMake, conda

Add GitHub Actions workflows
  .github/workflows/branch-workflow.yaml
  .github/workflows/dependency-files.yml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr-workflow.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/upload_to_anaconda.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Labels: conda, gpuCI

Add GitHub Actions workflows
  .github/workflows/branch-workflow.yaml
  .github/workflows/dependency-files.yml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr-workflow.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/upload_to_anaconda.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Labels: conda, gpuCI

DOC
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/CMakeLists.txt
  python/docs/conf.py
Labels: Python, CMake, cpp

Sync the default stream in c_from_unique_ptr
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Sync stream in c_from_unique_ptr
  python/rmm/_lib/device_buffer.pxd
Labels: Python

Remove unneeded unlock as destructor does it
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: cpp

Ensure consistent spdlog dependency target no matter the source
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

Correct style issues found by CI
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

Keep ref to mr/stream
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Document that minimum required CMake version is now 3.23.1 (#1098)
  CMakeLists.txt
  README.md
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/CMakeLists.txt
  python/pyproject.toml
Labels: Python, CMake, conda
