Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Build conda packages using mambabuild
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: gpuCI

enable external_contributors feature for ops-bot
  .github/ops-bot.yaml
Labels: none

test
  ci/Jenkinsfile
Labels: gpuCI

test2
  ci/Jenkinsfile
Labels: gpuCI

random
  ci/Jenkinsfile
Labels: gpuCI

another push
  ci/Jenkinsfile
Labels: gpuCI

another pr
  ci/Jenkinsfile
Labels: gpuCI

dummy
  ci/Jenkinsfile
Labels: gpuCI

Revert "random"
  ci/Jenkinsfile
Labels: gpuCI

testing branch run again
  ci/Jenkinsfile
Labels: gpuCI

testing again 2
  ci/Jenkinsfile
Labels: gpuCI

testing 1
  ci/Jenkinsfile
Labels: gpuCI

pushing while pr test is running
  ci/Jenkinsfile
Labels: gpuCI

Revert "testing 1"
  ci/Jenkinsfile
Labels: gpuCI

Use conda compilers (#977)
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

Fix conda recipes for conda compilers
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

Fix conda recipes for conda compilers (#1043)
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

Build conda packages using mambabuild (#900)
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: gpuCI

Apply suggestions from code review
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Update include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Document allocation_handle_type
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

clang-format
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Update include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

update env vars during builds
  ci/build_cpp.sh
  ci/build_py.sh
Labels: gpuCI

update ops-bot.yaml config
  .github/ops-bot.yaml
Labels: none

update stage string
  ci/Jenkinsfile
Labels: gpuCI

add failFast option
  ci/Jenkinsfile
Labels: gpuCI

set correct nightly stage
  ci/Jenkinsfile
Labels: gpuCI

Check for CUDA error when testing handle type support.
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: cpp

Change default `enable_ipc` back to True
  python/rmm/_lib/memory_resource.pyx
Labels: Python

trigger test
  ci/Jenkinsfile
Labels: gpuCI

add ghtk to checks
  ci/Jenkinsfile
Labels: gpuCI

add failfast to parallel stages
  ci/Jenkinsfile
Labels: gpuCI

Default enable_ipc to false, raise error if not supported, and test for error.
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Revert "Make IPC handle export optional in cuda_async_memory_resource"
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python, cpp

Revert "Revert "Make IPC handle export optional in cuda_async_memory_resource""
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python, cpp

Revert "Revert "Make IPC handle export optional in cuda_async_memory_resource"" (#1051)
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python, cpp

update ops-bot config
  .github/ops-bot.yaml
Labels: none

test failFast
  ci/Jenkinsfile
  ci/build_cpp.sh
Labels: gpuCI

rm failFast
  ci/Jenkinsfile
Labels: gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
