Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

cuda_pool_wrapper
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_pool_wrapper.hpp
  tests/mr/device/cuda_pool_wrapper_tests.cpp
Labels: cpp

Mark optional cuda runtime functions as weak symbols
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

fix style issues found by CI
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

correct typo
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

fix style issues found by CI
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Guard the weak markup to only happen on newer cudart versions
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Convert polymorphic_allocator and fix do_is_equal in all MRs
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/resource_view_tests.cpp
Labels: cpp

Make sure Cython can include `cuda/memory_resource`
  python/setup.py
Labels: Python

cmake style
  CMakeLists.txt
  cmake/thirdparty/get_libcudacxx.cmake
Labels: CMake

Use a macro instead of `__attribute__((weak))`
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Validate the cuda runtime also support cudaMemPool
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Correct style issues found by ci
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Don't clobber existing value for RMM_WEAK_ATTRIBUTE
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Eliminate Upstream pointers
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/device_buffer_tests.cu
  tests/logger_tests.cpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
  tests/resource_view_tests.cpp
Labels: cpp

Add missing stream argument
  tests/mr/device/mr_test.hpp
Labels: cpp

Switch device_scalar_tests to use resource_view
  tests/device_scalar_tests.cpp
Labels: cpp

Doc and renaming
  include/rmm/mr/device/oom_callback_resource_adaptor.hpp
  tests/mr/device/oom_callback_mr_tests.cpp
Labels: cpp

more renaming
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pyx
  scripts/run-clang-format.py
  tests/CMakeLists.txt
  tests/mr/device/failure_callback_mr_tests.cpp
Labels: Python, CMake, cpp

style
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Copyright
  python/rmm/_lib/__init__.pxd
  python/rmm/_lib/__init__.py
  python/rmm/_lib/device_uvector.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

even more renaming
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Labels: Python

copyright
  tests/CMakeLists.txt
Labels: CMake, cpp

revert temp clang version check
  scripts/run-clang-format.py
Labels: none

renaming
  tests/mr/device/failure_callback_mr_tests.cpp
Labels: cpp

docs
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
Labels: cpp

cmake: renaming
  tests/CMakeLists.txt
Labels: CMake, cpp

using std:function
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
Labels: cpp

review feedback
  include/rmm/detail/error.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Labels: cpp

remove clang tidy hints
  include/rmm/detail/error.hpp
Labels: cpp

more review feedback
  include/rmm/detail/error.hpp
Labels: cpp

Fix variables names in logging macros
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Labels: cpp

Throw `rmm::out_of_memory` when we know for sure (#894)
  include/rmm/detail/error.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: cpp

Docs
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  python/rmm/_lib/__init__.py
Labels: Python, cpp

copyright
  python/rmm/mr.py
Labels: Python

Avoid the cb_arg struct
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  tests/mr/device/failure_callback_mr_tests.cpp
Labels: cpp

Out-of-memory callback resource adaptor (#892)
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  python/rmm/_lib/__init__.pxd
  python/rmm/_lib/__init__.py
  python/rmm/_lib/device_uvector.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/mr/device/failure_callback_mr_tests.cpp
Labels: Python, CMake, cpp

Make the exception type a parameter of failure_callback_resource_adaptor
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  tests/mr/device/failure_callback_mr_tests.cpp
Labels: cpp

Pass exception to failure hander callback
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  tests/mr/device/failure_callback_mr_tests.cpp
Labels: cpp

Make out_of_memory the default exception type and clean up docs.
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
Labels: cpp

Fix do_is_equal after latest cuda/memory_resource upstream changes
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Labels: cpp

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
