Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

Remove exception argument from callback interface
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  tests/mr/device/failure_callback_mr_tests.cpp
Labels: cpp

Fix variable names in logging macro calls (#897)
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Labels: cpp

Convert MRs with upstreams back to taking template parameters.
  benchmarks/device_uvector/device_uvector_bench.cu
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/logger_tests.cpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/failure_callback_mr_tests.cpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: cpp

Provide ./build.sh flag to control CUDA async malloc support
  benchmarks/CMakeLists.txt
  build.sh
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/setup.py
  tests/CMakeLists.txt
Labels: Python, CMake, cpp

Replace `to_device()` in docs with `DeviceBuffer.to_device()`
  python/docs/basics.md
Labels: Python

[skip-ci] Update
  python/docs/basics.md
Labels: Python

Replace `to_device()` in docs with `DeviceBuffer.to_device()` (#902)
  python/docs/basics.md
Labels: Python

Apply suggestions from code review
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
Labels: cpp

Style after github-committed fixes
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
Labels: cpp

update conda recipe
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Labels: conda

update conda recipe build.sh script
  conda/recipes/librmm/build.sh
Labels: conda

trim whitespace
  ci/gpu/build.sh
Labels: gpuCI

make gpu/build.sh install correct `librmm`
  ci/gpu/build.sh
Labels: gpuCI

Update to remove double negative
  benchmarks/CMakeLists.txt
  build.sh
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/CMakeLists.txt
Labels: CMake, cpp

Update setup.py to new disable cuda malloc sync define
  python/setup.py
Labels: Python

fix `librmm` variants
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Labels: conda

fix style checks
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  cmake/thirdparty/get_gbench.cmake
  cmake/thirdparty/get_thrust.cmake
  python/setup.py
  tests/CMakeLists.txt
Labels: Python, CMake, cpp

fix cmake style issues
  CMakeLists.txt
  cmake/thirdparty/get_gbench.cmake
  cmake/thirdparty/get_thrust.cmake
Labels: CMake

update gpu/build.sh conditional logic
  ci/gpu/build.sh
Labels: gpuCI

Provide ./build.sh flag to control CUDA async malloc support (#901)
  benchmarks/CMakeLists.txt
  build.sh
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/setup.py
  tests/CMakeLists.txt
Labels: Python, CMake, cpp

Add coverage options to cmake
  tests/CMakeLists.txt
Labels: CMake, cpp

Add gcovr.cfg and add gcovr to conda
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  gcovr.cfg
Labels: conda

Add explicit template instantiations to tests as needed
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/mr/device/thread_safe_adaptor_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: cpp

Update `conda` recipes for Enhanced Compatibility effort (#893)
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda, gpuCI

Use spdlog/fmt/ostr.h as it supports external fmt library
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

DOC v22.02 Updates
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
Labels: Python, CMake, cpp

Use spdlog/fmt/ostr.h as it supports external fmt library (#907)
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

[DO NOT MERGE] Dummy PR to Test CuPy Fixes
  ci/gpu/build.sh
Labels: gpuCI

Fix `librmm` uploads [skip-ci]
  ci/cpu/upload.sh
Labels: gpuCI

Fix `librmm` uploads (#909)
  ci/cpu/upload.sh
Labels: gpuCI

update upload script
  ci/cpu/upload.sh
Labels: gpuCI

build 2 variants of rmm & 1 of librmm
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda, gpuCI

mv BUILD_FLAGS to build.sh script
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/meta.yaml
Labels: conda

add {has,no}_cma variants back to `librmm`
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Labels: conda, gpuCI

make superblocks persistent between different arenas
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Revert "add {has,no}_cma variants back to `librmm`"
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Labels: conda, gpuCI

Replace use of KEEP_DIR and fix formatting
  tests/CMakeLists.txt
Labels: CMake, cpp

Revert changes to improve code coverage.
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/mr/device/thread_safe_adaptor_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: cpp

Remove thread_safe_adaptor tests
  tests/CMakeLists.txt
Labels: CMake, cpp

Parameterize exception type caught by failure_callback_resource_adaptor (#898)
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  tests/mr/device/failure_callback_mr_tests.cpp
Labels: cpp
