Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

update pipeline to do conda build
  ci/pr.Jenkinsfile
  conda/recipes/librmm/meta.yaml
Labels: conda, gpuCI

Fix `conda` uploads
  ci/cpu/upload.sh
Labels: gpuCI

Fix `conda` uploads (#974)
  ci/cpu/upload.sh
Labels: gpuCI

update croot
  ci/cpu/upload.sh
Labels: gpuCI

update croot (#975)
  ci/cpu/upload.sh
Labels: gpuCI

Some basic cleanup.
  python/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
Labels: Python, CMake

test pipeline structure
  ci/pr.Jenkinsfile
Labels: gpuCI

Use cmake_path to compute install destination.
  python/cmake/rmm-python-helpers.cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Labels: Python, CMake

Add an option to look for existing rmm installations rather than pulling from the source directory.
  python/CMakeLists.txt
Labels: Python, CMake

Run formatters.
  python/CMakeLists.txt
  python/cmake/rmm-python-helpers.cmake
Labels: Python, CMake

Remove unnecessary includes and add some comments.
  python/cmake/rmm-python-helpers.cmake
Labels: Python, CMake

Remove unnecessary CUDAToolkit.
  python/CMakeLists.txt
Labels: Python, CMake

Fix formatting.
  python/cmake/rmm-python-helpers.cmake
Labels: Python, CMake

Fix warning/error in assertion in debug build
  include/rmm/device_uvector.hpp
Labels: cpp

Add new benchmarks comparing concurrent throughput of device_vector and device_uvector
  benchmarks/device_uvector/device_uvector_bench.cu
Labels: none

update librmm recipe to include multiple outputs
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Labels: conda

rm variables that exist in CI container
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: gpuCI

update upload script to account for multiple librmm pkgs
  ci/cpu/upload.sh
Labels: gpuCI

update ci/gpu/build.sh to use librmm_tests pkg
  ci/gpu/build.sh
Labels: gpuCI

debug conda error
  ci/gpu/build.sh
Labels: gpuCI

Revert "debug conda error"
  ci/gpu/build.sh
Labels: gpuCI

Bump Python requirements in setup.cfg
  python/setup.cfg
Labels: Python

Update `librmm` recipe to output `librmm_tests` package (#978)
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Labels: conda, gpuCI

Other 3.7 references
  README.md
  conda/environments/rmm_dev_cuda11.5.yml
  python/setup.py
Labels: Python, conda

Remove upper bound from setup.cfg
  python/setup.cfg
Labels: Python

Avoid repeated nullptr check
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Update conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.5.yml
Labels: conda

Update 11.6 dev yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

Cleanup / suggested changes from review
  benchmarks/device_uvector/device_uvector_bench.cu
Labels: none

Update README.md
  README.md
Labels: none

Prevent scikit-build from marking all symbols as local, which clobbers the visibility attribute ensuring that per device resources are consistent across all objects in a shared library.
  python/CMakeLists.txt
Labels: Python, CMake

Silence CMake warnings about an unused variable.
  python/CMakeLists.txt
Labels: Python, CMake

Run cmake-format.
  python/CMakeLists.txt
Labels: Python, CMake

integer type consistency
  benchmarks/device_uvector/device_uvector_bench.cu
Labels: none

Address PR comments.
  python/CMakeLists.txt
Labels: Python, CMake

New benchmark compares concurrent throughput of device_vector and device_uvector (#981)
  benchmarks/device_uvector/device_uvector_bench.cu
Labels: none

Stop on first test failure.
  ci/gpu/build.sh
Labels: gpuCI

Actually stop on first test failure.
  ci/gpu/build.sh
Labels: gpuCI

Add scikit-build to all conda environment and recipes as well as the dev requirements file.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/dev_requirements.txt
Labels: Python, conda

Disable cudaMallocAsync using CMake directly now that we have access from setup.py builds using scikit-build.
  build.sh
Labels: none
