Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Pass CMake variable correctly.
  build.sh
  python/CMakeLists.txt
Labels: Python, CMake

Remove unnecessary endifs.
  python/CMakeLists.txt
Labels: Python, CMake

Move scikit-build override to separate helper file and add license.
  python/CMakeLists.txt
  python/cmake/set_python_visibility.cmake
Labels: Python, CMake

Run cmake-format.
  python/cmake/set_python_visibility.cmake
Labels: Python, CMake

Revert "Run cmake-format."
  python/cmake/set_python_visibility.cmake
Labels: Python, CMake

Revert "Move scikit-build override to separate helper file and add license."
  python/CMakeLists.txt
  python/cmake/set_python_visibility.cmake
Labels: Python, CMake

Update CMake requirement in pyproject.toml.
  python/pyproject.toml
Labels: Python

Add cmake to meta.yaml and make scikit-build version explicit in pyproject.toml.
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Labels: Python, conda

Disable async support.
  build.sh
Labels: none

Use add_compile_definitions correctly.
  python/CMakeLists.txt
Labels: Python, CMake

Request verbose output from ninja and make sure to tell the install step to build without async support as well just in case.
  build.sh
Labels: none

Selectively disable async APIs and remove unnecessary verbosity.
  build.sh
Labels: none

Clear _skbuild dir to avoid pulling builds from other executors.
  build.sh
Labels: none

Stop failing on the first test and print some information about where the rmm module is being imported from.
  ci/gpu/build.sh
Labels: gpuCI

update recipe
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Labels: conda

mv bash quotes to enable shell expansion
  ci/gpu/build.sh
Labels: gpuCI

fix mamba install command
  ci/gpu/build.sh
Labels: gpuCI

skip ASYNC tests on older, unsupported CUDA versions
  ci/gpu/build.sh
Labels: gpuCI

Update `librmm` `conda` outputs (#983)
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Labels: conda

Fix warning/error in debug assertion in device_uvector.hpp (#979)
  include/rmm/device_uvector.hpp
Labels: cpp

Go back to failing on first error to avoid segfault.
  ci/gpu/build.sh
Labels: gpuCI

Print info before failure.
  ci/gpu/build.sh
Labels: gpuCI

Skip async mr tests when cuda runtime/driver < 11.2
  tests/mr/device/cuda_async_mr_tests.cpp
Labels: cpp

patch to correctly execute all of the tests
  ci/gpu/build.sh
Labels: gpuCI

skip other async tests
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/skip_async.hpp
Labels: cpp

add is_supported() to async mr
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/skip_async.hpp
Labels: cpp

return nullptr if async is not supported
  tests/mr/device/mr_test.hpp
Labels: cpp

use cudaDeviceGetAttribute
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

explicit nullptr
  tests/mr/device/mr_test.hpp
Labels: cpp

fix tests for older cuda driver
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Fix formatting
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
Labels: cpp

Skip async mr tests when cuda runtime/driver < 11.2 (#986)
  ci/gpu/build.sh
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
Labels: cpp, gpuCI

Log allocation failures
  benchmarks/utilities/log_parser.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
Labels: cpp

add test
  benchmarks/replay/replay.cpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/logger_tests.cpp
Labels: cpp

scaffold pipeline
  ci/pr.Jenkinsfile
Labels: gpuCI

added shared lib
  ci/pr.Jenkinsfile
Labels: gpuCI

review
  ci/pr.Jenkinsfile
Labels: gpuCI

Ensure that every package has a different package_data list to avoid referencing the same list when updating.
  python/setup.py
Labels: Python

adjusted labels
  ci/pr.Jenkinsfile
Labels: gpuCI

Remove debugging cruft.
  ci/gpu/build.sh
Labels: gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
