Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Upstreams passed as views, so MRs with upstreams no longer need to be template classes.
  include/rmm/mr/libcudacxx/device/owning_wrapper.hpp
  include/rmm/mr/libcudacxx/device/pool_memory_resource.hpp
Labels: cpp

add prewarm option to profile
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Labels: none

update benchmark cmake file style
  benchmarks/CMakeLists.txt
Labels: CMake

Fix transitive include in cuda_device header
  include/rmm/cuda_device.hpp
Labels: cpp

Execution policy class (#816)
  include/rmm/exec_policy.hpp
Labels: cpp

Rename do_allocate / do_deallocate to avoid warnigns in NVCC about hiding virtual function.
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/memory_resource.hpp
Labels: cpp

Interface rework.
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/memory_resource.hpp
Labels: cpp

Add constants with memory kind and allocation order to the interfaces.
  include/rmm/mr/memory_resource.hpp
Labels: cpp

Remove ambiguity between enum and static field names: memory_kind and allocation_order
  include/rmm/mr/memory_resource.hpp
  tests/mr/host/mr_tests.cpp
Labels: cpp

Fix base class for pinned_memory_resource.
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/mr/host/mr_tests.cpp
Labels: cpp

* Update interfaces to match latest proposal for libcu++. * Remove padding expectation from device memory resource test in logger_tests.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/mr/memory_resource.hpp
  tests/logger_tests.cpp
  tests/mr/host/mr_tests.cpp
Labels: cpp

Remove spdlog from memory_resource.hpp in non-debug builds.
  include/rmm/cuda_stream.hpp
  include/rmm/detail/error.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/cuda_stream_tests.cpp
Labels: cpp

Adjustments after rebase.
  README.md
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/polymorphic_allocator_tests.cpp
Labels: cpp

Adjust ALIGNED_TEST.
  tests/mr/device/aligned_mr_tests.cpp
Labels: cpp

Fix transitive include in cuda_device header (#843)
  include/rmm/cuda_device.hpp
Labels: cpp

Now supporting varying memory_kind! Test factories refactored, managed_memory_resource is a different type from cuda_memory_resource, etc.
  include/rmm/mr/libcudacxx/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/managed_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/pool_memory_resource.hpp
  tests/mr/libcudacxx/device/mr_test.hpp
Labels: cpp

Eliminate `device_memory_resource and `device_resource_view`
  include/rmm/mr/libcudacxx/device/cuda_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/device_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/managed_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/owning_wrapper.hpp
  include/rmm/mr/libcudacxx/device/per_device_resource.hpp
  include/rmm/mr/libcudacxx/device/pool_memory_resource.hpp
  tests/mr/libcudacxx/device/mr_test.hpp
  tests/mr/libcudacxx/device/mr_tests.cpp
Labels: cpp

tweak the arena mr to reduce fragmentation
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

fix cmake styles
  benchmarks/CMakeLists.txt
Labels: CMake

Apply suggestions from code review
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

add multi stream allocations benchmark. (#841)
  benchmarks/CMakeLists.txt
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Labels: CMake

review feedback
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

east const
  include/rmm/logger.hpp
Labels: cpp

remove -g from cython compile lines
  python/setup.py
Labels: Python

fix lint
  python/setup.py
Labels: Python

remove debug flags in build_ext and bdist_wheel
  python/setup.py
Labels: Python

fix lint
  python/setup.py
Labels: Python

include cpack
  CMakeLists.txt
Labels: CMake

remove unnecessary command
  python/setup.py
Labels: Python

fix test_cython.py when compiled binary no longer has debug symbols
  python/rmm/tests/test_cython.py
Labels: Python

fix lint
  python/rmm/tests/test_cython.py
Labels: Python

Return unused portion of a block to owning stream's free list immediately.
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: cpp

Docs and std::size_t and headers
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Labels: cpp

const
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Labels: cpp

std::size_t
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: cpp

Clean up: use std::size_t, include cstddef and aligned.hpp where missing
  include/rmm/cuda_stream_pool.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Labels: cpp

cmake-format
  CMakeLists.txt
  cmake/thirdparty/RMM_GetLibcudacxx.cmake
Labels: CMake

Fix get_libcudacxx.cmake
  CMakeLists.txt
  cmake/thirdparty/get_libcudacxx.cmake
Labels: CMake

cmake-format
  cmake/thirdparty/get_libcudacxx.cmake
Labels: CMake

Remove -g from cython compile commands (#847)
  CMakeLists.txt
  python/rmm/tests/test_cython.py
  python/setup.py
Labels: Python, CMake

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
