Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

Build python using conda in GPU jobs
  ci/gpu/build.sh
Labels: gpuCI

pr reviews
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Labels: gpuCI

Update cmake-format version for pre-commit and environments. (#995)
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

Add rmm::exec_policy_nosync (#1009)
  include/rmm/exec_policy.hpp
Labels: cpp

correct paths
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Labels: gpuCI

rm redundant step
  ci/Jenkinsfile
Labels: gpuCI

add comments to Jenkinsfile
  ci/Jenkinsfile
Labels: gpuCI

rm uneeded lines
  ci/Jenkinsfile
  ci/gpu_test.sh
  conda/recipes/librmm/build.sh
Labels: conda, gpuCI

add timeout to stages
  ci/Jenkinsfile
Labels: gpuCI

opt-in to IPC handle export type
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Attempt at updating Cython for handle type parameter
  python/rmm/_lib/memory_resource.pyx
Labels: Python

style
  python/rmm/_lib/memory_resource.pyx
Labels: Python

style
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Switch build to use rapids-cython.
  python/CMakeLists.txt
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Labels: Python, CMake

Remove now obsolete cmake directory.
  python/cmake/CMakeLists.txt
  python/cmake/rmm_python_helpers.cmake
  python/cmake/skbuild_patches.cmake
Labels: Python, CMake

Remove inaccurate TODO, discovery is configurable using standard CMake variables.
  python/CMakeLists.txt
Labels: Python, CMake

More Cython struggles
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Update RAPIDS.cmake link.
  python/CMakeLists.txt
Labels: Python, CMake

cimport
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Fix style.
  python/CMakeLists.txt
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Labels: Python, CMake

Remove cython from install_requires.
  python/setup.py
Labels: Python

Apply cmake-format.
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
Labels: Python, CMake

Change find_package name to lowercase rmm.
  python/CMakeLists.txt
Labels: Python, CMake

Fix case of rmm_FOUND.
  python/CMakeLists.txt
Labels: Python, CMake

update-version.sh needs to also update the rapids-cmake download.
  ci/release/update-version.sh
Labels: gpuCI

Add newline for readability.
  python/CMakeLists.txt
Labels: Python, CMake

Fix regex.
  ci/release/update-version.sh
Labels: gpuCI

Only enable CUDA conditionally when building the CPP library.
  python/CMakeLists.txt
Labels: Python, CMake

cmake-format.
  python/CMakeLists.txt
Labels: Python, CMake

Build python using conda in GPU jobs (#1017)
  ci/gpu/build.sh
Labels: gpuCI

Replace `to_device` with `DeviceBuffer.to_device`
  README.md
Labels: none

Use conda compilers
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

disable concurrnt builds
  ci/Jenkinsfile
Labels: gpuCI

Replace `to_device` with `DeviceBuffer.to_device` (#1033)
  README.md
Labels: none

Use new rapids-cython component of rapids-cmake to simplify builds (#1031)
  ci/release/update-version.sh
  python/CMakeLists.txt
  python/cmake/CMakeLists.txt
  python/cmake/rmm_python_helpers.cmake
  python/cmake/skbuild_patches.cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/setup.py
Labels: Python, CMake, gpuCI

Clarify using RMM with other Python libraries
  README.md
Labels: none

mv withCredentials to shared lib
  ci/Jenkinsfile
Labels: gpuCI

utilise shared fns
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/gpu_test.sh
Labels: gpuCI

tmp cpu label for upload anac.
  ci/Jenkinsfile
Labels: gpuCI

Use our own declaration for cudaMemAllocationHandleType
  python/rmm/_lib/memory_resource.pyx
Labels: Python
