Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

re-enable warnings as errors for .cu compilation units.
  tests/CMakeLists.txt
Labels: CMake, cpp

Make thrust_allocator_tests actually use the different MRs.
  tests/mr/device/thrust_allocator_tests.cu
Labels: cpp

Add missing header
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: cpp

Make `device_memory_resource` inherit `cuda::stream_ordered_memory_resource<cuda::memory_kind::device>`
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
Labels: cpp

Fix return value docs for supports_get_mem_info
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
Labels: cpp

cmake style
  CMakeLists.txt
  cmake/thirdparty/get_libcudacxx.cmake
  tests/CMakeLists.txt
Labels: CMake, cpp

cmake style iter 2
  CMakeLists.txt
  cmake/thirdparty/get_libcudacxx.cmake
  tests/CMakeLists.txt
Labels: CMake, cpp

Update cmake/thirdparty/get_libcudacxx.cmake
  cmake/thirdparty/get_libcudacxx.cmake
Labels: CMake

Update cmake/thirdparty/get_libcudacxx.cmake
  cmake/thirdparty/get_libcudacxx.cmake
Labels: CMake

add spdlog to install export set
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

fix lint
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

only install spdlog
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

add some tests for arena mr
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/CMakeLists.txt
  tests/mr/device/arena_mr_tests.cpp
Labels: CMake, cpp

Add member functions to query the active stream of device_uvector and device_scalar
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
Labels: cpp

remove unnecessary call to rapids_export_package
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

ENH Allow arbitrary CMake config options in build.sh
  build.sh
Labels: none

Add spdlog to install export set (#886)
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

Allow construction of cuda_async_memory_resource from existing memory pool
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Add set_stream() to device_uvector and device_scalar
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
Labels: cpp

ci/gpu/build.sh now specifies CMAKE_INSTALL_LIBDIR to enforce conda layout
  conda/recipes/librmm/build.sh
Labels: conda

ENH Allow arbitrary CMake config options in build.sh (#888)
  build.sh
  conda/recipes/librmm/build.sh
Labels: conda

REL v21.10.01 release
  CMakeLists.txt
  python/docs/conf.py
  python/setup.py
Labels: Python, CMake

Fix return value docs for supports_get_mem_info (#884)
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
Labels: cpp

Add simple resource_view test
  tests/CMakeLists.txt
  tests/resource_view_tests.cpp
Labels: CMake, cpp

Convert RMM containers to use `stream_ordered_resource_view`
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/device_buffer_tests.cu
Labels: cpp

cmake style
  cmake/thirdparty/get_libcudacxx.cmake
Labels: CMake

cmake formatting
  cmake/thirdparty/get_libcudacxx.cmake
Labels: CMake

documentation
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
Labels: cpp

add tests
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Labels: cpp

Implement oom_callback_resource_adaptor
  include/rmm/mr/device/oom_callback_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Labels: Python, cpp

style: clang-format
  include/rmm/mr/device/oom_callback_resource_adaptor.hpp
Labels: cpp

style: flake8 & isort
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
Labels: Python

doc and renaming closure => callback_arg
  include/rmm/mr/device/oom_callback_resource_adaptor.hpp
Labels: cpp

Added c++ test
  tests/CMakeLists.txt
  tests/mr/device/oom_callback_mr_tests.cpp
Labels: CMake, cpp

more rename
  python/rmm/_lib/memory_resource.pyx
Labels: Python

update build string & version specs
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda

throw `rmm::out_of_memory` when we know for sure
  include/rmm/detail/error.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: cpp

clang format
  include/rmm/detail/error.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
Labels: cpp

cmake: set LIBCUDACXX_INCLUDE_DIR
  CMakeLists.txt
Labels: CMake

Use views in multi_stream_allocations_bench
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Labels: none
