Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, ci

Refactor cccl_adaptors.hpp
  cpp/include/rmm/detail/cccl_adaptors.hpp
  cpp/include/rmm/mr/device/device_memory_resource.hpp
  cpp/include/rmm/mr/pinned_host_memory_resource.hpp
  cpp/include/rmm/resource_ref.hpp
Labels: none

Remove CMake testing changes
  cpp/cmake/thirdparty/get_cccl.cmake
  cpp/cmake/thirdparty/patches/cccl_override.json
Labels: CMake

Fix missing deallocate_async with alignment
  cpp/include/rmm/detail/cccl_adaptors.hpp
Labels: none

Support building with CCCL 3.1.0 (#2017)
  cpp/include/rmm/detail/cccl_adaptors.hpp
  cpp/include/rmm/detail/cuda_memory_resource.hpp
  cpp/include/rmm/mr/device/device_memory_resource.hpp
  cpp/include/rmm/mr/device/pool_memory_resource.hpp
  cpp/include/rmm/mr/device/system_memory_resource.hpp
  cpp/include/rmm/mr/host/host_memory_resource.hpp
  cpp/include/rmm/mr/host/pinned_memory_resource.hpp
  cpp/include/rmm/mr/is_resource_adaptor.hpp
  cpp/include/rmm/mr/pinned_host_memory_resource.hpp
  cpp/include/rmm/resource_ref.hpp
  cpp/tests/mock_resource.hpp
  cpp/tests/mr/device/adaptor_tests.cpp
  cpp/tests/mr/device/arena_mr_tests.cpp
  cpp/tests/mr/device/cuda_async_mr_tests.cpp
  cpp/tests/mr/device/cuda_async_view_mr_tests.cpp
  cpp/tests/mr/device/pool_mr_tests.cpp
  cpp/tests/mr/device/system_mr_tests.cu
  cpp/tests/mr/host/mr_ref_tests.cpp
Labels: none

Add ability to create non-blocking streams
  cpp/include/rmm/cuda_stream.hpp
  cpp/src/cuda_stream.cpp
Labels: none

Allow creation of stream pool with flags
  cpp/include/rmm/cuda_stream_pool.hpp
  cpp/src/cuda_stream_pool.cpp
Labels: none

No need for a sequentially-consistent atomic increment
  cpp/src/cuda_stream_pool.cpp
Labels: none

Add tests
  cpp/tests/cuda_stream_pool_tests.cpp
  cpp/tests/cuda_stream_tests.cpp
Labels: none

configuring repo for automatic release notes generation
  .github/release.yml
Labels: none

Added note about buffer and MR lifetimes
  docs/guide.md
Labels: none

DOC v25.12 Updates [skip ci]
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .devcontainer/cuda13.0-conda/devcontainer.json
  .devcontainer/cuda13.0-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  RAPIDS_BRANCH
  VERSION
  cpp/examples/versions.cmake
  dependencies.yaml
  python/rmm/pyproject.toml
Labels: Python

remove extra colons
  docs/guide.md
Labels: none

remove {ref}
  docs/guide.md
Labels: none

Qualify type name in cuda_stream ctor
  cpp/include/rmm/cuda_stream.hpp
Labels: none

Configure repo for automatic release notes generation (#2037)
  .github/release.yml
Labels: none

Address reviewz
  cpp/include/rmm/cuda_stream.hpp
  cpp/src/cuda_stream.cpp
Labels: none

Add feature for manually merging pool free lists in replay benchmark
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/replay/replay.cpp
  cpp/benchmarks/utilities/log_parser.hpp
  cpp/include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  cpp/include/rmm/mr/device/pool_memory_resource.hpp
  cpp/tests/CMakeLists.txt
Labels: CMake

cuda_stream: now takes creation flags
  cpp/include/rmm/cuda_stream.hpp
  cpp/src/cuda_stream.cpp
Labels: none

tests
  cpp/tests/cuda_stream_tests.cpp
Labels: none

cuda_stream_pool: now takes creation flags
  cpp/include/rmm/cuda_stream.hpp
  cpp/include/rmm/cuda_stream_pool.hpp
  cpp/src/cuda_stream_pool.cpp
  cpp/tests/cuda_stream_pool_tests.cpp
Labels: none

cleanup
  cpp/tests/cuda_stream_tests.cpp
Labels: none

cleanup
  cpp/tests/cuda_stream_pool_tests.cpp
Labels: none

cleanup
  cpp/tests/cuda_stream_tests.cpp
Labels: none

Add option to create non-blocking streams (#2036)
  cpp/include/rmm/cuda_stream.hpp
  cpp/include/rmm/cuda_stream_pool.hpp
  cpp/src/cuda_stream.cpp
  cpp/src/cuda_stream_pool.cpp
  cpp/tests/cuda_stream_pool_tests.cpp
  cpp/tests/cuda_stream_tests.cpp
Labels: none

Build with CCCL 3.1.x.
  cmake/rapids_config.cmake
Labels: CMake

Update `RAPIDS_BRANCH`, codify changes in `update-version.sh`
  ci/release/update-version.sh
Labels: ci

Disable async MR priming by default.
  cpp/include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: none

Add benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/async_priming/async_priming_bench.cpp
Labels: CMake

Revise benchmark
  cpp/benchmarks/async_priming/async_priming_bench.cpp
Labels: none

Revise benchmark
  cpp/benchmarks/async_priming/async_priming_bench.cpp
Labels: none

Synchronize device
  cpp/benchmarks/async_priming/async_priming_bench.cpp
Labels: none

Remove unnecessary data
  cpp/benchmarks/async_priming/async_priming_bench.cpp
Labels: none

Update `RAPIDS_BRANCH`, codify changes in `update-version.sh` (#2049)
  ci/release/update-version.sh
Labels: ci

Simplify cuda_async_view_memory_resource constructor
  cpp/include/rmm/mr/device/cuda_async_view_memory_resource.hpp
Labels: none

Add cuda_async_managed_memory_resource.
  cpp/include/rmm/detail/runtime_capabilities.hpp
  cpp/include/rmm/mr/device/cuda_async_managed_memory_resource.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/mr/device/cuda_async_managed_mr_tests.cpp
Labels: CMake

Fix bug in pinned_mr with CCCL 3.1.x.
  cpp/include/rmm/mr/host/pinned_memory_resource.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/mr/host/pinned_mr_tests.cpp
Labels: CMake

Remove note about priming making later allocations faster.
  cpp/include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: none

Disable async MR priming by default (#2051)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/async_priming/async_priming_bench.cpp
  cpp/include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: CMake

Fix bug in pinned_memory_resource with CCCL 3.1.x. (#2058)
  cpp/include/rmm/mr/host/pinned_memory_resource.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/mr/host/pinned_mr_tests.cpp
Labels: CMake

Fix parameter docstrings
  cpp/include/rmm/mr/device/detail/arena.hpp
  cpp/include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - changed-files:
      any-glob-to-any-file:
        - 'python/**'
CMake:
  - changed-files:
      any-glob-to-any-file:
        - '**/CMakeLists.txt'
        - '**/cmake/**'
conda:
  - changed-files:
      any-glob-to-any-file:
        - 'conda/**'
cpp:
  - changed-files:
      any-glob-to-any-file:
        - 'include/**'
        - 'tests/**'
        - 'doxygen/**'
ci:
  - changed-files:
      any-glob-to-any-file:
        - 'ci/**'
