Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

C++ code coverage support (#905)
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  gcovr.cfg
  tests/CMakeLists.txt
Labels: CMake, conda, cpp

Update recipes for Enhanced Compatibility (#910)
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda, gpuCI

Backport #886 to `branch-21.10`
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

Backport #886 to `branch-21.10` (#911)
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

fix segfault
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

add back memory dump
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

suppress spurious clang-tidy warnings in debug macros
  include/rmm/detail/error.hpp
Labels: cpp

switch to map for superblocks
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

Add functions to query the stream of device_uvector and device_scalar (#887)
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Labels: cpp

suppress spurious clang-tidy warnings in debug macros (#914)
  include/rmm/detail/error.hpp
Labels: cpp

Add thread_safe_adaptor tests
  tests/CMakeLists.txt
  tests/mr/device/thread_safe_adaptor_tests.cpp
Labels: CMake, cpp

Improve cuda_stream test coverage
  tests/cuda_stream_tests.cpp
Labels: cpp

Switch RMM_ROOT to RMM_BUILD_DIR.
  scripts/run-cmake-format.sh
Labels: none

Update pre-commit configuration to use new linting script.
  .pre-commit-config.yaml
Labels: none

Add cmake formatting script.
  scripts/run-cmake-format.sh
Labels: none

Remove trailing comma.
  scripts/run-cmake-format.sh
Labels: none

add some tests
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

add more tests
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

fix clang tidy warnings in test
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

add some logging asserts
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

more tests for global arena
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

add back defrag
  include/rmm/mr/device/arena_memory_resource.hpp
Labels: cpp

use cuda allocation alignment as default
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/pool_mr_tests.cpp
Labels: cpp

Invoke script directly.
  .pre-commit-config.yaml
Labels: none

Avoid assertion in debug mode and add test of operator<<
  tests/cuda_stream_tests.cpp
Labels: cpp

more tests
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Test coverage of e.what()
  tests/mr/device/mr_test.hpp
Labels: cpp

add tests for arena
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

remove alignment changes
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

small fixes
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

switch back to set, fix tests
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Improve arena_mr tests
  gcovr.cfg
  include/rmm/mr/device/arena_memory_resource.hpp
  tests/CMakeLists.txt
  tests/logger_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
Labels: CMake, cpp

Test device_buffer::is_empty()
  tests/device_buffer_tests.cu
Labels: cpp

Add generic adaptor tests
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  rmm_adaptor_test_log.txt
  tests/CMakeLists.txt
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/thread_safe_adaptor_tests.cpp
Labels: CMake, cpp

Delete accidentally added logfile
  rmm_adaptor_test_log.txt
Labels: none

upgrade clang to 11.1.0
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  scripts/run-clang-format.py
Labels: conda

stream synchronize before releasing superblock
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

"out_of_memory" in rmm::out_of_memory.what()
  include/rmm/detail/error.hpp
  tests/mr/device/mr_test.hpp
Labels: cpp

Test owning_wrapper in adaptor_tests
  tests/mr/device/adaptor_tests.cpp
Labels: cpp

Test upstream failure in limiting_mr
  tests/mr/device/limiting_mr_tests.cpp
Labels: cpp

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
