Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

revert sccache prefix change
  conda/recipes/librmm/meta.yaml
Labels: conda

Add GitHub Actions workflows (#1104)
  .github/workflows/branch-workflow.yaml
  .github/workflows/dependency-files.yml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr-workflow.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/cpu/build.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/upload_to_anaconda.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Labels: conda, gpuCI

retrigger GH Actions after shared workflow changes
  .github/ops-bot.yaml
Labels: none

Add empty build tag
  .github/workflows/wheels.yml
Labels: none

update GitHub Actions
  .github/workflows/branch-workflow.yaml
  .github/workflows/nightly-workflow.yaml
  ci/upload_to_anaconda.sh
Labels: gpuCI

Verify test-checkout-src default behavior
  .github/workflows/wheels.yml
Labels: none

Add LICENSE file for wheel
  python/LICENSE
Labels: Python

Bump build tag for LICENSE
  .github/workflows/wheels.yml
Labels: none

add nightly-test workflow
  .github/workflows/nightly-test-workflow.yaml
Labels: none

Remove `rmm` installation from `librmm` tests`
  ci/test_cpp.sh
Labels: gpuCI

Remove `rmm` installation from `librmm` tests` (#1117)
  ci/test_cpp.sh
Labels: gpuCI

Add `cudatoolkit` versions to `dependencies.yaml`
  dependencies.yaml
Labels: none

bifurcate test env into test_cpp & test_python
  ci/test_cpp.sh
  ci/test_python.sh
  dependencies.yaml
Labels: gpuCI

add fix for Jenkins
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: gpuCI

Add `cudatoolkit` versions to `dependencies.yaml` (#1119)
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/test_cpp.sh
  ci/test_python.sh
  dependencies.yaml
Labels: gpuCI

use branch w/ temporary test matrix
  .github/workflows/pr-workflow.yaml
Labels: none

Use numba to get the driver version?
  python/rmm/_cuda/gpu.py
Labels: Python

update nightly workflow
  .github/workflows/nightly.yaml
Labels: none

update shared-action-branches
  .github/workflows/branch-workflow.yaml
  .github/workflows/pr-workflow.yaml
Labels: none

add `date` input
  .github/workflows/branch-workflow.yaml
Labels: none

WIP [skip ci] tweak nightly workflows
  .github/workflows/branch-workflow.yaml
  .github/workflows/nightly-workflow.yaml
Labels: none

rename workflows & use shared workflow for triggering nightly tests
  .github/workflows/branch.yaml
  .github/workflows/pr.yaml
Labels: none

Debug
  python/rmm/tests/test_rmm.py
Labels: Python

Revert "Use numba to get the driver version?"
  python/rmm/_cuda/gpu.py
Labels: Python

Delete all tests but 1
  python/rmm/tests/test_rmm.py
Labels: Python

rm nightly test trigger stage from branch workflow
  .github/workflows/branch.yaml
Labels: none

switch nightly.yaml to use workflow_call
  .github/workflows/nightly.yaml
Labels: none

rename branch & nightly workflows to build & test
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: none

Check if IPC handle types are supported.
  python/rmm/tests/test_rmm.py
Labels: Python

Update python/rmm/tests/test_rmm.py
  python/rmm/tests/test_rmm.py
Labels: Python

Check error code returned by cudaDeviceGetAttribute.
  python/rmm/tests/test_rmm.py
Labels: Python

[skip ci] revert branch changes back to `main`
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

Update GH Action Workflows (#1123)
  .github/workflows/branch-workflow.yaml
  .github/workflows/build.yaml
  .github/workflows/nightly-workflow.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

GH Actions - Enforce `checks` before builds run
  .github/workflows/pr.yaml
Labels: none

GH Actions - Enforce `checks` before builds run (#1125)
  .github/workflows/pr.yaml
Labels: none

Check value for IPC support, not only the CUDA error output.
  python/rmm/tests/test_rmm.py
Labels: Python

Use enum value explicitly.
  python/rmm/tests/test_rmm.py
Labels: Python

Format gdb script.
  scripts/gdb-pretty-printers.py
Labels: none

Use common function for determining IPC support.
  python/rmm/_cuda/gpu.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Fix typo.
  python/rmm/_cuda/gpu.py
Labels: Python
