Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

cmake style
  tests/CMakeLists.txt
Labels: CMake, cpp

update docs
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Improve test coverage of fixed-size MR and pool MR
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: cpp

use byte literals in tests
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

upgrade clang to 11.1.0 (#921)
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  scripts/run-clang-format.py
Labels: conda

fix overflow bug
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

Simplify CMake linting with cmake-format (#913)
  .pre-commit-config.yaml
  scripts/run-cmake-format.sh
Labels: none

update changelog
  CHANGELOG.md
Labels: none

Disable debugging code
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
Labels: cpp

Add explicit instantiations to improve coverage (force instantiation of all functions)
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: cpp

Improve thrust_allocator test coverage
  tests/mr/device/thrust_allocator_tests.cu
Labels: cpp

Improve device_scalar test coverage
  tests/device_scalar_tests.cpp
Labels: cpp

more fixes
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: cpp

Comment out debug helper print, and use get_upstream() instead of accessing directly.
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: cpp

simpler
  tests/device_scalar_tests.cpp
Labels: cpp

Improve device_uvector coverage
  tests/device_uvector_tests.cpp
Labels: cpp

Cover NE adaptor comparison
  tests/mr/device/adaptor_tests.cpp
Labels: cpp

Improve binning_mr coverage
  tests/CMakeLists.txt
  tests/mr/device/binning_mr_tests.cpp
Labels: CMake, cpp

Move list debugging code behind a macro, and remove whitebox tests.
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/pool_mr_tests.cpp
Labels: cpp

Explicitly test stream_view dtor
  tests/cuda_stream_tests.cpp
Labels: cpp

Explanatory Comment
  tests/cuda_stream_tests.cpp
Labels: cpp

Improve logger coverage.
  include/rmm/logger.hpp
Labels: cpp

cmake style
  tests/CMakeLists.txt
Labels: CMake, cpp

Add test of log_outstanding_allocations()
  tests/mr/device/tracking_mr_tests.cpp
Labels: cpp

stack_trace expects non-null strings. Fixes uncovered branch.
  include/rmm/detail/stack_trace.hpp
Labels: cpp

Remove unneeded flush.
  tests/mr/device/tracking_mr_tests.cpp
Labels: cpp

shorten lines to improve coverage.
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: cpp

Clean up logger construction to improve coverage
  include/rmm/mr/device/logging_resource_adaptor.hpp
Labels: cpp

Improve arena.hpp coverage by splitting out lambda.
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

Draft of callback_memory_resource
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_resource_adaptor.hpp
Labels: cpp

building...
  include/rmm/mr/device/callback_memory_resource.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Labels: Python, cpp

Remove `setup.py` from `update-release.sh` script
  ci/release/update-version.sh
Labels: gpuCI

Use CTAD on std::array.
  include/rmm/logger.hpp
Labels: cpp

Update include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: cpp

Remove `setup.py` from `update-release.sh` script (#926)
  ci/release/update-version.sh
Labels: gpuCI

clean instead of defragment individual arenas
  include/rmm/mr/device/arena_memory_resource.hpp
Labels: cpp

lower superblock size to 1MB
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

Improve C++ Test Coverage (#920)
  gcovr.cfg
  include/rmm/detail/error.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/logger_tests.cpp
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/binning_mr_tests.cpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/device/tracking_mr_tests.cpp
Labels: CMake, cpp

Some fixes
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
Labels: Python

Don't look for tracking log if logging level is above DEBUG
  tests/mr/device/tracking_mr_tests.cpp
Labels: cpp

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
