Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Pin click version to last support by black<22.3.0.
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

Fix formatting.
  .pre-commit-config.yaml
Labels: none

Pin CMake to last working version.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

Update meta.yaml files and pyproject.toml.
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Labels: Python, conda

Remove pip requirements file.
  python/dev_requirements.txt
Labels: Python

Update dev_requirements.
  python/dev_requirements.txt
Labels: Python

Remove pip requirements file. (#1015)
  python/dev_requirements.txt
Labels: Python

Pin CMake to last working version. (#1014)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Labels: Python, conda

Update black version (#1010)
  .pre-commit-config.yaml
  ci/checks/style.sh
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: Python, conda, gpuCI

updated style stage
  ci/Jenkinsfile
Labels: gpuCI

added check size steps
  ci/Jenkinsfile
Labels: gpuCI

Formatting
  include/rmm/exec_policy.hpp
Labels: cpp

cuda job stage
  ci/Jenkinsfile
Labels: gpuCI

temporarily skip size and style stages
  ci/Jenkinsfile
Labels: gpuCI

update changelog
  CHANGELOG.md
Labels: none

Properly enable Cython docstrings.
  python/CMakeLists.txt
Labels: Python, CMake

Remove unnecessary space.
  python/CMakeLists.txt
Labels: Python, CMake

Properly enable Cython docstrings. (#1020)
  python/CMakeLists.txt
Labels: Python, CMake

style
  python/rmm/rmm.py
Labels: Python

Update `RMMNumbaManager` to handle `NUMBA_CUDA_USE_NVIDIA_BINDING=1` (#1004)
  python/rmm/rmm.py
Labels: Python

Expose `allocate()` and `deallocate()`
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Add another test
  tests/mr/device/callback_mr_tests.cpp
Labels: cpp

building...
  include/rmm/mr/device/callback_memory_resource.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Labels: Python, cpp

Use fmt instead
  tests/mr/device/callback_mr_tests.cpp
Labels: cpp

Add first cpp test
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/callback_mr_tests.cpp
Labels: CMake, cpp

Some fixes
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
Labels: Python

Draft of callback_memory_resource
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/callback_resource_adaptor.hpp
Labels: cpp

C++ docs
  include/rmm/mr/device/callback_memory_resource.hpp
  tests/mr/device/callback_mr_tests.cpp
Labels: cpp

iterate
  ci/Jenkinsfile
  ci/build_cpp.sh
Labels: gpuCI

Add python test
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Remove files
  include/rmm/mr/device/callback_resource_adaptor.hpp
Labels: cpp

update python stage
  ci/Jenkinsfile
  ci/build_py.sh
Labels: gpuCI

update s3 bucket prefix
  ci/build_cpp.sh
  ci/build_py.sh
Labels: gpuCI

Remove reference to cudf::logic_error
  include/rmm/detail/error.hpp
Labels: cpp

Documentation Fix: Replace `cudf::logic_error` with `rmm::logic_error` (#1021)
  include/rmm/detail/error.hpp
Labels: cpp

Update CMake pinning to just avoid 3.23.0.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Labels: Python, conda

update env vars
  ci/Jenkinsfile
  ci/gpu_test.sh
Labels: gpuCI

clean workspace
  ci/Jenkinsfile
  ci/gpu_test.sh
Labels: gpuCI

Doc update
  include/rmm/mr/device/callback_memory_resource.hpp
Labels: cpp

Update tests/mr/device/callback_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
Labels: cpp

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
