Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Revert "tmp cpu label for upload anac."
  ci/Jenkinsfile
Labels: gpuCI

Apply suggestions from code review
  README.md
Labels: none

Fix inverted logic and add parameter docs.
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Add `join` method to `DeviceBuffer`
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Fix optional syntax
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Update README.md
  README.md
Labels: none

Fix pre-CUDA 11.2 build.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Default enable_ipc to False
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Try something hacky...
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Update README.md
  README.md
Labels: none

tmp exit 1
  ci/Jenkinsfile
Labels: gpuCI

Revert "tmp exit 1"
  ci/Jenkinsfile
Labels: gpuCI

cleanup
  ci/Jenkinsfile
  ci/build_cpp.sh
  ci/build_py.sh
  ci/check_environment.sh
  ci/gpu_test.sh
  ci/upload_to_anaconda.sh
Labels: gpuCI

add conda tokens
  ci/Jenkinsfile
Labels: gpuCI

test building in non-rapids environment
  ci/check_environment.sh
Labels: gpuCI

Revert "test building in non-rapids environment"
  ci/check_environment.sh
Labels: gpuCI

Clarify using RMM with other Python libraries (#1034)
  README.md
Labels: none

Add our own allocation_handle_type enum so we don't leak a CUDA version dependency. Cython is not working -- not sure how to do it.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
Labels: Python, cpp

Move allocation_handle_type declaration under different namespace
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Remove unused Cython duplicate cudaMemAllocationHandleType
  python/rmm/_lib/memory_resource.pyx
Labels: Python

add style and size checks
  ci/Jenkinsfile
  ci/check_size.sh
  ci/check_style.sh
Labels: gpuCI

syntax err
  ci/Jenkinsfile
Labels: gpuCI

debug
  ci/Jenkinsfile
Labels: gpuCI

Revert "debug"
  ci/Jenkinsfile
Labels: gpuCI

debug
  ci/Jenkinsfile
Labels: gpuCI

Sort `install_requires`
  python/setup.py
Labels: Python

Add `cuda-python` to `setup.cfg`
  python/setup.cfg
Labels: Python

Add `numpy` to `setup.py`
  python/setup.py
Labels: Python

Require `cuda-python` version `11.5.0+`
  python/setup.cfg
  python/setup.py
Labels: Python

Require `numpy` version `1.19+`
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/setup.cfg
  python/setup.py
Labels: Python, conda

Require `numba` version `0.49.0+`
  python/setup.py
Labels: Python

debug
  ci/Jenkinsfile
  ci/check_size.sh
  ci/check_style.sh
Labels: gpuCI

add shared script
  ci/Jenkinsfile
Labels: gpuCI

debug
  ci/Jenkinsfile
  ci/checks/style.sh
Labels: gpuCI

DOC
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/CMakeLists.txt
  python/docs/conf.py
Labels: Python, CMake, cpp

make checks parallel
  ci/Jenkinsfile
  ci/check_size.sh
Labels: gpuCI

consolidate style n size checks
  ci/Jenkinsfile
Labels: gpuCI

better inline doxy style and move ifdef inside ctor
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Apply suggestions from code review
  python/rmm/_lib/memory_resource.pyx
Labels: Python

Clarifies Python requirements and version constraints (#1037)
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/setup.cfg
  python/setup.py
Labels: Python, conda

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
