Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

remove unnecessary error message
  scripts/gdb-pretty-printers.py
Labels: none

rm existing dependency files
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda

parameterize config file values
  .github/workflows/conda-envs.yml
Labels: none

TEST - break things with shared workflow
  conda/environments/envs.yaml
Labels: conda

add envs.yaml file
  conda/environments/envs.yaml
Labels: conda

TEST - rename `full` env
  conda/environments/envs.yaml
  conda/environments/fulls_cuda-11.5_arch-x86_64.yaml
  conda/environments/fulls_cuda-11.6_arch-x86_64.yaml
Labels: conda

update dependencies.yaml file format
  dependencies.yaml
Labels: none

Revert "TEST - delete generated file"
  conda/environments/full_cuda-11.6_arch-x86_64.yaml
Labels: conda

utilize shared workflow
  .github/workflows/conda-envs.yml
Labels: none

TEST - delete generated file
  conda/environments/full_cuda-11.6_arch-x86_64.yaml
Labels: conda

update to reflect latest rapids-dependency-file-generator changes
  .github/workflows/conda-envs.yml
  .github/workflows/dependency-files.yml
  conda/environments/all_cuda-11.5_arch-x86_64.yaml
  conda/environments/all_cuda-11.6_arch-x86_64.yaml
  conda/environments/envs.yaml
  dependencies.yaml
Labels: conda

Revert "TEST - rename `full` env"
  conda/environments/envs.yaml
  conda/environments/full_cuda-11.5_arch-x86_64.yaml
  conda/environments/full_cuda-11.6_arch-x86_64.yaml
Labels: conda

rename "full" to "all" based on latest changes
  README.md
Labels: none

Revert "TEST - break things with shared workflow"
  conda/environments/envs.yaml
Labels: conda

add GH Action
  .github/workflows/conda-envs.yml
Labels: none

update README.md to reflect new filename
  README.md
Labels: none

add generated environment files
  conda/environments/full_cuda-11.5_arch-x86_64.yaml
  conda/environments/full_cuda-11.6_arch-x86_64.yaml
Labels: conda

re-generate dependency files
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
Labels: conda

add dependencies.yaml header
  dependencies.yaml
Labels: none

update README.md to reflect new filename
  README.md
Labels: none

bifurcate miscellaneous dependency list
  dependencies.yaml
Labels: none

re-generate dependency lists
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
Labels: conda

Add `gdb` pretty-printers for rmm types (#1088)
  CMakeLists.txt
  scripts/gdb-pretty-printers.py
  scripts/load-pretty-printers.in
Labels: CMake

rm $(arch)
  README.md
Labels: none

rm extraneous comments from `dependencies.yaml`
  dependencies.yaml
Labels: none

re-generate files w/ new header
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
Labels: conda

rename job
  .github/workflows/dependency-files.yml
Labels: none

Bifurcate Dependency Lists (#1073)
  .github/workflows/dependency-files.yml
  README.md
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  dependencies.yaml
Labels: conda

Move clang dependency to develop packages.
  dependencies.yaml
Labels: none

Fix style issues found by CI
  include/rmm/detail/thrust_namespace.h
Labels: cpp

Fix style issues found by CI
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
Labels: cpp

Fix style issues found by ci
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
Labels: cpp

Support thrust_namespace.h being included before thrust headers
  include/rmm/detail/thrust_namespace.h
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
Labels: cpp

Refactor THRUST_WRAPPED_NAMESPACE logic to a shared header
  include/rmm/detail/thrust_namespace.h
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
Labels: cpp

another approach to the namespaces
  include/rmm/detail/thrust_namespace.h
  tests/device_buffer_tests.cu
Labels: cpp

rmm now supports being used with THRUST_WRAPPED_NAMESPACE
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
  tests/CMakeLists.txt
Labels: CMake, cpp

Correct style issues found by CI
  include/rmm/detail/thrust_namespace.h
Labels: cpp

Correct style issues found by CI
  tests/device_buffer_tests.cu
Labels: cpp

Move clang dependency to conda develop packages. (#1092)
  dependencies.yaml
Labels: none

build.sh: accept --help
  build.sh
Labels: none
