Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'

Install the right cudatoolkit in the conda env in gpu/build.sh (#864)
  ci/gpu/build.sh
Labels: gpuCI

fix race condition in limiting resource adapter
  include/rmm/mr/device/limiting_resource_adaptor.hpp
Labels: cpp

review feedback
  include/rmm/mr/device/limiting_resource_adaptor.hpp
Labels: cpp

Fix merge problems
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Labels: cpp

More tidy warnings found on command line
  .clang-tidy
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: cpp

fix race condition in limiting resource adapter (#869)
  include/rmm/mr/device/limiting_resource_adaptor.hpp
Labels: cpp

Fix potential leak and exception warnings
  benchmarks/replay/replay.cpp
Labels: none

Fix uninitialized member clang-tidy warning
  include/rmm/mr/device/detail/free_list.hpp
Labels: cpp

nodiscard
  include/rmm/device_uvector.hpp
  tests/device_uvector_tests.cpp
Labels: cpp

tidying
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Labels: none

nodiscard
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
Labels: cpp

nolints
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Labels: cpp

nodiscard
  include/rmm/device_scalar.hpp
Labels: cpp

nodiscard and nolint
  include/rmm/mr/device/logging_resource_adaptor.hpp
Labels: cpp

cmake style
  cmake/thirdparty/get_gtest.cmake
Labels: CMake

cmake docstring
  cmake/thirdparty/get_gtest.cmake
Labels: CMake

Added cuda_event type.
  include/rmm/cuda_event.hpp
  include/rmm/cuda_stream.hpp
  tests/CMakeLists.txt
  tests/cuda_event_tests.cpp
Labels: CMake, cpp

Add a macro for cudaEventRecordWithFlags non-existing before CUDA 11.1
  include/rmm/cuda_event.hpp
Labels: cpp

Fix device_uvector::set_element_async for non-fundamental types.
  include/rmm/device_uvector.hpp
Labels: cpp

Refactored code according to the review
  include/rmm/cuda_event.hpp
  include/rmm/cuda_event_view.hpp
  include/rmm/cuda_stream.hpp
  include/rmm/cuda_stream_view.hpp
  tests/cuda_event_tests.cpp
Labels: cpp

typo
  include/rmm/cuda_event.hpp
Labels: cpp

Add cuda_stream_view::is_implicitly_synchronized
  include/rmm/cuda_stream.hpp
  include/rmm/cuda_stream_view.hpp
Labels: cpp

Compatibility with CUDA < 11.1
  include/rmm/cuda_event_view.hpp
Labels: cpp

typo
  include/rmm/cuda_stream_view.hpp
Labels: cpp

Use is_default() to check if the stream is legacy default
  include/rmm/cuda_stream_view.hpp
Labels: cpp

python cuda version updates
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda, gpuCI

REL v21.08.02 release
  CMakeLists.txt
  python/docs/conf.py
  python/setup.py
Labels: Python, CMake

correct namespaces
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Labels: cpp

DOC v21.12 Updates
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  python/docs/conf.py
  python/setup.py
Labels: Python, CMake, cpp

Disallow zero-size stream pool
  include/rmm/cuda_stream_pool.hpp
  tests/cuda_stream_pool_tests.cpp
Labels: cpp

Disallow zero-size stream pools (#873)
  include/rmm/cuda_stream_pool.hpp
  tests/cuda_stream_pool_tests.cpp
Labels: cpp

Correct namespace usage in host memory resources (#872)
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Labels: cpp

Fix parameter name in assert.
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
Labels: cpp

Fix parameter name in asserts (#875)
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
Labels: cpp

Make sure we keep the rapids-cmake and rmm cal version in sync
  CMakeLists.txt
  ci/release/update-version.sh
Labels: CMake, gpuCI

Keep rapids cmake version in sync (#876)
  CMakeLists.txt
  ci/release/update-version.sh
Labels: CMake, gpuCI

Add templates to allow enforcing cuda_event_flags safety
  include/rmm/cuda_event.hpp
  include/rmm/cuda_event_view.hpp
  include/rmm/cuda_stream.hpp
  include/rmm/cuda_stream_view.hpp
  tests/cuda_event_tests.cpp
Labels: cpp

Make libcudacxx available for cuda::memory_resource
  CMakeLists.txt
  cmake/thirdparty/get_libcudacxx.cmake
Labels: CMake

REL v21.10.00 release
  python/setup.py
Labels: Python

Add bindings for cuPointerGetAttribute
  python/rmm/_cuda/10.1/gpu.pxi
  python/rmm/_cuda/10.2/gpu.pxi
  python/rmm/_cuda/11.x/gpu.pxi
  python/rmm/_cuda/gpu.pyx
Labels: Python
