Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Fix copyright.
  include/rmm/cuda_stream_pool.hpp
Labels: cpp

cmake doc
  cmake/thirdparty/get_libcudacxx.cmake
Labels: CMake

Update to use rapids-cmake 21.10 pre-configured packages
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
Labels: CMake

Fix `test_cython.py`
  python/rmm/tests/test_cython.py
Labels: Python

Change memory_kind from an enum/value to a namespace/type.
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/memory_resource.hpp
  tests/mr/host/mr_tests.cpp
Labels: cpp

add binding=True so we can enumerate the contents of cython modules, add dynamic export back into test_cython.py
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/tests/test_cython.py
  python/setup.py
Labels: Python

Fix `test_cython.py` (#855)
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/tests/test_cython.py
  python/setup.py
Labels: Python

Improve concurrency of stream_ordered_memory_resource by stealing less (#851)
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: cpp

More missed std::size_t
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
Labels: cpp

doc
  include/rmm/mr/device/device_memory_resource.hpp
Labels: cpp

Clean up: use std::size_t, include cstddef and aligned.hpp where missing (#852)
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/cuda_stream_pool.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
Labels: cpp

.clang-tidy and initial fixes
  .clang-tidy
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/detail/aligned.hpp
  include/rmm/detail/cuda_util.hpp
  include/rmm/detail/error.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/device_uvector.hpp
  include/rmm/logger.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

Suppress cppcoreguidelines-macro-usage
  .clang-tidy
Labels: none

parameter name
  include/rmm/detail/aligned.hpp
Labels: cpp

Delete cuda_async_memory_resource copy/move ctors/operators
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Delete cuda_async_memory_resource copy/move ctors/operators (#860)
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: cpp

Add test that concurrent allocations have different pointers
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Labels: cpp

free_lists are not copyable
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Labels: cpp

free_lists cannot be moved.
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
Labels: cpp

Disable copy/move ctors and operator= from free_list classes (#862)
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Labels: cpp

tidying
  .clang-tidy
  include/rmm/detail/error.hpp
  include/rmm/detail/stack_trace.hpp
  tests/cuda_stream_pool_tests.cpp
  tests/device_buffer_tests.cu
Labels: cpp

tidy some tests
  tests/cuda_stream_pool_tests.cpp
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/logger_tests.cpp
Labels: cpp

tidy cuda_stream.hpp
  include/rmm/cuda_stream.hpp
Labels: cpp

Remove incorrect fix for warning
  include/rmm/detail/error.hpp
Labels: cpp

include order
  tests/device_buffer_tests.cu
Labels: cpp

tidying
  include/rmm/cuda_device.hpp
  tests/mr/device/aligned_mr_tests.cpp
Labels: cpp

Use temporary fork of gtest
  cmake/thirdparty/get_gtest.cmake
Labels: CMake

function-cognitive-complexity.IgnoreMacros=1
  .clang-tidy
Labels: none

Tidy cuda_async_mr_tests
  tests/mr/device/cuda_async_mr_tests.cpp
Labels: cpp

Factor out byte_literals for reuse
  tests/byte_literals.hpp
  tests/mr/device/mr_test.hpp
Labels: cpp

tidy limiting_mr_tests
  tests/mr/device/limiting_mr_tests.cpp
Labels: cpp

tidy logger_tests
  tests/logger_tests.cpp
Labels: cpp

tidy mr_tests
  include/rmm/detail/aligned.hpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Labels: cpp

Fix device_scalar_test hang
  include/rmm/device_scalar.hpp
  tests/device_scalar_tests.cpp
Labels: cpp

Fix arena.hpp debug build
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

tidy device_scalar
  include/rmm/device_scalar.hpp
Labels: cpp

suppress pointer arith warnings
  include/rmm/mr/device/detail/arena.hpp
Labels: cpp

tidy device_buffer
  include/rmm/device_buffer.hpp
Labels: cpp

Suppress owning-memory warnings
  include/rmm/cuda_stream.hpp
  include/rmm/thrust_rmm_allocator.h
Labels: cpp

NOLINT macro parentheses
  include/rmm/detail/error.hpp
Labels: cpp

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
