Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Add memory resource argument through `to_device`
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
Labels: Python

Experiment
  ci/build_cpp.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Labels: Python, conda, gpuCI

More condarc
  ci/build_cpp.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: gpuCI

Update dependencies
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
Labels: conda

Missed one
  conda/recipes/rmm/meta.yaml
Labels: conda

Spaces
  conda/recipes/rmm/meta.yaml
Labels: conda

use ==
  python/setup.cfg
  python/setup.py
Labels: Python

Also modify the condarc for gpuci
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: gpuCI

Remove root_dir/output_folder
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: gpuCI

Anti-test -- this should fail CI
  ci/build_cpp.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: gpuCI

Update cuda-python dep
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Labels: Python, conda

Don't change setup.py
  python/setup.cfg
  python/setup.py
Labels: Python

Remove stale issue labeler workflow
  .github/workflows/stale.yaml
Labels: none

Remove stale labeler (#1137)
  .github/workflows/stale.yaml
Labels: none

Update `dependencies.yaml` schema
  dependencies.yaml
Labels: none

update flags
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: gpuCI

Switch to using rapids-cmake for gbench.
  CMakeLists.txt
  cmake/thirdparty/get_gbench.cmake
Labels: CMake

Relax test for async memory pool IPC handle support
  python/rmm/_cuda/gpu.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python

Update README channels.
  README.md
Labels: none

Switch to using rapids-cmake for gbench. (#1139)
  CMakeLists.txt
  cmake/thirdparty/get_gbench.cmake
Labels: CMake

HOTFIX: Update cuda-python dependency to 11.7.1 (#1136)
  README.md
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
  python/rmm/_cuda/gpu.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python, conda

Use `ninja` in GitHub Actions
  ci/build_cpp.sh
  ci/build_python.sh
Labels: gpuCI

rm old build scripts
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/local/README.md
  ci/local/build.sh
Labels: gpuCI

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
