Repository rapidsai/rmm, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, CMake, conda, cpp, gpuCI

Update CMake minimum required in conda recipes
  conda/recipes/librmm/meta.yaml
Labels: conda

Update README with new minimum required CMake version
  README.md
Labels: none

Correct install rules to not attempt to change the 'include' directory permissions
  CMakeLists.txt
Labels: CMake

More style updates required by cmake-lint
  CMakeLists.txt
Labels: CMake

fix changelog
  CHANGELOG.md
Labels: none

fix changelog (#801)
  CHANGELOG.md
Labels: none

Update README.md
  README.md
Labels: none

Bump isort, enable Cython package resorting
  .pre-commit-config.yaml
  ci/checks/style.sh
Labels: gpuCI

Add settings path arg to gpuCI check
  ci/checks/style.sh
Labels: gpuCI

Fix incorrect href in README.md (#804)
  README.md
Labels: none

remove unneeded rapids-cmake.json file
  cmake/rapids-cmake.json
Labels: CMake

Remove incorrect `upstream=` parameter in docs
  README.md
  python/docs/basics.md
Labels: Python

Fix PoolMemoryResource Python doc examples (#807)
  README.md
  python/docs/basics.md
Labels: Python

Fix building on CUDA 11.3
  python/setup.py
Labels: Python

Fix building on CUDA 11.3 (#809)
  python/setup.py
Labels: Python

Initial cuda::memory_resource based resource and tests
  CMakeLists.txt
  cmake/thirdparty/RMM_GetLibcudacxx.cmake
  include/rmm/mr/libcudacxx/device/cuda_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/device_memory_resource.hpp
  include/rmm/mr/libcudacxx/device/owning_wrapper.hpp
  include/rmm/mr/libcudacxx/device/per_device_resource.hpp
  tests/CMakeLists.txt
  tests/mr/libcudacxx/device/mr_test.hpp
  tests/mr/libcudacxx/device/mr_tests.cpp
Labels: CMake, cpp

RMM now leverages rapids-cmake to reduce CMake boilerplate (#800)
  CMakeLists.txt
  README.md
  benchmarks/CMakeLists.txt
  ci/checks/style.sh
  cmake/Modules/CPM.cmake
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/RMM_thirdparty.cmake
  cmake/Modules/SetGPUArchs.cmake
  cmake/install/FindThrust.cmake
  cmake/rmm-config.cmake.in
  cmake/thirdparty/get_gbench.cmake
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
  cmake/version_config.hpp.in
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  tests/CMakeLists.txt
Labels: CMake, conda, cpp, gpuCI

export and install spdlog in rmm exports set if found
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

find_package(RMM) can now be called multiple times safely
  CMakeLists.txt
Labels: CMake

Add spdlog to `rmm-exports` if found by CPM (#810)
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake

find_package(RMM) can now be called multiple times safely (#811)
  CMakeLists.txt
Labels: CMake

Bump isort, enable Cython package resorting (#806)
  .pre-commit-config.yaml
  ci/checks/style.sh
Labels: gpuCI

Run updated isort hook on pxd files
  python/rmm/_cuda/stream.pxd
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/device_uvector.pxd
  python/rmm/_lib/lib.pxd
Labels: Python

Run updated isort hook on pxd files (#812)
  python/rmm/_cuda/stream.pxd
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/device_uvector.pxd
  python/rmm/_lib/lib.pxd
Labels: Python

Update conda env files
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
Labels: conda

Update python script
  scripts/run-clang-format.py
Labels: none

Update .clang-format
  .clang-format
Labels: none

Formatting changes
  include/rmm/detail/aligned.hpp
  include/rmm/detail/error.hpp
  include/rmm/device_scalar.hpp
  include/rmm/logger.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/thrust_rmm_allocator.h
  tests/device_buffer_tests.cu
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: cpp

Fix for CI
  ci/checks/style.sh
Labels: gpuCI

Remove duplicate line
  .clang-format
Labels: none

Remove temporary CI fix
  ci/checks/style.sh
Labels: gpuCI

Add execution policy class
  include/rmm/exec_policy.hpp
  tests/device_buffer_tests.cu
Labels: cpp

Renaming back exec_policy function + creating class with conversion operator
  include/rmm/exec_policy.hpp
  tests/device_buffer_tests.cu
Labels: cpp

Updating Clang Version to 11.0.0 (#814)
  .clang-format
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  include/rmm/detail/aligned.hpp
  include/rmm/detail/error.hpp
  include/rmm/device_scalar.hpp
  include/rmm/logger.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/thrust_rmm_allocator.h
  scripts/run-clang-format.py
  tests/device_buffer_tests.cu
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: conda, cpp

Fix building on cuda 11.4
  python/setup.py
Labels: Python

Code formatting
  python/setup.py
Labels: Python

Fix building on cuda 11.4 (#817)
  python/setup.py
Labels: Python

Remove function
  include/rmm/exec_policy.hpp
Labels: cpp

stream pool pxd
  python/rmm/_lib/cuda_stream_pool.pxd
Labels: Python

making stream view to cudaStream_t operator implicit
  include/rmm/cuda_stream_view.hpp
Labels: cpp

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Generated from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/rmm/labels

Python:
  - 'python/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

conda:
  - 'conda/**'

cpp:
  - 'include/**'
  - 'tests/**'
  - 'doxygen/**'

gpuCI:
  - 'ci/**'
