Repository rapidsai/rmm, pull requests merged in 2019-10, with the labels that each got.

#142 [REVIEW] Fix ignored exceptions in Cython
  CHANGELOG.md
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/lib.pyx
Labels: 5 - Ready to Merge, Python

#149 Force finalization of RMM objects before RMM is finalized
  CHANGELOG.md
  python/rmm/rmm.py
Labels: 5 - Ready to Merge, Python

#146 [WIP] Remove singletons to ensure rmmFinalize() really finalizes.
  CHANGELOG.md
  README.md
  include/rmm/detail/memory_manager.hpp
  include/rmm/mr/cnmem_managed_memory_resource.hpp
  include/rmm/mr/cnmem_memory_resource.hpp
  include/rmm/mr/cuda_memory_resource.hpp
  include/rmm/mr/default_memory_resource.hpp
  include/rmm/mr/managed_memory_resource.hpp
  include/rmm/rmm.hpp
  include/rmm/rmm_api.h
  src/memory_manager.cpp
  src/mr/default_memory_resource.cpp
  src/rmm.cpp
  tests/memory_tests.cpp
  tests/mr/mr_tests.cpp
Labels: 2 - In Progress

#154 Set output ptr to 0 on RMM_UNINITIALIZED error in rmm::alloc
  CHANGELOG.md
  include/rmm/rmm.hpp
Labels: 3 - Ready for review

#157 [REVIEW] Fix for numba GC happening after RMM finalization
  CHANGELOG.md
  python/rmm/__init__.py
  python/rmm/rmm.py
Labels: 3 - Ready for review, Python

#153 [RELEASE] RMM v0.10
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  CMakeLists.txt
  README.md
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/local/build.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  doxygen/Doxyfile
  include/rmm/detail/memory_manager.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/mr/cnmem_managed_memory_resource.hpp
  include/rmm/mr/cnmem_memory_resource.hpp
  include/rmm/mr/cuda_memory_resource.hpp
  include/rmm/mr/default_memory_resource.hpp
  include/rmm/mr/device_memory_resource.hpp
  include/rmm/mr/managed_memory_resource.hpp
  include/rmm/rmm.h
  include/rmm/rmm.hpp
  include/rmm/rmm_api.h
  pyproject.toml
  python/.coveragerc
  python/.flake8.cython
  python/librmm_cffi/__init__.py
  python/librmm_cffi/wrapper.py
  python/rmm/__init__.py
  python/rmm/_lib/__init__.pxd
  python/rmm/_lib/__init__.py
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/lib.pyx
  python/rmm/_version.py
  python/rmm/rmm.py
  python/rmm/rmm_config.py
  python/rmm/tests/test_rmm.py
  python/setup.cfg
  python/setup.py
  python/tests/test_rmm.py
  python/versioneer.py
  src/memory_manager.cpp
  src/mr/default_memory_resource.cpp
  src/rmm.cpp
  tests/CMakeLists.txt
  tests/device_buffer_tests.cpp
  tests/device_scalar_tests.cpp
  tests/memory_tests.cpp
  tests/mr/mr_tests.cpp
  tests/mr/thrust_allocator_tests.cpp
Labels: ! - Release

#161 [REVIEW] Use `std::atexit` to finalize RMM in Cython
  CHANGELOG.md
  python/rmm/__init__.py
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/lib.pyx
  python/rmm/rmm.py
Labels: 3 - Ready for review

#165 [REVIEW] Align memory resource allocation sizes to 8-byte
  CHANGELOG.md
  include/rmm/mr/device_memory_resource.hpp
Labels: 4 - waiting on author

#172 [REVIEW] Fix automerge 0.11 [skip-ci]
  CHANGELOG.md
Labels: 3 - Ready for review

#167 [REVIEW] impl and refactor device_scalar::set_value and value, respectively.
  CHANGELOG.md
  include/rmm/device_scalar.hpp
  tests/device_scalar_tests.cpp
Labels: 3 - Ready for review
