Repository rapidsai/rmm, pull requests merged in 2019-09, with the labels that each got.

#99 [REVIEW] Device buffer class
  CHANGELOG.md
  include/rmm/device_buffer.hpp
  tests/CMakeLists.txt
  tests/device_buffer_tests.cpp
Labels: 3 - Ready for review

#133 [REVIEW] Device scalar class
  CHANGELOG.md
  include/rmm/device_scalar.hpp
  tests/CMakeLists.txt
  tests/device_scalar_tests.cpp
Labels: 3 - Ready for review

#134 Fix merge errors and missing 0.9 date in CHANGELOG
  CHANGELOG.md
Labels: 5 - Ready to Merge, doc

#137 Move CFFI to Cython (+address reviews)
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  CMakeLists.txt
  ci/checks/style.sh
  ci/gpu/build.sh
  conda/recipes/rmm/meta.yaml
  pyproject.toml
  python/.coveragerc
  python/.flake8.cython
  python/librmm_cffi/__init__.py
  python/librmm_cffi/wrapper.py
  python/rmm/__init__.py
  python/rmm/_lib/__init__.pxd
  python/rmm/_lib/__init__.py
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/lib.pyx
  python/rmm/_version.py
  python/rmm/rmm.py
  python/rmm/rmm_config.py
  python/rmm/tests/test_rmm.py
  python/setup.cfg
  python/setup.py
  python/tests/test_rmm.py
  python/versioneer.py
Labels: 3 - Ready for review, Python
