Repository rapidsai/rmm, pull requests merged in 2019-03, with the labels that each got.

#46 [WIP] Added Doxygen configuration file
  .gitignore
  CMakeLists.txt
  doxygen/Doxyfile
Labels: 2 - In Progress

#58 Eliminate check for change in available memory in getInfo test
  CHANGELOG.md
  tests/memory_tests.cpp
Labels: 3 - Ready for review, tests

#60 [REVIEW] Update default abi to ON
  CHANGELOG.md
  CMakeLists.txt
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: ! - Release

#62 [RELEASE] v0.6 RMM Release
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
  doxygen/Doxyfile
  include/rmm/detail/memory_manager.hpp
  include/rmm/rmm_api.h
  python/librmm_cffi/__init__.py
  python/librmm_cffi/librmm_config.py
  python/librmm_cffi/wrapper.py
  python/setup.py
  python/tests/test_rmm.py
  src/rmm.cpp
  tests/CMakeLists.txt
  tests/memory_tests.cpp
Labels: ! - Release, 3 - Ready for review

#67 Add random_allocate microbenchmark
  CHANGELOG.md
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/performance/random_allocate.cu
Labels: 2 - In Progress, enhancement, tests

#68 Fix random_allocate sign mismatch
  CHANGELOG.md
  tests/CMakeLists.txt
  tests/performance/random_allocate.cpp
Labels: 3 - Ready for review

#72 Remove unnecesary _BSD_SOURCE define in random_allocate.cpp
  CHANGELOG.md
  tests/performance/random_allocate.cpp
Labels: 3 - Ready for review, tests
