Repository rapidsai/rmm, pull requests merged in 2019-12, with the labels that each got.

#194 Drop unused imports from `device_buffer.pyx`
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pyx
Labels: 5 - Ready to Merge

#193 [REVIEW] Remove thrown exception in `rmm_allocator::deallocate`
  CHANGELOG.md
  include/rmm/rmm.hpp
  include/rmm/thrust_rmm_allocator.h
  tests/memory_tests.cpp
Labels: 5 - Ready to Merge

#196 FIX Remove unused CUDA conda labels
  CHANGELOG.md
  ci/cpu/librmm/upload-anaconda.sh
  ci/cpu/rmm/upload-anaconda.sh
  conda/environments/rmm_dev_cuda10.0.yml
  conda/environments/rmm_dev_cuda9.2.yml
Labels: 3 - Ready for review

#215 [REVIEW] Fix polymorphic exception caught by value
  CHANGELOG.md
  include/rmm/rmm.hpp
  src/rmm.cpp
Labels: 5 - Ready to Merge

#198 [REVIEW] Implemented rmm.rmm_cupy_allocator()
  CHANGELOG.md
  ci/gpu/build.sh
  python/rmm/__init__.py
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: 4 - waiting on author, Python
