Repository rapidsai/rmm, pull requests merged in 2020-04, with the labels that each got.

#343 [REVIEW] Added in option to staticlly link against cudart
  CHANGELOG.md
  CMakeLists.txt
  build.sh
  tests/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#341 Enable logging
  CHANGELOG.md
  benchmarks/CMakeLists.txt
  include/rmm/detail/memory_manager.hpp
  src/memory_manager.cpp
Labels: 3 - Ready for review

#347 Mark rmmFinalizeWrapper nogil
  CHANGELOG.md
  python/rmm/_lib/lib.pyx
Labels: 5 - Ready to Merge, Python

#350 [REVIEW] Add .clang-format file & format all files
  .clang-format
  CHANGELOG.md
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/cxxopts.hpp
  benchmarks/replay/rapidcsv.h
  benchmarks/replay/replay.cpp
  benchmarks/synchronization/synchronization.cpp
  benchmarks/synchronization/synchronization.hpp
  benchmarks/test/test_benchmark.cpp
  ci/checks/style.sh
  conda/environments/rmm_dev_cuda10.0.yml
  conda/environments/rmm_dev_cuda9.2.yml
  scripts/run-clang-format.py
  src/memory_manager.cpp
  src/mr/device/default_memory_resource.cpp
  src/rmm.cpp
Labels: 3 - Ready for review
