Repository rapidsai/rmm, pull requests merged in 2020-10, with the labels that each got.

#587 [REVIEW] Removed `move` from self-defined and replaced with standard library `move`
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_device_buffer.pyx
Labels: 2 - In Progress, Python

#580 [REVIEW] install cmake config file with RMM
  CHANGELOG.md
  CMakeLists.txt
  README.md
  cmake/RMM_thirdparty.cmake
  cmake/install/FindThrust.cmake
  cmake/rmm-config.cmake.in
Labels: 5 - Ready to Merge, CMake

#582 Fix handling of cudaStreamPerThread when not compiled for PTDS
  CHANGELOG.md
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: 3 - Ready for review

#590 Create CODE_OF_CONDUCT.md [skip-ci]
  CHANGELOG.md
  CODE_OF_CONDUCT.md
Labels: 5 - Ready to Merge, doc

#595 [REVIEW] fix pool_mr example in README.md [skip-ci]
  CHANGELOG.md
  README.md
Labels: doc

#591 [REVIEW] add a simulated memory resource to the replay bench
  CHANGELOG.md
  benchmarks/replay/replay.cpp
  benchmarks/utilities/simulated_memory_resource.hpp
Labels: 3 - Ready for review

#594 [REVIEW] Adding limiting adaptor
  CHANGELOG.md
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/limiting_mr_tests.cpp
Labels: 3 - Ready for review

#607 [REVIEW] Fix automerge [skip ci]
  CHANGELOG.md
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/limiting_mr_tests.cpp
Labels: 5 - Ready to Merge, gpuCI

#592 [REVIEW] logging: add auto_flush to make_logging_adaptor
  CHANGELOG.md
  include/rmm/mr/device/logging_resource_adaptor.hpp
Labels: 2 - In Progress

#603 [REVIEW] always test both legacy and per-thread default stream
  CHANGELOG.md
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  ci/gpu/build.sh
  tests/CMakeLists.txt
Labels: 3 - Ready for review, gpuCI, tests

#599 [REVIEW] make the arena allocator work better with the producer/consumer mode
  CHANGELOG.md
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: 3 - Ready for review

#588 [REVIEW] use installed C++ RMM in python build
  CHANGELOG.md
  build.sh
  python/setup.py
Labels: 5 - Ready to Merge, CMake, Python

#612 Drop old Numba `device_array*` APIs
  CHANGELOG.md
  python/rmm/__init__.py
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge, Python

#611 [REVIEW] add a note about requiring 2 c++ reviewers
  CHANGELOG.md
  CONTRIBUTING.md
Labels: doc

#601 Allow unlimited maximum pool size
  CHANGELOG.md
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  python/rmm/_lib/memory_resource_wrappers.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/pool_mr_tests.cpp
Labels: 3 - Ready for review

#608 Add stream wrapper types
  .gitignore
  CHANGELOG.md
  README.md
  benchmarks/device_uvector/device_uvector_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  benchmarks/utilities/log_parser.hpp
  benchmarks/utilities/simulated_memory_resource.hpp
  conda/recipes/librmm/meta.yaml
  include/rmm/cuda_stream.hpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/cuda_stream_view.pyx
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  tests/CMakeLists.txt
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: 5 - Ready to Merge, Python
