Repository rapidsai/rmm, pull requests merged in 2020-12, with the labels that each got.

#639 fix release script version updater based on cmake reformatting [skip ci]
  CHANGELOG.md
  ci/release/update-version.sh
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, bug, gpuCI, non-breaking

#641 [REVIEW] fix adding languages after version number in cmake in release script [skip ci]
  CHANGELOG.md
  ci/release/update-version.sh
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, CMake, bug, gpuCI, non-breaking

#627 Gpuciscripts clean and update
  CHANGELOG.md
  build.sh
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/local/README.md
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, gpuCI, improvement, non-breaking

#609 Add polymorphic_allocator and stream_allocator_adaptor
  CHANGELOG.md
  README.md
  include/rmm/mr/device/polymorphic_allocator.hpp
  tests/CMakeLists.txt
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/mr/device/stream_allocator_adaptor_tests.cpp
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, feature request, non-breaking

#631 [REVIEW] Force local install of librmm
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, bug, gpuCI, non-breaking

#647 Simplify `rmm::exec_policy` and refactor Thrust support
  CHANGELOG.md
  README.md
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/thrust_rmm_allocator.h
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#653 Fix wrong attribute names leading to DEBUG log build issues
  include/rmm/mr/device/tracking_resource_adaptor.hpp
Labels: 3 - Ready for review, 6 - Okay to Auto-Merge, bug, non-breaking

#656 Document that `managed_memory_resource` does not work with NVIDIA vGPU
  README.md
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, doc, non-breaking

#650 Remove DeviceBuffer synchronization on default stream
  python/rmm/_lib/device_buffer.pyx
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, Python, breaking, improvement

#659 Add a CUDA stream pool
  README.md
  benchmarks/CMakeLists.txt
  benchmarks/cuda_stream_pool/cuda_stream_pool_bench.cpp
  conda/recipes/librmm/meta.yaml
  include/rmm/cuda_stream_pool.hpp
  tests/CMakeLists.txt
  tests/cuda_stream_pool_tests.cpp
  tests/cuda_stream_tests.cpp
Labels: 6 - Okay to Auto-Merge, feature request, non-breaking
