Repository rapidsai/rmm, pull requests merged in 2020-08, with the labels that each got.

#456 [REVIEW] clean up rmm includes
  CHANGELOG.md
  CMakeLists.txt
  benchmarks/device_uvector/device_uvector_bench.cu
  benchmarks/utilities/log_parser.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/CMakeLists.txt
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cu
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/host/mr_tests.cpp
Labels: 5 - Ready to Merge, CMake

#461 [REVIEW] cmake improvements
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: 2 - In Progress, CMake

#458 [REVIEW] Per device resource
  CHANGELOG.md
  include/rmm/mr/device/per_device_resource.hpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_tests.cpp
Labels: 5 - Ready to Merge

#463 [REVIEW] Temporary fix for cnmem to have all headers in the same directory
  CHANGELOG.md
  CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#464 [REVIEW] revert the remainder of the cnmem.h move into the build dir
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#449 [REVIEW] New stream-ordered suballocator resources (PTDS support)
  CHANGELOG.md
  CMakeLists.txt
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  benchmarks/utilities/cxxopts.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
Labels: 3 - Ready for review

#468 [WIP] update past release dates in changelog
  CHANGELOG.md
Labels: 5 - Ready to Merge

#432 [REVIEW] Show install command for RMM
  README.md
Labels: conda, doc

#473 [REVIEW] Fix pool initialization
  CHANGELOG.md
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/device/pool_mr_tests.cpp
Labels: 3 - Ready for review

#477 Just use `None` for `strides` in `DeviceBuffer`
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge, Python

#457 [REVIEW] Binning Memory Resource
  CHANGELOG.md
  README.md
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/fixed_multisize_memory_resource.hpp
  include/rmm/mr/device/hybrid_memory_resource.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: 3 - Ready for review, Python

#479 [REVIEW] Enable print function in non-debug builds and correct printing blocks
  CHANGELOG.md
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: 3 - Ready for review

#466 [REVIEW] Deprecate CNMeM
  CHANGELOG.md
  README.md
  benchmarks/device_uvector/device_uvector_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/cnmem_managed_memory_resource.hpp
  include/rmm/mr/device/cnmem_memory_resource.hpp
  include/rmm/mr/device/default_memory_resource.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: 5 - Ready to Merge, Python

#484 [REVIEW] Fix device_uvector copy constructor compilation
  CHANGELOG.md
  include/rmm/device_uvector.hpp
  tests/device_uvector_tests.cu
Labels: 3 - Ready for review, bug

#486 [REVIEW][DOC] Clarify relationship between active devices and resources
  CHANGELOG.md
  README.md
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/pool_mr_tests.cpp
Labels: 5 - Ready to Merge, Python, doc

#490 [REVIEW] Allow importing without initialization of CUDA Driver / Runtime
  .pre-commit-config.yaml
  CHANGELOG.md
  python/rmm/__init__.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
Labels: 5 - Ready to Merge, Python

#493 [REVIEW] Remove cuda init hack
  CHANGELOG.md
  python/rmm/__init__.py
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge, Python

#498 [REVIEW] Make pool growth a bit less greedy
  CHANGELOG.md
  include/rmm/mr/device/pool_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  tests/mr/device/pool_mr_tests.cpp
Labels: 3 - Ready for review, Python

#500 [REVIEW] Use tempfile rather than hardcoded path in `test_rmm_csv_log`
  CHANGELOG.md
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge, Python

#489 [REVIEW] Move `cudf._cuda` into `rmm._cuda`
  CHANGELOG.md
  conda/environments/rmm_dev_cuda10.0.yml
  python/rmm/_cuda/__init__.pxd
  python/rmm/_cuda/__init__.py
  python/rmm/_cuda/gpu.pxd
  python/rmm/_cuda/gpu.pyx
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/memory_resource.pyx
  python/setup.py
Labels: 5 - Ready to Merge, Python

#504 [REVIEW] Generate `gpu.pxd` based on cuda version as a preprocessor step
  .gitignore
  CHANGELOG.md
  python/rmm/_cuda/10.1/gpu.pxi
  python/rmm/_cuda/10.2/gpu.pxi
  python/rmm/_cuda/11.0/gpu.pxi
  python/setup.py
Labels: 5 - Ready to Merge, Python

#506 [REVIEW] Upload rmm package per version python-cuda combo
  CHANGELOG.md
  ci/cpu/prebuild.sh
  conda/recipes/rmm/meta.yaml
Labels: 5 - Ready to Merge, Python

#510 [REVIEW] Fix segfault when stealing from destroyed event's free list
  CHANGELOG.md
  README.md
  benchmarks/utilities/log_parser.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  tests/mr/device/pool_mr_tests.cpp
Labels: 3 - Ready for review

#511 Specify `--basetemp` for `py.test` run
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, gpuCI

#440 [REVIEW] Update CI scripts to remove references to master [skip ci]
  ci/checks/changelog.sh
Labels: 3 - Ready for review, gpuCI

#525 [REVIEW] Patch Thrust to workaround CUDA_CUB_RET_IF_FAIL macro clearing CUDA errors
  CHANGELOG.md
  thirdparty/CMakeLists.txt
  thirdparty/thrust-ret-if-fail.patch
Labels: ! - Hotfix, ! - Release

#528 [REVIEW] Add maximum_pool_size parameter to reinitialize API
  .gitignore
  CHANGELOG.md
  python/rmm/_lib/memory_resource.pyx
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: 3 - Ready for review, Python

#530 [REVIEW] Fix automerge
  CHANGELOG.md
  thirdparty/CMakeLists.txt
  thirdparty/thrust-ret-if-fail.patch
Labels: 3 - Ready for review
