Repository rapidsai/rmm, pull requests merged in 2020-11, with the labels that each got.

#621 Make `rmm::cuda_stream_default` a `constexpr`
  CHANGELOG.md
  benchmarks/replay/replay.cpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/cuda_stream_view.hpp
Labels: 3 - Ready for review

#596 [REVIEW] tracking memory adaptor to catch memory leaks
  CHANGELOG.md
  CMakeLists.txt
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/tracking_mr_tests.cpp
Labels: 3 - Ready for review

#625 Prefer artifact of librmm during conda build of rmm
  CHANGELOG.md
  ci/cpu/build.sh
Labels: 3 - Ready for review

#604 [REVIEW] CMake target cleanup, formatting, linting
  .pre-commit-config.yaml
  CHANGELOG.md
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  ci/checks/style.sh
  ci/gpu/build.sh
  cmake/Modules/CPM.cmake
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/RMM_thirdparty.cmake
  cmake/Modules/SetGPUArchs.cmake
  cmake/RMM_thirdparty.cmake
  cmake/config.json
  cmake/install/FindThrust.cmake
  cmake/rmm-config.cmake.in
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  tests/CMakeLists.txt
Labels: 3 - Ready for review, CMake

#634 Fix Conda uploads [skip-ci]
  CHANGELOG.md
  ci/cpu/upload.sh
Labels: 3 - Ready for review, 6 - Okay to Auto-Merge, bug, non-breaking

#632 [REVIEW] Add RMM Python docs
  .gitignore
  CHANGELOG.md
  ci/release/update-version.sh
  python/docs/Makefile
  python/docs/api.rst
  python/docs/basics.md
  python/docs/conf.py
  python/docs/index.rst
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, Python, doc, non-breaking

#635 [WIP] ENH Add python docs build [skip-ci]
  CHANGELOG.md
  ci/docs/build.sh
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, doc, non-breaking
