Repository rapidsai/rmm, pull requests merged in 2020-02, with the labels that each got.

#268 Add Cython/Python `copy_to_host` and `to_device`
  CHANGELOG.md
  CMakeLists.txt
  include/rmm/device_buffer.hpp
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/lib.pxd
  python/rmm/tests/test_rmm.py
  src/device_buffer.cpp
  tests/device_buffer_tests.cpp
Labels: 5 - Ready to Merge, Python

#269 Doc sync behavior in `copy_ptr_to_host`
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pyx
Labels: 5 - Ready to Merge, Python

#273 [REVIEW] Move device memory resource tests to device directory
  CHANGELOG.md
  tests/CMakeLists.txt
  tests/mr/device/mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cpp
Labels: 3 - Ready for review

#274 [REVIEW] Add 'DeviceBuffer.copy_from_host(...)'
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: 3 - Ready for review, Python

#275 [REVIEW] Add `copy_from_device` method as well
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: 3 - Ready for review, Python

#282 `DeviceBuffer` use default constructor for size=0
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pyx
Labels: 5 - Ready to Merge

#287 [REVIEW] Add CUDA standard to C++11
  CHANGELOG.md
  tests/CMakeLists.txt
  tests/device_buffer_tests.cu
Labels: 5 - Ready to Merge, CMake

#289 ENH Add GH Action moving new issues to triage projects [skip-ci]
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/new-issues-to-triage-projects.yml
Labels: 3 - Ready for review

#283 [REVIEW] Add random allocation benchmark
  CHANGELOG.md
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/synchronization/synchronization.cpp
  benchmarks/synchronization/synchronization.hpp
  benchmarks/test/test_benchmark.cpp
  cmake/Modules/ConfigureGoogleBenchmark.cmake
  cmake/Templates/GoogleBenchmark.CMakeLists.txt.cmake
Labels: 3 - Ready for review

#292 [REVIEW] Revamp RMM exceptions
  CHANGELOG.md
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/synchronization/synchronization.cpp
  benchmarks/synchronization/synchronization.hpp
  include/rmm/detail/error.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/mr/device/cnmem_managed_memory_resource.hpp
  include/rmm/mr/device/cnmem_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/default_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/rmm.hpp
  src/memory_manager.cpp
  src/rmm.cpp
  tests/device_buffer_tests.cu
  tests/mr/device/mr_tests.cpp
Labels: 5 - Ready to Merge

#272 [REVIEW] host_memory_resource
  CHANGELOG.md
  include/rmm/detail/aligned.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/host/mr_tests.cpp
Labels: 5 - Ready to Merge

#296 Use CuPy's `UnownedMemory` for RMM-backed allocations
  CHANGELOG.md
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge, Python

#309 Sync default stream in `DeviceBuffer` constructor
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pyx
Labels: 5 - Ready to Merge

#310 [REVIEW] Improve `device_buffer` allocation and deallocation logic
  CHANGELOG.md
  include/rmm/device_buffer.hpp
Labels: 3 - Ready for review

#312 [REVIEW] Revert explicitly defaulted device_buffer constructor
  CHANGELOG.md
  include/rmm/device_buffer.hpp
Labels: 3 - Ready for review
