Repository rapidsai/rmm, pull requests merged in 2020-01, with the labels that each got.

#224 [REVIEW] Slice the CSV log before converting to bytes
  CHANGELOG.md
  python/rmm/_lib/lib.pyx
Labels: 5 - Ready to Merge

#225 Ensure no calls to Python funcs in c_free
  CHANGELOG.md
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/lib.pyx
Labels: 5 - Ready to Merge, Python

#217 Use the `**` operation in the Python example
  README.md
Labels: 5 - Ready to Merge

#221 [REVIEW] Fix segfault calling rmmGetInfo when uninitialized
  CHANGELOG.md
  src/rmm.cpp
  tests/memory_tests.cpp
Labels: 3 - Ready for review

#222 [REVIEW] Expose free and total memory in Python interface
  CHANGELOG.md
  README.md
  python/rmm/__init__.py
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/lib.pyx
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: 5 - Merge After Dependencies, 5 - Ready to Merge, Python

#226 Add some tests of the Python `DeviceBuffer`
  CHANGELOG.md
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge

#219 [FEA] Add method to copy device_buffer back to host memory
  CHANGELOG.md
  include/rmm/device_buffer.hpp
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/lib.pxd
  python/rmm/tests/test_rmm.py
  tests/device_buffer_tests.cpp
Labels: 3 - Ready for review

#232 Move doc for `copy_to_host` to header file
  CHANGELOG.md
  include/rmm/device_buffer.hpp
  src/device_buffer.cpp
Labels: 5 - Ready to Merge

#233 Reuse the same `CUDA_HOME` logic from cuDF
  CHANGELOG.md
  python/setup.py
Labels: 5 - Ready to Merge, Python

#234 Add missing `size_t` in `DeviceBuffer`
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pyx
Labels: 5 - Ready to Merge, Python

#247 Simplify casting in `tobytes` and other cleanup
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pyx
Labels: 5 - Ready to Merge

#246 Type `DeviceBuffer` arguments to `__cinit__`
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge

#249 Use `DeviceBuffer` in `device_array`
  CHANGELOG.md
  python/rmm/rmm.py
Labels: 5 - Ready to Merge

#253 Add `frombytes` to convert `bytes`-like to `DeviceBuffer`
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge

#257 Mark Cython-exposed C++ functions that raise
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pxd
Labels: 5 - Ready to Merge

#258 Define pickling behavior for `DeviceBuffer`
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge

#266 Drop `rmm.auto_device`
  CHANGELOG.md
  python/rmm/__init__.py
  python/rmm/rmm.py
Labels: 3 - Ready for review, Python
