Repository rapidsai/rmm, pull requests merged in 2020-05, with the labels that each got.

#358 Fix typo in `rmm_cupy_allocator` docstring
  CHANGELOG.md
  python/rmm/rmm.py
Labels: 5 - Ready to Merge, Python

#345 [REVIEW] Make device_scalar asynchronous again
  CHANGELOG.md
  include/rmm/device_scalar.hpp
Labels: 3 - Ready for review

#317 [REVIEW] Provide External Memory Management Plugin for Numba
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/rmm_dev_cuda10.0.yml
  conda/environments/rmm_dev_cuda9.2.yml
  conda/recipes/rmm/meta.yaml
  python/rmm/__init__.py
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge, Python

#367 [REVIEW] Fix flake8 issues
  .pre-commit-config.yaml
  CHANGELOG.md
  ci/checks/style.sh
  python/.flake8
  python/setup.cfg
  python/setup.py
Labels: 3 - Ready for review, Python

#365 [REVIEW] Make .clang-format consistent with cuDF and cuGRAPH [skip ci]
  .clang-format
  CHANGELOG.md
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/cxxopts.hpp
  benchmarks/replay/rapidcsv.h
  benchmarks/replay/replay.cpp
  benchmarks/synchronization/synchronization.cpp
  benchmarks/synchronization/synchronization.hpp
  benchmarks/test/test_benchmark.cpp
  src/memory_manager.cpp
  src/mr/device/default_memory_resource.cpp
  src/rmm.cpp
Labels: 3 - Ready for review

#368 [REVIEW] Fix `clang-format` missing comma bug
  CHANGELOG.md
  include/rmm/detail/aligned.hpp
  include/rmm/detail/error.hpp
  include/rmm/detail/memory_manager.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/mr/device/cnmem_managed_memory_resource.hpp
  include/rmm/mr/device/cnmem_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/default_memory_resource.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/fixed_multisize_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/hybrid_memory_resource.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/rmm.h
  include/rmm/rmm.hpp
  include/rmm/rmm_api.h
  include/rmm/thrust_rmm_allocator.h
  scripts/run-clang-format.py
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/logger_tests.cpp
  tests/memory_tests.cpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/host/mr_tests.cpp
  tests/performance/random_allocate.cpp
  tests/test_fixtures.h
Labels: 5 - Ready to Merge, bug

#366 [REVIEW] Remove installation of extra test dependencies
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, gpuCI

#375 Support out-of-band buffers in Python pickling
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge, Python

#373 [REVIEW] fix build.sh
  CHANGELOG.md
  build.sh
Labels: 5 - Ready to Merge, gpuCI

#379 [REVIEW] Remove deprecated RMM allocations from synchronization.cpp
  CHANGELOG.md
  benchmarks/synchronization/synchronization.cpp
  benchmarks/synchronization/synchronization.hpp
  benchmarks/test/test_benchmark.cpp
Labels: 3 - Ready for review, benchmarks

#382 Rely on NumPy arrays for out-of-band pickling
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pyx
Labels: 4 - Needs Reviewer, Python

#383 Explicitly require NumPy
  CHANGELOG.md
  conda/environments/rmm_dev_cuda10.0.yml
  conda/environments/rmm_dev_cuda9.2.yml
  conda/recipes/rmm/meta.yaml
Labels: 5 - Ready to Merge, conda

#364 [REVIEW] Add `device_uvector`
  CHANGELOG.md
  benchmarks/CMakeLists.txt
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/device_uvector.hpp
  tests/CMakeLists.txt
  tests/device_uvector_tests.cu
Labels: 3 - Ready for review

#374 [REVIEW] Update RMM README for updated device_memory_resource design
  README.md
Labels: 3 - Ready for review

#377 [REVIEW] a better way to fetch spdlog
  CHANGELOG.md
  CMakeLists.txt
  tests/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#386 [REVIEW] Add short commit to conda package
  CHANGELOG.md
  ci/cpu/build.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: 3 - Ready for review, conda
