Repository rapidsai/rmm, pull requests merged in 2020-06, with the labels that each got.

#363 [REVIEW] Replace legacy RMM API usage in Cython with `memory_resource`
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/rmm_dev_cuda10.0.yml
  conda/environments/rmm_dev_cuda9.2.yml
  conda/recipes/rmm/meta.yaml
  include/rmm/mr/device/logging_resource_adaptor.hpp
  python/rmm/__init__.py
  python/rmm/_lib/__init__.py
  python/rmm/_lib/device_pointer.pxd
  python/rmm/_lib/device_pointer.pyx
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/lib.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  python/rmm/mr.py
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: 2 - In Progress, 5 - Merge After Dependencies, Python

#378 [REVIEW] fetch thrust/cub from github
  CHANGELOG.md
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: 3 - Ready for review, CMake

#391 Add `get_default_resource_type`
  CHANGELOG.md
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge, Python

#392 [REVIEW] Removing target-specific entries in CMake's link command
  CHANGELOG.md
  CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#400 [REVIEW] Fix segfault in RANDOM_ALLOCATIONS_BENCH
  CHANGELOG.md
  benchmarks/random_allocations/random_allocations.cpp
Labels: 3 - Ready for review

#401 [REVIEW] Update get_ipc_handle() to use cuda driver API
  CHANGELOG.md
  python/rmm/__init__.py
  python/rmm/_lib/__init__.py
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/lib.pyx
  python/rmm/rmm.py
Labels: 5 - Merge After Dependencies, Python

#396 [REVIEW] Remove deprecated APIs
  CHANGELOG.md
  CMakeLists.txt
  conda/recipes/librmm/meta.yaml
  include/rmm/detail/memory_manager.hpp
  include/rmm/mr/device/default_memory_resource.hpp
  include/rmm/rmm.h
  include/rmm/rmm.hpp
  include/rmm/rmm_api.h
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/lib.pyx
  src/memory_manager.cpp
  src/mr/device/default_memory_resource.cpp
  src/rmm.cpp
  tests/CMakeLists.txt
  tests/memory_tests.cpp
  tests/performance/random_allocate.cpp
  tests/test_fixtures.h
Labels: 5 - Ready to Merge

#402 [REVIEW] Install rapids-build-env for dependencies
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for review

#403 Mark Cython `memory_resource_wrappers` `extern` as `nogil`
  CHANGELOG.md
  python/rmm/_lib/memory_resource.pxd
Labels: 5 - Ready to Merge, Python

#398 [REVIEW] Pass is_head in merge_blocks (free_list.hpp)
  CHANGELOG.md
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: 3 - Ready for review

#404 [REVIEW] Page not found :( (Make all memory resources thread safe in Python)
  CHANGELOG.md
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
Labels: 5 - Ready to Merge, Python

#421 [REVIEW] Add thread_id to logging and additional logger testing
  CHANGELOG.md
  benchmarks/replay/replay.cpp
  benchmarks/utilities/log_parser.hpp
  benchmarks/utilities/rapidcsv.h
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/logger_tests.cpp
Labels: 3 - Ready for review

#414 [REVIEW] Add element-wise accessors to device_uvector
  CHANGELOG.md
  include/rmm/detail/error.hpp
  include/rmm/device_uvector.hpp
  tests/device_uvector_tests.cu
Labels: 3 - Ready for review

#427 [REVIEW] Add DeviceBuffer.release() cdef method
  .gitignore
  CHANGELOG.md
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/lib.pxd
  python/rmm/_lib/lib.pyx
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/__init__.py
  python/rmm/tests/test_cython.py
  python/rmm/tests/test_device_buffer.pyx
  python/setup.py
Labels: 5 - Ready to Merge, Python
