Repository rapidsai/rmm, pull requests merged in 2021-07, with the labels that each got.

#814 Updating Clang Version to 11.0.0
  .clang-format
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  include/rmm/detail/aligned.hpp
  include/rmm/detail/error.hpp
  include/rmm/device_scalar.hpp
  include/rmm/logger.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/thrust_rmm_allocator.h
  scripts/run-clang-format.py
  tests/device_buffer_tests.cu
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: 5 - Ready to Merge, conda, cpp, improvement, non-breaking

#817 Fix building on cuda 11.4
  python/setup.py
Labels: Python, improvement, non-breaking

#820 fix align_up namespace in aligned_resource_adaptor.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
Labels: 3 - Ready for review, bug, cpp, non-breaking

#822 update isort to 5.6.4
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  python/dev_requirements.txt
  python/setup.cfg
Labels: 5 - Ready to Merge, Python, bug, conda, non-breaking

#818 Cython extension for rmm::cuda_stream_pool
  include/rmm/cuda_stream_view.hpp
  python/rmm/_lib/cuda_stream_pool.pxd
Labels: Python, cpp, improvement, non-breaking

#827 Fix isort in cuda_stream_view.pxd
  python/rmm/_lib/cuda_stream_pool.pxd
Labels: improvement, non-breaking

#797 Update build instruction in README
  README.md
Labels: doc, non-breaking

#831 [REVIEW] Pinning spdlog because recent updates are causing compile issues.
  conda/recipes/librmm/meta.yaml
Labels: bug, conda, non-breaking

#835 [FIX] Pin spdlog in dev conda envs
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
Labels: bug, conda, non-breaking

#833 [REVIEW] Enforce default visibility for `get_map`.
  include/rmm/detail/export.hpp
  include/rmm/mr/device/per_device_resource.hpp
Labels: cpp, improvement, non-breaking

#838 Use the new RAPIDS.cmake to fetch rapids-cmake
  CMakeLists.txt
Labels: 3 - Ready for review, CMake, bug, non-breaking

#823 ENH Replace gpuci_conda_retry with gpuci_mamba_retry
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking
