Repository rapidsai/rmm, pull requests merged in 2021-01, with the labels that each got.

#665 Update CMakeLists.txt VERSION to 0.18.0
  CMakeLists.txt
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, CMake, bug, non-breaking

#670 Remove duplicate conda build command
  ci/cpu/build.sh
Labels: 6 - Okay to Auto-Merge, bug, gpuCI, non-breaking

#674 [REVIEW] Build RMM tests/benchmarks with -Wall flag
  benchmarks/CMakeLists.txt
  benchmarks/cuda_stream_pool/cuda_stream_pool_bench.cpp
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/synchronization/synchronization.cpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/CMakeLists.txt
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Labels: 5 - Ready to Merge, improvement, non-breaking

#672 Enable tag generation for doxygen [skip-ci]
  doxygen/Doxyfile
Labels: 5 - Ready to Merge, doc, non-breaking

#669 Create labeler.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: feature request, non-breaking

#678 Enabling/disabling logging after initialization
  python/rmm/__init__.py
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Labels: Python, feature request, non-breaking

#666 Expose the version string in C++ and Python
  CMakeLists.txt
  cmake/Modules/Version.cmake
  cmake/version_config.hpp.in
  python/rmm/__init__.py
Labels: 5 - Ready to Merge, feature request, non-breaking

#676 `cuda_async_memory_resource` built on `cudaMallocAsync`
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/detail/error.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: 3 - Ready for review, feature request, non-breaking

#683 Fix failed automerge
  CHANGELOG.md
Labels: gpuCI, improvement, non-breaking

#686 Build.sh use cmake --build to drive build system invocation
  build.sh
Labels: CMake, improvement, non-breaking

#682 [REVIEW] Correct inconsistencies in README and CONTRIBUTING docs
  CONTRIBUTING.md
  README.md
Labels: doc, non-breaking
