Repository rapidsai/rmm, pull requests merged in 2021-11, with the labels that each got.

#902 Replace `to_device()` in docs with `DeviceBuffer.to_device()`
  python/docs/basics.md
Labels: doc, Python, non-breaking

#901 Provide ./build.sh flag to control CUDA async malloc support
  benchmarks/CMakeLists.txt
  build.sh
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/setup.py
  tests/CMakeLists.txt
Labels: 3 - Ready for review, CMake, Python, non-breaking, improvement, cpp

#893 Update `conda` recipes for Enhanced Compatibility effort
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: gpuCI, conda, non-breaking, improvement

#907 Use spdlog/fmt/ostr.h as it supports external fmt library
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: bug, 3 - Ready for review, non-breaking, cpp

#909 Fix `librmm` uploads [skip-ci]
  ci/cpu/upload.sh
Labels: bug, gpuCI, non-breaking

#898 Parameterize exception type caught by failure_callback_resource_adaptor
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  tests/mr/device/failure_callback_mr_tests.cpp
Labels: breaking, improvement, cpp

#905 C++ code coverage support
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  gcovr.cfg
  tests/CMakeLists.txt
Labels: CMake, conda, non-breaking, improvement, cpp

#910 Update recipes for Enhanced Compatibility
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Labels: bug, gpuCI, conda, non-breaking

#911 Backport #886 to `branch-21.10`
  cmake/thirdparty/get_spdlog.cmake
Labels: bug, CMake, non-breaking

#887 Add functions to query the stream of device_uvector and device_scalar
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Labels: 3 - Ready for review, non-breaking, improvement, cpp

#914 suppress spurious clang-tidy warnings in debug macros
  include/rmm/detail/error.hpp
Labels: 3 - Ready for review, non-breaking, improvement, cpp

#921 [REVIEW] Upgrade clang to `11.1.0`
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  scripts/run-clang-format.py
Labels: 5 - Ready to Merge, conda, non-breaking, improvement

#913 Simplify CMake linting with cmake-format
  .pre-commit-config.yaml
  scripts/run-cmake-format.sh
Labels: non-breaking, improvement

#924 Fix Changelog Merge Conflicts for `branch-21.12`
  CHANGELOG.md
Labels: non-breaking, improvement

#926 Remove `setup.py` from `update-release.sh` script
  ci/release/update-version.sh
Labels: gpuCI, non-breaking, improvement
