Repository rapidsai/rmm, pull requests merged in 2021-08, with the labels that each got.

#842 Refactor cmake style
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake, non-breaking, improvement, cpp

#816 [REVIEW] Execution policy class
  include/rmm/exec_policy.hpp
Labels: non-breaking, improvement, cpp

#843 Fix transitive include in cuda_device header
  include/rmm/cuda_device.hpp
Labels: non-breaking, improvement, cpp

#846 Forward-merge branch-21.08 to branch-21.10 [skip gpuci]
  CHANGELOG.md
Labels: doc, non-breaking

#841 add multi stream allocations benchmark.
  benchmarks/CMakeLists.txt
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Labels: 3 - Ready for review, CMake, benchmarks, non-breaking, improvement

#852 Clean up: use std::size_t, include cstddef and aligned.hpp where missing
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/cuda_stream_pool.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
Labels: non-breaking, improvement, cpp
