Repository rapidsai/rmm, pull requests merged in 2021-06, with the labels that each got.

#787 Compile Cython with C++17.
  python/setup.py
Labels: Python, improvement, non-breaking

#788 make it easier to include rmm in other projects
  CMakeLists.txt
Labels: 3 - Ready for review, CMake, improvement, non-breaking

#791 Support multiple output sinks in logging_resource_adaptor
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/logger_tests.cpp
Labels: 5 - Ready to Merge, feature request, non-breaking

#790 Document compute sanitizer memcheck support [skipci]
  README.md
Labels: 3 - Ready for review, doc, non-breaking

#795 [REVIEW] Fix predicate for testing APIs requiring CUDAMallocAsync
  python/rmm/tests/test_rmm.py
Labels: bug, non-breaking

#793 Remove leading zeros in version_config.hpp
  cmake/Modules/Version.cmake
  cmake/version_config.hpp.in
Labels: CMake, bug, non-breaking

#789 Refactor `rmm::device_scalar` in terms of `rmm::device_uvector`
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Labels: breaking, cpp, improvement

#626 Add Statistics Resource Adaptor and cython bindings to `tracking_resource_adaptor` and `statistics_resource_adaptor`
  CMakeLists.txt
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: CMake, Python, cpp, feature request, non-breaking

#798 Fix update-version.sh [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#792 [RELEASE] rmm v21.06
  CHANGELOG.md
  CMakeLists.txt
  README.md
  benchmarks/device_uvector/device_uvector_bench.cu
  benchmarks/synchronization/synchronization.cpp
  benchmarks/synchronization/synchronization.hpp
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
  cmake/Modules/CPM.cmake
  cmake/Modules/RMM_thirdparty.cmake
  cmake/Modules/SetGPUArchs.cmake
  cmake/install/FindThrust.cmake
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  doxygen/Doxyfile
  include/rmm/cuda_device.hpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/detail/aligned.hpp
  include/rmm/detail/cuda_util.hpp
  include/rmm/device_buffer.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/thrust_rmm_allocator.h
  python/docs/conf.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
  python/setup.py
  tests/CMakeLists.txt
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: CMake, Python, conda, cpp, gpuCI

#801 Fix `21.06` CHANGELOG.md entries
  CHANGELOG.md
Labels: improvement, non-breaking

#803 Fix `21.08` forward-merge conflicts
  CHANGELOG.md
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#799 [gpuCI] Forward-merge branch-21.06 to branch-21.08 [skip ci]
  CHANGELOG.md
  ci/release/update-version.sh
Labels: gpuCI

#804 Fix incorrect href in README.md [skip-ci]
  README.md
Labels: doc, non-breaking

#807 Fix PoolMemoryResource Python doc examples [skip-ci]
  README.md
  python/docs/basics.md
Labels: Python, doc, non-breaking

#809 Fix building on CUDA 11.3
  python/setup.py
Labels: Python, bug, non-breaking

#800 RMM now leverages rapids-cmake to reduce CMake boilerplate
  CMakeLists.txt
  README.md
  benchmarks/CMakeLists.txt
  ci/checks/style.sh
  cmake/Modules/CPM.cmake
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/RMM_thirdparty.cmake
  cmake/Modules/SetGPUArchs.cmake
  cmake/install/FindThrust.cmake
  cmake/rmm-config.cmake.in
  cmake/thirdparty/get_gbench.cmake
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
  cmake/version_config.hpp.in
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  tests/CMakeLists.txt
Labels: CMake, conda, cpp, gpuCI, improvement, non-breaking

#810 Add spdlog to `rmm-exports` if found by CPM
  cmake/thirdparty/get_spdlog.cmake
Labels: CMake, improvement, non-breaking

#811 find_package(RMM) can now be called multiple times safely
  CMakeLists.txt
Labels: 3 - Ready for review, CMake, bug, non-breaking

#806 Bump isort, enable Cython package resorting
  .pre-commit-config.yaml
  ci/checks/style.sh
Labels: Python, feature request, gpuCI, non-breaking

#812 Run updated isort hook on pxd files
  python/rmm/_cuda/stream.pxd
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream_view.pxd
  python/rmm/_lib/device_uvector.pxd
  python/rmm/_lib/lib.pxd
Labels: Python, bug, non-breaking
