Repository rapidsai/rmm, pull requests merged in 2021-03, with the labels that each got.

#717 Prepare Changelog for Automation [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#662 [REVIEW] Remove C++ Wrappers in `memory_resource_adaptors.hpp` Needed by Cython
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Labels: 3 - Ready for review, Python, improvement, non-breaking

#718 Python bindings for `cuda_async_memory_resource`
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_cuda/11.x/gpu.pxi
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  python/setup.py
Labels: Python, cpp, feature request, non-breaking

#654 Add support for streams in CuPy allocator
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/device_buffer.pyx
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: 3 - Ready for review, 4 - Needs Reviewer, Python, improvement, non-breaking

#720 Add Cython definitions for device_uvector
  python/rmm/_lib/device_uvector.pxd
Labels: Python, feature request, non-breaking

#723 Update Changelog Link [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#726 CMAKE_CUDA_ARCHITECTURES doesn't change when build-system invokes cmake
  CMakeLists.txt
Labels: CMake, bug, non-breaking

#727 Fix auto-detecting GPU architectures
  CMakeLists.txt
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/SetGPUArchs.cmake
Labels: CMake, bug, non-breaking

#729 set CMAKE_CUDA_ARCHITECTURES to OFF instead of undefined
  cmake/Modules/EvalGPUArchs.cmake
Labels: CMake, improvement, non-breaking

#728 Fix host_memory_resource signature typo [skip-ci]
  README.md
Labels: doc, non-breaking

#731 Remove CMAKE_CURRENT_BINARY_DIR path in rmm's target_include_directories
  CMakeLists.txt
Labels: CMake, improvement, non-breaking

#732 arena_memory_resource optimization: disable tracking allocated blocks by default
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: 5 - Ready to Merge, cpp, improvement, non-breaking

#733 [REVIEW] Fix setup.py to work in a non-conda environment setup
  python/setup.py
Labels: Python, bug, non-breaking

#722 Clarify log file name behaviour in docs
  python/rmm/__init__.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/rmm.py
Labels: Python, feature request, non-breaking

#734 device_uvector can be used within thrust::optional
  conda/recipes/librmm/meta.yaml
  include/rmm/detail/exec_check_disable.hpp
  include/rmm/device_uvector.hpp
Labels: conda, cpp, improvement, non-breaking

#725 Avoid potential race conditions in device_scalar/device_uvector setters
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Labels: 3 - Ready for review, breaking, cpp, improvement

#737 RMM doesn't require the CUDA language to be enabled by consumers
  CMakeLists.txt
Labels: CMake, bug, non-breaking

#738 Update `rmm` conda recipe pinning of `librmm`
  conda/recipes/rmm/meta.yaml
Labels: 3 - Ready for review, bug, conda, non-breaking

#739 [REVIEW] Add requirements for rmm
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  python/dev_requirements.txt
  python/pyproject.toml
  python/rmm/tests/__init__.py
  python/setup.cfg
  python/setup.py
Labels: Python, conda, improvement, non-breaking

#743 Revert "Update `rmm` conda recipe pinning of `librmm`" [skip-ci]
  conda/recipes/rmm/meta.yaml
Labels: bug, conda, non-breaking

#746 [REVIEW] Fix typo in setup.py
  python/setup.py
Labels: Python, bug, non-breaking
