Repository rapidsai/rmm, pull requests merged in 2021-04, with the labels that each got.

#745 Update rmm to use the latest version of CPM ( 0.32.0 )
  CMakeLists.txt
  cmake/Modules/CPM.cmake
  cmake/Modules/RMM_thirdparty.cmake
Labels: CMake, improvement, non-breaking

#741 Update build system and docs to state cuda 11 required
  CMakeLists.txt
  README.md
  cmake/Modules/SetGPUArchs.cmake
Labels: 5 - Ready to Merge, CMake, breaking, feature request

#749 [REVIEW] Fix cython tests
  python/rmm/_lib/tests/__init__.py
  python/rmm/_lib/tests/test_device_buffer.pyx
  python/rmm/tests/test_cython.py
  python/setup.py
Labels: 3 - Ready for review, Python, improvement, non-breaking

#740 Disable construction of cuda_stream_view from literal zero or nullptr
  benchmarks/synchronization/synchronization.cpp
  benchmarks/synchronization/synchronization.hpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/thrust_rmm_allocator.h
  tests/mr/device/pool_mr_tests.cpp
Labels: 5 - Ready to Merge, breaking, cpp, improvement

#754 Update to CPM with fix for `FETCHCONTENT_BASE_DIR`
  cmake/Modules/CPM.cmake
Labels: CMake, improvement, non-breaking

#752 Update cuda_async_memory_resource to use explicit pool
  include/rmm/cuda_device.hpp
  include/rmm/detail/cuda_util.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: cpp, improvement, non-breaking

#755 fix log timestamp format to use a decimal point
  include/rmm/mr/device/logging_resource_adaptor.hpp
Labels: 5 - Ready to Merge, bug, cpp, non-breaking

#751 [RELEASE] rmm v0.19
  CHANGELOG.md
  CMakeLists.txt
  README.md
  benchmarks/CMakeLists.txt
  ci/cpu/build.sh
  cmake/Modules/CPM.cmake
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/SetGPUArchs.cmake
  cmake/install/FindThrust.cmake
  cmake/rmm-config.cmake.in
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  doxygen/Doxyfile
  include/rmm/cuda_stream_pool.hpp
  include/rmm/detail/exec_check_disable.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  python/dev_requirements.txt
  python/docs/conf.py
  python/pyproject.toml
  python/rmm/__init__.py
  python/rmm/_cuda/11.x/gpu.pxi
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/device_uvector.pxd
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/memory_resource_wrappers.hpp
  python/rmm/_lib/tests/__init__.py
  python/rmm/_lib/tests/test_device_buffer.pyx
  python/rmm/mr.py
  python/rmm/rmm.py
  python/rmm/tests/test_cython.py
  python/rmm/tests/test_rmm.py
  python/setup.cfg
  python/setup.py
  tests/CMakeLists.txt
  tests/cuda_stream_pool_tests.cpp
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
Labels: CMake, Python, conda, cpp, gpuCI

#756 Include rmm/detail/error.hpp to get the `RMM_CUDA_TRY` macro
  include/rmm/cuda_device.hpp
Labels: bug, cpp, non-breaking

#760 Small fix to parameter name in README.md [skipci]
  README.md
Labels: 5 - Ready to Merge, doc, non-breaking

#761 Deprecate old rmm::exec_policy
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/thrust_rmm_allocator.h
  tests/mr/device/thrust_allocator_tests.cu
Labels: breaking, cpp, improvement

#763 Add missing include for thrust::cuda::par
  include/rmm/exec_policy.hpp
Labels: bug, cpp, non-breaking

#757 Ensure destruction of CUDA pool handle in cuda_async_resource destructor
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: 5 - Ready to Merge, bug, cpp, non-breaking

#764 remove unused "-c defaults" from install commands
  README.md
Labels: conda, doc, non-breaking

#758 [REVIEW] Pin to cmake 3.18+
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: 5 - Ready to Merge, conda, improvement, non-breaking

#753 Expose initial_pool_size and release_threshold parameters for cuda_async_memory_resource in Cython
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: 5 - Ready to Merge, Python, feature request, non-breaking
