Repository rapidsai/rmm, pull requests merged in 2021-09, with the labels that each got.

#860 Delete cuda_async_memory_resource copy/move ctors/operators
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: bug, 3 - Ready for review, breaking

#862 Disable copy/move ctors and operator= from free_list classes
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
Labels: bug, non-breaking, cpp

#854 Update to use rapids-cmake 21.10 pre-configured packages
  cmake/thirdparty/get_gtest.cmake
  cmake/thirdparty/get_spdlog.cmake
  cmake/thirdparty/get_thrust.cmake
Labels: CMake, non-breaking, improvement

#845 tweak the arena mr to reduce fragmentation
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
Labels: 3 - Ready for review, non-breaking, improvement, cpp

#864 Install the right cudatoolkit in the conda env in gpu/build.sh
  ci/gpu/build.sh
Labels: bug, gpuCI, non-breaking

#869 fix race condition in limiting resource adapter
  include/rmm/mr/device/limiting_resource_adaptor.hpp
Labels: bug, 3 - Ready for review, non-breaking, cpp

#853 [HOTFIX] Remove `-g` from cython compile commands
  CMakeLists.txt
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/tests/test_cython.py
  python/setup.py
Labels: CMake, Python

#873 Disallow zero-size stream pools
  include/rmm/cuda_stream_pool.hpp
  tests/cuda_stream_pool_tests.cpp
Labels: bug, non-breaking, cpp

#872 Correct namespace usage in host memory resources
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Labels: bug, non-breaking, cpp

#875 Fix parameter name in asserts
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
Labels: bug, non-breaking, cpp

#876 Keep rapids cmake version in sync
  CMakeLists.txt
  ci/release/update-version.sh
Labels: bug, CMake, gpuCI, non-breaking, cpp

#877 Forward-merge `branch-21.08` into `branch-21.10`
  CMakeLists.txt
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/tests/test_cython.py
  python/setup.py
Labels: CMake, Python, non-breaking, improvement

#878 [gpuCI] Forward-merge branch-21.10 to branch-21.12 [skip gpuci]
  CMakeLists.txt
  include/rmm/cuda_stream_pool.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/tests/test_cython.py
  python/setup.py
  tests/cuda_stream_pool_tests.cpp
Labels: CMake, Python, cpp
