Repository rapidsai/rmm, pull requests merged in 2021-02, with the labels that each got.

#681 Auto-label PRs based on their content [skip-ci]
  .github/labeler.yml
Labels: improvement, non-breaking

#688 Prepare Changelog for Automation [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#691 Auto-label PRs based on their content [skip-ci]
  .github/labeler.yml
Labels: Ops, improvement, non-breaking

#693 Fix merge conflicts for #692
  CHANGELOG.md
Labels: improvement, non-breaking

#694 Fix merge conflicts for #692
  .github/labeler.yml
Labels: Ops, improvement, non-breaking

#696 Adds a linear accessor to RMM cuda stream pool
  include/rmm/cuda_stream_pool.hpp
  tests/cuda_stream_pool_tests.cpp
Labels: cpp, improvement, non-breaking

#695 SetGPUArchs updated to work around a CMake FindCUDAToolkit issue
  cmake/Modules/SetGPUArchs.cmake
Labels: CMake, bug, non-breaking

#698 Allow the build directory of rmm to be used for `find_package(rmm)`
  CMakeLists.txt
  cmake/install/FindThrust.cmake
  cmake/rmm-config.cmake.in
Labels: CMake, improvement, non-breaking

#700 Add GHA to mark issues/prs as stale/rotten
  .github/workflows/stale.yaml
Labels: 5 - Ready to Merge, Ops, improvement, non-breaking

#702 pool_memory_resource optimization: disable tracking allocated blocks by default
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: 3 - Ready for review, cpp, improvement, non-breaking

#707 Update stale GHA with exemptions & new labels [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for review, improvement, non-breaking

#706 [REVIEW] Build only `compute` for the newest arch in CMAKE_CUDA_ARCHITECTURES
  cmake/Modules/SetGPUArchs.cmake
Labels: 5 - Ready to Merge, CMake, improvement, non-breaking

#713 Only include SetGPUArchs in the top-level CMakeLists.txt
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  cmake/Modules/SetGPUArchs.cmake
  tests/CMakeLists.txt
Labels: CMake, bug, cpp, non-breaking

#705 [REVIEW] ENH Build with Ninja & Pass ccache variables to conda recipe
  ci/cpu/build.sh
  conda/recipes/librmm/meta.yaml
Labels: conda, gpuCI, improvement, non-breaking

#709 [REVIEW] Simplify cmake cuda architectures handling
  CMakeLists.txt
  cmake/Modules/EvalGPUArchs.cmake
  cmake/Modules/SetGPUArchs.cmake
Labels: CMake, improvement, non-breaking

#661 [REVIEW] Improve Cython Lifetime Management by Adding References in `DeviceBuffer`
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: 3 - Ready for review, Python, improvement, non-breaking

#699 Fix unknown CMake command "CPMFindPackage"
  cmake/Modules/CPM.cmake
Labels: 3 - Ready for review, CMake, bug, non-breaking

#715 Ship memory_resource_wrappers.hpp as package_data
  python/setup.py
Labels: Python, bug, non-breaking

#716 [skip-ci] Update 0.18 changelog entry
  CHANGELOG.md
Labels: improvement, non-breaking
