Repository rapidsai/rmm, pull requests merged in 2021-05, with the labels that each got.

#769 ENH Remove 'rapidsai-nightly' conda channel when building main branch
  ci/cpu/build.sh
Labels: gpuCI, improvement, non-breaking

#767 CMake spdlog target, check for existing
  cmake/Modules/RMM_thirdparty.cmake
Labels: CMake, bug, non-breaking

#770 Remove progress output on conda packages upload
  ci/cpu/upload.sh
Labels: gpuCI, improvement, non-breaking

#773 Pass compiler environment variables to conda python build
  conda/recipes/rmm/meta.yaml
Labels: conda, improvement, non-breaking

#774 Upgrade to Thrust 1.12
  cmake/Modules/RMM_thirdparty.cmake
Labels: CMake, improvement, non-breaking

#772 Document synchronization requirements on device_buffer copy ctors []
  include/rmm/device_buffer.hpp
Labels: cpp, doc, non-breaking

#776 Update docs build script [skip ci]
  ci/docs/build.sh
Labels: gpuCI, improvement, non-breaking

#768 add a resource adapter to align on a specified size
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: 3 - Ready for review, CMake, cpp, feature request, non-breaking

#777 Update `CHANGELOG.md` [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#779 Merge `branch-0.19` into `branch-21.06` [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#781 Update `CHANGELOG.md` links for calver [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#784 FindThrust now guards against multiple inclusion by different consumers
  cmake/install/FindThrust.cmake
Labels: 3 - Ready for review, CMake, bug, non-breaking

#658 upgrade spdlog to 1.8.5
  ci/gpu/build.sh
  cmake/Modules/RMM_thirdparty.cmake
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: 5 - Ready to Merge, CMake, conda, gpuCI, improvement, non-breaking, tech debt

#785 Update environment variable used to determine `cuda_version`
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda, improvement, non-breaking

#786 Fix Merge Conflicts [skip ci]
  CHANGELOG.md
  ci/gpu/build.sh
  cmake/Modules/RMM_thirdparty.cmake
  cmake/install/FindThrust.cmake
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: CMake, conda, gpuCI, improvement, non-breaking

#782 [gpuCI] Forward-merge branch-21.06 to branch-21.08 [skip ci]
  CHANGELOG.md
  ci/gpu/build.sh
  cmake/Modules/RMM_thirdparty.cmake
  cmake/install/FindThrust.cmake
  conda/environments/rmm_dev_cuda10.1.yml
  conda/environments/rmm_dev_cuda10.2.yml
  conda/environments/rmm_dev_cuda11.0.yml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: CMake, conda, gpuCI
