Repository rapidsai/rmm, pull requests merged in 2022-06, with the labels that each got.

#1053 Change build.sh to find C++ library by default and avoid shadowing CMAKE_ARGS
  build.sh
Labels: 5 - Ready to Merge, non-breaking, improvement

#1055 Properly handle cudaMemHandleTypeNone and cudaErrorInvalidValue in is_export_handle_type_supported
  include/rmm/detail/dynamic_load_runtime.hpp
Labels: bug, non-breaking, cpp

#1057 Add a missed `except *`
  python/rmm/_lib/device_buffer.pyx
Labels: bug, Python, non-breaking

#1059 Specify `language` as `'en'` instead of `None`
  python/docs/conf.py
Labels: bug, 3 - Ready for review, Python, non-breaking
