Repository rapidsai/rmm, pull requests merged in 2022-04, with the labels that each got.

#1010 Update black version
  .pre-commit-config.yaml
  ci/checks/style.sh
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: 3 - Ready for review, Python, gpuCI, conda, non-breaking, improvement

#1020 Properly enable Cython docstrings.
  python/CMakeLists.txt
Labels: bug, 3 - Ready for review, CMake, Python, non-breaking

#1004 Update `RMMNumbaManager` to handle `NUMBA_CUDA_USE_NVIDIA_BINDING=1`
  python/rmm/rmm.py
Labels: bug, Python, non-breaking

#1021 Documentation Fix: Replace `cudf::logic_error` with `rmm::logic_error`
  include/rmm/detail/error.hpp
Labels: doc, non-breaking, cpp

#1023 Update CMake pinning to just avoid 3.23.0.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Labels: 3 - Ready for review, Python, conda, non-breaking, improvement

#1024 Use `lib` (not `lib64`) for libraries
  conda/recipes/rmm/build.sh
Labels: bug, conda, non-breaking

#1026 Use `lib` (not `lib64`) for libraries (backport from 22.06 to 22.04)
  build.sh
  conda/recipes/rmm/build.sh
Labels: bug, conda, non-breaking

#1027 [RELEASE] v22.04.01 rmm [skip-ci]
  build.sh
  conda/recipes/rmm/build.sh
Labels: conda, ! - Hotfix

#1028 Merge branch-22.04 to branch-22.06
  CHANGELOG.md
  build.sh
Labels: non-breaking, improvement

#980 Callback memory resource
  include/rmm/mr/device/callback_memory_resource.hpp
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/mock_resource.hpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
Labels: feature request, CMake, Python, non-breaking, cpp

#995 Update cmake-format version for pre-commit and environments.
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: 5 - Ready to Merge, conda, non-breaking, improvement

#1009 Add rmm::exec_policy_nosync
  include/rmm/exec_policy.hpp
Labels: feature request, non-breaking, cpp
