Repository rapidsai/rmm, pull requests merged in 2022-08, with the labels that each got.

#1075 [REVIEW] Centralize common css & js code in docs
  doxygen/Doxyfile
  doxygen/header.html
Labels: doc, non-breaking, cpp

#1080 Simplify PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc, non-breaking

#1081 [REVIEW] Switch to common `js` file and defer loading it
  python/docs/conf.py
Labels: doc, Python, non-breaking

#1079 Add device_uvector::reserve and device_buffer::reserve
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/device_uvector.pxd
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Labels: Python, non-breaking, improvement, cpp

#1083 Use rapids-cmake 22.10 best practice for RAPIDS.cmake location
  CMakeLists.txt
Labels: bug, 3 - Ready for review, CMake, non-breaking

#1085 Add resources section to README.
  README.md
Labels: doc, non-breaking

#1086 Improve docs formatting and update links.
  README.md
  python/docs/basics.md
  python/rmm/_lib/memory_resource.pyx
  python/rmm/rmm.py
Labels: doc, Python, non-breaking

#1078 [RELEASE] rmm v22.08
  .github/ops-bot.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  CMakeLists.txt
  build.sh
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  doxygen/Doxyfile
  doxygen/header.html
  include/rmm/detail/dynamic_load_runtime.hpp
  python/CMakeLists.txt
  python/docs/conf.py
  python/rmm/__init__.py
  python/rmm/_lib/device_buffer.pyx
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: CMake, Python, conda, cpp

#1089 Branch 22.10 merge 22.08
  CHANGELOG.md
Labels: doc, non-breaking

#1090 Improve DeviceBuffer docs.
  python/rmm/_lib/device_buffer.pyx
Labels: doc, Python, non-breaking

#1091 Fix docs for module-level API
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  python/docs/api.rst
  python/docs/basics.md
  python/docs/conf.py
  python/pyproject.toml
  python/rmm/__init__.py
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Labels: doc, Python, conda, non-breaking

#1088 Add `gdb` pretty-printers for rmm types
  CMakeLists.txt
  scripts/gdb-pretty-printers.py
  scripts/load-pretty-printers.in
Labels: feature request, CMake, non-breaking
