Repository rapidsai/rmm, pull requests merged in 2022-05, with the labels that each got.

#1033 Replace `to_device` with `DeviceBuffer.to_device`
  README.md
Labels: doc, non-breaking

#1031 Use new rapids-cython component of rapids-cmake to simplify builds
  ci/release/update-version.sh
  python/CMakeLists.txt
  python/cmake/CMakeLists.txt
  python/cmake/rmm_python_helpers.cmake
  python/cmake/skbuild_patches.cmake
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/setup.py
Labels: 3 - Ready for review, CMake, Python, gpuCI, non-breaking, improvement

#1034 Clarify using RMM with other Python libraries
  README.md
Labels: doc, non-breaking

#1037 Clarifies Python requirements and version constraints
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/setup.cfg
  python/setup.py
Labels: bug, Python, conda, non-breaking

#1030 Make IPC handle export optional in cuda_async_memory_resource
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: bug, 5 - Ready to Merge, Python, breaking, cpp

#1049 Revert "Make IPC handle export optional in cuda_async_memory_resource"
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: Python, cpp

#1051 Make IPC handle export optional in cuda_async_memory_resource
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: bug, 5 - Ready to Merge, Python, breaking, cpp
