Repository rapidsai/rmm, pull requests merged in 2022-03, with the labels that each got.

#976 Use scikit-build for the build process
  .gitignore
  CONTRIBUTING.md
  build.sh
  ci/release/update-version.sh
  cmake/config.json
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/CMakeLists.txt
  python/cmake/CMakeLists.txt
  python/cmake/rmm_python_helpers.cmake
  python/cmake/skbuild_patches.cmake
  python/dev_requirements.txt
  python/pyproject.toml
  python/rmm/_cuda/CMakeLists.txt
  python/rmm/_lib/CMakeLists.txt
  python/setup.py
Labels: feature request, 3 - Ready for review, CMake, Python, gpuCI, conda, non-breaking

#994 Add cuda-python dependency to pyproject.toml
  python/pyproject.toml
Labels: bug, 3 - Ready for review, Python, non-breaking

#988 Log allocation failures
  benchmarks/replay/replay.cpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/logger_tests.cpp
Labels: 3 - Ready for review, non-breaking, improvement, cpp

#992 Fix free-before-alloc in multithreaded test
  tests/mr/device/mr_multithreaded_tests.cpp
Labels: non-breaking, improvement, cpp

#993 Disable opportunistic reuse in async mr when cuda driver < 11.5
  include/rmm/mr/device/cuda_async_memory_resource.hpp
Labels: bug, 3 - Ready for review, non-breaking, cpp

#997 Update `librmm` `conda` recipe
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Labels: non-breaking, improvement

#990 Use CUDA 11.2+ features via dlopen
  CMakeLists.txt
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
Labels: bug, 3 - Ready for review, CMake, non-breaking, cpp

#996 Remove `no_cma`/`has_cma` variants
  benchmarks/CMakeLists.txt
  build.sh
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake, Python, conda, non-breaking, improvement, cpp

#1000 Rename `librmm_tests` to `librmm-tests`
  ci/gpu/build.sh
  conda/recipes/librmm/meta.yaml
Labels: non-breaking, improvement

#982 Bump Python requirements in `setup.cfg` and `rmm_dev.yml`
  README.md
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  python/setup.cfg
  python/setup.py
Labels: Python, conda, non-breaking, improvement

#889 [REVIEW] Allow construction of cuda_async_memory_resource from existing pool
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
Labels: non-breaking, improvement, cpp

#1011 Clean up Thrust includes.
  benchmarks/device_uvector/device_uvector_bench.cu
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: non-breaking, improvement, cpp

#1012 Pin click version to last support by black<22.3.0.
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: bug, 3 - Ready for review, ! - Release, conda, non-breaking

#1014 Pin CMake to last working version.
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
Labels: bug, 3 - Ready for review, Python, conda, ! - Hotfix, non-breaking
