Repository rapidsai/rmm, pull requests merged in 2022-07, with the labels that each got.

#1063 Pin max version of `cuda-python` to `11.7`
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
  conda/recipes/rmm/meta.yaml
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
Labels: non-breaking, improvement

#1066 Forward merge 22.06 into 22.08
  CHANGELOG.md
Labels: non-breaking, improvement

#1069 Update isort to 5.10.1
  .pre-commit-config.yaml
  conda/environments/rmm_dev_cuda11.5.yml
  conda/environments/rmm_dev_cuda11.6.yml
Labels: 3 - Ready for review, conda, non-breaking, improvement

#1072 Add the ability to register and unregister reinitialization hooks
  python/rmm/__init__.py
  python/rmm/rmm.py
  python/rmm/tests/test_rmm.py
Labels: Python, non-breaking, improvement
