Repository rapidsai/rmm, pull requests merged in 2022-01, with the labels that each got.

#938 Headers that use `std::thread` now include <thread>
  include/rmm/mr/device/arena_memory_resource.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: bug, 3 - Ready for review, non-breaking, cpp

#931 [WIP] Fix for `DeviceBuffer`
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
Labels: bug, Python, non-breaking

#916 Improve the Arena allocator to reduce memory fragmentation
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: 3 - Ready for review, non-breaking, improvement, cpp

#942 Temporarily disable warnings for unknown pragmas
  benchmarks/CMakeLists.txt
Labels: bug, CMake, non-breaking

#946 Use numba to get CUDA runtime version.
  python/rmm/_cuda/gpu.py
Labels: bug, 5 - Ready to Merge, Python, non-breaking

#941 Build benchmarks in RMM CI
  build.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/meta.yaml
Labels: bug, gpuCI, conda, non-breaking

#952 Prepare upload scripts for Python 3.7 removal
  ci/cpu/prebuild.sh
Labels: gpuCI, non-breaking, improvement

#958 Forward-merge branch-21.12 to branch-22.02
  CHANGELOG.md
Labels: non-breaking, improvement

#936 [gpuCI] Forward-merge branch-21.12 to branch-22.02 [skip gpuci]
  CHANGELOG.md
Labels: inactive-30d

#960 Always upload librmm [skip-ci]
  ci/cpu/prebuild.sh
Labels: bug, 3 - Ready for review, non-breaking

#962 Make `pool_memory_resource::pool_size()` public
  include/rmm/mr/device/pool_memory_resource.hpp
  python/rmm/_lib/memory_resource.pyx
Labels: Python, non-breaking, improvement, cpp
