Repository rapidsai/rmm, pull requests merged in 2022-02, with the labels that each got.

#964 Added yml file for cudatoolkit version 11.6
  conda/environments/rmm_dev_cuda11.6.yml
Labels: conda, non-breaking, improvement

#963 Replace `ccache` with `sccache`
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/librmm/meta.yaml
Labels: gpuCI, conda, non-breaking, improvement

#965 Fix comparison of async MRs with different underlying pools.
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
Labels: bug, non-breaking, cpp

#966 Add device_buffer::ssize() and device_uvector::ssize()
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
Labels: non-breaking, improvement, cpp

#970 Fix signed/unsigned comparison warning
  include/rmm/device_buffer.hpp
Labels: bug, 5 - Ready to Merge, non-breaking, cpp

#969 Add CMake `install` rules for tests
  benchmarks/CMakeLists.txt
  tests/CMakeLists.txt
Labels: CMake, non-breaking, improvement, cpp

#974 Fix `conda` uploads
  ci/cpu/upload.sh
Labels: gpuCI, non-breaking, improvement

#975 Update upload.sh to use `--croot`
  ci/cpu/upload.sh
Labels: gpuCI, non-breaking, improvement

#978 Update `librmm` recipe to output `librmm_tests` package
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Labels: gpuCI, conda, non-breaking, improvement

#981 New benchmark compares concurrent throughput of device_vector and device_uvector
  benchmarks/device_uvector/device_uvector_bench.cu
Labels: non-breaking, improvement

#983 Update `librmm` `conda` outputs
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
Labels: conda, non-breaking, improvement

#979 Fix warning/error in debug assertion in device_uvector.hpp
  include/rmm/device_uvector.hpp
Labels: bug, 3 - Ready for review, non-breaking, cpp

#986 Skip async mr tests when cuda runtime/driver < 11.2
  ci/gpu/build.sh
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/mr_test.hpp
Labels: bug, 3 - Ready for review, gpuCI, non-breaking, cpp
