Repository rapidsai/rmm, pull requests merged in 2022-12, with the labels that each got.

#1174 Update PR Workflow
  .github/workflows/pr.yaml
Labels: non-breaking, improvement

#1173 Upgrade to spdlog 1.10
  .pre-commit-config.yaml
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1176 Revert "Upgrade to spdlog 1.10 (#1173)"
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  dependencies.yaml
Labels: bug, conda, non-breaking

#1165 [RELEASE] rmm v22.12
  .github/labeler.yml
  .github/workflows/stale.yaml
  .github/workflows/wheels.yml
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  ci/build_cpp.sh
  ci/build_python.sh
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/local/README.md
  ci/local/build.sh
  cmake/thirdparty/get_gbench.cmake
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  doxygen/Doxyfile
  include/rmm/device_buffer.hpp
  python/CMakeLists.txt
  python/LICENSE
  python/docs/conf.py
  python/pyproject.toml
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/tests/test_rmm.py
  python/setup.cfg
  python/setup.py
  scripts/gdb-pretty-printers.py
Labels: CMake, Python, gpuCI, conda, cpp

#1170 Ensure `UpstreamResourceAdaptor` is not cleared by the Python GC
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: bug, Python, non-breaking

#1154 Update pre-commit hooks
  .clang-format
  .gitattributes
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ops-bot.yaml
  .pre-commit-config.yaml
  ci/check_style.sh
  ci/docs/build.sh
  ci/release/update-version.sh
  cmake/config.json
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  dependencies.yaml
  print_env.sh
  python/.flake8
  python/.flake8.cython
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/tests/test_device_buffer.pyx
  python/setup.cfg
  python/setup.py
  scripts/run-clang-format.py
  scripts/run-cmake-format.sh
Labels: CMake, Python, conda, tech debt, non-breaking, improvement, ci

#1180 Update conda recipes.
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda, non-breaking, improvement

#1184 Build CUDA `11.8` and Python `3.10` Packages
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement
