Repository rapidsai/rmm, pull requests merged in 2022-11, with the labels that each got.

#1146 Document required Python dependencies to build from source
  README.md
Labels: doc, non-breaking

#1147 Update dependencies schema.
  dependencies.yaml
Labels: 0 - Blocked, non-breaking, improvement

#1153 Fix doxygen formatting for set_stream.
  include/rmm/device_buffer.hpp
Labels: doc, non-breaking, cpp

#1155 Add `ninja` & Update CI environment variables
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1152 Remove CUDA 11.0 from dependencies.yaml.
  README.md
  dependencies.yaml
Labels: non-breaking, improvement

#1148 Add wheel builds to rmm
  .github/workflows/wheels.yml
  .gitignore
  python/CMakeLists.txt
  python/LICENSE
  python/setup.cfg
  python/setup.py
Labels: feature request, 3 - Ready for review, CMake, Python, non-breaking

#1159 Use rapidsai CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: doc, non-breaking

#1161 Align __version__ with wheel version
  python/setup.py
Labels: Python, non-breaking, improvement

#1163 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  python/setup.py
Labels: Python

#1162 Don't use CMake 3.25.0 as it has a show stopping FindCUDAToolkit bug
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: bug, 3 - Ready for review, Python, conda, ! - Hotfix, non-breaking

#1164 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: Python, conda

#1171 Enable `codecov`
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: non-breaking, improvement, ci
