Repository rapidsai/rmm, pull requests merged in 2023-09, with the labels that each got.

#1317 Fix doxygen warnings
  doxygen/Doxyfile
  include/rmm/cuda_device.hpp
  include/rmm/cuda_stream.hpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/logger.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
Labels: doc, non-breaking, cpp

#1335 Simplify wheel build scripts and allow alphas of RAPIDS dependencies
  ci/build_wheel.sh
  ci/release/apply_wheel_modifications.sh
Labels: non-breaking, improvement, ci

#1334 Add pre-commit hook to validate doxygen
  .pre-commit-config.yaml
  dependencies.yaml
  scripts/doxygen.sh
Labels: 3 - Ready for review, doc, non-breaking

#1338 Use `conda mambabuild` not `mamba mambabuild`
  ci/build_cpp.sh
  ci/build_python.sh
Labels: bug, non-breaking, ci

#1337 Update doxygen to 1.9.1
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  doxygen/Doxyfile
  include/rmm/logger.hpp
  scripts/doxygen.sh
Labels: conda, non-breaking, improvement, cpp

#1333 Fix stream_ordered_memory_resource attempt to record event in stream from another device
  .clang-tidy
  .gitignore
  README.md
  include/rmm/cuda_device.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/per_device_resource.hpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: bug, 4 - Needs Reviewer, non-breaking, cpp

#1341 Clean up headers in CMakeLists.txt.
  CMakeLists.txt
Labels: CMake, doc, non-breaking

#1343 Update to clang 16.0.6.
  .pre-commit-config.yaml
  benchmarks/random_allocations/random_allocations.cpp
  include/rmm/device_buffer.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/failure_callback_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: non-breaking, improvement, cpp

#1344 Make doxygen only a conda dependency.
  dependencies.yaml
Labels: bug, non-breaking

#1346 Update image names
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: non-breaking, improvement

#1348 Enable doxygen XML and fix issues
  .gitignore
  doxygen/Doxyfile
  include/rmm/cuda_stream_view.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/thrust_rmm_allocator.h
Labels: doc, non-breaking, cpp

#1350 Compile cdef public functions from torch_allocator with C ABI
  python/rmm/_lib/CMakeLists.txt
Labels: bug, CMake, Python, non-breaking

#1330 RMM: Build CUDA 12.0 ARM conda packages.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: non-breaking, improvement

#1328 Add RMM devcontainers
  .clangd
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/pr.yaml
  .gitignore
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  tests/CMakeLists.txt
Labels: 3 - Ready for review, CMake, conda, non-breaking, improvement, cpp, ci

#1339 Enable RMM Debug Logging via Python
  README.md
  python/CMakeLists.txt
  python/rmm/__init__.py
  python/rmm/_lib/CMakeLists.txt
  python/rmm/_lib/logger.pyx
  python/rmm/tests/test_rmm.py
Labels: feature request, CMake, Python, non-breaking
