Repository rapidsai/rmm, pull requests merged in 2023-12, with the labels that each got.

#1397 Update actions/labeler to v4
  .github/workflows/labeler.yml
Labels: bug, non-breaking

#1396 Backport arena MR fix for simultaneous access by PTDS and other streams
  include/rmm/mr/device/arena_memory_resource.hpp
  tests/mr/device/arena_mr_tests.cpp
Labels: bug, non-breaking, cpp

#1287 Switch to scikit-build-core
  README.md
  build.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/CMakeLists.txt
  python/pyproject.toml
  python/setup.py
Labels: CMake, Python, 0 - Blocked, conda, breaking, improvement

#1409 Define python dependency range as a matrix fallback.
  dependencies.yaml
Labels: non-breaking, improvement

#1407 Correct signatures for torch allocator plug in
  .gitignore
  python/rmm/_lib/CMakeLists.txt
  python/rmm/_lib/_torch_allocator.cpp
  python/rmm/_lib/torch_allocator.pyx
  python/rmm/allocators/torch.py
Labels: bug, CMake, Python, non-breaking

#1410 Update CODEOWNERS
  .github/CODEOWNERS
Labels: bug, non-breaking

#1413 Update GPU support docs to drop Pascal
  README.md
Labels: doc, non-breaking

#1415 Remove HTML builds of librmm
  ci/build_docs.sh
  doxygen/Doxyfile
Labels: 3 - Ready for review, doc, breaking, cpp, ci

#1404 Update to CCCL 2.2.0.
  CMakeLists.txt
  cmake/thirdparty/get_cccl.cmake
  cmake/thirdparty/get_thrust.cmake
  scripts/load-pretty-printers.in
Labels: CMake, non-breaking, improvement
