Repository rapidsai/rmm, pull requests merged in 2023-04, with the labels that each got.

#1242 Remove uses-setup-env-vars
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: non-breaking, improvement

#1246 Update clang-format to 16.0.1.
  .pre-commit-config.yaml
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  benchmarks/synchronization/synchronization.hpp
  benchmarks/utilities/log_parser.hpp
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/cuda_stream.hpp
  include/rmm/cuda_stream_pool.hpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/device_buffer.hpp
  include/rmm/logger.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/cuda_stream_tests.cpp
  tests/logger_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/failure_callback_mr_tests.cpp
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: non-breaking, improvement, cpp

#1249 Remove wheel pytest verbosity
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: non-breaking, improvement

#1251 Remove usage of rapids-get-rapids-version-from-git
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: non-breaking, improvement, ci

#1241 Move RMM_LOGGING_ASSERT into separate header
  include/rmm/cuda_stream.hpp
  include/rmm/detail/error.hpp
  include/rmm/detail/logging_assert.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: non-breaking, improvement, cpp

#1252 Update minimum Python version to Python 3.9
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: Python, conda, breaking, improvement

#1255 run docs builds nightly too
  .github/workflows/build.yaml
  ci/build_docs.sh
Labels: non-breaking, improvement, ci

#1256 Revert to branch-23.06 for shared-action-workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: non-breaking, improvement
