Repository rapidsai/rmm, pull requests merged in 2023-02, with the labels that each got.

#1199 Fix update-version.sh
  ci/release/update-version.sh
Labels: non-breaking, improvement, ci

#1201 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: non-breaking, improvement, ci

#1195 Use date in build string instead of in the version.
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda, non-breaking, improvement

#1203 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: non-breaking, improvement

#1204 Reduce error handling verbosity in CI tests scripts
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: non-breaking, improvement, ci

#1196 [RELEASE] rmm v23.02
  .clang-format
  .gitattributes
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ops-bot.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/wheels.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CMakeLists.txt
  README.md
  ci/build_docs.sh
  ci/check_style.sh
  ci/docs/build.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/wheel_smoke_test.py
  cmake/config.json
  conda/environments/all_cuda-116_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  doxygen/Doxyfile
  print_env.sh
  python/.flake8
  python/.flake8.cython
  python/CMakeLists.txt
  python/docs/conf.py
  python/rmm/__init__.py
  python/rmm/_lib/CMakeLists.txt
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/per_device_resource.pxd
  python/rmm/_lib/tests/test_device_buffer.pyx
  python/rmm/_lib/torch_allocator.pyx
  python/rmm/rmm.py
  python/rmm/tests/conftest.py
  python/rmm/tests/test_rmm.py
  python/rmm/tests/test_rmm_pytorch.py
  python/setup.cfg
  python/setup.py
  scripts/run-clang-format.py
  scripts/run-cmake-format.sh
Labels: CMake, Python, conda, cpp, ci

#1209 Revert changes overriding rapids-cmake repo.
  CMakeLists.txt
  python/CMakeLists.txt
Labels: bug, CMake, Python, non-breaking

#1215 Skip docs job in nightly runs
  .github/workflows/build.yaml
Labels: non-breaking, improvement

#1212 Use script rather than environment variable to modify package names
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/release/apply_wheel_modifications.sh
  python/setup.py
Labels: 3 - Ready for review, Python, non-breaking, improvement, ci

#1214 CI: Remove specification of manual stage for check_style.sh script.
  ci/check_style.sh
Labels: 3 - Ready for review, tech debt, non-breaking, improvement, ci

#1151 Migrate as much as possible to `pyproject.toml`
  .pre-commit-config.yaml
  ci/release/apply_wheel_modifications.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/.flake8
  python/MANIFEST.in
  python/README.md
  python/pyproject.toml
  python/setup.py
Labels: 3 - Ready for review, Python, conda, non-breaking, improvement, ci

#1218 Specify include_package_data to setup
  python/setup.py
Labels: bug, 3 - Ready for review, Python, non-breaking

#1226 Fix some minor oversights in the conversion to pyproject.toml
  python/MANIFEST.in
  python/pyproject.toml
  python/setup.py
Labels: 3 - Ready for review, Python, non-breaking, improvement

#1217 Run rapids-dependency-file-generator via pre-commit
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
Labels: 3 - Ready for review, non-breaking, improvement

#1224 Remove pickle compatibility layer in tests for Python < 3.8.
  python/rmm/tests/test_rmm.py
Labels: Python, non-breaking, improvement

#1100 Synchronize stream in `DeviceBuffer.c_from_unique_ptr` constructor
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
Labels: bug, Python, non-breaking
