Repository rapidsai/rmm, pull requests merged in 2023-08, with the labels that each got.

#1319 Use fetch_rapids.cmake.
  CMakeLists.txt
  ci/release/update-version.sh
  fetch_rapids.cmake
  python/CMakeLists.txt
Labels: CMake, Python, non-breaking, improvement, ci

#1313 Update to Cython 3.0.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
  python/rmm/_cuda/stream.pxd
  python/rmm/_cuda/stream.pyx
  python/rmm/_lib/cuda_stream.pxd
  python/rmm/_lib/cuda_stream.pyx
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pyx
Labels: 3 - Ready for review, Python, conda, breaking, improvement

#1316 Treat warnings as errors in Python documentation
  ci/build_docs.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/docs/Makefile
  python/docs/api.rst
  python/docs/basics.md
  python/docs/conf.py
  python/rmm/_lib/memory_resource.pyx
  python/rmm/allocators/numba.py
  python/rmm/mr.py
Labels: doc, Python, conda, non-breaking, ci

#1321 Fix missing jQuery error in docs
  python/docs/conf.py
Labels: Python, non-breaking, improvement

#1327 Add Python bindings for `limiting_resource_adaptor`
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/mr.py
  python/rmm/tests/test_rmm.py
Labels: Python, non-breaking, improvement

#1329 Use `copy-pr-bot`
  .github/copy-pr-bot.yaml
  .github/ops-bot.yaml
Labels: non-breaking, improvement
