Repository rapidsai/rmm, pull requests merged in 2023-01, with the labels that each got.

#1186 Update workflows for nightly tests
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: non-breaking, improvement

#1168 Add RMM PyTorch allocator
  README.md
  python/rmm/__init__.py
  python/rmm/_lib/CMakeLists.txt
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
  python/rmm/_lib/per_device_resource.pxd
  python/rmm/_lib/torch_allocator.pyx
  python/rmm/rmm.py
  python/rmm/tests/conftest.py
  python/rmm/tests/test_rmm.py
  python/rmm/tests/test_rmm_pytorch.py
Labels: feature request, CMake, Python, non-breaking

#1166 Add support for Python 3.10.
  README.md
  python/setup.py
Labels: Python, non-breaking, improvement

#1182 Build wheels alongside conda CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/wheels.yml
  ci/wheel_smoke_test.py
Labels: non-breaking, improvement, ci

#1187 Upkeep/wheel param cleanup
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: non-breaking, improvement

#1188 Fix documentation author
  python/docs/conf.py
Labels: doc, Python, non-breaking

#1192 Update `build.yaml` workflow to reduce verbosity
  ci/build_docs.sh
Labels: non-breaking, improvement, ci

#1193 Use CTK 118/cp310 branch of wheel workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: non-breaking, improvement, ci

#1197 pre-commit: Update isort version to 5.12.0
  .pre-commit-config.yaml
Labels: bug, non-breaking
