Repository rapidsai/rmm, pull requests merged in 2023-03, with the labels that each got.

#1228 Update to GCC 11
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/conda_build_config.yaml
Labels: conda, non-breaking, improvement

#1230 Pass `AWS_SESSION_TOKEN` and `SCCACHE_S3_USE_SSL` vars to conda build
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda, non-breaking, improvement

#1231 Add codespell as a linter
  .pre-commit-config.yaml
  benchmarks/synchronization/synchronization.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  pyproject.toml
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
Labels: non-breaking, improvement, cpp

#1233 Remove MANIFEST.in use auto-generated one for sdists and package_data for wheels
  python/MANIFEST.in
  python/setup.py
Labels: bug, 3 - Ready for review, Python, non-breaking

#1236 Stop setting package version attribute in wheels
  ci/release/apply_wheel_modifications.sh
Labels: non-breaking, improvement, ci

#1219 Generate pyproject.toml dependencies using dfg
  .pre-commit-config.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: 3 - Ready for review, Python, non-breaking, improvement
