Repository rapidsai/rmm, pull requests merged in 2024-07, with the labels that each got.

#1581 Add system memory resource
  include/rmm/mr/device/sam_headroom_resource_adaptor.hpp
  include/rmm/mr/device/system_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
  tests/mr/device/system_mr_tests.cu
  tests/mr/device/test_utils.hpp
Labels: feature request, CMake, non-breaking, cpp

#1589 Refactor mr_ref_tests to not depend on MR base classes
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/host/mr_ref_tests.cpp
Labels: feature request, non-breaking, cpp

#1601 Use verify-alpha-spec hook
  .pre-commit-config.yaml
Labels: 3 - Ready for review, non-breaking, improvement

#1603 skip CMake 3.30.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/rmm/conda_build_config.yaml
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Labels: Python, conda, non-breaking, improvement

#1604 Revert "Remove HTML builds of librmm (#1415)"
  ci/build_docs.sh
  doxygen/Doxyfile
Labels: doc, non-breaking, cpp, ci

#1607 Build and test with CUDA 12.5.1
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1614 add rapids-build-backend to docs
  README.md
Labels: doc, non-breaking

#1615 Rename `.devcontainer`s for CUDA 12.5
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
Labels: bug, non-breaking

#1617 Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: non-breaking, improvement

#1608 Prefetch resource adaptor
  include/rmm/mr/device/prefetch_resource_adaptor.hpp
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/mr.py
  python/rmm/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/mr/device/prefetch_resource_adaptor_tests.cpp
  tests/prefetch_tests.cpp
Labels: feature request, CMake, Python, non-breaking, cpp

#1602 Add RMM_USE_NVTX cmake option to provide localized control of NVTX for RMM
  CMakeLists.txt
  include/rmm/detail/nvtx/ranges.hpp
Labels: CMake, non-breaking, improvement, cpp

#1600 Add documentation for CPM usage
  README.md
Labels: doc, non-breaking

#1624 Instruct to create associated issue in PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc, non-breaking

#1627 split up CUDA-suffixed dependencies in dependencies.yaml
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Labels: Python, non-breaking, improvement

#1625 Remove prefetch factory.
  include/rmm/mr/device/prefetch_resource_adaptor.hpp
Labels: non-breaking, improvement, cpp

#1605 Add python wrapper for system memory resource
  include/rmm/mr/device/sam_headroom_memory_resource.hpp
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/mr.py
  python/rmm/rmm/tests/test_rmm.py
  tests/mr/device/system_mr_tests.cu
Labels: feature request, 3 - Ready for review, Python, non-breaking, cpp

#1631 Merge branch-24.08 into branch-24.10
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Labels: Python, non-breaking, improvement

#1633 Install headers into `${CMAKE_INSTALL_INCLUDEDIR}`
  CMakeLists.txt
Labels: CMake, non-breaking, improvement
