Repository rapidsai/rmm, pull requests merged in 2024-04, with the labels that each got.

#1510 Enable all tests for `arm` arch
  ci/test_wheel.sh
Labels: non-breaking, improvement, ci

#1514 Explicitly use the current device resource in DeviceBuffer
  python/rmm/_lib/device_buffer.pxd
  python/rmm/_lib/device_buffer.pyx
  python/rmm/_lib/memory_resource.pxd
  python/rmm/_lib/memory_resource.pyx
Labels: bug, Python, non-breaking

#1519 Remove deprecated supports_streams and get_mem_info methods.
  include/rmm/mr/device/device_memory_resource.hpp
Labels: feature request, breaking, cpp

#1521 Remove a file not being used
  ci/wheel_smoke_test.py
Labels: non-breaking, improvement, ci

#1513 Fix ordering / heading levels in README.md and python example in guide.md
  README.md
  python/docs/guide.md
Labels: doc, Python, non-breaking

#1524 Update multi-gpu discussion for device_buffer and device_vector dtors
  README.md
Labels: doc, non-breaking

#1535 Remove deprecated cuda_async_memory_resource constructor that takes thrust::optional parameters
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
Labels: breaking, improvement, cpp

#1533 Make thrust_allocator deallocate safe in multi-device setting
  README.md
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: non-breaking, improvement, cpp

#1532 Always use a static gtest
  CMakeLists.txt
  cmake/thirdparty/get_gtest.cmake
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
Labels: feature request, CMake, conda, non-breaking

#1537 Remove deprecated functionality
  conda/recipes/librmm/meta.yaml
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/thrust_rmm_allocator.h
  python/rmm/docs/conf.py
Labels: Python, conda, breaking, improvement, cpp

#1520 Remove unneeded `update-version.sh` update
  ci/release/update-version.sh
Labels: non-breaking, improvement, ci

#1542 Fix `cuda11.8` nvcc dependency
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: 3 - Ready for review, conda, non-breaking, improvement

#1545 Only use functions in the limited API
  python/rmm/rmm/_lib/device_buffer.pyx
Labels: Python, non-breaking, improvement
