Repository rapidsai/rmm, pull requests merged in 2024-10, with the labels that each got.

#1693 Fix `rmm ._lib` imports
  python/rmm/rmm/_lib/cuda_stream.py
  python/rmm/rmm/_lib/device_buffer.py
  python/rmm/rmm/_lib/logger.py
  python/rmm/rmm/_lib/memory_resource.py
Labels: bug, Python, non-breaking

#1695 Prune workflows based on changed files
  .github/workflows/pr.yaml
Labels: non-breaking, improvement

#1702 Add BUILD_SHARED_LIBS option defaulting to ON
  CMakeLists.txt
Labels: CMake, non-breaking, improvement

#1696 make conda installs in CI stricter
  ci/build_docs.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: 3 - Ready for review, non-breaking, improvement, ci

#1697 Fix typos in .gitignore
  .gitignore
Labels: bug, non-breaking

#1703 make conda installs in CI stricter (part 2)
  ci/build_docs.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: non-breaking, improvement, ci

#1690 Deprecate support for directly accessing logger
  include/rmm/logger.hpp
  python/rmm/rmm/librmm/_logger.pxd
  tests/mr/device/tracking_mr_tests.cpp
Labels: Python, breaking, improvement, cpp

#1706 Fix docs warning
  python/rmm/docs/conf.py
Labels: doc, Python, non-breaking

#1707 Update rmm tests to use rapids_cmake_support_conda_env
  tests/CMakeLists.txt
Labels: feature request, CMake, non-breaking, cpp

#1708 devcontainer: replace `VAULT_HOST` with `AWS_ROLE_ARN`
  .devcontainer/Dockerfile
Labels: non-breaking, improvement

#1712 print sccache stats in builds
  .pre-commit-config.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
Labels: non-breaking, improvement, ci

#1713 Deprecate `rmm._lib`
  python/rmm/rmm/__init__.py
  python/rmm/rmm/_lib/__init__.py
  python/rmm/rmm/tests/test_rmm.py
Labels: Python, non-breaking, improvement
