Repository rapidsai/rmm, pull requests merged in 2024-02, with the labels that each got.

#1454 Adopt the `rmm::device_async_resource_ref` alias
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: tech debt, non-breaking, improvement, cpp

#1447 Change `device_scalar` to take `async_resource_ref`
  include/rmm/device_scalar.hpp
  tests/device_scalar_tests.cpp
Labels: feature request, non-breaking, cpp

#1449 Change `rmm::exec_policy` to take `async_resource_ref`
  include/rmm/exec_policy.hpp
Labels: feature request, non-breaking, cpp

#1459 Exclude tests from builds
  python/pyproject.toml
Labels: bug, Python, non-breaking

#1461 Forward-merge branch-24.02 to branch-24.04
  python/pyproject.toml
Labels: Python

#1460 Ensure that `ctest` is called with `--no-tests=error`.
  ci/test_cpp.sh
Labels: non-breaking, improvement, ci

#1419 Support CUDA 12.2
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Labels: feature request, conda, non-breaking

#1451 Remove duplicated memory_resource_tests
  tests/CMakeLists.txt
  tests/mr/device/mr_multithreaded_tests.cpp
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/host/mr_tests.cpp
Labels: feature request, CMake, tests, non-breaking, cpp

#1468 target branch-24.04 for GitHub Actions workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: non-breaking, improvement

#1463 Automate include grouping using clang-format
  .clang-format
  benchmarks/device_uvector/device_uvector_bench.cu
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  benchmarks/synchronization/synchronization.hpp
  benchmarks/utilities/log_parser.hpp
  include/rmm/cuda_stream.hpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/detail/logging_assert.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  include/rmm/device_vector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/pinned_host_memory_resource.hpp
  include/rmm/thrust_rmm_allocator.h
  python/rmm/_lib/_torch_allocator.cpp
  tests/cuda_stream_pool_tests.cpp
  tests/cuda_stream_tests.cpp
  tests/device_scalar_tests.cpp
  tests/logger_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/device/tracking_mr_tests.cpp
  tests/mr/host/mr_ref_tests.cpp
Labels: feature request, Python, non-breaking, cpp

#1479 Add host_resource_ref and async_host_resource ref as aliases to cudf resource types.
  include/rmm/resource_ref.hpp
  tests/mr/host/mr_ref_tests.cpp
Labels: feature request, non-breaking, cpp

#1482 Use `rmm::device_async_resource_ref` in multi_stream_allocation benchmark
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
Labels: 3 - Ready for review, benchmarks, non-breaking, improvement

#1469 Add support for Python 3.11
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: Python, conda, non-breaking, improvement

#1487 Run STATISTICS_TEST and TRACKING_TEST in serial to avoid OOM errors.
  tests/CMakeLists.txt
Labels: bug, CMake, non-breaking, cpp

#1462 Add environment-agnostic scripts for running ctests and pytests
  ci/run_ctests.sh
  ci/run_pytests.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: 3 - Ready for review, non-breaking, improvement, ci

#1470 Update devcontainers to CUDA Toolkit 12.2
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/pr.yaml
Labels: 3 - Ready for review, non-breaking, improvement

#1488 Requre NumPy 1.23+
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: Python, conda, non-breaking, improvement

#1456 Add `get_upstream_resource` to resource adaptors
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/is_resource_adaptor.hpp
  tests/device_check_resource_adaptor.hpp
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: feature request, non-breaking, cpp
