Repository rapidsai/rmm, pull requests merged in 2024-03, with the labels that each got.

#1494 Accept stream argument in DeviceMemoryResource allocate/deallocate
  python/rmm/_lib/memory_resource.pyx
  python/rmm/tests/test_rmm.py
Labels: bug, Python, breaking

#1498 Fix search path for torch allocator in editable installs and ensure CUDA support is available
  python/rmm/allocators/torch.py
Labels: bug, Python, non-breaking

#1496 Remove hard-coding of RAPIDS version where possible
  CMakeLists.txt
  ci/build_docs.sh
  ci/check_style.sh
  ci/release/update-version.sh
  doxygen/Doxyfile
  fetch_rapids.cmake
  python/CMakeLists.txt
  python/docs/conf.py
  rapids_config.cmake
  scripts/doxygen.sh
Labels: CMake, Python, 4 - Needs Reviewer, non-breaking, improvement, cpp, ci

#1501 Add upper bound to prevent usage of NumPy 2
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: Python, conda, non-breaking, improvement

#1491 Replace all internal usage of `get_upstream` with `get_upstream_resource`
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/device_check_resource_adaptor.hpp
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: feature request, 3 - Ready for review, breaking, cpp

#1509 Use `conda env create --yes` instead of `--force`
  ci/build_docs.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: non-breaking, improvement, ci
