Repository rapidsai/rmm, pull requests merged in 2024-01, with the labels that each got.

#1414 Update dependencies.yaml to support CUDA 12.*.
  .pre-commit-config.yaml
  dependencies.yaml
Labels: non-breaking, improvement

#1420 remove references to setup.py in docs
  CONTRIBUTING.md
  README.md
Labels: doc, Python, non-breaking

#1422 Refactor CUDA versions in dependencies.yaml.
  dependencies.yaml
Labels: non-breaking, improvement

#1423 Remove usages of rapids-env-update
  ci/build_cpp.sh
  ci/build_python.sh
Labels: non-breaking, improvement, ci

#1417 Require explicit pool size in `pool_memory_resource` and move some things out of detail namespace
  .clang-tidy
  README.md
  benchmarks/device_uvector/device_uvector_bench.cu
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/random_allocations/random_allocations.cpp
  benchmarks/replay/replay.cpp
  doxygen/Doxyfile
  include/doxygen_groups.h
  include/rmm/aligned.hpp
  include/rmm/cuda_device.hpp
  include/rmm/detail/aligned.hpp
  include/rmm/detail/cuda_util.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  python/docs/conf.py
  python/docs/librmm_docs/deprecated.rst
  python/docs/librmm_docs/index.rst
  python/docs/librmm_docs/utilities.rst
  python/rmm/_lib/memory_resource.pyx
  tests/container_multidevice_tests.cu
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/failure_callback_mr_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/host/mr_ref_tests.cpp
  tests/mr/host/mr_tests.cpp
  tests/mr/host/pinned_pool_mr_tests.cpp
Labels: Python, breaking, improvement, cpp

#1424 Deprecate detail::available_device_memory, most detail/aligned.hpp utilities, and optional pool_memory_resource initial size
  include/rmm/aligned.hpp
  include/rmm/cuda_device.hpp
  include/rmm/detail/aligned.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: feature request, breaking, cpp

#1392 Add a host-pinned memory resource that can be used as upstream for `pool_memory_resource`.
  include/rmm/aligned.hpp
  include/rmm/detail/aligned.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/mr/pinned_host_memory_resource.hpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_test.hpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/test_utils.hpp
Labels: feature request, non-breaking, cpp

#1430 Make device_memory_resource::do_get_mem_info() and supports_get_mem_info() nonvirtual. Remove derived implementations and calls in RMM
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/device_check_resource_adaptor.hpp
  tests/mock_resource.hpp
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/failure_callback_mr_tests.cpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: feature request, breaking, cpp

#1437 Make device_memory_resource::supports_streams() not pure virtual. Remove derived implementations and calls in RMM
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  tests/device_check_resource_adaptor.hpp
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/failure_callback_mr_tests.cpp
  tests/mr/device/mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
Labels: feature request, breaking, cpp

#1436 Deprecate rmm::mr::device_memory_resource::get_mem_info() and supports_get_mem_info().
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/pinned_host_memory_resource.hpp
Labels: feature request, breaking

#1439 Refactor error.hpp out of detail
  include/rmm/detail/error.hpp
  include/rmm/error.hpp
Labels: non-breaking, improvement, cpp

#1438 Remove deprecated rmm::detail::available_device_memory
  include/rmm/cuda_device.hpp
Labels: feature request, CMake, Python, breaking, cpp, ci

#1441 Add device_async_resource_ref convenience alias
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/pinned_host_memory_resource.hpp
  include/rmm/resource_ref.hpp
  tests/device_buffer_tests.cu
  tests/device_uvector_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/thrust_allocator_tests.cu
Labels: feature request, non-breaking, cpp
