Repository rapidsai/rmm, pull requests merged in 2024-08, with the labels that each got.

#1636 Fix docs cross reference in DeviceBuffer.prefetch
  python/rmm/rmm/_lib/device_buffer.pyx
Labels: doc, Python, non-breaking

#1626 Deprecate adaptor factories.
  README.md
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/logger_tests.cpp
  tests/mr/device/stream_allocator_adaptor_tests.cpp
Labels: feature request, breaking, cpp

#1637 Use `tool.scikit-build.cmake.version`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Labels: bug, Python, conda, non-breaking

#1640 Improve update-version.sh
  ci/release/update-version.sh
Labels: non-breaking, improvement, ci

#1643 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: non-breaking, improvement

#1644 Hide visibility of non-public symbols
  ci/build_wheel_python.sh
  ci/check_symbols.sh
  python/rmm/rmm/_cuda/CMakeLists.txt
  python/rmm/rmm/_lib/CMakeLists.txt
Labels: CMake, Python, breaking, improvement, ci

#1650 Remove NumPy <2 pin
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/rmm/pyproject.toml
Labels: Python, conda, non-breaking, improvement

#1658 Fix `build.sh clean` to delete python build directory
  build.sh
Labels: bug, 3 - Ready for review, non-breaking

#1659 Drop Python 3.9 support
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/rmm/pyproject.toml
Labels: Python, conda, non-breaking, improvement

#1654 Explicitly mark RMM headers with `RMM_EXPORT`
  doxygen/Doxyfile
  include/rmm/aligned.hpp
  include/rmm/cuda_device.hpp
  include/rmm/cuda_stream.hpp
  include/rmm/cuda_stream_pool.hpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/detail/aligned.hpp
  include/rmm/detail/dynamic_load_runtime.hpp
  include/rmm/detail/export.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/device_vector.hpp
  include/rmm/error.hpp
  include/rmm/exec_policy.hpp
  include/rmm/logger.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/prefetch_resource_adaptor.hpp
  include/rmm/mr/device/sam_headroom_memory_resource.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/system_memory_resource.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/mr/is_resource_adaptor.hpp
  include/rmm/mr/pinned_host_memory_resource.hpp
  include/rmm/prefetch.hpp
  include/rmm/resource_ref.hpp
Labels: bug, non-breaking, cpp

#1655 Stream synchronize before deallocating SAM
  include/rmm/mr/device/system_memory_resource.hpp
Labels: bug, 3 - Ready for review, non-breaking, cpp

#1663 Update rapidsai/pre-commit-hooks
  .pre-commit-config.yaml
Labels: non-breaking, improvement

#1598 Add resource_ref versions of get/set_current_device_resource
  include/rmm/mr/device/per_device_resource.hpp
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
Labels: feature request, non-breaking, cpp
