Repository rapidsai/rmm, pull requests merged in 2024-09, with the labels that each got.

#1666 Add support for Python 3.12
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/rmm/pyproject.toml
Labels: Python, conda, non-breaking, improvement

#1653 Inline functions that return static references must have default visibility
  doxygen/Doxyfile
  include/rmm/detail/export.hpp
  include/rmm/logger.hpp
  include/rmm/mr/device/per_device_resource.hpp
Labels: bug, breaking, cpp

#1669 Remove the friend declaration with an attribute
  include/rmm/mr/device/logging_resource_adaptor.hpp
Labels: bug, non-breaking, cpp

#1672 Attempt to address oom failures in test suite
  tests/CMakeLists.txt
Labels: CMake, non-breaking, improvement, cpp

#1670 [FEA] Allow setting `*_pool_size` with human-readable string
  README.md
  python/rmm/docs/guide.md
  python/rmm/rmm/_lib/CMakeLists.txt
  python/rmm/rmm/_lib/helper.pxd
  python/rmm/rmm/_lib/helper.pyx
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/rmm.py
  python/rmm/rmm/tests/test_rmm.py
Labels: feature request, CMake, Python, non-breaking

#1661 Update RMM adaptors, containers and tests to use get/set_current_device_resource_ref()
  benchmarks/device_uvector/device_uvector_bench.cu
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/exec_policy.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/callback_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/failure_callback_resource_adaptor.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/per_device_resource.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/prefetch_resource_adaptor.hpp
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/thread_safe_resource_adaptor.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/resource_ref.hpp
  python/rmm/rmm/_lib/_torch_allocator.cpp
  tests/CMakeLists.txt
  tests/container_multidevice_tests.cu
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
  tests/device_check_resource_adaptor.hpp
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/mock_resource.hpp
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
  tests/mr/device/failure_callback_mr_tests.cpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/device/tracking_mr_tests.cpp
  tests/mr/host/mr_ref_tests.cpp
Labels: feature request, CMake, Python, non-breaking, cpp

#1677 Add missing include to `resource_ref.hpp`
  include/rmm/resource_ref.hpp
Labels: bug, 3 - Ready for review, non-breaking, cpp

#1681 Recommend `miniforge` for conda install.
  README.md
Labels: doc, non-breaking

#1683 Use CI workflow branch 'branch-24.10' again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: non-breaking, improvement

#1678 Update fmt (to 11.0.2) and spdlog (to 1.14.1).
  cmake/thirdparty/get_spdlog.cmake
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  dependencies.yaml
Labels: CMake, conda, non-breaking, improvement

#1685 Update update-version.sh to use packaging lib
  ci/release/update-version.sh
Labels: non-breaking, improvement, ci

#1688 exclude 'gcovr' from list of development pip packages
  dependencies.yaml
Labels: non-breaking, improvement

#1689 Use `rmm::percent_of_free_device_memory` in arena test
  tests/mr/device/arena_mr_tests.cpp
Labels: tech debt, non-breaking, improvement
