Repository rapidsai/rmm, pull requests merged in 2024-06, with the labels that each got.

#1567 Add `available_device_memory` to fetch free amount of memory on a GPU
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/mr.py
  python/rmm/rmm/tests/test_rmm.py
Labels: Python, non-breaking, improvement

#1563 Add a stack to the statistics resource
  include/rmm/mr/device/statistics_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/docs/guide.md
  python/rmm/docs/python_api.rst
  python/rmm/rmm/_lib/memory_resource.pyx
  python/rmm/rmm/statistics.py
  python/rmm/rmm/tests/conftest.py
  python/rmm/rmm/tests/test_rmm.py
  python/rmm/rmm/tests/test_rmm_pytorch.py
  python/rmm/rmm/tests/test_statistics.py
  tests/mr/device/statistics_mr_tests.cpp
Labels: Python, breaking, improvement, cpp

#1575 Remove text builds of documentation
  ci/build_docs.sh
Labels: non-breaking, improvement, ci

#1576 Allow anonymous user in devcontainer name
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/CODEOWNERS
Labels: bug, non-breaking

#1583 Avoid `--find-links`.
  ci/test_wheel.sh
Labels: bug, non-breaking, ci

#1582 resolve dependency-file-generator warning, remove unnecessary rapids-build-backend configuration
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Labels: Python, non-breaking, improvement, ci

#1579 Fix test_python matrix
  dependencies.yaml
Labels: bug, non-breaking

#1573 Add rmm::prefetch() and DeviceBuffer.prefetch()
  include/rmm/cuda_device.hpp
  include/rmm/device_scalar.hpp
  include/rmm/prefetch.hpp
  python/rmm/docs/conf.py
  python/rmm/docs/guide.md
  python/rmm/rmm/_lib/device_buffer.pxd
  python/rmm/rmm/_lib/device_buffer.pyx
  python/rmm/rmm/tests/test_rmm.py
  tests/CMakeLists.txt
  tests/prefetch_tests.cpp
Labels: feature request, CMake, Python, non-breaking, cpp

#1578 Remove THRUST_WRAPPED_NAMESPACE and tests
  tests/CMakeLists.txt
Labels: CMake, non-breaking, improvement, cpp

#1586 Avoid --find-links in wheel jobs
  ci/build_wheel_python.sh
Labels: non-breaking, improvement, ci

#1593 Update Thrust CMake Guide link in README.md
  README.md
Labels: doc, non-breaking

#1588 Avoid accessing statistics_resource_adaptor stack top if it is empty
  include/rmm/mr/device/statistics_resource_adaptor.hpp
Labels: bug, 3 - Ready for review, non-breaking, cpp
