Repository rapidsai/rmm, pull requests merged in 2024-05, with the labels that each got.

#1550 Remove header existence tests.
  conda/recipes/librmm/meta.yaml
Labels: conda, non-breaking, improvement

#1551 Enable warnings as errors for Python tests
  python/rmm/.coveragerc
  python/rmm/pyproject.toml
Labels: Python, non-breaking, improvement

#1554 Add publish jobs for C++ wheels
  .github/workflows/build.yaml
Labels: bug, non-breaking

#1553 add RAPIDS copyright pre-commit hook
  .pre-commit-config.yaml
  python/librmm/CMakeLists.txt
Labels: CMake, Python, non-breaking, improvement

#1543 Migrate to `{{ stdlib("c") }}`
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
Labels: conda, non-breaking, improvement

#1555 Refactor polymorphic allocator to use device_async_resource_ref
  .clang-format
  .gitignore
  include/rmm/mr/device/polymorphic_allocator.hpp
  tests/mr/device/polymorphic_allocator_tests.cpp
Labels: breaking, improvement, cpp

#1539 add --rm and --name to devcontainer run args
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  ci/release/update-version.sh
  scripts/run-cmake-format.sh
Labels: non-breaking, improvement, ci

#1561 Overhaul ops-codeowners
  .github/CODEOWNERS
Labels: non-breaking, improvement

#1557 Don't ignore GCC-specific warning under Clang
  include/rmm/mr/device/pool_memory_resource.hpp
Labels: bug, non-breaking, cpp

#1552 Allow specifying mr in DeviceBuffer construction, and document ownership requirements in Python/C++ interfacing
  README.md
  python/rmm/rmm/_lib/device_buffer.pxd
  python/rmm/rmm/_lib/device_buffer.pyx
  python/rmm/rmm/tests/test_rmm.py
Labels: doc, Python, non-breaking

#1559 Adding support for cupy.cuda.stream.ExternalStream
  python/rmm/rmm/_cuda/stream.pyx
Labels: Python, non-breaking, improvement

#1564 update copyright dates
  CMakeLists.txt
  build.sh
  ci/build_wheel_python.sh
  ci/test_wheel.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/meta.yaml
  python/rmm/CMakeLists.txt
  python/rmm/docs/conf.py
  python/rmm/pyproject.toml
Labels: 3 - Ready for review, CMake, Python, conda, non-breaking, improvement, ci

#1565 Make sure rmm wheel dependency on librmm is updated [skip ci]
  ci/release/update-version.sh
Labels: bug, non-breaking, ci

#1558 Add NVTX support and RMM_FUNC_RANGE() macro
  CMakeLists.txt
  cmake/thirdparty/get_nvtx.cmake
  include/rmm/detail/nvtx/ranges.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/pinned_host_memory_resource.hpp
Labels: feature request, CMake, non-breaking, cpp

#1569 rmm needs to link to nvtx3::nvtx3-cpp to support installed nvtx3
  CMakeLists.txt
Labels: bug, 3 - Ready for review, CMake, non-breaking

#1572 ensure update-version.sh preserves alpha specs
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement, ci
