Repository rapidsai/rmm, pull requests merged in 2024-11, with the labels that each got.

#1714 Correct rmm tests for validity of device pointers
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/test_utils.hpp
Labels: feature request, non-breaking, cpp

#1711 [fea] Expose the arena mr to the Python interface.
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  python/rmm/rmm/_lib/memory_resource.pxd
  python/rmm/rmm/_lib/memory_resource.py
  python/rmm/rmm/librmm/memory_resource.pxd
  python/rmm/rmm/mr.py
  python/rmm/rmm/pylibrmm/memory_resource.pxd
  python/rmm/rmm/pylibrmm/memory_resource.pyx
  python/rmm/rmm/tests/test_rmm.py
Labels: Python, non-breaking, improvement, cpp

#1720 Disallow cuda-python 12.6.1 and 11.8.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/rmm/pyproject.toml
Labels: bug, Python, conda, non-breaking

#1723 WIP: put a ceiling on cuda-python
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/rmm/pyproject.toml
Labels: Python, conda, non-breaking, improvement

#1716 use rapids-generate-pip-constraints to pin to oldest dependencies in CI
  ci/test_wheel.sh
Labels: non-breaking, improvement, ci

#1726 enforce wheel size limits, README formatting in CI
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/validate_wheel.sh
  python/librmm/pyproject.toml
  python/rmm/docs/conf.py
  python/rmm/pyproject.toml
Labels: Python, non-breaking, improvement, ci

#1728 Treat deprecation warnings as errors and fix deprecation warnings in replay benchmark
  benchmarks/CMakeLists.txt
  benchmarks/replay/replay.cpp
  tests/CMakeLists.txt
Labels: bug, CMake, non-breaking, cpp

#1724 Remove all explicit usage of fmtlib
  CMakeLists.txt
  benchmarks/replay/replay.cpp
  benchmarks/utilities/log_parser.hpp
  cmake/thirdparty/get_fmt.cmake
  include/rmm/detail/format.hpp
  include/rmm/detail/logging_assert.hpp
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  tests/logger_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
Labels: CMake, non-breaking, improvement, cpp

#1692 adding telemetry
  .github/workflows/pr.yaml
Labels: feature request, 2 - In Progress, non-breaking, Needs build-infra

#1734 Query total memory in failure_callback_resource_adaptor tests
  python/rmm/rmm/tests/test_rmm.py
Labels: bug, Python, tests, non-breaking

#1722 Create logger wrapper around spdlog that can be easily reused in other libraries
  CMakeLists.txt
  README.md
  benchmarks/CMakeLists.txt
  benchmarks/replay/replay.cpp
  ci/check_symbols.sh
  cmake/thirdparty/get_spdlog.cmake
  include/rmm/detail/format.hpp
  include/rmm/detail/logging_assert.hpp
  include/rmm/logger.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/detail/arena.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  python/rmm/CMakeLists.txt
  python/rmm/docs/conf.py
  python/rmm/rmm/__init__.py
  python/rmm/rmm/_cuda/CMakeLists.txt
  python/rmm/rmm/librmm/CMakeLists.txt
  python/rmm/rmm/librmm/_logger.pxd
  python/rmm/rmm/librmm/_logger.pyx
  python/rmm/rmm/pylibrmm/CMakeLists.txt
  python/rmm/rmm/pylibrmm/logger.pyx
  python/rmm/rmm/tests/test_rmm.py
  rapids_logger/CMakeLists.txt
  rapids_logger/README.md
  rapids_logger/logger.cpp.in
  rapids_logger/logger.hpp.in
  rapids_logger/logger_impl.hpp.in
  tests/CMakeLists.txt
  tests/logger_tests.cpp
  tests/mr/device/tracking_mr_tests.cpp
Labels: CMake, Python, breaking, improvement, cpp, ci

#1719 Add breaking change workflow trigger
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: breaking, improvement

#1737 Require approval to run CI on draft PRs
  .github/copy-pr-bot.yaml
Labels: non-breaking, improvement

#1738 Use consistent signature for target_link_libraries
  tests/CMakeLists.txt
Labels: bug, CMake, non-breaking, cpp
