Repository rapidsai/rmm, pull requests merged in 2025-03, with the labels that each got.

#1800 Add basic example.
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  README.md
  ci/release/update-version.sh
  conda/recipes/librmm/recipe.yaml
  examples/README.md
  examples/basic/CMakeLists.txt
  examples/basic/README.md
  examples/basic/src/basic.cpp
  examples/build.sh
  examples/fetch_dependencies.cmake
  examples/set_cuda_architecture.cmake
  examples/versions.cmake
  include/rmm/device_buffer.hpp
  include/rmm/mr/device/device_memory_resource.hpp
Labels: feature request, CMake, conda, non-breaking, cpp, ci

#1844 Retry error logging
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/detail/error.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/system_memory_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/mr/pinned_host_memory_resource.hpp
  tests/mr/host/pinned_pool_mr_tests.cpp
Labels: bug, breaking, cpp

#1846 Fix for -fdebug-prefix-map breaking sccache
  conda/recipes/librmm/recipe.yaml
Labels: conda, non-breaking, improvement

#1847 Add tests for RMM internal macros.
  tests/CMakeLists.txt
  tests/error_macros_tests.cpp
Labels: feature request, CMake, non-breaking, cpp

#1850 Run examples in CI
  ci/release/update-version.sh
  ci/test_cpp.sh
  dependencies.yaml
Labels: feature request, non-breaking, ci

#1859 Fix dependencies.yaml for update-version.sh
  dependencies.yaml
Labels: bug, non-breaking

#1858 Embed `__FILE__` as C-string for prefix replacement
  include/rmm/detail/error.hpp
Labels: bug, non-breaking, cpp

#1862 Fix run export on cudatoolkit
  conda/recipes/librmm/recipe.yaml
Labels: bug, conda, non-breaking

#1864 Add async view memory resource bindings to Python.
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  python/rmm/rmm/librmm/memory_resource.pxd
  python/rmm/rmm/mr.py
  python/rmm/rmm/pylibrmm/memory_resource.pxd
  python/rmm/rmm/pylibrmm/memory_resource.pyx
  python/rmm/rmm/tests/test_rmm.py
Labels: feature request, Python, non-breaking, cpp

#1852 Error if LIBCUDACXX_ENABLE_EXPERIMENTAL_MEMORY_RESOURCE is not defined.
  ci/build_cpp.sh
  include/rmm/detail/cuda_memory_resource.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/thrust_allocator_adaptor.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/is_resource_adaptor.hpp
  include/rmm/mr/pinned_host_memory_resource.hpp
  include/rmm/resource_ref.hpp
  tests/device_scalar_tests.cpp
  tests/libcudacxx_flag_test/README.md
  tests/libcudacxx_flag_test/libcudacxx_flag_test.cpp
  tests/libcudacxx_flag_test/libcudacxx_flag_test.sh
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/cuda_async_view_mr_tests.cpp
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/mr_ref_test.hpp
  tests/mr/device/mr_ref_tests.cpp
  tests/mr/host/mr_ref_tests.cpp
Labels: non-breaking, improvement, cpp, ci

#1854 Set mempool hw_decompress flag if driver supports it
  conda/recipes/librmm/recipe.yaml
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/device/hwdecompress_tests.cpp
Labels: CMake, conda, non-breaking, improvement, cpp

#1873 Revert "Set mempool hw_decompress flag if driver supports it (#1854)"
  conda/recipes/librmm/recipe.yaml
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  tests/CMakeLists.txt
  tests/mr/device/hwdecompress_tests.cpp
Labels: bug, CMake, conda, non-breaking, cpp

#1867 refactor(rattler): enable strict channel priority for builds
  ci/build_cpp.sh
  ci/build_python.sh
Labels: non-breaking, improvement, ci

#1881 Fixed documentation example for `DeviceBuffer.to_device`
  python/rmm/docs/guide.md
Labels: doc, Python, non-breaking

#1810 Streamlining wheel builds to use fixed location and uploading build artifacts to Github
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
Labels: non-breaking, improvement, ci
