Repository rapidsai/rmm, pull requests merged in 2025-09, with the labels that each got.

#2030 Use branch-25.10 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: non-breaking, improvement

#2017 Support building with CCCL 3.1.0
  cpp/include/rmm/detail/cccl_adaptors.hpp
  cpp/include/rmm/detail/cuda_memory_resource.hpp
  cpp/include/rmm/mr/device/device_memory_resource.hpp
  cpp/include/rmm/mr/device/pool_memory_resource.hpp
  cpp/include/rmm/mr/device/system_memory_resource.hpp
  cpp/include/rmm/mr/host/host_memory_resource.hpp
  cpp/include/rmm/mr/host/pinned_memory_resource.hpp
  cpp/include/rmm/mr/is_resource_adaptor.hpp
  cpp/include/rmm/mr/pinned_host_memory_resource.hpp
  cpp/include/rmm/resource_ref.hpp
  cpp/tests/mock_resource.hpp
  cpp/tests/mr/device/adaptor_tests.cpp
  cpp/tests/mr/device/arena_mr_tests.cpp
  cpp/tests/mr/device/cuda_async_mr_tests.cpp
  cpp/tests/mr/device/cuda_async_view_mr_tests.cpp
  cpp/tests/mr/device/pool_mr_tests.cpp
  cpp/tests/mr/device/system_mr_tests.cu
  cpp/tests/mr/host/mr_ref_tests.cpp
Labels: feature request, non-breaking

#2049 Update `RAPIDS_BRANCH`, codify changes in `update-version.sh`
  ci/release/update-version.sh
Labels: non-breaking, improvement

#2058 Fix bug in pinned_memory_resource with CCCL 3.1.x.
  cpp/include/rmm/mr/host/pinned_memory_resource.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/mr/host/pinned_mr_tests.cpp
Labels: bug, non-breaking

#2062 Fix parameter docstrings
  cpp/include/rmm/mr/device/detail/arena.hpp
  cpp/include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
Labels: doc, non-breaking
