Repository rapidsai/rmm, pull requests merged in 2025-08, with the labels that each got.

#2004 Update to use CUDA runtime APIs that work in CUDA 12 and 13
  cpp/include/rmm/mr/device/sam_headroom_memory_resource.hpp
  cpp/src/prefetch.cpp
Labels: feature request, non-breaking

#1944 Skip test on HMM systems with older CUDA drivers
  cpp/include/rmm/mr/device/system_memory_resource.hpp
  cpp/tests/mr/device/mr_ref_test.hpp
Labels: bug, non-breaking

#2019 Update to numba-cuda >=0.18.0,<0.19.0a0
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  python/rmm/pyproject.toml
Labels: non-breaking, improvement

#2014 Refactor device capability checks, fix prefetching bug on WSL
  ci/test_python.sh
  cpp/include/rmm/detail/runtime_capabilities.hpp
  cpp/include/rmm/mr/device/cuda_async_memory_resource.hpp
  cpp/include/rmm/prefetch.hpp
  cpp/src/prefetch.cpp
  cpp/tests/mr/device/cuda_async_mr_tests.cpp
  cpp/tests/mr/device/hwdecompress_tests.cpp
  cpp/tests/mr/device/prefetch_resource_adaptor_tests.cpp
  cpp/tests/prefetch_tests.cpp
  python/rmm/rmm/tests/test_rmm.py
Labels: non-breaking, improvement

#2024 Require numba-cuda>=0.19.1 to get fixes for numba==0.60 support
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  dependencies.yaml
  python/rmm/pyproject.toml
Labels: non-breaking, improvement
