Repository rapidsai/rmm, pull requests merged in 2025-02, with the labels that each got.

#1803 Migrate to NVKS for amd64 CI runners
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: non-breaking, improvement

#1811 Add `build_type` to workflow inputs
  .github/workflows/test.yaml
Labels: non-breaking, improvement

#1812 Use build_type input
  .github/workflows/test.yaml
Labels: non-breaking, improvement

#1813 Use nightly matrix for branch tests.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: non-breaking, improvement

#1814 Use `rapids-pip-retry` in CI jobs that might need retries
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/test_wheel.sh
Labels: non-breaking, improvement, ci

#1816 Use shared-workflows branch-25.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: non-breaking, improvement

#1820 Remove unnecessary index
  dependencies.yaml
Labels: non-breaking, improvement

#1821 Apply IWYU changes and fix deprecated GTest usage
  include/rmm/cuda_device.hpp
  include/rmm/cuda_stream_view.hpp
  include/rmm/detail/aligned.hpp
  include/rmm/detail/runtime_async_alloc.hpp
  include/rmm/detail/stack_trace.hpp
  include/rmm/device_buffer.hpp
  include/rmm/device_scalar.hpp
  include/rmm/device_uvector.hpp
  include/rmm/mr/device/aligned_resource_adaptor.hpp
  include/rmm/mr/device/binning_memory_resource.hpp
  include/rmm/mr/device/cuda_async_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/detail/coalescing_free_list.hpp
  include/rmm/mr/device/detail/fixed_size_free_list.hpp
  include/rmm/mr/device/detail/free_list.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/device_memory_resource.hpp
  include/rmm/mr/device/fixed_size_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/logging_resource_adaptor.hpp
  include/rmm/mr/device/owning_wrapper.hpp
  include/rmm/mr/device/polymorphic_allocator.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/prefetch_resource_adaptor.hpp
  include/rmm/mr/device/sam_headroom_memory_resource.hpp
  include/rmm/mr/device/system_memory_resource.hpp
  include/rmm/mr/device/tracking_resource_adaptor.hpp
  include/rmm/mr/host/host_memory_resource.hpp
  include/rmm/mr/host/new_delete_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/mr/pinned_host_memory_resource.hpp
  tests/container_multidevice_tests.cu
  tests/cuda_stream_pool_tests.cpp
  tests/cuda_stream_tests.cpp
  tests/device_buffer_tests.cu
  tests/device_scalar_tests.cpp
  tests/device_uvector_tests.cpp
  tests/logger_tests.cpp
  tests/mr/device/adaptor_tests.cpp
  tests/mr/device/aligned_mr_tests.cpp
  tests/mr/device/arena_mr_tests.cpp
  tests/mr/device/binning_mr_tests.cpp
  tests/mr/device/callback_mr_tests.cpp
  tests/mr/device/cuda_async_mr_tests.cpp
  tests/mr/device/failure_callback_mr_tests.cpp
  tests/mr/device/limiting_mr_tests.cpp
  tests/mr/device/mr_ref_multithreaded_tests.cpp
  tests/mr/device/polymorphic_allocator_tests.cpp
  tests/mr/device/pool_mr_tests.cpp
  tests/mr/device/prefetch_resource_adaptor_tests.cpp
  tests/mr/device/statistics_mr_tests.cpp
  tests/mr/device/stream_allocator_adaptor_tests.cpp
  tests/mr/device/system_mr_tests.cu
  tests/mr/device/thrust_allocator_tests.cu
  tests/mr/device/tracking_mr_tests.cpp
  tests/mr/host/mr_ref_tests.cpp
  tests/mr/host/pinned_pool_mr_tests.cpp
  tests/prefetch_tests.cpp
Labels: non-breaking, improvement, cpp

#1824 Create Conda CI test env in one step
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_python.sh
  dependencies.yaml
Labels: non-breaking, improvement, ci

#1796 Port to rattler-build
  .gitignore
  ci/build_cpp.sh
  ci/build_python.sh
  conda/recipes/librmm/install_librmm.sh
  conda/recipes/librmm/install_librmm_tests.sh
  conda/recipes/librmm/meta.yaml
  conda/recipes/librmm/recipe.yaml
  conda/recipes/rmm/meta.yaml
  conda/recipes/rmm/recipe.yaml
  dependencies.yaml
  python/librmm/pyproject.toml
  python/rmm/pyproject.toml
Labels: Python, conda, non-breaking, improvement, ci

#1828 Consolidate more Conda solves in CI
  ci/build_docs.sh
  dependencies.yaml
Labels: non-breaking, improvement, ci

#1832 Update rattler-build recipe with assorted small fixes
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/librmm/build.sh
  conda/recipes/librmm/recipe.yaml
  conda/recipes/rmm/build.sh
  conda/recipes/rmm/recipe.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1830 Sccache stats telemetry
  .github/workflows/pr.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
Labels: non-breaking, improvement, ci

#1835 Fixes for rattler recipe
  conda/recipes/librmm/recipe.yaml
Labels: bug, conda, non-breaking

#1837 Use static gbench
  CMakeLists.txt
Labels: bug, CMake, non-breaking

#1836 fix(rattler): resolve all overlinking errors
  conda/recipes/librmm/recipe.yaml
Labels: conda, non-breaking, improvement

#1838 Add telemetry setup to build workflows
  .github/workflows/build.yaml
Labels: bug, non-breaking

#1839 use gha-tools rapids-telemetry-setup for mkdir -p
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
Labels: non-breaking, improvement, ci

#1827 Add OOM fail reason, attempted allocation size to exception messages
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/detail/error.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/system_memory_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/mr/pinned_host_memory_resource.hpp
Labels: bug, non-breaking, cpp

#1842 fix(rattler): force `cuda_major` and `date_string` to be strings
  conda/recipes/librmm/recipe.yaml
  conda/recipes/rmm/recipe.yaml
Labels: conda, non-breaking, improvement

#1843 Revert "Add OOM fail reason, attempted allocation size to exception messages"
  benchmarks/multi_stream_allocations/multi_stream_allocations_bench.cu
  benchmarks/utilities/simulated_memory_resource.hpp
  include/rmm/detail/error.hpp
  include/rmm/mr/device/arena_memory_resource.hpp
  include/rmm/mr/device/cuda_async_view_memory_resource.hpp
  include/rmm/mr/device/cuda_memory_resource.hpp
  include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp
  include/rmm/mr/device/limiting_resource_adaptor.hpp
  include/rmm/mr/device/managed_memory_resource.hpp
  include/rmm/mr/device/pool_memory_resource.hpp
  include/rmm/mr/device/system_memory_resource.hpp
  include/rmm/mr/host/pinned_memory_resource.hpp
  include/rmm/mr/pinned_host_memory_resource.hpp
Labels: bug, non-breaking, cpp

#1841 fix GITHUB_WORKSPACE not being present locally
  .github/workflows/pr.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
Labels: bug, non-breaking, ci
