Repository rapidsai/rmm, pull requests merged in 2025-05, with the labels that each got.

#1851 Add support for Python 3.13
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/rmm/pyproject.toml
Labels: Python, conda, non-breaking, improvement

#1905 Forward-merge branch-25.06 into branch-25.08
  README.md
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/rmm/pyproject.toml
Labels: Python, conda, non-breaking, improvement

#1903 Fix cpp wheel name to librmm.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/test_wheel.sh
Labels: non-breaking, improvement, ci

#1907 Build and test with CUDA 12.9.0
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1896 Convert part of RMM to a precompiled library
  ci/build_wheel_python.sh
  conda/recipes/librmm/recipe.yaml
  cpp/CMakeLists.txt
  cpp/include/rmm/aligned.hpp
  cpp/include/rmm/cuda_device.hpp
  cpp/include/rmm/cuda_stream.hpp
  cpp/include/rmm/cuda_stream_pool.hpp
  cpp/include/rmm/cuda_stream_view.hpp
  cpp/src/aligned.cpp
  cpp/src/cuda_device.cpp
  cpp/src/cuda_stream.cpp
  cpp/src/cuda_stream_pool.cpp
  cpp/src/cuda_stream_view.cpp
  python/librmm/librmm/load.py
  python/rmm/rmm/librmm/memory_resource.pxd
Labels: feature request, CMake, Python, conda, breaking, ci

#1913 Use auditwheel to properly retag the wheel
  ci/build_wheel_cpp.sh
Labels: bug, non-breaking, ci

#1911 Update Readme for the logging `set_level`
  README.md
Labels: doc, non-breaking

#1914 Branch 25.08 merge branch 25.06
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/pr.yaml
  README.md
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/librmm/recipe.yaml
  cpp/CMakeLists.txt
  cpp/include/rmm/aligned.hpp
  cpp/include/rmm/cuda_device.hpp
  cpp/include/rmm/cuda_stream.hpp
  cpp/include/rmm/cuda_stream_pool.hpp
  cpp/include/rmm/cuda_stream_view.hpp
  cpp/src/aligned.cpp
  cpp/src/cuda_device.cpp
  cpp/src/cuda_stream.cpp
  cpp/src/cuda_stream_pool.cpp
  cpp/src/cuda_stream_view.cpp
  dependencies.yaml
  python/librmm/librmm/load.py
  python/rmm/rmm/librmm/memory_resource.pxd
Labels: CMake, Python, conda, non-breaking, improvement, ci

#1915 Quote head_rev in conda recipes
  conda/recipes/librmm/recipe.yaml
  conda/recipes/rmm/recipe.yaml
Labels: conda, non-breaking, improvement

#1918 Update to clang 20
  .pre-commit-config.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  cpp/tests/mr/device/arena_mr_tests.cpp
  cpp/tests/mr/device/failure_callback_mr_tests.cpp
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1917 Move docs to top level.
  .gitignore
  ci/build_docs.sh
  docs/Makefile
  docs/conf.py
  docs/cpp.rst
  docs/cpp_api.rst
  docs/guide.md
  docs/index.rst
  docs/librmm_docs/cuda_device_management.rst
  docs/librmm_docs/cuda_streams.rst
  docs/librmm_docs/data_containers.rst
  docs/librmm_docs/deprecated.rst
  docs/librmm_docs/errors.rst
  docs/librmm_docs/index.rst
  docs/librmm_docs/logging.rst
  docs/librmm_docs/memory_resources.rst
  docs/librmm_docs/thrust_integrations.rst
  docs/librmm_docs/utilities.rst
  docs/python.rst
  docs/python_api.rst
Labels: doc, non-breaking, ci

#1921 Finish CUDA 12.9 migration and use branch-25.06 workflows
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1787 Expose option to enable fabric memory handle support to Python
  cpp/include/rmm/mr/device/cuda_async_memory_resource.hpp
  python/rmm/rmm/librmm/memory_resource.pxd
  python/rmm/rmm/pylibrmm/memory_resource.pyx
  python/rmm/rmm/tests/test_rmm.py
Labels: feature request, Python, non-breaking

#1925 Forward-merge branch-25.06 into branch-25.08
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/pr.yaml
  README.md
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/include/rmm/mr/device/cuda_async_memory_resource.hpp
  dependencies.yaml
  python/rmm/rmm/librmm/memory_resource.pxd
  python/rmm/rmm/pylibrmm/memory_resource.pyx
  python/rmm/rmm/tests/test_rmm.py
Labels: Python, conda, non-breaking, improvement

#1926 use 'rapids-init-pip' in wheel CI, other CI changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/test_wheel.sh
Labels: non-breaking, improvement, ci
