Repository rapidsai/rmm, pull requests merged in 2025-04, with the labels that each got.

#1884 Fix logger macros
  benchmarks/CMakeLists.txt
  python/rmm/CMakeLists.txt
  tests/CMakeLists.txt
Labels: bug, CMake, Python, non-breaking, cpp

#1889 Add ARM conda environments
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1886 Vendor RAPIDS.cmake to avoid network call.
  CMakeLists.txt
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
  python/librmm/CMakeLists.txt
  python/rmm/CMakeLists.txt
Labels: CMake, Python, non-breaking, improvement

#1890 Auto-sync draft PRs
  .github/copy-pr-bot.yaml
Labels: non-breaking, improvement

#1892 remove mkdir and test corresponding shared workflow
  .github/workflows/pr.yaml
Labels: non-breaking, improvement

#1891 Revert "Auto-sync draft PRs"
  .github/copy-pr-bot.yaml
Labels: non-breaking, improvement

#1895 Download build artifacts from Github for CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/test_wheel.sh
Labels: 3 - Ready for review, non-breaking, improvement, ci

#1897 Publish wheels and conda packages from Github Artifacts
  .github/workflows/build.yaml
Labels: non-breaking, improvement

#1898 Revert "Publish wheels and conda packages from Github Artifacts"
  .github/workflows/build.yaml
Labels: non-breaking, improvement
