Repository rapidsai/rmm, pull requests merged in 2025-01, with the labels that each got.

#1774 Switch to using separate rapids-logger repo
  .gitignore
  CMakeLists.txt
  README.md
  rapids_logger/CMakeLists.txt
  rapids_logger/README.md
  rapids_logger/logger.cpp.in
  rapids_logger/logger.hpp.in
  rapids_logger/logger_impl.hpp.in
Labels: CMake, breaking, improvement

#1772 Check if nightlies have succeeded recently enough
  .github/workflows/pr.yaml
Labels: non-breaking, improvement

#1776 Use rapids-cmake for the logger
  CMakeLists.txt
Labels: CMake, non-breaking, improvement

#1780 Add spdlog back as a requirement for now
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/librmm/meta.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1773 Use GCC 13 in CUDA 12 conda builds.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/librmm/conda_build_config.yaml
  conda/recipes/librmm/meta.yaml
  conda/recipes/rmm/conda_build_config.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1789 Add upper bound to prevent usage of numba 0.61.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/rmm/meta.yaml
  dependencies.yaml
  python/rmm/pyproject.toml
Labels: Python, conda, non-breaking, improvement

#1788 Add shellcheck to pre-commit and fix warnings
  .pre-commit-config.yaml
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/check_style.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/test_wheel.sh
  ci/validate_wheel.sh
Labels: non-breaking, improvement, ci

#1797 Build and test with CUDA 12.8.0
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1799 Branch 25.04 merge branch 25.02
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: Python, non-breaking, improvement

#1790 Disable exec checks for `device_uvector::operator=`
  doxygen/Doxyfile
  include/rmm/device_uvector.hpp
Labels: 3 - Ready for review, non-breaking, improvement, cpp

#1805 Revert CUDA 12.8 shared workflow branch changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: non-breaking, improvement

#1806 Forward-merge branch-25.02 to branch-25.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  doxygen/Doxyfile
  include/rmm/device_uvector.hpp
Labels: non-breaking, improvement, cpp
