Repository rapidsai/rmm, pull requests merged in 2025-06, with the labels that each got.

#1942 fix(pytest): disable warning that gets raised to INTERNALERROR in pytest8.4.0
  python/rmm/.coveragerc
Labels: non-breaking, improvement

#1945 Run system MR tests in isolation.
  cpp/tests/CMakeLists.txt
Labels: bug, CMake, non-breaking

#1936 Fix Python path in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc, non-breaking

#1938 Add managed memory resource to replay benchmark
  cpp/benchmarks/replay/replay.cpp
Labels: non-breaking, improvement

#1954 Update branches that trigger nightlies
  .github/workflows/build.yaml
Labels: breaking, improvement

#1956 Adding GH_TOKEN pass-through to summarize job
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#1962 Update cxxopts to 3.3.1.
  .pre-commit-config.yaml
  cpp/benchmarks/utilities/cxxopts.hpp
Labels: non-breaking, improvement

#1951 Make RMM easier to BUILD with LLVM:
  cpp/benchmarks/utilities/simulated_memory_resource.hpp
  cpp/include/rmm/detail/nvtx/ranges.hpp
Labels: non-breaking, improvement

#1966 fix use-after-free in `tracking_resource_adaptor`
  cpp/include/rmm/mr/device/tracking_resource_adaptor.hpp
Labels: bug, non-breaking

#1968 Fix nullptr dereference in `mr_ref_test`.
  cpp/tests/mr/device/mr_ref_test.hpp
Labels: bug, non-breaking

#1970 Revert Sphinx pinning
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, non-breaking, improvement

#1971 refactor(shellcheck): enable for entire repo and fix all warnings
  .github/CODEOWNERS
  .pre-commit-config.yaml
  .shellcheckrc
  build.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/test_cpp.sh
  cpp/examples/build.sh
  cpp/scripts/doxygen.sh
  cpp/scripts/run-cmake-format.sh
  print_env.sh
Labels: non-breaking, improvement, ci

#1972 test changes to rapids-github-run-id
  .github/workflows/build.yaml
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/test_wheel.sh
  ci/use_gha_tools_from_branch.sh
Labels: non-breaking, improvement, ci

#1974 Revert "test changes to rapids-github-run-id (#1972)"
  .github/workflows/build.yaml
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/test_wheel.sh
  ci/use_gha_tools_from_branch.sh
Labels: non-breaking, improvement, ci
